{% firstof url request.build_absolute_uri as the_url %}
<div class="social-share clearfix">

    {% if show_all or show_facebook %}

        {# Facebook: https://developers.facebook.com/docs/plugins/like-button #}
        <div class="share-item share-item-facebook">
            <div class="fb-like" data-href="{{ the_url }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>

        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.7&appId=1716855088541343";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        {# EndFacebook #}

        {# Linkedin: https://developer.linkedin.com/plugins/share#! #}
        <div class="share-item share-item-linkedin">
            <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: pt_BR</script>
            <script type="IN/Share" data-counter="right" data-url="{{ the_url }}"></script>
        </div>
        {# EndLinkedin #}

        {# GooglePlus: https://developers.google.com/+/web/+1button/ #}
        <div class="share-item share-item-googleplus">
            <!-- Posicione esta tag onde você deseja que o botão +1 apareça. -->
            <div class="g-plusone" data-size="medium" data-href="{{ the_url }}"></div>

            <!-- Posicione esta tag depois da última tag do botão +1. -->
            <script type="text/javascript">
                window.___gcfg = {lang: 'pt-BR'};

                (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/platform.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
            </script>
        </div>
        {# EndGooglePlus #}

    {% endif %}

</div>
