{% load  widget_tweaks %}
<div class="course__avaliations">
    <h3 class="course__avaliations__title">Avaliações</h3>


    <form class="clearfix avaliation__form" method="post" id="#form-avaliation" action="{% url 'rating:rate' %}?#form-avaliation">

        {{ form.value }}
        {{ form.content_type }}
        {{ form.object_id }}

        <div class="form-group">
            <span class="avaliation__form__title" data-toggle="title-form">

                {% if user_avaliation %}
                    Minha avaliação
                {% else %}
                    Avalie este curso
                {% endif %}

            </span>

            <span class="avaliation__form__rating">

              <span
                      data-toggle="rating"
                      data-reactions='["Muito ruim", "Ruim", "Razoável", "Bom", "Muito bom", "Excelente"]'
                      data-config='{"rating": {{ form.instance.value|default_if_none:"0"|stringformat:"f" }}}'></span>
                <span class="avaliation__reaction__text"></span>
            </span>
        </div>

        {% if user_avaliation %}
            {% include "course/avaliation.html" with avaliation=user_avaliation %}
        {% endif %}

        {% csrf_token %}
        <div class="form-group">
            {% render_field form.comment rows="5" class="form-control" placeholder="Escreva um comentário (opcional)" %}
        </div>


        <button class="btn btn-primary pull-right">
            {% if user_avaliation %}Atualizar{% else %}Enviar{% endif %}
        </button>
    </form>

    {% if course.ratings %}
            {% for avaliation in course_avaliations %}
                {% include "course/avaliation.html" with avaliation=avaliation %}
            {% endfor %}
    {% else %}
        <p>Ninguém avaliou este curso ainda. Seja o primeiro...</p>
    {% endif %}


</div>
