{% load staticfiles %}
{% load abs_url %}
{% load avatar_tags %}
{% load thumbor_tags %}
<div class="col-sm-3">
    <a href="#" class="thumb__course">
        <figure>
            {% if item.image_or_default %}
                <img class="img-responsive" alt="{{ item.title }}"
                     src="{% thumbor_url item.image_or_default.url width=270 height=160 smart=False fit_in=False %}">
            {% else %}
                {% absolute_url '/static/images/gsti-video-placeholder.png' as image_placeholder %}
                 <img class="img-responsive" src="{% thumbor_url image_placeholder width=150 height=113 smart=False fit_in=False %}" alt="{{ item.title }}" />
            {% endif %}
        </figure>
        <span class="thumb__course__title">{{ item.title }}</span>
        <span class="thumb__course__categories">{{ item.taxonomies.all|join:', ' }}</span>
        <span class="thumb__course__avaliation">
            <span style="width: {{ item.rating_percentage }}%"></span>
        </span>
    </a>
</div>