
{% if courses %}
    {% for item in courses %}
        {% include 'course/item.html' %}
    {% endfor %}

    {% if courses.has_next %}<div class="col-xs-12">
        <a class="btn courses__btn courses__btn--loader" data-jscroll-next href="{% url 'course:list' %}?{{ form.querystring }}{{ next_querystring }}">Mais Cursos</a>
    </div>{% endif %}
{% else %}

    <div class="col-xs-12 courses__not_found">
        <p>Nenhum curso foi encontrado para estes parametros de busca. Tente com termos diferentes.</p>
    </div>

{% endif %}
