{% extends 'home/layout/base.html' %}

{% load ads %}
{% load widget_tweaks %}
{% load seo_pagination_tags %}

{% block title %}Cursos{% endblock title %}
{% block seo-og-description %}{% block seo-description %}Seção de cursos do Portal GSTI. Temos cursos gratuitos e pagos da melhor qualidade para ajudar na sua formação profissional. Participe também da nossa rede, compartilhe conhecimento.{% endblock %}{% endblock %}

{% block link_pagination %}

    {% if courses %}
        {% pagination_links courses %}
    {% endif %}

{% endblock link_pagination %}

{% block extra_meta %}
    {{ block.super }}
    {% if not videos %}
        <meta name="robots" content="noindex,nofollow">
    {% endif %}
{% endblock %}

{% block content %}
    <main class="container main" data-page="courses" data-filtered="false">
        <div class="row">
        <div class="banner-content-wide">
            <div class="banner">
                {% ads_only_production "videos_top" "all" %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <header class="area-title courses__title">
                <h1>Cursos</h1 >
            </header>
        </div>
    </div>
    <form class="row filter__courses" action="#" data-form-send-enables>
        <div class="col-sm-4 form-group clearfix">
            <div class="form-search-input">
                    {% render_field form.title placeholder="Pesquisar por cursos" type="search" autocomplete="off" %}
            </div>
            <button type="submit" class="form-search-button hidden-xs">
                <i class="gsticon gsticon-search"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="filters">
            <div class="row">
                <div class="col-sm-3 form-group">
                  {% render_field form.category class="form-control" data-form-send="" %}
                </div>
                <div class="col-sm-3 form-group">
                  {% render_field form.community class="form-control" data-form-send="" %}
                </div>
                <div class="col-sm-2 form-group">
                  {% render_field form.order class="form-control" data-form-send="1" %}
                </div>
            </div>
        </div>
        <div class="col-xs-12 visible-xs-block form-group text-right">
            <span class="btn btn-lg btn-primary btn-filter" data-target="#filters" data-toggle="collapse">Filtrar</span>
        </div>
    </form>
    <div class="row">
        <div class="col-xs-12">
            <div class="row list__courses j-scroll clearfix" data-toggle="scroll">
                <div class="j-scroll-container">
                    {% include 'course/items.html' %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}

{% block javascripts %}
    <script>
    $(function(){
        var $element = $(".j-scroll-container");
        $element.jscroll({
            loadingHtml: '<div class="load-async-preload"></div>',
            nextSelector: "a[data-jscroll-next]",
            autoTrigger: false
        });
    });

    </script>
{% endblock javascripts %}
