{% extends 'home/layout/base.html' %}

{% load ads %}
{% load widget_tweaks %}
{% load seo_pagination_tags %}

{% block title %}Cursos{% endblock title %}
{% block seo-og-description %}{% block seo-description %}Seção de cursos do Portal GSTI. Temos cursos gratuitos e pagos da melhor qualidade para ajudar na sua formação profissional. Participe também da nossa rede, compartilhe conhecimento.{% endblock %}{% endblock %}

{% block link_pagination %}

    {% if courses %}
        {% pagination_links courses %}
    {% endif %}

{% endblock link_pagination %}

{% block extra_meta %}
    {{ block.super }}
    {% if not videos %}
        <meta name="robots" content="noindex,nofollow">
    {% endif %}
{% endblock %}

{% block content %}
    <main class="main" data-page="courses" data-filtered="false">
    <div class="container">
        <div class="row">
            <div class="banner-content-wide">
                <div class="banner">
                    {% ads_only_production "videos_top" "all" %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <header class="widget-header courses__title">
                    <h1 class="widget-title">
                        <span>Cursos</span>
                    </h1>
                </header>
            </div>
        </div>
    </div>
    <form class="courses__filters" action="#" data-form-send-enables>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 clearfix">
                    <div class="customform search">
                        {% render_field form.title class="customform-input" placeholder="Pesquisar por cursos" type="search" autocomplete="off" %}
                        <hr>
                        <label class="customform-label" for="id_title">Pesquisar por cursos</label>
                        <button type="submit" class="form-search-button">
                            <i class="gsticon gsticon-search"></i>
                        </button>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="filters">
                    <div class="col-sm-3">
                        <div class="customform">
                            {% render_field form.category class="customform-input" data-form-send="" %}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="customform">
                            {% render_field form.community class="customform-input" data-form-send="" %}
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="customform">
                            {% render_field form.order class="customform-input" data-form-send="1" %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 visible-xs-block">
                    <span class="btn btn-lg courses__btn courses__btn--filter" data-target="#filters" data-toggle="collapse">
                        <i class="gsticon gsticon-filter" aria-hidden="true"></i>
                        Filtrar por
                    </span>
                </div>
            </div>
        </div>
    </form>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row list__courses j-scroll clearfix" data-toggle="scroll">
                    <div class="j-scroll-container">
                        {% include 'course/items.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock content %}

{% block javascripts %}
    <script>
    $(function(){
        var $element = $(".j-scroll-container");
        $element.jscroll({
            loadingHtml: '<div class="load-async-preload"></div>',
            nextSelector: "a[data-jscroll-next]",
            autoTrigger: false
        });
    });

    </script>
{% endblock javascripts %}
