{% extends 'home/layout/base.html' %}

{% load ads %}
{% load widget_tweaks %}
{% load seo_pagination_tags %}
{% load thumbor_tags %}
{% load social_tags %}
{% load core_tags %}
{% block title %}{{ instance.title }}{% endblock title %}
{% block seo-og-description %}{% block seo-description %}{{ instance.description|seo_description }}{% endblock %}{% endblock %}

{% block content_old %}

    <p>Titulo: {{ instance.title }}</p>
    <p>Slug: {{ instance.slug }}</p>
    <p>Description: {{ instance.description|safe }}</p>

    {% if instance.internal_author %}
        <p>{{ instance.internal_author.username }}</p>
    {% endif %}


{% endblock content_old %}

{% block content %}
    <main class="container main" data-page="courses" data-filtered="false">
        <div class="row">
            <div class="banner-content-wide">
                <div class="banner">
                    {% ads_only_production "videos_top" "all" %}
                </div>
            </div>
        </div>
        <article class="row course__single">
            <div class="col-xs-12">
                <h1 class="course__title">{{ instance.title }}</h1>
                <time class="course__date__publication" datetime="{{ instance.createdin|date:"d/m/Y" }}">
                    <div class="course__avaliation">
                        <span data-toggle="rating" data-config='{"rating": {{ instance.rating|stringformat:"f" }}, "readOnly": true}'></span>
                         {{ instance.rating }}
                    </div>
                    <i class="gsticon gsticon-calendar-o"></i> {{ instance.createdin|date:"d/m/Y" }}
                </time>
                <div class="course__categories visible-lg-block">
                    <a href="{% url 'course:list' %}" class="course__category">Cursos</a> /
                    {% for taxonomy in instance.taxonomies.all %}
                        {% if taxonomy.term.slug == 'categoria' %}

                             <a href="{% url 'course:list' %}?category={{ taxonomy.slug }}" class="course__category">{{ taxonomy.community_related.title }}</a>
                        {% else %}
                            <a href="{% url 'course:list' %}?community={{ taxonomy.community_related.slug }}" class="course__category">{{ taxonomy.community_related.title }}</a>

                        {% endif %}

                        {% if not forloop.last %} / {% endif %}
                    {% endfor %}
                </div>
                <div class="dropdown visible-xs course__categories">
                    <a href="javascript:;" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Comunidades
                        <i class="gsticon gsticon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        {% for community in course_communities %}
                            <li><a href="{% url 'community:show' community.slug %}" class="course__category">{{ community.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row">

                    <div class="col-sm-7">
                        {% if instance.embed %}
                            <div class="embed-responsive embed-responsive-4by3">

                                {{ instance.embed|safe }}
                            </div>
                        {% else %}
                            <img class="img-responsive" src="{% thumbor_url instance.image.url width=670 height=440 %}" alt="Imagem destacada do curso {{ instance.title }}" />
                        {% endif %}
                    </div>
                    <div class="col-sm-5 course__about">
                        <h2 class="course__about__title">Sobre o curso</h2>
                        <div class="course__about__text">
                            {{ instance.description|safe }}
                        </div>
                        <ul class="course__about__list">
                            <li>
                                <i class="gsticon gsticon-globe"></i>
                                Idioma: {% for language in instance.languages.all %}{{ language.description }}{% endfor %}
                            </li>
                            <li>
                                <i class="gsticon gsticon-tag"></i> Plataforma: {{ instance.plataform.description }}
                            </li>
                        </ul>
                        {% if not instance.class_link %}
                            <a href="{{ instance.affiliate_link }}" rel="nofollow" class="btn btn-green course__btn" target="_blank">Tenho Interesse</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-sm-7 course__menu">
                        <h2 class="course__menu__title">Ementa do Curso</h2>
                        <ul class="course__menu__classes">
                            {% for curriculum in instance.curriculums.all %}
                                <li class="course__menu__class">
                                    <div class="course__menu__class__title">
                                        {# Aula {{ class }} #}
                                        <span>{{ curriculum.title }}</span>
                                    </div>
                                    {% if curriculum.description %}
                                    <div class="course__menu__class__content" id="class-{{ forloop.counter }}">
                                        {{ curriculum.description|safe }}
                                    </div>


                                        <a data-toggle="showmore" href="#class-{{ forloop.counter }}" target="_blank" rel="nofollow"><i class="gsticon gsticon-plus"></i> Detalhes</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        {% if instance.observation|striptags %}
                            <div>
                                <h4>Mais informações</h4>
                                {{ instance.observation|safe }}
                            </div>
                        {% endif %}

                        {% if not instance.class_link %}
                            <a href="{{ instance.affiliate_link }}" target="_blank" rel="nofollow" class="btn btn-green course__btn">Detalhes</a>
                        {% else %}

                            <a href="{{ instance.class_link }}" target="_blank" rel="nofollow" class="btn btn-green course__btn">Detalhes</a>
                        {% endif %}

                        {% include "course/author.html" %}
                        {% include "course/avaliations.html" %}
                    </div>
                    <div class="col-sm-5">
                    {% if instance.related_courses.all %}
                        <div class="related__items">
                            <h2 class="related__items__title">Cursos Relacionados</h2>

                            {% for related_course in instance.related_courses.all %}

                                <a class="related" href="{% url 'course:show' related_course.slug %}">
                                    <figure class="related__img">
                                        <img class="img-responsive" src="{% thumbor_url related_course.image.url width=100 height=100 %}" alt="{{ related_course.title }}">
                                    </figure>
                                    <div class="related__body">
                                        <h3 class="related__title">{{ related_course.title }}</h3>
                                        <div class="related__categories">
                                            {% for taxonomy in related_course.taxonomies.all %}
                                                {{ taxonomy.community_related.title }}{% if not forloop.last %} / {% endif %}
                                            {% endfor %}
                                        </div>
                                <span class="thumb__course__avaliation">
                                    <span style="width: {{ related_course.rating_percentage }}%"></span>
                                </span>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}

                        <div class="related__items">
                            <h2 class="related__items__title">Comunidades</h2>

                            {% for taxonomy in instance.taxonomies.all %}

                                <div class="related">
                                    <figure class="related__img">
                                        <img class="img-responsive" src="{% thumbor_url taxonomy.community_related.image.url width=100 height=100 %}" alt="{{ taxonomy.community_related.title }}">
                                    </figure>
                                    <div class="related__body">
                                        <h3 class="related__title">{{ taxonomy.community_related.title }}</h3>
                                        <div class="related__followers">{{ taxonomy.community_related.followers }} seguidor{{ taxonomy.community_related.followers|pluralize:"es" }}</div>
                                        {% follow_action taxonomy.community_related None btn_class="btn perfil-button" %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>



{% endblock content %}

