{% extends 'home/layout/base.html' %}

{% load static_versioned %}
{% load ads %}
{% load widget_tweaks %}
{% load seo_pagination_tags %}
{% load thumbor_tags %}
{% load social_tags %}
{% load core_tags %}
{% block title %}{{ instance.title }}{% endblock title %}
{% block seo-og-description %}{% block seo-description %}{{ instance.description|seo_description }}{% endblock %}{% endblock %}
{% block seo-og-image %}{% if instance.image_or_default and instance.image_or_default.url  %}{% thumbor_url instance.image_or_default.url width=480 height=250 smart=False fit_in=False %}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block content_old %}

    <p>Titulo: {{ instance.title }}</p>
    <p>Slug: {{ instance.slug }}</p>
    <p>Description: {{ instance.description|safe }}</p>

    {% if instance.internal_author %}
        <p>{{ instance.internal_author.username }}</p>
    {% endif %}


{% endblock content_old %}

{% block ld_json %}
        <script type="application/ld+json">
        {
          "@context": "http://schema.org/",
          "@type": "Product",
          "name": "{{ instance.title }}",
          "image": "{% thumbor_url instance.image_or_default.url width=140 height=140 smart=False fit_in=False %}",
          "description": "{{ instance.description }}",
          "brand": {
            "@type": "Organization",
            "name": "{{ instance.plataform.description }}"
          }{% if instance.ratings %},
          "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "{{ instance.rating|stringformat:".2f" }}",
            "reviewCount": "{{ instance.ratings.all.count }}",
            "bestRating": "5",
            "worstRating": "0"

          }
          {% endif %}
        }
    </script>
{% endblock ld_json %}
{% block content %}
    <main class="main" data-page="courses" data-filtered="false">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content">
                        <div class="banner">
                            {% ads_only_production "videos_top" "all" %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-category">
                        <span>CURSO</span>
                    </div>
                </div>
            </div>
        </div>
        <article class="course__single">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="course__title" title="{{ instance.title }}">{{ instance.title }}</h1>
                    </div>
                    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                        <nav class="single-communities">
                            <label for="drop-communities" class="toggle-menu">
                                Comunidades <span class="gsticon gsticon-angle-down"></span>
                            </label>
                            <input type="checkbox" name="toggle" id="drop-communities">
                            <ul class="drop-communities">
                                <li>
                                    <a href="{% url 'course:list' %}">Cursos</a>
                                </li>
                                {% for taxonomy in instance.taxonomies.all %}
                                <li>
                                    {% if taxonomy.term.slug == 'categoria' %}
                                    <a href="{% url 'course:list' %}?category={{ taxonomy.slug }}" class="course__category">{{ taxonomy.community_related.title }}</a>
                                    {% else %}
                                    <a href="{% url 'course:list' %}?community={{ taxonomy.slug }}&category={{ taxonomy.parent.slug }}" class="course__category">{{ taxonomy.community_related.title }}</a>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-7">
                                {% if instance.embed %}
                                <div class="embed-responsive embed-responsive-4by3">{{ instance.embed|safe }}</div>
                                {% elif instance.image %}
                                <img class="img-responsive" src="{% thumbor_url instance.image.url width=670 height=440 %}" alt="Imagem destacada do curso {{ instance.title }}" />
                                {% endif %}
                            </div>
                            <div class="col-sm-5 course__about">
                                <h2 class="course__about__title">
                                    Sobre o curso
                                    <div class="course__avaliation">
                                        <span data-toggle="rating" data-config='{"rating": {{ instance.rating|stringformat:"f" }}, "readOnly": true}'></span>
                                        {{ instance.rating }}
                                    </div>
                                </h2>
                                <div class="course__about__text">
                                    {{ instance.description|safe|truncatechars:409 }}
                                </div>
                                <ul class="course__about__list">
                                    <li>
                                        <i class="gsticon gsticon-calendar-o"></i>
                                        Data de publicação: {{ instance.createdin|date:"d/m/Y" }}
                                    </li>
                                    <li>
                                        <i class="gsticon gsticon-globe"></i>
                                        Idioma: {% for language in instance.languages.all %}{{ language.description }}{% endfor %}
                                    </li>
                                    <li>
                                        <i class="gsticon gsticon-tag"></i> Plataforma: {{ instance.plataform.description }}
                                    </li>
                                </ul>

                                {% if not instance.class_link and instance.is_date_valid %}
                                <a href="{{ instance.affiliate_link }}" rel="nofollow" class="btn course__btn" target="_blank">Ver curso</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 course__menu">
                        {% ads_only_production "article_top" "all" %}
                        <h2 class="course__menu__title">Ementa do Curso</h2>
                        <ul class="course__menu__classes">
                            {% for curriculum in instance.curriculums.all %}
                                <li class="course__menu__class">
                                    <div class="course__menu__class__title">
                                        {# Aula {{ class }} #}
                                        <span>{{ curriculum.title }}</span>
                                    </div>
                                    {% if curriculum.description %}
                                    <div class="course__menu__class__content" id="class-{{ forloop.counter }}">
                                        {{ curriculum.description|safe }}
                                    </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>

                        {% if instance.observation %}
                            {% if instance.observation|striptags %}
                            <div class="course__observation">
                                <h4>Mais informações</h4>
                                {{ instance.observation|safe }}
                            </div>
                            {% endif %}
                        {% endif %}

                        <a href="{% if not instance.class_link %}{{ instance.affiliate_link }}{% else %}{{ instance.class_link }}{% endif %}" target="_blank" rel="nofollow" class="btn course__btn course__btn--small">Ver curso</a>

                        {#% include "course/author.html" %#}
                        {# TODO: implement userprofile with 'fakeuser' for course author #}
                        {% include 'userprofile/templatetags/profile-box.html' with profile=instance.profile partial_template="userprofile/templatetags/profile-box-horizontal.html" %}

                        {# TODO: Implement default image to course #}
                        {% if instance.related_courses.all %}
                        <div class="widget recomendations">
                            <header class="widget-header">
                                <h2 class="widget-title">
                                    <span>Cursos Relacionados</span>
                                </h2>
                            </header>
                            <div class="row">

                                {% for related_course in instance.related_courses.all|slice:":3" %}
                                <a class="col-sm-4 col-xs-12" href="{% url 'course:show' related_course.slug %}">
                                    <figure class="recomendation">
                                        <span>{% if related_course.image %}
                                            <img class="img-responsive" src="{% thumbor_url related_course.image.url width=400 height=400 %}" alt="{{ related_course.title }}">
                                        {% else %}
                                            <img src="http://placehold.it/400" alt="" class="img-responsive">
                                        {% endif %}</span>
                                        <figcaption>{{ related_course.title }}</figcaption>
                                    </figure>
                                </a>
                            {% endfor %}</div>
                        </div>
                        {% endif %}

                        {% include "course/avaliations.html" %}
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">



                        <div class="widget related__items">
                            <header class="widget-header related__items__title">
                                <h2 class="widget-title">
                                    <span>Comunidades</span>
                                </h2>
                            </header>

                            {% for taxonomy in instance.taxonomies.all %}
                            <div class="widget-item">
                                <span>
                                    <a href="{% url 'community:show' taxonomy.community_related.slug %}">
                                        <figure>
                                            <img src="{% thumbor_url taxonomy.community_related.image.url width=100 height=100 %}" alt="{{ taxonomy.community_related.title }}">
                                        </figure>
                                    </a>

                                </span>
                                <div>
                                <a href="{% url 'community:show' taxonomy.community_related.slug %}">
                                    <h3 class="perfil-name">{{ taxonomy.community_related.title }}</h3>
                                </a>
                                    <div class="perfil-counter">{{ taxonomy.community_related.followers }} seguidor{{ taxonomy.community_related.followers|pluralize:"es" }}</div>


                                    {% if taxonomy.community_related %}

                                        {% follow_action taxonomy.community_related None btn_class="btn perfil-button" %}
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>
{% endblock content %}

{% block modals %}
    {{ block.super }}
    {% include "home/partials/modals/modal-confirmation.html" %}
{% endblock modals %}
{% block javascripts %}
    <script src="{% static_versioned 'javascripts/vendor.js'%}" data-manual></script>
    <script src="{% static_versioned 'javascripts/publication.js'%}"></script>
    <script>
        $( 'a[href="'+ location.hash +'"]' ).tab( 'show' );
    </script>
{% endblock javascripts %}
