{% extends 'home/layout/base.html' %}

{% load ads %}
{% load widget_tweaks %}
{% load seo_pagination_tags %}
{% load thumbor_tags %}
{% load social_tags %}

{% block title %}{{ course.title }}{% endblock title %}

{% block content_old %}

    <p>Titulo: {{ course.title }}</p>
    <p>Slug: {{ course.slug }}</p>
    <p>Description: {{ course.description|safe }}</p>

    {% if course.internal_author %}
        <p>{{ course.internal_author.username }}</p>
    {% endif %}


{% endblock content_old %}

{% block content %}
    <main class="container main" data-page="courses" data-filtered="false">
        <div class="row">
            <div class="banner-content-wide">
                <div class="banner">
                    {% ads_only_production "videos_top" "all" %}
                </div>
            </div>
        </div>
        <article class="row course__single">
            <div class="col-xs-12">
                <h1 class="course__title">{{ course.title }}</h1>
                <time class="course__date__publication" datetime="{{ course.createdin|date:"d/m/Y" }}">
                    <div class="course__avaliation">
                        <span data-toogle="rating" data-config='{"rating": {{ course.rating|stringformat:"f" }}, "readOnly": true}'></span>
                        </span> {{ course.rating }}
                    </div>
                    <i class="gsticon gsticon-calendar-o"></i> {{ course.createdin|date:"d/m/Y" }}
                </time>
                <div class="course__categories visible-lg-block">
                    {% for community in course_communities %}
                        <a href="{% url 'community:show' community.slug %}" class="course__category">{{ community.title }}</a>
                    {% endfor %}
                </div>
                <div class="dropdown visible-xs course__categories">
                    <a href="javascript:;" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Comunidades
                        <i class="gsticon gsticon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        {% for community in course_communities %}
                            <li><a href="{% url 'community:show' community.slug %}" class="course__category">{{ community.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-sm-7">
                        {# Todo: show playlist, if necessary #}
                        <img class="img-responsive" src="{% thumbor_url course.image.url width=670 height=440 %}" alt="Contexto da imagem" />
                    </div>
                    <div class="col-sm-5 course__about">
                        <h2 class="course__about__title">Sobre o curso</h2>
                        <div class="course__about__text">
                            {{ course.description|safe }}
                        </div>
                        <ul class="course__about__list">
                            <li>
                                <i class="gsticon gsticon-globe"></i>
                                Idioma: {% for language in course.languages.all %}{{ language.description }}{% endfor %}
                            </li>
                            <li>
                                <i class="gsticon gsticon-tag"></i> Plataforma: {{ course.plataform.description }}
                            </li>
                        </ul>
                        {% if course.affiliate_link %}
                            <a href="{{ course.affiliate_link }}" class="btn btn-green course__btn">Tenho Interesse</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-sm-7 course__menu">
                        <h2 class="course__menu__title">Ementa do Curso</h2>
                        <ul class="course__menu__classes">
                            {% for curriculum in curriculums %}
                                <li class="course__menu__class">
                                    <div class="course__menu__class__title">
                                        {# Aula {{ class }} #}
                                        <span>{{ curriculum.title }}</span>
                                    </div>
                                    <div class="course__menu__class__content" id="class-{{ class }}">
                                        {{ course.description }}
                                    </div>
                                    <a data-toggle="showmore" href="#class-{{ class }}"><i class="gsticon gsticon-plus"></i> Detalhes</a>
                                </li>
                            {% endfor %}
                        </ul>
                        {% if course.observation %}
                            <div>
                                <h4>OBS:</h4>
                                {{ course.observation }}
                            </div>
                        {% endif %}

                        {% if course.affiliate_link %}
                            <a href="{{ course.affiliate_link }}" class="btn btn-green course__btn">Ementa Completa</a>
                        {% endif %}

                        {% include "course/author.html" %}
                        {% include "course/avaliations.html" %}
                    </div>
                    <div class="col-sm-5">
                        <div class="related__items">
                            <h2 class="related__items__title">Cursos Relacionados</h2>

                            {% for related_course in related_courses %}

                                <a class="related" href="{% url 'course:show' related_course.slug %}">
                                    <figure class="related__img">
                                        <img class="img-responsive" src="{% thumbor_url related_course.image.url width=100 height=100 %}" alt="{{ related_course.title }}">
                                    </figure>
                                    <div class="related__body">
                                        <h3 class="related__title">{{ related_course.title }}</h3>
                                        {# TODO: como pegar as categorias relacionadas com a menor query possivel? #}
{#                                        <div class="related__categories">#}
{#                                            Rede de Computadores, Analytics, Banco de Dados, Active Directory, Cloud Computing#}
{#                                        </div>#}
                                <span class="thumb__course__avaliation">
                                    <span style="width: 60%"></span>
                                </span>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="related__items">
                            <h2 class="related__items__title">Comunidades</h2>

                            {% for related_community in course_communities %}

                                <div class="related">
                                    <figure class="related__img">
                                        <img class="img-responsive" src="{% thumbor_url related_community.image.url width=100 height=100 %}" alt="{{ related_community.title }}">
                                    </figure>
                                    <div class="related__body">
                                        <h3 class="related__title">{{ related_community.title }}</h3>
                                        <div class="related__followers">{{ related_community.followers }} seguidor{{ related_community.followers|pluralize:"es" }}</div>
                                        {% follow_action related_community None btn_class="btn perfil-button" %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>
{% endblock content %}

