{% if feed_objects %}

    {% for feed in feed_objects %}
        {% with template_name=feed.content_type|stringformat:"s"|add:"-segment.html" %}
            {% with instance=feed.content_object %}
                {% if instance %}
                    {% include 'userprofile/partials/'|add:template_name %}
                {% endif %}
            {% endwith %}
        {% endwith %}
    {% endfor %}

    <a data-jscroll-next href="{% url 'community:questions-list' community.slug %}?criterio={{ form.cleaned_data.criterio|urlencode }}&replies={{ form.cleaned_data.replies }}&page={{ page|default_if_none:form.cleaned_data.page }}&next={{ url_next|urlencode }}">next</a>
{% else %}
    <p class="text-center text-italic">
        {%  comment %} TODO 'localize this message' {% endcomment %}
        Não existem perguntas para esta comunidade, <a href="{% url "question:create-in-category" community.slug %}" data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" data-url-next="{% url 'account:login-ajax' %}?next={% url "question:create-in-category" community.slug %}">seja o primeiro a perguntar</a>.
    </p>
{% endif %}