

<form action="{% url 'community:questions' community.slug %}" method="GET" role="search">
    <div class="customform search{%if errors %} customform-error{% endif %}">
          <input class="customform-input" id="criterio" type="text" name="criterio" data-toggle="input" placeholder="{{ placehold }}" value="{{ form.cleaned_data.criterio }}">
        <hr>
        <label for="criterio" class="customform-label{% if request.GET.criterio %} active {% endif %}">Pesquisar</label>
        <button type="submit" class="form-search-button">
            <i class="gsticon gsticon-search"></i>
        </button>
    </div>
</form>