{% load community_tags %}
{% load user_agents %}

{% community_box community %}

<div class="widget widget-box">
    <div class="widget-content">
        <ul class="perfil-actions">
            {% if not request.user.is_authenticated %}
                {# nao logado #}
                <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{csrf_token}}" href="{% url 'question:create-in-category' community.slug %}"><i class="gsticon gsticon-question-circle"></i> Perguntar</a></li>
                <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{csrf_token}}" href="{% url 'article:create-in-category' community.slug %}"><i class="gsticon gsticon-file-text"></i> Criar publicação</a></li>
            {% elif not user_follows_community %}
                {# logado, mas nao segue a comunidade #}
                <li><a data-restrict="community" data-url-check-login="{% url 'community:check-user-follows' %}" data-community="{{ community.slug }}" data-url-check="{% url 'community:check-user-follows' %}" data-type="question" data-token="{{csrf_token}}" href="{% url 'question:create-in-category' community.slug %}"><i class="gsticon gsticon-question-circle"></i> Perguntar</a></li>
                <li><a data-restrict="community" data-url-check-login="{% url 'community:check-user-follows' %}" data-community="{{ community.slug }}" data-url-check="{% url 'community:check-user-follows' %}" data-type="post" data-token="{{csrf_token}}" href="{% url 'article:create-in-category' community.slug %}"><i class="gsticon gsticon-file-text"></i> Criar publicação</a></li>
            {% else %}
                {# logado e segue a comunidade #}
                <li><a data-community="{{ community.slug }}"  data-type="question" data-token="{{csrf_token}}" href="{% url 'question:create-in-category' community.slug %}"><i class="gsticon gsticon-question-circle"></i> Perguntar</a></li>
                <li><a data-community="{{ community.slug }}"  data-type="post" data-token="{{csrf_token}}" href="{% url 'article:create-in-category' community.slug %}"><i class="gsticon gsticon-file-text"></i> Criar publicação</a></li>
            {% endif %}
        </ul>
    </div>
</div>

{% if request|is_pc %}

    <!-- Seguindo -->
    <div id="load-communities" data-load-async="true" data-load-async-url="{% url 'community:related' community.slug %}" data-load-async-url-next="{{ request.path }}" data-load-async-method="get" data-load-async-response-type="json" data-load-async-timeout="1">
        <div class="load-async load-async-content">
            <div class="load-async-preload top-20"></div>
        </div>
    </div>

{% endif %}