{% load core_tags %}
{% load user_agents %}

    <div class="squad-advertising">
        {% block community_right %}
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- gsti-comunidade-feed-lateral -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-2686766225121981"
             data-ad-slot="7518466029"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        {% endblock community_right %}
    </div>


    {% if request|is_pc %}

        {% relevance_box community %}

        {% last_questions community 'question' %}

    {% endif %}