{% extends "core/amp/base.html" %}
{% load abs_url %}
{% load avatar_tags %}
{% load humanize %}
{% load thumbor_tags %}
{% load i18n %}
{% load staticfiles %}

{% absolute_url 'question:show' question.slug question.id as 'question_url' %}

{% block canonical_url %}{% absolute_url 'question:show' question.slug question.id %}{% endblock %}
{% block ld_json %}
    <script type="application/ld+json">
      {
 "@context":"http:\/\/schema.org",
   "@type":"Question",
   "mainEntityOfPage":"{% absolute_url 'question:show' question.slug question.id %}",
   "publisher":{
      "@type":"Organization",
      "name":"Portal GSTI",
      "logo":{
         "@type":"ImageObject",
         "url":"{% static 'images/gsti.png' %}",
         "height":40,
         "width":126
      }
   },
   "headline":"{{ question.title }}",
   "datePublished":"{{ question.question_date|date:'Y-m-d G:i' }}",
   "dateModified":"{{ question.question_date|date:'Y-m-d G:i' }}",
   "author":{
      "@type":"Person",
      "name":"{{ question.author.username }}"
   },

   {% static 'images/gsti-default-og-image.png' as default_image %}
   "image":{
      "@type":"ImageObject",
      "url":"{% thumbor_url default_image width=700 height=260 smart=False fit_in=False %}",
      "width": 700,
      "height": 260
   }
      }
    </script>
{% endblock ld_json %}
{% block content %}

  <article class="amp-publication">
    <header class="amp-publication-header">
      <div class="amp-publication-info">
        <time class="amp-publication-publish" datetime="{{ question.question_date|date:'m-d-Y' }}">{{ question.question_date|naturaltime }}</time>
        <a class="amp-publication-creator" href="{% url 'profile:show' question.author.username %}">
          <figure class="amp-publication-creator-figure">
            <amp-img class="amp-publication-creator-img" src="{% get_avatar question.author width=20 height=20 smart=False fit_in=False %}" alt="foto de {{ question.author.get_full_name }}" width="20" height="20"></amp-img>
            <figcaption class="amp-publication-creator-name">{{ question.author.get_full_name }}</figcaption>
          </figure>
        </a>
      </div>
      <h1 class="amp-publication-title">{{ question.title }}</h1>
    </header>
    <div class="amp-publication-content">
      {{ question.description|safe }}
    </div>
  </article>
  <aside class="amp-content-aside">
    <h2 class="amp-publication-subtitle">Respostas</h2>

    {% for answer in answers %}

    {% include 'core/amp/partials/answer.html' %}

    {% endfor %}

  </aside>

{% endblock content %}

<a class="amp-publication-action" href="{% absolute_url 'question:show' question.slug question.id %}">{% trans 'Comentários' %}</a>
