{% extends "core/amp/base.html" %}

{% load  abs_url %}

{% absolute_url 'question:show' question.slug question.id as 'question_url' %}

{% block title %}{{ question.title }}{% endblock %}

{% block canonical_url %}{{ question_url }}{% endblock %}

{% block content %}

    {{ question.description|safe }}


    <ul>
        {% for answer in answers %}
            <li>
                <a href="{{ question_url }}">{{ answer.title }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}