{% extends 'home/layout/base.html' %}

{% load avatar_tags %}
{% load thumbor_tags %}
{% load i18n %}

{% block seo-og-title %}{% block seo_title %}Login{{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}Regras do Portal GSTI{% endblock %}{% endblock %}

{% block content %}

    <main class="container main">
        <div class="col-lg-12">
            <header class="area-title">
                <h1>Login</h1>
            </header>
        </div>

        <div class="col-lg-6 col-lg-offset-3">

            <form action="{% url 'account:login' %}?next={{ request.path }}" method="post">

            {% csrf_token %}

            <div class="social-login">
                <a class="btn-login-facebook" href="{% url 'social:begin' backend='facebook' %}">
                    <i class="gsticon gsticon-facebook"></i>
                    Facebook
                </a>
                <a class="btn-login-google" href="{% url 'social:begin' backend='google-oauth2' %}">
                    <i class="gsticon gsticon-google-plus"></i>
                    Google+
                </a>
                <a class="btn-login-linkedin" href="{% url 'social:begin' backend='linkedin' %}">
                    <i class="gsticon gsticon-linkedin"></i>
                    LinkedIn
                </a>
            </div>

            <div class="divider"><span>ou</span></div>

            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Nome de usuário ou email" value="{{ form.username.value|default_if_none:'' }}">
                {% if form.username.errors %}{{ form.username.errors }}{% endif %}
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Senha">
                {% if form.password.errors %}{{ form.password.errors }}{% endif %}
            </div>
            <div class="form-group">
                <input class="form-control" type="hidden" name="__all__">
            </div>

            {{ form.non_field_errors }}

            <button type="submit" class="btn-action btn-block">Entrar</button>

            <div class="more-options">
                <a class="left" href="{% url 'account:signup' %}">Cadastre-se</a>
                <a class="right" href="javascript:;" data-toggle="modal" data-target="#modal-forgot-password">Esqueci a minha senha</a>
            </div>

            </form>

        </div>

    </main>

{% endblock %}
