{% load i18n %}

<form action="{% url 'account:do_login' %}" method="post">
    {% csrf_token %}

    <input type="text" name="username" value="{{ form.cleaned_data.username|default_if_none:"" }}" placeholder="{% trans "Username" %}" maxlength="100">
    {% if form.username.errors %}  {{ form.username.errors }} {% endif %}
    <br/>

    <input type="password" name="password" placeholder="{% trans "Password" %}" maxlength="50">
    {% if form.password.errors %}  {{ form.password.errors }} {% endif %}
    <br/>

    <input type="submit" value="{% trans "Submit" %}" name="submit" />
    <a href="{% url 'account:forgot_password' %}">{% trans 'Esqueceu sua senha?' %}</a>

</form>
