<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{{ request.user.first_name }} {{ request.user.last_name }} password change.
<form action="{% url 'account:update_password' %}" method="post">
    {% csrf_token %}
    <input type="password" name="old_password" placeholder="Old Password" maxlength="30">
    {% if form.old_password.errors %}  {{ form.old_password.errors }} {% endif %}
    <p></p>

    <input type="password" name="new_password" placeholder="New Password" maxlength="30">
    {% if form.new_password.errors %}  {{ form.new_password.errors }} {% endif %}
    <p></p>

    <input type="password" name="new_password_confirmation" placeholder="New Password confirmation" maxlength="30">
    {% if form.new_password_confirmation.errors %}  {{ form.new_password_confirmation.errors }} {% endif %}
    <p></p>

    <input type="submit" value="Submit" name="submit" />
</form>
</body>
</html>