{% extends 'home/layout/base.html' %}

{% block content %}
    <main class="container main">
        <div class="error-page">
            <h2 class="error-page-title">
                <i class="gsticon gsticon-{{ icon }}"></i>
            </h2>
            <h4 class="error-page-subtitle">{{ message }}</h4>
{#            <p class="error-page-description">Enviamos um email para você confirmar a sua conta. Vai lá e confirma! Estamos esperando por você!</p>#}
            <a href="{% url 'index' %}" class="btn-grey error-page-btn">Página inicial</a>
        </div>
    </main>
{% endblock %}