{% extends 'home/index.html' %}

{% block modals %}
    {{ block.super }}
    {% include 'home/partials/modals/modal-recuperar-senha.html' with activation_key=activation_key %}
{% endblock %}


{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript">
        var functionAjaxSuccessRecoveryPassword = function(e, data) {
            window.location.href = data.url_next;
        };
        $(function(){
            $(document).on("ajaxform.success", "#form-recovery-password", functionAjaxSuccessRecoveryPassword);

            var $modalRecoveryPassword = $("#modal-recovery-password");
            $modalRecoveryPassword.modal('show');
        });
    </script>
{% endblock %}


