{% load i18n %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{{ request.user.first_name }} {{ request.user.last_name }} password change.
<form action="{% url 'account:change_password' %}" method="post">
    {% csrf_token %}
    <input type="password" name="old_password" placeholder="{% trans "Old password" %}" maxlength="30">
    {% if form.old_password.errors %}  {{ form.old_password.errors }} {% endif %}
    <p></p>

    <input type="password" name="new_password" placeholder="{% trans "New password" %}" maxlength="30">
    {% if form.new_password.errors %}  {{ form.new_password.errors }} {% endif %}
    <p></p>

    <input type="password" name="new_password_confirmation" placeholder="{% trans "New password confirmation" %}" maxlength="30">
    {% if form.new_password_confirmation.errors %}  {{ form.new_password_confirmation.errors }} {% endif %}
    <p></p>

    <input type="submit" value="{% trans "Submit" %}" name="submit" />
</form>
</body>
</html>