{% load i18n %}

<h1>Nova senha</h1>

<form action="{% url 'account:do_recovery_validation' %}" method="post">

    {% csrf_token %}

    <input type="password" name="new_password" placeholder="{% trans "Password" %}">
    {% if form.new_password.errors %}  {{ form.new_password.errors }} {% endif %}
    <br/>

    <input type="password" name="new_password_confirmation" placeholder="{% trans "Password Confirm" %}">
    {% if form.new_password_confirmation.errors %}  {{ form.new_password_confirmation.errors }} {% endif %}
    <br/>

    {{ form.non_field_errors }}

    <input type="hidden" name="activation_key" value="{{ activation_key }}"/>
    <input type="submit" name="submit" value="{% trans "Submit" %}"/>

</form>
