{% load i18n %}

<h1>{% trans 'Esqueceu sua senha?' %}</h1>

<form action="{% url 'account:forgot_password' %}" method="post">
    {% csrf_token %}

    <input type="email" value="{{ form.cleaned_data.email|default_if_none:"" }}" name="email" placeholder="{% trans "Email" %}">
    {% if form.email.errors %}  {{ form.email.errors }} {% endif %}
    <br/>

    <input type="submit" value="{% trans "Submit" %}" name="submit" />
    <a href="{% url 'account:login' %}">{% trans 'Login' %}</a>

</form>
