{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Portal GSTI - Home {% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
        <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">

        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'images/apple-touch-icon-57x57.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/apple-touch-icon-144x144.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'images/apple-touch-icon-60x60.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}" />
        <link rel="icon" type="image/png" href="{% static 'images/favicon-196x196.png' %}" sizes="196x196" />
        <link rel="icon" type="image/png" href="{% static 'images/favicon-96x96.png' %}" sizes="96x96" />
        <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16" />
        <link rel="icon" type="image/png" href="{% static 'images/favicon-128.png' %}" sizes="128x128" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="{% static 'images/mstile-144x144.png' %}" />
        <meta name="msapplication-square70x70logo" content="{% static 'images/mstile-70x70.png' %}" />
        <meta name="msapplication-square150x150logo" content="{% static 'images/mstile-150x150.png' %}" />
        <meta name="msapplication-wide310x150logo" content="{% static 'images/mstile-310x150.png' %}" />
        <meta name="msapplication-square310x310logo" content="{% static 'images/mstile-310x310.png' %}" />
    </head>
    <body>
    <div class="slideout-menu" id="slideout-menu">
            {% include 'home/partials/slideout-menu.html' %}
        </div>
        <div class="slideout-panel" id="wrapper">
            <header class="header">
                <div class="container">
                    <div class="menu-mobile hidden-lg">
                        <div class="row">
                            <a class="btn-show-item toggle-slideout" data-item="#slideout-menu" href="javascript:;">
                                <i class="gsticon gsticon-sign-in"></i>
                            </a>
                            <h1 class="gsti">
                                <a class="gsti-link" href="{% url 'index' %}">Portal GSTI</a>
                            </h1>
                        </div>
                    </div>
                    <div class="row menu-desktop visible-lg-block">
                        <h1 class="gsti">
                            <a href="{% url 'index' %}" class="gsti-link">Portal GSTI</a>
                        </h1>
                        <nav class="menu-social-signup">
                            <a class="gsticon gsticon-facebook-square" href="https://www.facebook.com/PortalGSTIpage"></a>
                            <a class="gsticon gsticon-google-plus-square" href="https://plus.google.com/b/109232763237126205281/+PortalgstiBr"></a>
                            <a class="gsticon gsticon-linkedin-square" href="https://www.linkedin.com/groups/4602615"></a>
                            <a class="gsticon gsticon-twitter-square" href="https://twitter.com/portal_gsti"></a>
                            <a class="gsticon gsticon-youtube-square" href="https://www.youtube.com/c/PortalgstiBr"></a>
                            <a class="btn-login" href="javascript:;" data-toggle="modal" data-target="#modal-login">Login</a>
                        </nav>
                    </div>
                </div>
            </header>
            <main class="account">
                <div class="blue-flag">
                    <div class="container">
                        <div class="col-md-8">
                            <div class="account-info">
                                <h2 class="account-description">Um mundo de informações para TI</h2>
                                <p>É um portal de informações, é uma rede social e é um fórum para tirar dúvidas. <strong>Alguma dúvida?</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-md-4 ">
                      {% load i18n %}
                      <form class="form-signup" action="{% url 'account:signup' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                          <a class="btn-login-facebook" href="{% url 'social:begin' backend='facebook' %}">
                            <i class="gsticon gsticon-facebook"></i>
                            Facebook
                          </a>
                          <a class="btn-login-google" href="{% url 'social:begin' backend='google-oauth2' %}">
                            <i class="gsticon gsticon-google-plus"></i>
                            Google+
                          </a>
                          <a class="btn-login-linkedin" href="{% url 'social:begin' backend='linkedin-oauth2' %}">
                            <i class="gsticon gsticon-linkedin"></i>
                            LinkedIn
                          </a>
                        </div>
                        <div class="form-group form-group-half {% if form.first_name.errors %}has-error{% endif %}">
                          <input class="form-control" type="text" id="first_name" name="first_name" value="{{ form.cleaned_data.first_name|default_if_none:"" }}" placeholder="{% trans "First name" %}" maxlength="30"
                          data-toggle="validation"
                          data-regex="^[a-zA-ZÁáàãâÂÃÀéÉèêÊÈëËẽẼíÍìÌĩĨîÎóÓòÒõÕüÜúÚùÙũŨûÛçÇ-ýÝỲỳ]+$">
                          {% if form.first_name.errors %}  {{ form.first_name.errors }} {% endif %}
                        </div>
                        <div class="form-group form-group-half {% if form.last_name.errors %}has-error{% endif %}">
                          <input class="form-control" type="text" id="last_name" name="last_name" value="{{ form.cleaned_data.last_name|default_if_none:"" }}" placeholder="{% trans "Last Name" %}" maxlength="150"
                          data-toggle="validation"
                          data-regex="^[a-zA-ZÁáàãâÂÃÀéÉèêÊÈëËẽẼíÍìÌĩĨîÎóÓòÒõÕüÜúÚùÙũŨûÛçÇ-ýÝỲỳ ]+$">
                          {% if form.last_name.errors %}  {{ form.last_name.errors }} {% endif %}
                        </div>
                        <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                          <input class="form-control" type="email" name="email" value="{{ form.cleaned_data.email|default_if_none:"" }}" placeholder="{% trans "Email" %}" maxlength="150">
                          {% if form.email.errors %}  {{ form.email.errors }} {% endif %}
                        </div>

                        <div class="form-group {% if form.username.errors %}has-error{% endif %}">
                          <input class="form-control" type="text" id="username" name="username" value="{{ form.cleaned_data.username|default_if_none:"" }}" placeholder="{% trans "Username" %}" maxlength="30" autocomplete="off"
                          data-toggle="validation"
                          data-async=true
                          data-url-check-validation="{% url 'account:check-username' %}">
                          {% if form.username.errors %}  {{ form.username.errors }} {% endif %}
                        </div>

                        <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                          <input class="form-control" type="password" name="password" placeholder="{% trans "Password" %}">
                          {% if form.password.errors %}  {{ form.password.errors }} {% endif %}
                        </div>

                        <div class="form-group {% if form.password_confirmation.errors %}has-error{% endif%}">
                          <input class="form-control" type="password" name="password_confirmation" placeholder="{% trans "Password Confirm" %}">
                          {% if form.password_confirmation.errors %}  {{ form.password_confirmation.errors }} {% endif %}
                        </div>

                        <div class="form-group {% if form.captcha.errors %}has-error{% endif %}">
                          <div class="g-recaptcha" data-sitekey="6LccmgsTAAAAAGrsvn7r7aiIcnvbuIS7pyP0qv1K"></div>
                          {% if form.captcha.errors %} {{ form.captcha.errors }} {% endif %}
                        </div>

                        {% if form.non_field_errors %} {{ form.non_field_errors }} {% endif %}

                        <input class="btn-action btn-block" type="submit" value="{% trans "Submit" %}" name="submit">
                        <!-- {% trans 'or' %} <a href="{% url 'account:login' %}">{% trans 'Login' %}</a> -->
                      </form>
                      <div class="fb-account-box">
                        <div class="fb-page" data-href="https://www.facebook.com/PortalGSTIpage" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/PortalGSTIpage"><a href="https://www.facebook.com/PortalGSTIpage">Facebook</a></blockquote></div></div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/G1xIlZ35mZo" frameborder="0" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="clearfix"></div> -->
            </main>
            <footer class="footer">
                <nav class="footer-nav">
                    <div class="container">
                        <div class="row">
                            <span class="copyright">Portal GSTI © Copyright {% now "Y" %}</span>
                            <ul class="links-help">
                                <li class="list-item"><a href="{% url 'core:about' %}">Sobre</a></li>
                                <li class="list-item"><a href="javascript:;" data-toggle="modal" data-target="#modal-rules">Regras do portal</a></li>
                                <li class="list-item"><a href="{% url 'contact:create' %}" id="link-contact" data-async-module="click" data-async-target="#modal-content-form-contact" data-async-method="get">Contato</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </footer>
        </div>

        {% include 'home/partials/modals/modal-login.html' %}
        {% include 'home/partials/modals/modal-rules.html' %}
        {% include 'home/partials/modals/modal-contato.html' %}
        {% include 'home/partials/modals/modal-esqueci-senha.html' %}

        <div id="fb-root"></div>
        <!-- Place this tag after the last widget tag. -->
        <script type="text/javascript">;(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id; js.async = true;
          js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.4&appId=625566967570537";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="{% static 'javascripts/shared.js'%}"></script>
        <script src="{% static 'javascripts/main.js'%}"></script>
        <script src="https://www.google.com/recaptcha/api.js?hl=pt-BR" async defer></script>

        <script type="text/javascript">
            var timeoutReference= null;
            var functionAjaxSuccessLogin = function(e, data) {
                window.location.href = data.url_next;
            };

            var functionAjaxSuccessForgotPassword = function(e, data) {
                var $modalForgotPassword = $("#modal-forgot-password");
                var $modalForgotPasswordSuccessfully = $("#modal-forgot-password-successfully");
                $modalForgotPasswordSuccessfully.html(data.template);
                $modalForgotPassword.modal("hide");
                $modalForgotPasswordSuccessfully.modal("show");
            };

            var functionAjaxSuccessTriggerContactModal = function(e, data) {
                var $modalContact = $("#modal-contact");
                $modalContact.find("form[data-ajaxform=true]").IdeiaAjaxForm();
                {% if request.user.is_anonymous %}
                    grecaptcha.render('g-recaptcha', {
                        'sitekey': '6LccmgsTAAAAAGrsvn7r7aiIcnvbuIS7pyP0qv1K'
                    });
                {% endif %}
                $modalContact.modal("show");

                var functionAjaxSuccessContact = function(e, data) {
                    var $modalContact = $("#modal-contact");
                    var $modalContactSuccessfully = $("#modal-contact-successfully");
                    $modalContactSuccessfully.html(data.template);
                    $modalContact.modal("hide");
                    $modalContactSuccessfully.modal("show");
                };

                var $formContactModal = $("#form-contact-modal");
                $formContactModal.on("ajaxform.success", functionAjaxSuccessContact);
            };

            $(function() {
                var $formLogin = $("#form-login");
                $formLogin.on("ajaxform.success", functionAjaxSuccessLogin);

                var $formForgot = $("#form-forgot-password");
                $formForgot.on("ajaxform.success", functionAjaxSuccessForgotPassword);

                var $linkModal = $("#link-contact");
                $linkModal.on("async.click.success", functionAjaxSuccessTriggerContactModal);
            });
        </script>
    </body>
</html>
