{% load i18n %}
<script src='https://www.google.com/recaptcha/api.js?hl=pt-BR'></script>


<form action="{% url 'account:signup' %}" method="post">

    {% csrf_token %}

    <input type="text" name="username" value="{{ form.cleaned_data.username|default_if_none:"" }}" placeholder="{% trans "Username" %}" maxlength="30">
    {% if form.username.errors %}  {{ form.username.errors }} {% endif %}
    <p></p>

    <input type="text" name="first_name" value="{{ form.cleaned_data.first_name|default_if_none:"" }}" placeholder="{% trans "First name" %}" maxlength="30">
    {% if form.first_name.errors %}  {{ form.first_name.errors }} {% endif %}
    <p></p>

    <input type="text" name="last_name" value="{{ form.cleaned_data.last_name|default_if_none:"" }}" placeholder="{% trans "Last Name" %}" maxlength="150">
    {% if form.last_name.errors %}  {{ form.last_name.errors }} {% endif %}
    <p></p>

    <input type="email" name="email" value="{{ form.cleaned_data.email|default_if_none:"" }}" placeholder="{% trans "Email" %}" maxlength="150">
    {% if form.email.errors %}  {{ form.email.errors }} {% endif %}
    <p></p>

    <input type="password" name="password" placeholder="{% trans "Password" %}">
    {% if form.password.errors %}  {{ form.password.errors }} {% endif %}
    <p></p>

    <input type="password" name="password_confirmation" placeholder="{% trans "Password Confirm" %}">
    {% if form.password_confirmation.errors %}  {{ form.password_confirmation.errors }} {% endif %}
    <p></p>

    <div class="g-recaptcha" data-sitekey="6LccmgsTAAAAAGrsvn7r7aiIcnvbuIS7pyP0qv1K"></div>
    {% if form.captcha.errors %}  {{ form.captcha.errors }} {% endif %}
    <p></p>

    <input type="submit" value="{% trans "Submit" %}" name="submit">
    {% trans 'or' %} <a href="{% url 'account:login' %}">{% trans 'Login' %}</a>

</form>