.area {
    @each $name, $color in $areas {
    &-#{$name} {
        a {
        color: $color;
            &:hover {
                color: darken($color, 10%);
            }
        }
    }}
}

.color-green { color: $color-green !important; }
.color-link { color: $link-color !important; }

.color-governance { color: #0160b0; }
.color-marketing { color: #f46b1b; }
.color-development { color: #3ea909; }
.color-infrastructure { color: #1e5d4c; }
.color-design { color: #813889; }
.color-database { color: #c30007; }
.color-mobile { color: #de1899; }
.color-more { color: #000000; }