.area {
    @each $name, $color in $areas {
    &-#{$name} {
        a {
        color: $color;
            &:hover {
                color: darken($color, 10%);
            }
        }
    }}
}

.color-green { color: $color-green !important; }