@import "comments/box-comment";
@import "comments/create-comment";
@import "comments/show-comment";
@import "comments/list-container";
@import "comments/answer-show";

.comment-box {}

.comment-form {
  @extend %clearfix;
  &-footer { text-align: right; }
}

.comment-list {
  margin-top: 20px;
}
.container-comments {

  [data-xhr] {
    padding-left: 0;
    margin-bottom: 0;
  }
}
.comment-vote {
  text-align: center;
  > hr {
    border-color: $color-border;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  > i,
  > div > a > i {
    color: #4d6479;
    font-size: 30px;
  }
  > div > hr {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.answer-text {
  color: #6f6f6f;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: -.05em;
}
