.container-comments { margin-top: 20px; }
.comments-container-child {
    width: 100%;
    padding-bottom: 20px;
    padding-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    border-bottom: 1px solid $color-border;
}
.comment {
    @extend %clearfix;
    padding-top: 20px;
    > .post-footer {
        padding-top: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-border;
    }
    &-user {
        float: left;
        padding-right: 15px;
        > img {
            vertical-align: top;
            border: 4px solid #fff;
            box-shadow: -1px 1px 1px #e1e1e1, 1px -1px 1px #e1e1e1;
        }
    }
    &-vote {
        text-align: center;
        > hr {
            border-color: $color-border;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        > i,
        > div > a > i {
            color: #4d6479;
            font-size: 30px;
        }
        > div > hr {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &-body {
        // position: relative;
        .post-creator {
            font-weight: 600;
            font-size: 1.5em;
        }
    }
}

//
.create-comment {
    @extend %clearfix;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-border;

    &-avatar {
        float: left;
        padding-right: 15px;

         > img {
            vertical-align: top;
            border: 4px solid #fff;
            box-shadow: -1px 1px 1px #e1e1e1, 1px -1px 1px #e1e1e1;
        }
    }
    &-body {
        position: relative;
        overflow: hidden;
        padding-left: 15px;
        &:before {
            content: "";
            position: absolute;
            z-index: 234;
            top: 1px; left: 1px;
            width: 0;
            height: 0;
            border-top: 0 solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 15px solid white;
        }
        &:after {
            content: "";
            position: absolute;
            z-index: 233;
            top: 0; left: -1px;
            width: 0; height: 0;
            border-top: 0 solid transparent;
            border-bottom: 13px solid transparent;
            border-right: 17px solid #ccc;
        }
        > textarea {
            min-height: 88px;
            resize: none;
            &:focus {
                box-shadow: none;
                border-color: #ccc;
            }
        }
        &.has-error {
            &:after {
                border-right: 17px solid #A94442;
            }
            > textarea {
                box-shadow: none;
                resize: none;
                &:focus {
                    box-shadow: 0px 0px 6px #CE8483;
                }
            }
        }
    }
    &-footer {
        padding-top: 10px;
        text-align: right;
    }
}
.child-comment {
    margin-top: 20px;
    .comment-text,
    .comment-text p {
        color: #6f6f6f;
        font-size: 1em;
        letter-spacing: -0.05em;
    }
    &:last-child {

    }
}