.custom-select {
    position: relative;
    width: 100%;
    &-#{item} {
        overflow: hidden;
        height: 40px;
        padding-left: 12px;
        display: block;
        border: 1px solid $color-border;
        line-height: 2.8;
        color: $color-time;
        cursor: pointer;
        font-weight: 600;
        font-size: 1em;
        text-align: left;
        &:after {
            content: $fa-var-angle-down;
            width: 40px;
            height: 40px;
            float: right;
            background: $background-button;
            color: $link-white;
            font: bold 17px/2.5 'FontAwesome';
            text-align: center;
        }
    }
    &-#{list} {
        @include list-unstyled();
        position: absolute;
        z-index: 2300;
        width: 100%;
        display: none;
        background: $link-white;
        border: 1px solid $color-border;
        border-top: none;
        border-bottom: none;
        text-align: left;

    }
    &-#{option} {
        padding: 10px;
        border-bottom: 1px solid $color-border;
    }
}

.custom-file-upload {
    position: relative;
    padding: 35px;
    background: #f2f2f2;
    color: #d8d8d8;
    cursor: pointer;
    text-align: center;
    .gsticon {
        font-size: 50px;
    }
    h3 {
        margin: 0;
        font-weight: 600;
        font-size: 18px;
    }
    a {
        color: inherit;
        font-weight: bold;
        text-decoration: underline;
    }
    > [type=file] {
        position: absolute;
        top: 0; right: 0;
        bottom: 0; left: 0;
        opacity: 0;
        cursor: pointer;
    }
    .custom-file-content {
        // position: relative;
        // top: 0; left: 0;
        // right: 0; bottom: 0;
        // background-color: rgba(242,242,242,0.7);
    }
    .custom-file-upload-result {
        text-align: center;
        > img {
            margin: 0 auto;
        }
    }
}
.custom-check {
    padding: 5px 10px;
    background: #f2f2f2;
    border: 1px solid $color-border;
}
.custom-radio {
    padding: 6px 11px;
    background: #f2f2f2;
    border: 1px solid #e1e1e1;
    text-align: center;
}

.custom-calendar {
    position: relative;
    > input {
        width: 100%;
        height: 40px;
        padding: 6px 12px;
        display: block;
        background: #fcfcfc;
        border: 1px solid $color-border;
        font-size: 14px;
        line-height: 1.42857;
    }
    > .gsticon {
        position: absolute;
        top: 0; right: 0;
        width: 40px;
        height: 40px;
        padding: 10px 12px;
        background: #4d6479;
        color: #fff;
        cursor: pointer;
    }
}