.custom-select {
    @media (max-width: $screen-lg-min) {
        margin-top: 20px;
    }
    position: relative;
    width: 100%;
    &-#{item} {
        overflow: hidden;
        height: 40px;
        padding-left: 12px;
        display: block;
        border: 1px solid $color-border;
        line-height: 2.8;
        color: $color-time;
        cursor: pointer;
        font-weight: 600;
        font-size: 1em;
        text-align: left;
        &:after {
            content: $fa-var-angle-down;
            width: 40px;
            height: 40px;
            float: right;
            background: $background-button;
            color: $link-white;
            font: bold 17px/2.5 'FontAwesome';
            text-align: center;
        }
    }
    &-#{list} {
        @include list-unstyled();
        position: absolute;
        z-index: 2300;
        width: 100%;
        display: none;
        background: $link-white;
        border: 1px solid $color-border;
        border-top: none;
        border-bottom: none;
        text-align: left;

    }
    &-#{option} {
        padding: 10px;
        border-bottom: 1px solid $color-border;
    }
}

.custom-file-upload {
    position: relative;
    /*padding: 35px;*/
    /*padding: 0 !important;*/
    background: #f2f2f2;
    color: #d8d8d8;
    cursor: pointer;
    text-align: center;
    .gsticon {
        font-size: 50px;
    }
    h3 {
        margin: 0;
        font-weight: 600;
        font-size: 18px;
    }
    a {
        color: inherit;
        font-weight: bold;
        text-decoration: underline;
    }
    > [type=file] {
        position: absolute;
        top: 0; right: 0;
        bottom: 0; left: 0;
        opacity: 0;
        cursor: pointer;
    }
    .custom-file-content {
        padding: 10px 20px;
        // position: relative;
        // top: 0; left: 0;
        // right: 0; bottom: 0;
        // background-color: rgba(242,242,242,0.7);
    }
    .custom-file-upload-result {
        text-align: center;
        > img {
            margin: 0 auto;
            width: 100%;
            height: auto;
        }
    }
}
.custom-file-upload-larger {
    .custom-file-content {
        padding: 35px;
    }
}
.custom-input {
    width: 100%;
    display: table;
    border: 1px solid $color-border;
    font-weight: normal;
    .custom-check,
    .custom-radio {
        width: 35px;
        margin-right: 10px;
        display: table-cell;
        vertical-align: middle;
        border-width: 0 1px 0 0;
    }

    .custom-label {
        padding: 5px 10px;
        margin-bottom: 0;
        display: table-cell;
        vertical-align: middle;
    }
}
.custom-check {
    padding: 5px 10px;
    background: #f2f2f2;
    border: 1px solid $color-border;
}
.custom-radio {
    padding: 6px 11px;
    background: #f2f2f2;
    border: 1px solid $color-border;
    text-align: center;
}
.childs-radios {
    padding-left: 40px;
}

.custom-calendar {
    position: relative;
    > input {
        width: 100%;
        height: 40px;
        padding: 6px 12px;
        display: block;
        background: #fcfcfc;
        border: 1px solid $color-border;
        font-size: 14px;
        line-height: 1.42857;
    }
    > .gsticon {
        position: absolute;
        top: 0; right: 0;
        width: 40px;
        height: 40px;
        padding: 10px 12px;
        background: #4d6479;
        color: #fff;
        cursor: pointer;
    }
}

// Mover para um componente de tag's
.cloud-tags-title {
    color: #5d7184;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.tag {
    margin-bottom: 10px;
    color: #607384;
    font-size: 0.8em;
    line-height: 1.8;
    .custom-input { font-weight: 600; }
}

.order-by {
    // width: 50%;
    margin-right: -20px;
    float: right;
    text-align: right;

    p, .dropdown {
        display: inline-block;
    }

    .btn-default.active.focus, .btn-default.active:focus,
    .btn-default.focus:active, .btn-default:active:focus,
    .open > .btn-default.dropdown-toggle.focus,
    .open > .btn-default.dropdown-toggle:focus {
        background-color: #4d6479;
        color: #fff;
    }

    .dropdown-menu {
        padding-top: 0;
        padding-bottom: 0;
    }

    .dropdown-menu > li > a {
        color: #4d6479;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .dropdown-menu > .active > a {
        color: #4d6479;
        background-color: transparent;

        &:before {
            font-family: 'FontAwesome';
            content: '\f00c';
            margin-right: 5px;
        }
    }
}


.select-group {
    @include clearfix;
    margin-bottom: 5px;

    .btn {
        float: left;
        padding: 10px 15px;
        max-width: 42px;
    }

    select.form-control {
        width: calc(100% - 42px);
        float: left;
    }
}