// ==========================================================================
// Formulário de busca
// ==========================================================================
// ==========================================================================
// <form class="form-search" action="/search" method="GET" role="search">
//   <input class="form-search-input" type="text" placeholder="Procure pessoas, comunidades, etc.">
//  <button type="submit" class="form-search-button"></button>
// </form>
// ==========================================================================
.form-search {
    @extend %clearfix;
    padding-bottom: 20px;
    &-#{input} {
        @include make-xs-column(9.9);
        @include make-lg-column(11.3);
        padding: 0;
        > input {
            @extend .form-control;
            height: auto;
            padding: 10px;
        }
    }
    &-#{button} {
        @include make-xs-column(12 - 9.9);
        @include make-lg-column(12 - 11.3);
        @extend .btn;
        min-height: 34px;
        padding: 10px 0;
        margin-left: 0;
        background-color: $background-button;
        color: #fff;
        text-align: center;
    }
}

.form-edit {
    .top-marged {
        margin-top: 20px;
    }
    .row-form {
        @include make-row;
    }
    .form-group-inline {
        width: 50%;
        padding: 0 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        float: left;
        @media (max-width: $screen-sm-min) {
            width: 100%;
        }
    }
}

.errorlist {
    padding-left: 0;
    list-style: none;
    li {
        color: $state-danger-text;
        font-size: 0.9em;
    }
}