// Navegações
// ==========================================================================
.header-navegation {
    position: relative;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    background: $link-white;
    @media (max-width: $screen-sm-min) { border-bottom-width: 0;}

    &.header-navegation-border {
        border-bottom: 2px solid;
        @each $name, $color in $areas {
            &.#{$name} { border-bottom-color: $color; }
        }
    }
    .menu-social {
        @media (min-width: $screen-lg-min) { padding-right: 0; }
        li > .gsticon-facebook-square:hover { color: #3b5998; }
        li > .gsticon-google-plus-square:hover { color: #dd4b39; }
        li > .gsticon-linkedin-square:hover { color: #007bb5; }
        li > .gsticon-twitter-square:hover { color: #55acee; }
        li > .gsticon-youtube-square:hover { color: #bb0000; }
    }
}


// Comportamento do menu no hover
.menu-categories {
  @include list-unstyled();
  @include make-xs-column(12);
  @include make-md-column(12);
  @include make-lg-column(10);

  // position: static;
  margin-bottom: 0;

  @media (min-width: $screen-sm-min) {}
  @media (min-width: $screen-md-min) { display: table; }
  @media (min-width: $screen-lg-min) { padding-left: 0; }
}
.menu-categories .item {
  float: left;

  @media (min-width: $screen-sm-min) {
    width: 100%;
    display: table-cell;
  }
  @media (min-width: $screen-md-min) { width: auto; }
  @media (min-width: $screen-lg-min) {
    &:first-child > a { padding-left: 0; }
  }

  @each $name, $color in $areas {
    &.#{$name} {
      > a { color: $color; }
      &:hover {
        > a { color: #fff; }
        background-color: $color;
      }
    }
  }
}
.menu-categories .item > a {
  padding: 10px;
  display: block;
  font-weight: 600;

  @media (min-width: $screen-sm-min) { display: none; }
  @media (min-width: $screen-md-min) { display: block; }

  // Cores das categorias
  @each $name, $color in $areas {
    &.#{$name} {
      color: $color;
      &:hover {
        color: #fff;
        background-color: $color;
      }
    }
  }
}
.menu-categories .item .submenu-categories {
  @media (min-width: $screen-sm-min) {}
  @media (min-width: $screen-md-min) {}
  @media (min-width: $screen-lg-min) {
    position: absolute;
    top: 100%; left: 0;
    z-index: 20;
    width: 100%;
    display: none;
    // background-color: #fff;
    border-top: 2px solid;
    // box-shadow: 0 5px 10px rgba(77, 100, 121, 0.4);
  }


  @each $name, $color in $areas {
    &.sub-#{$name} {
      background-color: transparent;
      border-top-color: $color;
      .commmunities {
        background-color: $color;
      }
    }
  }
}
.menu-categories .item:hover .submenu-categories {
  @media (min-width: $screen-sm-min) {}
  @media (min-width: $screen-md-min) {}
  @media (min-width: $screen-lg-min) { display: block; }
}

.commmunities {
  @include container-fixed;
  @include list-unstyled();

  // @media (min-width: $screen-sm-min) { width: $container-sm; }
  // @media (min-width: $screen-md-min) { width: $container-md; }
  // @media (min-width: $screen-lg-min) { width: $container-lg; }
}
.commmunities .community {
  float: left;

  @media (min-width: $screen-sm-min) {}
  @media (min-width: $screen-md-min) {}
  @media (min-width: $screen-lg-min) {
    width: 25%;
    text-align: center;
  }
}
.commmunities .community > a {
  overflow: hidden;
  padding: 10px;
  display: block;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    color: #fff;
    font-weight: 600;
    // text-decoration: underline;
  }
}

.menu-social {
  @include make-xs-column(12);
  @include make-md-column(12);
  @include make-lg-column(2);
  @include list-unstyled();

  margin-bottom: 0;
  text-align: center;

  @media (min-width: $screen-sm-min) {}
  @media (min-width: $screen-md-min) {}
  @media (min-width: $screen-lg-min) { text-align: right; }
}
.menu-social li {
  width: 20%;
  float: left;
}
.menu-social li a {
  padding: 10px 0;
  display: block;
  color: $background-button;
  font-size: 1.3em;
}
