// Variables
$color-header-notification: #4d6479 !default;
$color-counter-notification: #b2b2b2 !default;

// Placeholders
%notification-container {
    @extend %clearfix;
    overflow: hidden;
    width: 100%;
    padding-top: 20px;

    .post.not-visualized {
        background: #f7f7f7;
    }

    .post-header {
        margin-bottom: 0;
        color: #486075;
        font-weight: 600;

        time {
            padding-right: 0;
            display: block;
            border-right: none;
        }
    }
}
.notfication-area {
    float: left;
    color: #486075;
    font-size: 15px;
     > i {
        margin-right: 5px;
     }
}

.member-notifications {
    @extend %notification-container;
}

.questions-and-answers-notifications {
    @extend %notification-container;
    .notification-content {
        padding-top: 5px;
        margin-top: 10px;
        display: block;
        border-top: 1px solid $color-border;
        color: #6f6f6f;
        font-weight: 600;
    }
}
.notification-aside {
    margin: 0 0 20px;
}
.color-warning { color: #ff8017; }
.color-punishment { color: #d4393e; }

.dropdown-search {
    top: 72% !important;
    left: 2.4%;
    width: 80%;
    background: #fff;
}

.dropdown-notification {
    top: 115% !important;
    width: 90%;
    background-color: #fff;
}
.float-notifcations {
    // position: relative;
    // overflow: auto;
    // max-height: 300px;
    border: 1px solid $color-border;
    box-shadow: 0 3px 5px #595959;
}
.header-float-notifications {
    padding: 10px 20px;
    border-bottom: 1px solid $color-border;
    color: $color-header-notification;
    font-weight: 600;
    font-size: 15px;
}
.footer-float-notifications {
    padding: 10px;
    display: block;
    background: #f2f2f2;
    color: #486075;
    font-weight: 600;
    text-align: center;
}
.count-notifications {
    float: right;
    color: $color-counter-notification;
}
.content-float-notifications {
    @include list-unstyled();
    position: relative;
    overflow: auto;
    max-height: 300px;
    margin-bottom: 0;
}
.item-float-notification {
    padding: 10px 20px;
    border-bottom: 1px solid $color-border;
    color: #486075;
    font-weight: 600;
    font-size: 13px;

    > i {
        margin: 0 5px;
    }
    > .perfil {
        padding: 0;
        border: none;
        /*min-height: auto;*/
        min-height: initial;
    }
}
.not-visualized {
    background-color: #fcfcfc;
}

#dropdown-search .item-float-notification:hover,
#dropdown-search .item-float-notification:hover > .perfil {
    background: #f7f7f7;
}