// <div class="widget-sidebar widget-comunidades">
//     <div class="widget-header">
//         <h2>comunidades</h2>
//     </div>
//     <div class="widget-content">
//         <div class="post"><img src="" alt=""><a href=""></a></div>
//         <div class="post"><img src="" alt=""><a href=""></a></div>
//         <div class="post"><img src="" alt=""><a href=""></a></div>
//         <div class="post"><img src="" alt=""><a href=""></a></div>
//     </div>
// </div>
// <div class="widget-sidebar widget-related-content">
//     <div class="widget-header">
//         <h2>relacionados</h2>
//     </div>
//     <div class="widget-content">
//         <div class="post"><img src="" alt=""><a href=""></a></div>
//         <div class="post"><img src="" alt=""><a href=""></a></div>
//         <div class="post"><img src="" alt=""><a href=""></a></div>
//         <div class="post"><img src="" alt=""><a href=""></a></div>
//     </div>
// </div>
.widget {
    &-header {
        position: relative;
        margin-bottom: 20px;
        &:before {
            position: absolute;
            top: 0; bottom: 0;
            left: 0;
            width: 4px;
            height: 100%;
        }
    }

    &-content {}
}