.widget {
  &-header {
    position: relative;
    margin-bottom: 20px;
  }
  &-title {
    padding: 10px 0;
    margin: 0;
    border-bottom: 2px solid #cdddeb;
    color: #0160b0;
    font-size: 20px;
    span {
      padding: 7px 0;
      border-bottom: 2px solid;
      text-transform: uppercase;
    }
    &-counter {
      margin-left: 10px;
      margin-right: 10px;
      color: #407abb;
    }
  }
  &-item {
    padding-bottom: 25px;
    margin-bottom: 25px;
    display: flex;
    border-bottom: 1px solid #dad7d7;
    flex: 1 1 auto;
    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }
    figure {
      overflow: hidden;
      margin-right: 30px;
      border: 1px solid $color-border;
      img {
        transition: transform ease .6s;
      }
    }
    > div {
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }
    &:hover img {
      transform: scale(1.2);
    }
  }

  &-content {
    @extend %clearfix;
  }

  &-footer {
    max-width: 90px;
    padding: 5px;
    margin: 0 auto;
    display: block;
    border-radius: 2px;
    color: #616161;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    &:hover {
      color: #616161;
      background-color: #f3f3f3;
    }
  }

  &#result-filter {
    @media (max-width: $screen-md-min) { display: none; }
  }
}
@media (max-width: $screen-xs-max) {
  .widget {
    &-title {
      font-size: 18px;
      span {}
    }
    &-item {
      img {}
      div {}
    }
  }
}

.widget-feed {
  @extend %clearfix;
  padding: 15px 0;
}
.widget-box-user {
  @media (max-width: $screen-sm-min) {
      margin-bottom: 30px;
  }
}
.widget-feed-category { margin-bottom: 20px }
.widget-comunities { margin-top: 20px }
