/*---
title: Button
resume: custom buttons
section: Default
---

```example
<button type="submit" class="customform-button">Button</button>
```

*/

.customform {
  &-button {
    @extend .btn;
    border: 1px solid;
    background-color: transparent;
    color: #0160b0;
    border-radius: 5px;
    &.primary {
      background-color: #0160b0;
      color: #fff;
      &:hover {
        background-color: darken(#0160b0, 12%);
        color: #fff;
      }
    }
    &:hover {
      color: darken(#0160b0, 12%);
    }
    &:last-child { margin-left: 10px }
  }
}
