/*---
title: Input
resume: New input for registration form
section: Default
---

My ``styleguide`` includes two predefined **button** styles, each serving its own semantic purpose.

```example
<div class="customform">
    <input class="customform-input" type="text" name="name" placeholder="Phillip Júnior">
    <hr>
    <label class="customform-label" for="name">Name</label>
</div>
```

*/
$input-color: #616161 !default;
$input-active-color: #0160b0 !default;
$input-border-color: #bfbfbf !default;
$input-error-color: #e10c14 !default;

.customform {
  position: relative;
	border: none;
	overflow: visible;

  select { background-color: transparent }
  textarea {
    overflow: hidden;
    display: block;
    resize: none;
  }
	&-input {
		box-sizing: border-box;
		width: 100%;
		padding: 12px 6px 6px;
		border: none;
		border-radius: 0;
		box-shadow: none;
		border-bottom: 1px solid $input-border-color;
    background-color: transparent;
		font-size: 14px;
		outline: none;
		cursor: text;

		&::placeholder { transition: color 300ms ease }
		&:not(:focus)::placeholder { color: transparent }
    > .selectize-input {
      &:before {
        content: '';
        display: none;
      }
    }
    .plugin-remove_button div[data-value] {
      padding: 5px;
      line-height: 10px;
      a {
        vertical-align: super;
      }
    }
    &.selectize-dropdown {
      top: 100% !important;
      left: 0 !important;
      width: 100% !important;
      padding: 0;
      border: 1px solid $input-border-color;
    }
    .plugin-remove_button.selectize-dropdown {
      [data-selectable] {
        padding: 5px;
      }
    }
    > .customform-input.selectize-dropdown.single {
      background-color: #fff;
    }
	}

	hr {
		position: relative;
    left: 0; bottom: 1px;
    width: 100%;
    height: 1px;
		margin: 0;
		padding: 0;
    display: block;
		border: none;
		background: $input-active-color;
		font-size: 1px;
    content: '';
		will-change: transform, visibility;
		transition: all 200ms ease-out;
		transform: scaleX(0);
		visibility: hidden;
		z-index: 10;
	}
	&-input:focus ~ hr {
		transform: scaleX(1);
		visibility: visible;
	}
	&-input:focus ~ .gsticon { color: $input-active-color }

	&-label {
		position: absolute;
		top: 10px; left: 6px;
    margin-bottom: 0;
    color: $input-color;
    font-weight: 400;
		font-size: 100%;

		transform-origin: 0 -220%;
		transition: transform 300ms ease;
		pointer-events: none;
    &.active { transform: scale(0.7) }
	}
	&-input:focus ~ &-label {
		color: $input-active-color;
		transform: scale(0.7);
	}
  &.search {
    > &-input { padding-right: 16px }
    .form-search-button {
      position: absolute;
      top: 0; right: 0;
      color: #555;
      background-color: transparent;
    }
  }
  .selectize-input {
    border: none;
    padding: 0;
    box-shadow: none;
  }

  label.error {
    width: 100%;
    font-size: 10px;
    color: $input-error-color;
  }
  &-error {
    color: $input-error-color;

    .customform-input:focus ~ .customform-label,
    .customform-label {
  		color: $input-error-color;
  	}
    hr {
  		transform: scaleX(1);
  		visibility: visible;
      background-color: $input-error-color;
    }

  }
  .selectize-control.single .selectize-input:after {
    display: none;
  }
  &.comunnities-organization {
    .plugin-remove_button.selectize-dropdown {
      position: relative;

      [data-selectable] {
        padding: 10px;
      }
    }
  }
}
