{%extends 'home/layout/base.html' %}

{% block title %}Portal GSTI - Comunidade{% endblock %}

{% block content %}
<main class="container main">
    <div class="perfil-row">
        <!-- mudar para 2.5 -->
        <div class="col-lg-3">
            {% include 'home/partials/sidebar-comunidade.html' %}
        </div>
        <!-- mudar para 9.5 -->
        <div class="col-lg-9">
            <nav class="perfil-navegation">
                <a href="{% url 'ninico:comunidade' %}">Feed</a>•<a href="{% url 'ninico:comunidade-perguntas' %}">Perguntas</a>•<a href="{% url 'ninico:comunidade-membros' %}">Membros</a>•<a class="active" href="{% url 'ninico:comunidade-sobre' %}">Sobre</a>•<a href="{% url 'ninico:comunidade-videos' %}">Vídeos</a>
            </nav>
            <header class="area-title">
                <h2>Sobre</h2>
            </header>
            <hr>
            <div class="about-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem, sint ipsa necessitatibus tempore suscipit provident optio dolorem exercitationem itaque et facere minus. Aliquam minima cupiditate quaerat non amet dolores. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur culpa, sapiente dignissimos numquam voluptate dolor tenetur delectus. Quidem sed, cupiditate voluptatibus. Doloribus ab eveniet at quae laudantium distinctio, velit tempora.</p>
                <p>Quam quasi cumque doloribus praesentium dicta dolore dolorum saepe enim accusamus reprehenderit accusantium sint eaque, rerum ratione consectetur nulla eum perferendis! Necessitatibus sit voluptas, nihil repellendus iure blanditiis laboriosam, incidunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut voluptatum, rem ex distinctio laudantium ab nemo excepturi sunt ea ducimus perspiciatis aut voluptates laborum molestiae voluptas minima, architecto nostrum odit.</p>
                <p>Laudantium provident ducimus incidunt dolorum ratione, aspernatur vero exercitationem, nam eveniet voluptas deserunt fuga iure! Vero obcaecati, delectus, perferendis sed odit ex atque libero accusamus, commodi nostrum beatae deserunt nobis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt vel eligendi ad numquam impedit beatae quibusdam unde itaque a, maiores ipsam officiis ea sint dignissimos ipsa laudantium quisquam veniam, sunt.</p>
            </div>
        </div>
</div>
</main>
{% endblock %}