{%extends 'home/layout/base.html' %}

{% block title %}Portal GSTI - Comunidade{% endblock %}

{% block content %}
<main class="container">
<div class="perfil-row">
    <!-- mudar para 2.5 -->
    <div class="col-lg-3">
        {% include 'home/partials/sidebar-comunidade.html' %}
    </div>
    <!-- mudar para 9.5 -->
    <div class="col-lg-9">
        <nav class="perfil-navegation">
            <a href="{% url 'ninico:comunidade' %}">Feed</a>•<a class="active" href="{% url 'ninico:comunidade-perguntas' %}">Perguntas</a>•<a href="{% url 'ninico:comunidade-membros' %}">Membros</a>•<a href="{% url 'ninico:comunidade-sobre' %}">Sobre</a>•<a href="{% url 'ninico:comunidade-videos' %}">Vídeos</a>
        </nav>
        <div class="row">
            <div class="col-lg-8">
                <header class="area-title">
                    <h2>Perguntas</h2>
                </header>
                <nav class="form-search">
                    {% include 'home/partials/search.html' with placehold='Pesquise no seu feed' only %}
                </nav>
                <section class="area-content">
                    <div class="text-right">
                        <a href="javascript:;" class="btn btn-default">Respondidas</a>
                        <a href="javascript:;" class="btn btn-default">Não respondidas</a>
                        <br><br>
                    </div>
                    {% for x in 'Lorem' %}
                        {% include 'home/partials/comunidade-question.html' %}
                    {% endfor %}
                </section>
            </div>
            <div class="col-lg-4">
                <div class="squad-advertising">
                    <img class="img-responsive" src="http://placehold.it/270x225" alt="Propaganda aqui">
                </div>
                <div class="widget widget-feed">
                    <div class="widget-header">
                        <header class="area-title">
                            <h3>Destaque</h3>
                        </header>
                    </div>
                    <div class="widget-content">
                        <a class="article-excerpt">
                            <img src="http://placehold.it/70x53" alt="Imagem 1">
                            <span>Microsoft lança software beta para migrar aplicativos iOS para Windows</span>
                        </a>
                        <a class="article-excerpt">
                            <img src="http://placehold.it/70x53" alt="Imagem 1">
                            <span>Microsoft lança software beta para migrar aplicativos iOS para Windows</span>
                        </a>
                        <a class="article-excerpt">
                            <img src="http://placehold.it/70x53" alt="Imagem 1">
                            <span>Microsoft lança software beta para migrar aplicativos iOS para Windows</span>
                        </a>
                        <a class="article-excerpt">
                            <img src="http://placehold.it/70x53" alt="Imagem 1">
                            <span>Microsoft lança software beta para migrar aplicativos iOS para Windows</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}