{%extends 'home/layout/base.html' %}

{% block title %}Portal GSTI - Comunidade{% endblock %}

{% block content %}
<main class="container main">
<div>
    <!-- mudar para 2.5 -->
    <div class="col-lg-3">
        {% include 'home/partials/sidebar-comunidade.html' %}
    </div>
    <!-- mudar para 9.5 -->
    <div class="col-lg-9">
        <nav class="perfil-navegation">
            <a class="active" href="{% url 'ninico:comunidade' %}">Feed</a>•<a href="{% url 'ninico:comunidade-perguntas' %}">Perguntas</a>•<a href="{% url 'ninico:comunidade-membros' %}">Membros</a>•<a href="{% url 'ninico:comunidade-sobre' %}">Sobre</a>•<a href="{% url 'ninico:comunidade-videos' %}">Vídeos</a>
        </nav>
        <div class="row">
            <div class="col-lg-8">
                <header class="area-title">
                    <h2>Feed</h2>
                </header>
                <nav class="form-search">
                    {% include 'home/partials/search.html' with placehold='Pesquise no seu feed' only %}
                </nav>
                <section class="area-content">
                    {% for x in 'Lorem' %}
                        {% include 'home/partials/perfil-post.html' %}
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}
<div class="modal">
    modal here
</div>
