{%extends 'home/layout/base.html' %}

{% block title %}Portal GSTI - Perfil{% endblock %}

{% block content %}
<main class="container main">
<div>
    <!-- mudar para 2.5 -->
    <div class="col-lg-3">
        {% include 'home/partials/sidebar-perfil.html' %}
    </div>
    <!-- mudar para 9.5 -->
    <div class="col-lg-9">
        <nav class="perfil-navegation">
            <a href="{% url 'ninico:feed' %}">Feed</a>•<a class="active" href="{% url 'ninico:perfil' %}">Perfil</a>•<a href="{% url 'ninico:about' %}">Sobre</a>•<a href="{% url 'ninico:communities' %}">Comunidades</a>•<a href="{% url 'ninico:relationship' %}">Relacionamentos</a>•<a href="{% url 'ninico:videos' %}">Vídeos</a>
        </nav>
        <div class="row">
            <div class="col-lg-8">
                <header class="area-title">
                    <h2>Configurações</h2>
                </header>
                <section class="area-content">
                    <h3><i class="gsticon gsticon-user"></i> Conta</h3>
                    Mudar senha
                    <form>
                        <div class="form-group">
                            <input class="form-control" type="password" placeholder="Senha atual">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" placeholder="Nova senha">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" placeholder="Confirma senha">
                        </div>
                        <button class="pull-right btn-default">Salvar</button>
                    </form>
                </section>
            </div>
            <div class="col-lg-4">
                <div class="widget widget-box">
                    <div class="widget-content">
                        <ul class="perfil-repositories">
                            <li><a href="javascript:;"><i class="gsticon gsticon-user"></i> Conta</a></li>
                            <li><a href="javascript:;"><i class="gsticon gsticon-bell"></i> Notificações</a></li>
                        </ul>
                    </div>
                </div>
                <div class="squad-advertising">
                    <img class="img-responsive" src="http://placehold.it/270x225" alt="Propaganda aqui">
                </div>
                <div class="widget widget-feed">
                    <div class="widget-header">
                        <span class="counter">168</span>
                        <header class="area-title">
                            <h3>Comunidades</h3>
                        </header>
                    </div>
                    <div class="widget-content">
                        <div class="perfil">
                            <img src="http://placehold.it/82" alt="Imagem 1">
                            <a class="perfil-name" href="javascript:;">Python</a>
                            <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                            <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                        </div>
                        <div class="perfil">
                            <img src="http://placehold.it/82" alt="Imagem 1">
                            <a class="perfil-name" href="javascript:;">Python</a>
                            <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                            <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                        </div>
                        <div class="perfil">
                            <img src="http://placehold.it/82" alt="Imagem 1">
                            <a class="perfil-name" href="javascript:;">Python</a>
                            <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                            <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                        </div>
                    </div>
                    <a class="widget-footer" href="javascript:;">
                        <i class="gsticon gsticon-plus"></i>
                        Ver todos
                    </a>
                </div>
                <div class="widget widget-feed">
                    <div class="widget-header">
                        <span class="counter">168</span>
                        <header class="area-title">
                            <h3>Seguindo</h3>
                        </header>
                    </div>
                    <div class="widget-content">
                        <div class="perfil">
                            <img src="http://placehold.it/82" alt="Imagem 1">
                            <a class="perfil-name" href="javascript:;">Python</a>
                            <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                            <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                        </div>
                        <div class="perfil">
                            <img src="http://placehold.it/82" alt="Imagem 1">
                            <a class="perfil-name" href="javascript:;">Python</a>
                            <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                            <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                        </div>
                        <div class="perfil">
                            <img src="http://placehold.it/82" alt="Imagem 1">
                            <a class="perfil-name" href="javascript:;">Python</a>
                            <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                            <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                        </div>
                    </div>
                    <a class="widget-footer" href="javascript:;">
                        <i class="gsticon gsticon-plus"></i>
                        Ver todos
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}