{%extends 'home/layout/base.html' %}

{% block title %}Portal GSTI - Perfil, Editar Publicações{% endblock %}

{% block content %}
<main class="container main">
    <div class="row">
        <!-- mudar para 2.5 -->
        <div class="col-lg-3">
            {% include 'home/partials/sidebar-perfil.html' %}
        </div>
        <!-- mudar para 9.5 -->
        <div class="col-lg-9">
            <nav class="perfil-navegation">
                <a class="active" href="{% url 'ninico:feed' %}">Feed</a>•<a href="{% url 'ninico:perfil' %}">Perfil</a>•<a href="{% url 'ninico:about' %}">Sobre</a>•<a href="{% url 'ninico:communities' %}">Comunidades</a>•<a href="{% url 'ninico:relationship' %}">Relacionamentos</a>•<a href="{% url 'ninico:videos' %}">Vídeos</a>
            </nav>
            <div class="row">
                <div class="col-sm-12">
                    <header class="area-title">
                        <h2>Editar Publicações</h2>
                    </header>
                    <div class="row">
                        <div class="col-sm-8">
                            <nav class="form-search">
                                {% include 'home/partials/search.html' with placehold='Editar uma publicação' only %}
                            </nav>
                        </div>
                        <div class="col-sm-4">
                            <div class="custom-select">
                                <select class="form-control" name="type_publication">
                                    <option value="all">Todos</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <section class="area-content">
                        <article class="publication">
                            <div class="publication-container clearfix">
                                <img class="publication-image img-responsive" src="https://unsplash.it/95/70?image=816" alt="Technology application">
                                <div class="publication-content">
                                    <h3 class="publication-title">Microsoft lança software beta para migrar aplicativos iOS para Windows</h3>
                                </div>
                            </div>
                            <footer class="publication-footer clearfix">
                                <time class="publication-footer-date" datetime="06-17-2015">10/06/2015 às 01:34</time>
                                <nav class="publication-footer-menu">
                                    <a class="publication-footer-menu-item" href="javascript:;">Editar</a>
                                    <a class="publication-footer-menu-item" href="javascript:;">Visualizar</a>
                                    <a class="publication-footer-menu-item" href="javascript:;">Excluir</a>
                                </nav>
                            </footer>
                        </article>
                        <article class="publication">
                            <div class="publication-container clearfix">
                                <div class="publication-content">
                                    <small class="publication-type question">Pergunta:</small>
                                    <h3 class="publication-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit?</h3>
                                </div>
                            </div>
                            <footer class="publication-footer clearfix">
                                <time class="publication-footer-date" datetime="06-17-2015">10/06/2015 às 01:34</time>
                                <nav class="publication-footer-menu">
                                    <a class="publication-footer-menu-item" href="javascript:;">Editar</a>
                                    <a class="publication-footer-menu-item" href="javascript:;">Visualizar</a>
                                    <a class="publication-footer-menu-item" href="javascript:;">Excluir</a>
                                </nav>
                            </footer>
                        </article>
                        <article class="publication">
                            <div class="publication-container clearfix">
                                <div class="publication-content">
                                    <small class="publication-type draft">Rascunho:</small>
                                    <h3 class="publication-title">Microsoft lança software beta para migrar aplicativos iOS para Windows</h3>
                                </div>
                            </div>
                            <footer class="publication-footer clearfix">
                                <time class="publication-footer-date" datetime="06-17-2015">10/06/2015 às 01:34</time>
                                <nav class="publication-footer-menu">
                                    <a class="publication-footer-menu-item" href="javascript:;">Editar</a>
                                    <a class="publication-footer-menu-item" href="javascript:;">Visualizar</a>
                                    <a class="publication-footer-menu-item" href="javascript:;">Excluir</a>
                                </nav>
                            </footer>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}