{% extends 'home/layout/base.html'%}

{% load cache article_blocks user_agents %}
{% load home_cache %}
{% load home_blocks %}
{% load bighomecache %}
{% load ads %}
{% load static_versioned %}
{% block seo-og-title %}{% block seo_title %}Portal GSTI - Um mundo de informações para TI{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}O seu portal definitivo de TI. Conteúdo, área para tirar dúvidas, informações sobre vagas de trabalho, concursos e certificações. Conheça nossas comunidades!{% endblock %}{% endblock %}
{% load home %}
{% block page_stylesheet %}
<link rel="stylesheet" href="//unpkg.com/slick-carousel@1.8.1/slick/slick.css">
<link rel="stylesheet" href="//unpkg.com/slick-carousel@1.8.1/slick/slick-theme.css">
<link rel="stylesheet" href="{% static_versioned 'stylesheets/home.css' %}">
{% endblock page_stylesheet %}

{% block logo %}
<h1 class="app-header-logo">
    <a class="app-header-logo-link" href="{% url 'index' %}" title="Portal GSTI">Portal GSTI</a>
</h1>
{% endblock logo %}

{% block content %}
    {#% bighomecache home %#}
        <main class="app-main page-home">
            <div class="page-home-banner">
                {% ads_only_production "home_top" "all" %}
            </div>
            <div class="page-home-container">
                {% article_block 'large' 'governanca-e-gestao' class_name='governance' quantity=2 %}
                <div class="app-card app-card-sign-in">
                    <div class="app-card-content">
                        <h3>Novo no Portal?</h3>
                        <p>Inscreva-se para ficar por dentro <br /> do mundo da tecnologia, publicar<br /> seus artigos e muito mais!</p>
                        <a class="app-button-round" href="{% url 'account:signup' %}">Inscreva-se</a>
                    </div>
                </div>
            </div>
            <div class="page-home-container">
                 {% article_block 'large' 'governanca-e-gestao' class_name='governance' quantity=4 %}
            </div>
            <div class="page-home-container">
                <div class="app-card app-card-no-image">
                    <div class="app-card-content">
                        <a class="app-card-author">
                            <img class="img-circle" src="https://loremflickr.com/30/30/man,woman" alt="" /> Louis Wilton
                        </a>
                        <h3 class="app-card-title">
                            <a href="#">
                                 Aprenda como instalar e entenda a interface do Microsoft Access
                            </a>
                        </h3>
                        <p class="app-card-excerpt">
                            <a href="#">
                             Aprenda como instalar e entenda a interface do Microsoft Access Lorem ipsum indolor...
                            </a></p>
                    </div>
                </div>
                {% article_block 'large' 'governanca-e-gestao' class_name='governance' quantity=2 %}
                {% join_us 20 %}
            </div>
            {% communities_slider %}
            <div class="page-home-container page-home-content-after">
                <div class="page-home-categories">
                     {% article_block 'half3' 'governanca-e-gestao' class_name='governance' quantity=3 %}
                     {% article_block 'half3' 'desenvolvimento' class_name='development' quantity=3 %}
                     {% article_block 'half3' 'design' class_name='design' quantity=3 %}
                     {% article_block 'half3' 'marketing-digital' class_name='marketing' quantity=3 %}
                     {% article_block 'half3' 'banco-de-dados' class_name='infra' quantity=3 %}
                     {% article_block 'half3' 'infraestrutura' class_name='databases' quantity=3 %}
                     {% article_block 'half3' 'mobile' class_name='mobile' quantity=3 %}
                     {% article_block 'half3' 'mais' class_name='more' quantity=3 %}
                </div>
                <div class="page-home-aside">
                    <div class="page-home-aside-box">
                        <h2 class="page-home-aside-box-title">Melhores cursos</h2>
                        <ul class="page-home-aside-box-list">
                            {% for i in "lore" %}
                            <li class="page-home-aside-box-list-item">
                                <a class="page-home-aside-course" href="#">
                                    <img class="page-home-aside-course-image" src="http://localhost:9000/unsafe/100x100/http://kenwheeler.github.io/slick/img/lazyfonz1.png" alt="Imagem ilustrativa do curso A" />
                                    <span class="page-home-aside-course-content">
                                        <span class="page-home-aside-course-title">Curso online para certificação ITL</span>
                                        <span class="page-home-aside-course-flag">gratuito</span>
                                    </span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <a href="#" class="page-home-aside-box-action">Ver todos os cursos</a>
                    </div>
                    <div class="page-home-aside-box">
                        <h2 class="page-home-aside-box-title">Tá todo mundo commitando...</h2>
                        <ul class="page-home-aside-box-list">
                            {% for i in "lorem" %}
                            <li class="page-home-aside-box-list-item">
                                <a class="page-home-aside-commit" href="#">
                                    <span class="page-home-aside-commit-header">
                                        <img class="page-home-aside-commit-image img-circle" src="http://localhost:9000/unsafe/30x30/http://kenwheeler.github.io/slick/img/lazyfonz1.png" alt="">
                                        <span class="page-home-aside-commit-info">
                                            <span class="page-home-aside-commit-author">Darth Vader</span>
                                            <span class="page-home-aside-commit-publish">Há 2 dias</span>
                                        </span>
                                    </span>
                                    <span class="page-home-aside-commit-content">Aprenda como instalar e entenda a interface do Microsoft</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <a href="#" class="page-home-aside-box-action">Quero Commitar!</a>
                    </div>
                    <div class="page-home-aside-box">
                        <h2 class="page-home-aside-box-title">Perguntas</h2>
                        <ul class="page-home-aside-box-list">
                            {% for i in "loremip" %}
                            <li class="page-home-aside-box-list-item">
                                <a class="page-home-aside-question" href="#">
                                     Aprenda como instalar e entenda a interface do Microsoft Access?
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <a href="#" class="page-home-aside-box-action">Ver mais perguntas</a>
                    </div>
                    <div class="page-home-aside-advertising">
                        <img class="img-responsive" src="https://placehold.it/300x600/" alt="">
                    </div>
                </div>
            </div>
        </main>
    {#% endbighomecache %#}
{% endblock %}

{% block javascripts %}
    <div id="fb-root"></div>
    <script src="//unpkg.com/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $(function() {
            $('[data-toggle="carousel"]').slick({
                dots: false,
                infinite: true,
                prevArrow: "<button type='button' class='slick-prev page-home-communities-arrow'><i class='gsticon gsticon-angle-left' aria-hidden='true'></i></button>",
                nextArrow: "<button type='button' class='slick-next page-home-communities-arrow'><i class='gsticon gsticon-angle-right' aria-hidden='true'></i></button>",
                speed: 500,
                variableWidth: true,
                slidesToShow: 8,
                slidesToScroll: 1,
                responsive: [{
                    breakpoint: 769,
                    settings: {
                        arrows: false,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: false,
                        slidesToScroll: 2,
                    }
                }]
            });
        });
    </script>
{% endblock %}
