{% extends 'home/layout/base.html'%}

{% load cache article_blocks user_agents %}
{% load home_cache %}
{% load home_blocks %}
{% load bighomecache %}
{% load ads %}
{% load static_versioned %}
{% block seo-og-title %}{% block seo_title %}Portal GSTI - Um mundo de informações para TI{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}O seu portal definitivo de TI. Conteúdo, área para tirar dúvidas, informações sobre vagas de trabalho, concursos e certificações. Conheça nossas comunidades!{% endblock %}{% endblock %}
{% load home %}
{% block page_stylesheet %}
<link rel="stylesheet" href="//unpkg.com/slick-carousel@1.8.1/slick/slick.css">
<link rel="stylesheet" href="//unpkg.com/slick-carousel@1.8.1/slick/slick-theme.css">
<link rel="stylesheet" href="{% static_versioned 'stylesheets/home.css' %}">
{% endblock page_stylesheet %}

{% block logo %}
<h1 class="app-header-logo">
    <a class="app-header-logo-link" href="{% url 'index' %}" title="Portal GSTI">Portal GSTI</a>
</h1>
{% endblock logo %}

{% block content %}
    {#% bighomecache home %#}
        <main class="app-main page-home">
            <div class="page-home-banner">
                {% ads_only_production "home_top" "all" %}
            </div>
            <div class="page-home-container">
                    {% article_section_large 'governanca-e-gestao' feed_articles_list 1 "governance" %}
                    {% article_section_large 'desenvolvimento' feed_articles_list 1 "development" %}

{#                    {% article_block 'large' 'governanca-e-gestao' class_name='governance' quantity=1 %}#}
{#                    {% article_block 'large' 'desenvolvimento' class_name='development' quantity=1 %}#}

                <div class="app-card app-card-sign-in">
                    <div class="app-card-content">
                        <h3>Novo no Portal?</h3>
                        <p>Inscreva-se para ficar por dentro <br /> do mundo da tecnologia, publicar<br /> seus artigos e muito mais!</p>
                        <a class="app-button-round" href="{% url 'account:signup' %}">Inscreva-se</a>
                    </div>
                </div>
            </div>
            <div class="page-home-container">
                 {% article_section_large 'design' feed_articles_list 2 "design" %}
                 {% article_section_large 'mobile' feed_articles_list 2 "mobile" %}
{#                 {% article_block 'large' 'design' class_name='design' quantity=2 %}#}
{#                 {% article_block 'large' 'mobile' class_name='mobile' quantity=2 %}#}
            </div>
            <div class="page-home-container">
                {% article_section_large 'marketing-digital' feed_articles_list 2 "marketing" %}
                {% article_section_large 'banco-de-dados' feed_articles_list 1 "databases" %}
{#               {% article_block 'large' 'marketing-digital' class_name='marketing' quantity=2 %}#}
{#                {% article_block 'large' 'banco-de-dados' class_name='infra' quantity=1 %}#}
                {% join_us 15 %}
            </div>
            {% cache 30 "community-slider" %}
                {% communities_slider %}
            {% endcache %}
            <div class="page-home-container page-home-news">
                <h2 class="page-home-news-title">Notícias</h2>
                <div class="page-home-news-content">
                    {% article_block 'large' 'governanca-e-gestao' class_name='governance' quantity=4 %}
                </div>
            </div>
            <div class="page-home-container page-home-content-after">
                <div class="page-home-categories">
{#                    {% article_section_half 'banco-de-dados' feed_articles_list 1 "databases" %}#}

                    {% article_section_half 'governanca-e-gestao' feed_articles_list 3 'governance'%}
                    {% article_section_half 'desenvolvimento' feed_articles_list 3 'development' %}
                    {% article_section_half 'design' feed_articles_list 3 'design' %}
                    {% article_section_half 'marketing-digital' feed_articles_list 3 'marketing' %}
                    {% article_section_half 'banco-de-dados' feed_articles_list 3 'infra' %}
                    {% article_section_half 'infraestrutura' feed_articles_list 3 'databases' %}
                    {% article_section_half 'mobile' feed_articles_list 3 'mobile' %}
                    {% article_section_half 'mais' feed_articles_list 3 'more' %}
                </div>
                <div class="page-home-aside">
                   {% last_courses 5 %}
                   {% commits 5 %}
                   {% last_questions 5 %}

                    {% video_section 2 %}
                    <div class="page-home-aside-advertising">
                        <img class="img-responsive" src="https://placehold.it/300x600/" alt="">
                    </div>
                </div>
            </div>

        </main>


    {#% endbighomecache %#}
{% endblock %}

{% block javascripts %}
    <script src="//unpkg.com/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $(function() {
            $('[data-toggle="carousel"]').slick({
                centerMode: true,
                dots: false,
                infinite: true,
                prevArrow: "<button type='button' class='slick-prev communities-slider-arrow'><i class='gsticon gsticon-angle-left' aria-hidden='true'></i></button>",
                nextArrow: "<button type='button' class='slick-next communities-slider-arrow'><i class='gsticon gsticon-angle-right' aria-hidden='true'></i></button>",
                speed: 500,
                variableWidth: true,
                slidesToShow: 8,
                slidesToScroll: 1,
                responsive: [{
                    breakpoint: 769,
                    settings: {
                        arrows: false,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: false,
                        slidesToScroll: 2,
                    }
                }]
            });
        });
    </script>
{% endblock %}
