{% extends 'home/layout/base.html'%}

{% load cache article_blocks user_agents %}
{% load home_cache %}
{% load home_blocks %}
{% load bighomecache %}
{% load ads %}
{% load static_versioned %}
{% block seo-og-title %}{% block seo_title %}Portal GSTI - Um mundo de informações para TI{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}O seu portal definitivo de TI. Conteúdo, área para tirar dúvidas, informações sobre vagas de trabalho, concursos e certificações. Conheça nossas comunidades!{% endblock %}{% endblock %}

{% block page_stylesheet %}
<link rel="stylesheet" href="{% static_versioned 'stylesheets/home.css' %}">
{% endblock page_stylesheet %}

{% block logo %}
<h1 class="app-header-logo">
    <a class="app-header-logo-link" href="{% url 'index' %}" title="Portal GSTI">Portal GSTI</a>
</h1>
{% endblock logo %}

{% block content %}
    {#% bighomecache home %#}
        <main class="app-main page-home">
            <div class="page-home-banner">
                {% ads_only_production "home_top" "all" %}
            </div>
            <div class="page-home-container">
                {% article_block 'large' 'governanca-e-gestao' class_name='governance' quantity=2 %}
                <div class="app-card app-card-sign-in">
                    <div class="app-card-content">
                        <h3>Novo no Portal?</h3>
                        <p>Inscreva-se para ficar por dentro do mundo da tecnologia, publicar seus artigos e muito mais!</p>
                        <a class="app-button-round" href="{% url 'account:signup' %}">Inscreva-se</a>
                    </div>
                </div>
            </div>
            <div class="page-home-container">
                {% for i in "lore" %}
                <div class="app-card ">
                    <a href="#" title="#">
                        <img class="app-card-image img-responsive" alt="#" src="https://loremflickr.com/313/230/technology">
                    </a>
                    <div class="app-card-content">
                        <a class="app-card-author">
                            <img class="img-circle" src="https://loremflickr.com/30/30/man,woman" alt="" /> Louis Wilton
                        </a>
                        <h3 class="app-card-title">
                            <a href="#" title="#">
                                Lorem Ipsum amet do site i is amend
                            </a>
                        </h3>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="page-home-container">
                <div class="app-card app-card-no-image">
                    <div class="app-card-content">
                        <a class="app-card-author">
                            <img class="img-circle" src="https://loremflickr.com/30/30/man,woman" alt="" /> Louis Wilton
                        </a>
                        <h3 class="app-card-title">
                            <a href="#">
                                 Aprenda como instalar e entenda a interface do Microsoft Access
                            </a>
                        </h3>
                        <p class="app-card-excerpt">
                            <a href="#">
                             Aprenda como instalar e entenda a interface do Microsoft Access Lorem ipsum indolor...
                            </a></p>
                    </div>
                </div>
                {% for i in "lo" %}
                <div class="app-card">
                    <a href="#" title="#">
                        <img class="app-card-image img-responsive" alt="#" src="https://loremflickr.com/313/230/technology">
                    </a>
                    <div class="app-card-content">
                        <a class="app-card-author">
                            <img class="img-circle" src="https://loremflickr.com/30/30/man,woman" alt="" /> Louis Wilton
                        </a>
                        <h3 class="app-card-title">
                            <a href="#" title="#">
                                Lorem Ipsum amet do site i is amend
                            </a>
                        </h3>
                    </div>
                </div>
                {% endfor %}
                <div class="app-card app-card-members">
                    <div class="app-card-content">
                        <h3>Junte-se a nós!</h3>
                        <p>Somos mais de 13.333333 membros</p>
                        <div class="members">
                            {%for i in "loremipsumsitde" %}
                            <img class="img-circle" src="https://loremflickr.com/50/50/man,woman" alt="" />
                            {% endfor %}
                        </div>
                        <a class="app-link" href="{% url 'search:search-content' 'users' %}">Ver todos os membors</a>
                        <a class="app-button-round-inverse" href="{% url 'account:signup' %}">Inscreva-se</a>
                    </div>
                </div>
            </div>
            <div class="page-home-container">
                carousel das comunidades
            </div>
            <div class="page-home-container">
                <div class="page-home-categories">
                     {% article_block 'half3' 'governanca-e-gestao' class_name='governance' quantity=3 %}
                     {% article_block 'half3' 'desenvolvimento' class_name='development' quantity=3 %}
                     {% article_block 'half3' 'design' class_name='design' quantity=3 %}
                     {% article_block 'half3' 'marketing-digital' class_name='marketing' quantity=3 %}
                     {% article_block 'half3' 'banco-de-dados' class_name='infra' quantity=3 %}
                     {% article_block 'half3' 'infraestrutura' class_name='databases' quantity=3 %}
                     {% article_block 'half3' 'mobile' class_name='mobile' quantity=3 %}
                     {% article_block 'half3' 'mais' class_name='more' quantity=3 %}
                </div>
                <div class="page-home-aside">aside content</div>
            </div>
        </main>
    {#% endbighomecache %#}
{% endblock %}

{% block javascripts %}
        <div id="fb-root"></div>
        <script>

            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id; js.async = true;
                js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.4&appId=625566967570537";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
{% endblock %}
