{%extends 'home/layout/base.html' %}

{% block content %}
<div class="perfil-row">
    <!-- mudar para 2.5 -->
    <div class="col-lg-3">
        <div class="widget widget-box">
            <div class="widget-content">
                <div class="perfil">
                    <img class="img-responsive" src="http://placehold.it/82" alt="Imagem 1">
                    <a class="perfil-name" href="javascript:;">Python</a>
                    <a class="perfil-counter" href="javascript;;"><span class="counter-number">180</span> Seguidores</a>
                    <a class="perfil-counter" href="javascript:;"><span class="counter-number">88</span> Artigos</a>
                </div>
            </div>
        </div>
        <div class="widget widget-box">
            <div class="widget-content">
                <ul class="perfil-actions">
                    <li>
                    <i class="gsticon gsticon-external-link"></i>
                    <a href="javascript:;"><i class="gsticon gsticon-question-circle"></i> Perguntar</a>
                    </li>
                    <li>
                        <i class="gsticon gsticon-external-link"></i>
                        <a href="javascript:;"><i class="gsticon gsticon-file-text"></i> Criar  artigo</a>
                    </li>
                    <li>
                        <i class="gsticon gsticon-external-link"></i>
                        <a href="javascript:;"><i class="gsticon gsticon-pencil-square-o"></i> Editar perfil</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="widget widget-box">
            <div class="widget-content">
                <ul class="perfil-repositories">
                    <li><a href="javascript:;"><i class="gsticon gsticon-star"></i> Favoritos</a></li>
                    <li><a href="javascript:;"><i class="gsticon gsticon-eye"></i> Ver depois</a></li>
                    <li><a href="javascript:;"><i class="gsticon gsticon-paper-plane"></i> Sugestões</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- mudar para 9.5 -->
    <div class="col-lg-9">
        <nav class="perfil-navegation">
            <a href="javascript::">Feed</a>•<a href="javascript::">Perfil</a>•<a href="javascript::">Sobre</a>•<a href="javascript::">Comunidades</a>•<a href="javascript::">Relacionamentos</a>•<a href="javascript::">Vídeos</a>
        </nav>
        <div class="row">
            <div class="col-lg-8">
                <header class="area-title">
                    <h2>Feed</h2>
                </header>
                <section class="area-content">
                    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
                        <header class="post-header">
                            <div class="post-info">
                                <time datetime="06-17-2015" itemprop="datePublished">10/06/2015 às 01:34</time>
                                <a href="javascript:;" data-toggle="dropdown"><i class="gsticon gsticon-gear"></i></a>
                                <ul class="dropdown-menu list-unstyled">
                                    <li><a href="javascript:;"><i class="gsticon gsticon-edit"></i> Editar publicação</a></li>
                                    <li><a href="javascript:;"><i class="gsticon gsticon-paper-plane"></i> Sugerir</a></li>
                                    <li><a href="javascript:;"><i class="gsticon gsticon-eye"></i> Ver depois</a></li>
                                    <li><a href="javascript:;"><i class="gsticon gsticon-star"></i> Favoritar</a></li>
                                    <li><a href="javascript:;"><i class="gsticon gsticon-exclamation-triangle"></i> Denunciar</a></li>
                                </ul>
                            </div>
                            <a class="post-creator" href="javascript:;">
                                <img src="http://placehold.it/20" alt="Creator Porst Avatar">
                                Iury Silva</a>
                        </header>
                        <div class="post-content" itemprop="articleBody">
                            <figure>
                                <img src="http://placehold.it/170x128" alt="Post Image">
                            </figure>
                            <div class="post-text">
                                <h3 class="post-title" itemprop="headline">Microsoft lança sofware beta para migrar aplicativos iOS para Windows</h3>
                                <p>Aí, a gente pega essa bandeira, bonitinha, que estava ali no canto. Os caras gritam no ouvido dela e como ela não tem preparo, levanta a bandeira</p>
                            </div>
                        </div>
                        <footer class="post-footer">
                            <nav class="post-communities">
                                <a href="javascript:;" class="link-to-community">Java</a>•<a href="javascript:;" class="link-to-community">MySQL</a>•<a href="javascript:;" class="link-to-community" data-toggle="dropdown">Mais <i class="gsticon gsticon-angle-down"></i></a>
                            </nav>
                            <div class="post-toolbar pull-right">
                                <div class="post-count">
                                    <a href="javascript:;" class="post-votes-up">1.026 <i class="gsticon gsticon-caret-up"></i></a>
                                    <a href="javascript:;" class="post-votes-dow"><i class="gsticon gsticon-caret-down"></i> 4</a>
                                </div>
                                <div class="post-count-comments"><strong>32</strong> Comentários</div>
                            </div>
                        </footer>
                    </article>
                </section>
            </div>
            <div class="col-lg-4">
                <div class="squad-advertising">
                    <img class="img-responsive" src="http://placehold.it/270x225" alt="Propagando aqui">
                </div>
                <div class="widget widget-feed">
                    <div class="widget-header">
                        <h3>Comunidades</h3>
                    </div>
                    <div class="widget-content">
                        <div class="perfil">
                            <img src="http://placehold.it/82" alt="Imagem 1">
                            <a class="perfil-name" href="javascript:;">Python</a>
                            <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                            <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                        </div>
                        <div class="perfil">
                            <img src="http://placehold.it/82" alt="Imagem 1">
                            <a class="perfil-name" href="javascript:;">Python</a>
                            <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                            <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                        </div>
                        <div class="perfil">
                            <img src="http://placehold.it/82" alt="Imagem 1">
                            <a class="perfil-name" href="javascript:;">Python</a>
                            <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                            <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                        </div>
                    </div>
                    <a class="widget-footer" href="javascript:;">
                        <i class="gsticon gsticon-plus"></i>
                        Ver todos
                    </a>
                </div>
                <div class="widget widget-feed">
                    <div class="widget-header">
                        <h3>Seguindo</h3>
                    </div>
                    <div class="widget-content">
                        <div class="perfil">
                            <img src="http://placehold.it/82" alt="Imagem 1">
                            <a class="perfil-name" href="javascript:;">Python</a>
                            <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                            <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                        </div>
                        <div class="perfil">
                            <img src="http://placehold.it/82" alt="Imagem 1">
                            <a class="perfil-name" href="javascript:;">Python</a>
                            <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                            <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                        </div>
                        <div class="perfil">
                            <img src="http://placehold.it/82" alt="Imagem 1">
                            <a class="perfil-name" href="javascript:;">Python</a>
                            <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                            <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                        </div>
                    </div>
                    <a class="widget-footer" href="javascript:;">
                        <i class="gsticon gsticon-plus"></i>
                        Ver todos
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}