{%extends 'home/layout/base.html' %}

{% block title %}Portal GSTI - Perfil{% endblock %}

{% block content %}
<div class="perfil-row">
    <div class="col-lg-1">asdfasd</div>
    <article class="col-lg-8 full-post">
        <header class="post-header">
            <div class="post-info">
                <time datetime="06-17-2015" itemprop="datePublished">10/06/2015 às 01:34</time>
                <a href="javascript:;" data-toggle="dropdown"><i class="gsticon gsticon-gear"></i></a>
                <div class="dropdown-menu">
                    <ul class="perfil-actions">
                        <li><a href="javascript:;"><i class="gsticon gsticon-edit"></i> Editar publicação</a></li>
                        <li><a href="javascript:;"><i class="gsticon gsticon-paper-plane"></i> Sugerir</a></li>
                        <li><a href="javascript:;"><i class="gsticon gsticon-eye"></i> Ver depois</a></li>
                        <li><a href="javascript:;"><i class="gsticon gsticon-star"></i> Favoritar</a></li>
                        <li><a href="javascript:;"><i class="gsticon gsticon-exclamation-triangle"></i> Denunciar</a></li>
                    </ul>
                </div>
            </div>
            <a class="post-creator" href="javascript:;">
                <img src="http://placehold.it/20" alt="Creator Porst Avatar">
                Iury Silva</a>
            <h1>Microsoft lança software beta para migrar aplicativos iOS para Windows</h1>
        </header>
        <aside class="post-footer">
            <nav class="post-communities">
                <a href="javascript:;" class="link-to-community">Java</a>•<a href="javascript:;" class="link-to-community">MySQL</a>•<a href="javascript:;" class="link-to-community" data-toggle="dropdown">Mais <i class="gsticon gsticon-angle-down"></i></a>
                <div class="dropdown-menu">
                    <ul class="perfil-actions">
                        <li><a href="javascript:;">matemática</a></li>
                        <li><a href="javascript:;">Português</a></li>
                        <li><a href="javascript:;">Literatura</a></li>
                        <li><a href="javascript:;">Termodinâmica</a></li>
                        <li><a href="javascript:;">Física</a></li>
                    </ul>
                </div>
            </nav>
            <div class="post-toolbar pull-right">
                <div class="post-count">
                    <a href="javascript:;" class="post-votes-up">1.026 <i class="gsticon gsticon-caret-up"></i></a>
                    <a href="javascript:;" class="post-votes-dow"><i class="gsticon gsticon-caret-down"></i> 4</a>
                </div>
                <div class="post-count-comments"><strong>32</strong> Comentários</div>
            </div>
        </aside>
        <div class="full-post-content">
            <img class="img-responsive pull-left full-post-image" src="http://placehold.it/350x260" alt="Imagem de exempĺo">
            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá  depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce Vreceita de bolis, mais bolis eu num gostis.  uco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, lorempalavris qui num significa nadis i pareci latim. Interessan</p>
            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
            <p>Casamentiss faiz malandris se pirulitá, Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet</p>
            <div class="post-advertising text-center">
                <img src="http://placehold.it/728x90" alt="Propaganda">
            </div>
        </div>
        <div class="share-this-post">
            <h3>COMPARTILHE</h3>
        </div>
    </article>
    <div class="col-lg-3">
        <div class="squad-advertising">
            <img class="img-responsive" src="http://placehold.it/270x225" alt="Propaganda aqui">
        </div>
        <div class="widget widget-feed">
            <div class="widget-header">
                <header class="area-title">
                    <h3>Comunidades</h3>
                </header>
            </div>
            <div class="widget-content">
                <div class="perfil">
                    <img src="http://placehold.it/82" alt="Imagem 1">
                    <a class="perfil-name" href="javascript:;">Python</a>
                    <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                    <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                </div>
                <div class="perfil">
                    <img src="http://placehold.it/82" alt="Imagem 1">
                    <a class="perfil-name" href="javascript:;">Python</a>
                    <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                    <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                </div>
                <div class="perfil">
                    <img src="http://placehold.it/82" alt="Imagem 1">
                    <a class="perfil-name" href="javascript:;">Python</a>
                    <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                    <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                </div>
            </div>
            <a class="widget-footer" href="javascript:;">
                <i class="gsticon gsticon-plus"></i>
                Ver todos
            </a>
        </div>
        <div class="widget widget-feed">
            <div class="widget-header">
                <span class="counter">168</span>
                <header class="area-title">
                    <h3>Seguindo</h3>
                </header>
            </div>
            <div class="widget-content">
                <div class="perfil">
                    <img src="http://placehold.it/82" alt="Imagem 1">
                    <a class="perfil-name" href="javascript:;">Python</a>
                    <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                    <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                </div>
                <div class="perfil">
                    <img src="http://placehold.it/82" alt="Imagem 1">
                    <a class="perfil-name" href="javascript:;">Python</a>
                    <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                    <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                </div>
                <div class="perfil">
                    <img src="http://placehold.it/82" alt="Imagem 1">
                    <a class="perfil-name" href="javascript:;">Python</a>
                    <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                    <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                </div>
            </div>
            <a class="widget-footer" href="javascript:;">
                <i class="gsticon gsticon-plus"></i>
                Ver todos
            </a>
        </div>
    </div>
</div>
{% endblock %}