// COLORS
$primary-color: #0072bc !default;

// SCREENS WIDTH
$screen-phone: 480px !default;
$screen-tablet: 768px !default;
$screen-desktop: 1024px !default;
$screen-wide: 1440px !default;

$container-tablet: 738px !default;
$container-desktop: 994px !default;
$container-wide: 1316px !default;