{% extends 'home/layout/base.html'%}
{% load i18n %}
{% block content %}
<main class="container">
<div class="perfil-row">
    <!-- mudar para 2.5 -->
    <div class="col-lg-3">
        {% include 'home/partials/sidebar-perfil.html' %}
    </div>
    <div class="col-lg-9">
        <nav class="perfil-navegation">
            <a href="{% url 'ninico:feed' %}">Feed</a>•<a href="{% url 'ninico:perfil' %}">Perfil</a>•<a href="{% url 'ninico:about' %}">Sobre</a>•<a href="{% url 'ninico:communities' %}">Comunidades</a>•<a href="{% url 'ninico:relationship' %}">Relacionamentos</a>•<a href="{% url 'ninico:videos' %}">Vídeos</a>
        </nav>
        <div class="row">
            <div class="col-lg-8">
                <div class="area-title">
                    <h2>Editar Perfil</h2>
                </div>
                <form class="area-content" action="{% url 'profile:edit' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <label for="first_name">Nome</label>
                            <input class="form-control" type="text" name="first_name" value="{{ request.user.first_name }}">
                        </div>
                        <div class="col-lg-6 form-group">
                            <label for="last_name">Sobrenome</label>
                            <input class="form-control" type="text" name="last_name" value="{{ request.user.last_name }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <label for="residency_state">Estado que mora</label>
                            <select class="form-control" name="residency_state">
                                <option value="ba">Bahia</option>
                            </select>
                        </div>
                        <div class="col-lg-6 form-group">
                            <label for="residency_city">Cidade que mora</label>
                            <select class="form-control" name="residency_city">
                                <option value="ssa">Salvador</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <label for="occupation_area">Área de atuação</label>
                            <input class="form-control" type="text" name="occupation_area">
                        </div>
                        <div class="col-lg-6 form-group">
                            <label for="birthday">Data de Nascimento</label>
                            <input class="form-control" type="text" name="birth" placeholder="{% trans "Birth date" %}" value="{{ form.data_model.birth|date:"d/m/Y" }}">
                        </div>
                    </div>
                    <input type="submit" value="Enviar" class="btn btn-default pull-right">
                </form>
            </div>
            <div class="col-lg-4">
                <div class="squad-advertising">
                    <img class="img-responsive" src="http://placehold.it/270x225" alt="Propaganda aqui">
                </div>
            </div>
        </div>
    </div>
<p>
    {{ request.user.first_name }} {{ request.user.last_name }} edit profile
</p>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form action="{% url 'profile:edit' %}" method="post" enctype="multipart/form-data">

    {% csrf_token %}

    <input type="text" name="birth" placeholder="{% trans "Birth date" %}" value="{{ form.data_model.birth|date:"d/m/Y" }}">
    {% if form.birth.errors %}  {{ form.birth.errors }} {% endif %}
    <br/>

    <label for="male">
        <input type="radio" id="male" name="gender" value="{{ gender.MALE }}" {% if form.data_model.gender == gender.MALE %}checked{% endif %}/> {% trans 'Male' %}
    </label>
    <label for="female">
        <input type="radio" id="female" name="gender" value="{{ gender.FEMALE }}" {% if form.data_model.gender == gender.FEMALE %}checked{% endif %}/> {% trans 'Female' %}
    </label>
    <br/>


    <select name="country" id="country">
        <option value="" {% if not form.data.city %}selected{% endif %} disabled>{% trans "Select a country" %}</option>
        {% for country in countries %}
            <option value="{{ country.id }}" {% if form.data_model.city.state.country.id == country.id %}selected{% endif %}>{{ country.name }}</option>
        {% endfor %}
    </select>

    <select name="state" id="state">
        {% for state in form.data_model.city.state.country.states.all %}
            <option value="{{ state.id }}" {% if form.data_model.city.state.id == state.id %}selected{% endif %}>{{ state.name }}</option>
        {% endfor %}
    </select>


        <select name="city" id="city">
        {% for city in form.data_model.city.state.cities.all %}
            <option value="{{ city.id }}" {% if form.data.city.id == city.id %}selected{% endif %}>{{ city.name }}</option>
        {% endfor %}
    </select>
    {% if form.city.errors %}  {{ form.city.errors }} {% endif %}
    <br/>

    <!--
    <input type="text" name="responsability" placeholder="{% trans 'Responsability' %}"/>
    <input type="text" name="description" placeholder="{% trans 'Description of the responsability' %}" style="width: 200px;"/>
    <br/>

    <input type="text" name="responsability" placeholder="{% trans 'Responsability' %}"/>
    <input type="text" name="description" placeholder="{% trans 'Description of the responsability' %}" style="width: 200px;"/>
    <br/>

    <input type="text" name="responsability" placeholder="{% trans 'Responsability' %}"/>
    <input type="text" name="description" placeholder="{% trans 'Description of the responsability' %}" style="width: 200px;"/>
    -->

    {#    {{ form.occupation }}#}
    {#    {% if form.occupation.errors %}{{ form.occupation.errors }}{% endif %}#}


{#    {{ formset.management_form }}#}
{#    <div style="display:none;" id="form_template">#}
{#        {{ formset.empty_form.as_p }}#}
{#    </div><!-- stores empty form for javascript -->#}
{#    <div id="forms"></div><!-- where the generated forms go -->#}
{#    <input type="text" name="quantity" value="6" />#}
{#    <input type="button" id="generate_forms" value="Generate Forms" />#}

{#    <br/>#}
    <br/>

    {% if form.data_model.profile_picture %}
        <img src="{{ form.data_model.profile_picture.url }}" alt=""/>
    {% endif %}
    <input type="file" name="profile_picture" id="profile_picture"/>
    {% if form.profile_picture.errors %}  {{ form.profile_picture.errors }} {% endif %}

    {{ form.non_field_errors }}


    <input type="submit" value="{% trans "Submit" %}" name="submit" />
    {% trans 'or' %} <a href="{% url 'account:index' %}">{% trans 'Go to account index' %}</a>

</form>
</div>
</main>
{% endblock %}
    <script>
    function fill_states(obj){

            $.ajax({
                url: "{% url 'profile:get_state' %}",
                method: "POST",
                dataType: "html",
                data: {
                    country_id: obj.val(),
                    csrfmiddlewaretoken: $("input:hidden[name='csrfmiddlewaretoken']").val()
                },
                success: function(response) {
                    $("#state").html(response);
                    $("#city").html('');
                }
            });
    }
    function fill_cities(obj){

            $.ajax({
                url: "{% url 'profile:get_city' %}",
                method: "POST",
                dataType: "html",
                data: {
                    state_id: obj.val(),
                    csrfmiddlewaretoken: $("input:hidden[name='csrfmiddlewaretoken']").val()
                },
                success: function(response) {
                    $("#city").html(response);
                }
            });
    }

    $(function() {
        var $countySelect = $("#country");
        var $stateSelect = $("#state");

        $countySelect.on("change", function() {
            fill_states($(this));
        });

        $stateSelect.on("change", function() {
            fill_cities($(this));
        });

    });
</script>


