{% load i18n %}


<form action="{% url 'profile:occupation_add' %}" method="post">

    {% csrf_token %}

    <input type="text" name="responsibility" value="{{ form.cleaned_data.responsibility|default_if_none:"" }}" placeholder="{% trans "Responsibility" %}">
    {% if form.responsibility.errors %}  {{ form.responsibility.errors }} {% endif %}
    <br/>

    <input type="text" name="company" value="{{ form.cleaned_data.company|default_if_none:"" }}" placeholder="{% trans "Company" %}">
    {% if form.company.errors %}  {{ form.company.errors }} {% endif %}
    <br/>
    <br/>

    {{ form.non_field_errors }}

    <input type="submit" value="{% trans "Submit" %}" name="submit">
    {% trans 'or' %} <a href="{% url 'account:index' %}">{% trans 'Go to account index' %}</a>

</form>