{%extends 'home/layout/base.html' %}
{% load staticfiles %}

{% block title %}Portal GSTI - Perfil{% endblock %}

{% block content %}
    <main class="container main">
        <div class="row">
            <div class="col-lg-3">
                {% include 'home/partials/sidebar-perfil.html' %}
            </div>
            <div class="col-lg-9">
                <nav class="perfil-navegation">
                    {% if profile.user == request.user %}<a href="{% url 'profile:feed' %}">Feed</a> •{% endif %}
                    <a class="active" href="{% url 'profile:show' username=profile.user.username %}">Perfil</a> •
                    <a href="{% url 'profile:communities' username=profile.user.username %}">Comunidades</a> •
                    <a href="{% url 'profile:followers' username=profile.user.username %}">Relacionamentos</a> •
                    <a href="{% url 'profile:videos' profile.user.username %}">Vídeos</a>
                </nav>
                <div class="row">
                    <div class="col-lg-8">
                        <header class="area-title">
                            <h2>Perfil</h2>
                        </header>
                        {% if isLogged %}
                            <!-- A "barra" de pesquisa não é exibida no feed, somente no -->
                            <nav class="form-search">
                                <form action="{% url 'profile:search' user.username %}" method="GET" role="search">
                                    <div class="form-search-input">
                                        <input type="text" name="criterio" placeholder="{{placehold|default:"Procure pessoas, comunidades, etc."}}">
                                    </div>
                                    <button type="submit" class="form-search-button">
                                        <i class="gsticon gsticon-search"></i>
                                    </button>
                                </form>
                            </nav>
                        {% endif %}
                        <section class="area-content">
                            {% if feed_objects.object_list %}
                            <div class="j-scroll j-scroll-container">
                                {% include 'userprofile/partials/user-profile-list.html' %}
                            </div>
                            {% else %}
                                <span>Não existem itens a serem exibidos</span>
                            {% endif %}
                        </section>
                    </div>
                    <!-- Right bar -->
                    {% include 'userprofile/partials/profile-sidebar-right.html' %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block javascripts %}
    {{ block.super }}

    <script>
        $(function() {
            $(".j-scroll").jscroll({
                loadingHtml: '<span>Carregando...</span>',
                contentSelect: ".j-scroll-container",
                nextSelect: "a[data-jscroll-next]",
                callback: refreshAsyncLike
            });
        });
    </script>
{% endblock %}