{%extends 'home/layout/base.html' %}

{% load staticfiles %}
{% load social_tags %}
{% load thumbor_tags %}

{% block title %}Portal GSTI - Perfil{% endblock %}

{% block content %}
    <main class="container main">
        <div class="perfil-row">
            <!-- mudar para 2.5 -->
            <div class="col-lg-3">
                {% include 'home/partials/sidebar-perfil.html' %}
            </div>
            <!-- mudar para 9.5 -->
            <div class="col-lg-9">
                <nav class="perfil-navegation">
                    {% if profile.user == request.user %}<a href="{% url 'profile:feed' %}">Feed</a> •{% endif %}
                    <a href="{% url 'profile:show' username=profile.user.username %}">Perfil</a> •
                    <a href="{% url 'ninico:about' %}">Sobre</a> •
                    <a class="active" href="{% url 'profile:communities' username=profile.user.username %}">Comunidades</a> •
                    <a href="{% url 'profile:followers' username=profile.user.username %}">Relacionamentos</a> •
                    <a href="{% url 'profile:videos' profile.user.username %}">Vídeos</a>
                </nav>
                <header class="area-title">
                    <h2>Comunidades</h2>
                </header>
                <div class="filter row">
                    <form id="search-form" action="{% url 'profile:communities' profile.user.username %}" method="GET" data-ajaxform="true" data-group-class=".form-search-input">

                        <div class="col-lg-8">
                            <div class="form-search-input">
                                <input type="text" id="fcommunity" name="criteria" placeholder="{{placehold|default:"Procure comunidades."}}" />
                            </div>
                            <button type="submit" id="search" class="form-search-button">
                                <i class="gsticon gsticon-search"></i>
                            </button>
                        </div>
                        <div class="col-lg-4 text-right">
                            <div class="custom-select">
                                <select id="cfilter" class="form-control" name="category">
                                    <option class="custom-select-option" value="0">Selecione</option>
                                    {% for category in categories %}
                                        <option class="custom-select-option" value="{{ category.id }}">{{ category.description }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <hr>
                    </div>
                    <div class="col-lg-12">
                        <div id="communities-container">
                            {# templatetag - load communities #}
                            {% if items %}
                                <div class="row j-scroll-communities j-scroll-communities-container">
                                {% for community in items %}
                                    <div class="box-perfil">
                                        <div class="perfil">
                                            <img class="img-responsive" src="{% thumbor_url community.content_object.get_picture.url width=82 height=82 smart=False fit_in=False %}" alt="{{ community.content_object.title }}">
                                            <a class="perfil-name" href="{% url 'community:show' community.content_object.slug %}">{{ community.content_object.title }}</a>
                                            <a class="perfil-counter" href="{% url 'community:followers' community_slug=community.content_object.slug %}"><span class="counter-number">{% followers_count community.content_object %}
                                            </span> Seguidores</a>
                                            {% follow_action community.content_object request.path %}

                                        </div>
                                    </div>
                                {% endfor %}
                                <a data-jscroll-next href="{% url 'socialactions:get_followings' content_type_id=content_type.id object_filter_id=object.id %}?p={{ page }}&next={{ url_next|urlencode }}&criteria={{ criteria }}&category={{ category }}">next</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!--
                    <div class="box-perfil">
                        <div class="perfil">
                            <img class="img-responsive" src="http://placehold.it/82" alt="Imagem 1">
                            <a class="perfil-name" href="javascript:;">Python</a>
                            <a class="perfil-counter" href="javascript;;"><span class="counter-number">180</span> Seguidores</a>
                            <a class="btn btn-sm perfil-button-alt" href="javascript:;">Entrou</a>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block javascripts %}

    <script>

        var jScrollElemment = null;
        var functionAjaxSuccessFilterCommunities = function(e, data) {

            var $divCommunities = $("#communities-container");
            var $divJScroll = $('<div class="row j-scroll-communities j-scroll-communities-container"></div>');

            $divJScroll.html(data.template);
            $divCommunities.html($divJScroll);
            console.log($divJScroll);
            jScrollElemment = $divJScroll.jscroll({
                autoTrigger: true,
                loadingHtml: '<span>Carregando...</span>',
                contentSelect: '.j-scroll-communities-container',
                nextSelect: "a[data-jscroll-next]",
                refresh: true
            });
        };

        $(function() {
            $(document).on('keyup', "#fcommunity" , function(event) {
                var $this = $(event.currentTarget);

                if ($this.val().length <= 2)
                    return false;

                if ($this.val().length > 2)
                    $this.closest('form').submit();
            });

            $(document).on('change', "#cfilter" , function(event) {
                var $this = $(event.currentTarget);
                    $this.closest('form').submit();
            });

            $("#search-form").on("ajaxform.success", functionAjaxSuccessFilterCommunities);

            $(".j-scroll-communities").jscroll({
                contentSelect: ".j-scroll-communities-container",
                nextSelect: "a[data-jscroll-next]"
            });
        });


    </script>
{% endblock %}