{%extends 'home/layout/base.html' %}

{% block title %}Portal GSTI - Perfil, Editar Perguntas{% endblock %}

{% block content %}
<main class="container main">
    <div class="row">
        <!-- mudar para 2.5 -->
        <div class="col-lg-3">
            {% include 'home/partials/sidebar-perfil.html' with local_context="posts-edit" %}
        </div>
        <!-- mudar para 9.5 -->
        <div class="col-lg-9">
            {% include 'userprofile/partials/profile-navbar.html' with navbar_context='' %}
            <div class="row">
                <div class="col-sm-12">
                    <header class="area-title">
                        <h2>Editar Perguntas</h2>
                    </header>
                    <div class="row">
                        <form id="search-form" action="{% url 'profile:edit-questions-search-ajax' %}" method="GET" data-ajaxform="true" data-group-class=".form-search-input">
                            {% csrf_token %}
                            <div class="col-sm-5">
                                <nav class="form-search">
                                    <div class="form-search-input">
                                        <input type="text" id="criteria" name="criteria" placeholder="{{placehold|default:"Procure uma pergunta"}}" value="{{ form.cleaned_data.criteria|default:"" }}"/>
                                    </div>
                                    {% comment %}{% include "userprofile/partials/profile-dropdown-results.html" %}{% endcomment %}
                                    <button type="submit" class="form-search-button">
                                        <i class="gsticon gsticon-search"></i>
                                    </button>
                                </nav>
                            </div>
                            <div class="col-sm-3">
                                <div class="custom-select">
                                    <select class="form-control" id="status" name="deleted">
                                        <option value="1">Todos</option>
                                        <option value="2" {% if status == "2" %}selected{% endif %}>Deletadas</option>
                                        <option value="3" {% if status == "3" %}selected{% endif %}>Publicadas</option>
                                    </select>
                                </div>
                            </div>
                            {% include "userprofile/partials/profile-edit-item-menu.html" with item_context="questions" %}
                        </form>
                    </div>
                    <section class="area-content">
                        <div id="posts-container">
                            <div class="j-scroll-posts j-scroll-posts-container">
                                {% include "userprofile/partials/profile-edit-questions-segment.html" %}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}


{% block modals %}
    {{ block.super }}

    {% include "home/partials/modals/modal-confirmation.html" %}

{% endblock %}


{% block javascripts %}
    {{ block.super }}

    <script>

        var jScrollElemment = null;
        var functionAjaxSuccessFilterCommunities = function(e, data) {
            var $divCommunities = $("#posts-container");
            var $divJScroll = $('<div class="j-scroll-posts j-scroll-posts-container"></div>');

            $divJScroll.html(data.template);
            $divCommunities.html($divJScroll);

            if (data.have_posts) {
                jScrollElemment = $divJScroll.jscroll({
                    autoTrigger: true,
                    loadingHtml: '<div class="load-async-preload"></div>',
                    contentSelect: '.j-scroll-posts-container',
                    nextSelector: "a[data-jscroll-next]",
                    refresh: true
                });
            }
        };

        var functionOpenModalToDelete = function(e) {
            e.preventDefault();

            var $btn = $(e.currentTarget),
                $modal = $($btn.data("modal"));

            $modal.find("form").attr("action", $btn.data("url"));
            $modal.find("#item-id").val($btn.data("item"));
            $modal.find("#item-type").val($btn.data("type"));
            $modal.find("#title-item-to-remove").html($btn.data("title"));
            $modal.find(".loading-container").html("");
            $modal.find(".alert-container").html("");
            $modal.modal("show");

            return false;
        };

        var functionAjaxSuccessDeleteItem = function(e, data) {
            var $this = $(this),
                $modal = $($this.closest(".modal.fade")),
                itemId = $modal.find("#item-id").val();

            $modal.modal("hide");
            $modal.find("form").attr("action", "");
            $modal.find("#item-id").val("");
            $modal.find("#item-type").val("");
            $modal.find("#title-item-to-remove").html("");
            $modal.find(".loading-container").html("");
            $modal.find(".alert-container").html("");

            $("#question-" + itemId).fadeOut("slow");
        };

        $(function() {
            var timeout = null;
            $(document).on('keyup', "#criteria" , function(event) {
                var $this = $(event.currentTarget);

                if (timeout) clearTimeout(timeout);

                timeout = setTimeout(function(){
                    $this.closest('form').submit();
                }, 100);
            });

            $(document).on('change', "#status" , function(event) {
                var $this = $(event.currentTarget);
                $this.closest('form').submit();
            });

            $("#search-form").on("ajaxform.success", functionAjaxSuccessFilterCommunities);
            $("#confirmation-form").on("ajaxform.success", functionAjaxSuccessDeleteItem);

            $(document).on("click", "[data-delete-item='true']", functionOpenModalToDelete);

            $(".j-scroll-posts").jscroll({
                contentSelect: ".j-scroll-posts-container",
                nextSelector: "a[data-jscroll-next]"
            });

            var $social_count = $("[data-social-count=\"true\"]");
            $.each($social_count, function(key, value){
               var $obj = $(value);
                $.get($obj.data("url"), function(data){
                   $obj.text(data.count);
                });
            });
        });


    </script>
{% endblock %}