{%extends 'home/layout/base.html' %}

{% load staticfiles %}
{% load social_tags %}

{% block title %}Portal GSTI - Perfil{% endblock %}

{% block content %}
    <main class="container main">
        <div class="perfil-row">
            <!-- mudar para 2.5 -->
            <div class="col-lg-3">
                {% include 'home/partials/sidebar-perfil.html' %}
            </div>
            <!-- mudar para 9.5 -->
            <div class="col-lg-9">
                <nav class="perfil-navegation">
                    {% if profile.user == request.user %}<a href="{% url 'profile:feed' %}">Feed</a> •{% endif %}
                    <a href="{% url 'profile:show' username=profile.user.username %}">Perfil</a> •
                    <a href="{% url 'ninico:about' %}">Sobre</a> •
                    <a href="{% url 'profile:communities' username=profile.user.username %}">Comunidades</a> •
                    <a class="active" href="{% url 'profile:followers' username=profile.user.username %}">Relacionamentos</a> •
                    <a href="{% url 'profile:videos' profile.user.username %}">Vídeos</a>
                </nav>
                <header class="area-title">
                    <h2>Relacionametos</h2>
                </header>
                <div class="filter row">
                    <div class="col-lg-8">
                        {% include 'userprofile/partials/search-followings.html' with placeholder="Procure por pessoas" %}
                    </div>
                    <div class="col-lg-4 text-right">
                        <a class="btn btn-perfil active" href="{% url 'profile:followings' username=profile.user.username %}">Seguindo</a>
                        <a class="btn btn-perfil" href="{% url 'profile:followers' username=profile.user.username %}">Seguidores</a>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-12">
                        <hr>
                        <p class="description-text">• Quem <a href="{% url 'profile:show' profile.user.username %}">{{ profile.user.get_full_name }}</a> está seguindo</p>
                    </div>
                    <div class="col-lg-12">

                        {% if not form.cleaned_data.criteria %}
                            <div class="row j-scroll-followings j-scroll-followings-container">
                                {% followings_box profile.user 'user' request.path %}
                            </div>
                        {% elif items.object_list %}
                            <div class="row j-scroll-followings j-scroll-followings-container">
                                {% include 'userprofile/partials/followings-segment.html' %}
                            </div>
                        {% else %}
                            <hr>
                            <p>Nenhum item foi encontrado!</p>
                            <hr>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block javascripts %}

    <script>
        $(function() {
            $(".j-scroll-followings").jscroll({
                contentSelect: ".j-scroll-followings-container",
                nextSelect: "a[data-jscroll-next]"
            });
        });
    </script>
{% endblock %}