{%extends 'home/layout/base.html' %}

{% load staticfiles %}
{% load i18n %}

{% load avatar_tags %}
{% load thumbor_tags %}

{% block seo-og-title %}{% block seo_title %}Feed | {{ profile.user.get_full_name }}{{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}Feed de notícias que são do seu interesse. Lista de publicações e perguntas de comunidades e membros que você está seguindo. {% endblock %}{% endblock %}
{% block seo-og-image %}{% get_avatar profile.user width=200 height=200 smart=False fit_in=False %}{% endblock %}

{% block seo-metas-extra %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block page_class %}profile-page{% endblock page_class %}
{% block content %}
    <main class="container main">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-9">
                {% include 'userprofile/partials/menu.html' with active="feed" %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                {% include 'userprofile/partials/left-sidebar.html' %}
            </div>
            <div class="col-lg-9">
                {% include 'userprofile/partials/filters.html' with title="Feed" active="feed" has_filter=False has_navigation=True %}
                <div class="row">
                    <div class="col-lg-8">
                        {% if profile.user == request.user %}
                            {% include 'userprofile/partials/commit-box.html' %}
                            {% if feed_objects.object_list %}
                                <div class="j-scroll j-scroll-container">
                                    {% include 'userprofile/partials/user-profile-feed.html' %}
                                </div>
                            {% else %}
                                <span>{% trans 'Não existem itens a serem exibidos' %}</span>
                                <hr>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% include 'userprofile/partials/profile-sidebar-right.html' %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            $(".j-scroll").jscroll({
                loadingHtml: '<div class="load-async-preload"></div>',
                contentSelect: ".j-scroll-container",
                nextSelector: "a[data-jscroll-next]",
                callback: function () {
                  refreshAsyncLike();
                }
            });

            var $social_count = $("[data-social-count=\"true\"]");
            $.each($social_count, function(key, value){
               var $obj = $(value);
                $.get($obj.data("url"), function(data){
                   $obj.text(data.count);
                });
            });
        });
    </script>
{% endblock %}
