{%extends 'home/layout/base.html' %}

{% load staticfiles %}
{% load social_tags %}

{% load avatar_tags %}
{% load thumbor_tags %}

{% block seo-og-title %}{% block seo_title %}Relacionamentos -> Seguidores | {{ profile.user.get_full_name }}{{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}Lista dos membros que seguem {{ profile.user.get_full_name }} no Portal GSTI.{% endblock %}{% endblock %}
{% block seo-og-image %}{% get_avatar profile.user width=200 height=200 smart=False fit_in=False %}{% endblock %}

{% block seo-metas-extra %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
<main class="container main">
    <div class="row">
        <div class="col-xs-12">
            <nav class="perfil-navegation hidden-xs">
                {% if profile.user == request.user %}<a href="{% url 'profile:feed' %}">Feed</a>{% endif %}
                <a  href="{% if  profile.user.is_active %}{% url 'profile:show' profile.user.get_username %}{% else %}javascript:;{% endif %}">Publicações</a>
                {% if profile.user == request.user %}<a href="{% url 'profile:my-questions' %}">Minhas Perguntas</a>{% endif %}
                <a href="{% url 'profile:communities' username=profile.user.username %}">Comunidades</a>
                <a class="active" href="{% url 'profile:followers' username=profile.user.username %}">Relacionamentos</a>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            {% include 'userprofile/partials/left-sidebar.html' %}
        </div>
        <div class="col-lg-9">
            {% include 'userprofile/partials/filters.html' with title="Relacionamentos" active="relationship" has_filter=True has_navigation=True %}
            <div id="form-search" class="filter row form-search filters-members" data-toggle="filters">
                <div class="col-lg-8">
                    {% include 'userprofile/partials/search-followers.html' with placeholder="Procure por pessoas" %}
                </div>
                <div class="col-lg-4 text-right">
                    <a class="btn btn-perfil active" href="{% url 'profile:followers' username=profile.user.username %}">Seguidores</a>
                    <a class="btn btn-perfil" href="{% url 'profile:followings' username=profile.user.username %}">Seguindo</a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <p class="description-text">Quem segue <a href="{% if  profile.user.is_active %}{% url 'profile:show' profile.user.get_username %}{% else %}javascript:;{% endif %}">{{ profile.user.get_full_name }}</a></p>
                </div>
                <div class="col-lg-12">

                    {% if not form.cleaned_data.criteria %}
                    <div class="row j-scroll-followers j-scroll-followers-container">
                        {% followers_box profile.user request.path %}
                    </div>
                    {% elif items.object_list %}
                    <div class="row j-scroll-followers j-scroll-followers-container">
                        {% include 'userprofile/partials/followers-segment.html' %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}


{% block javascripts %}

    <script>
        $(function() {

            var callbackFunction = function() {
                refreshAsyncLike();
            };

            $(".j-scroll-followers").jscroll({
                contentSelect: ".j-scroll-followers-container",
                nextSelector: "a[data-jscroll-next]",
                callback: callbackFunction
            });

            var $social_count = $("[data-social-count=\"true\"]");
            $.each($social_count, function(key, value){
               var $obj = $(value);
                $.get($obj.data("url"), function(data){
                   $obj.text(data.count);
                });
            });
        });
    </script>
{% endblock %}
