{%extends 'home/layout/base.html' %}

{% load staticfiles %}
{% load social_tags %}
{% load i18n %}

{% block title %}Portal GSTI - Perfil{% endblock %}

{% block content %}
    <main class="container main">
        <div class="row">
            <!-- mudar para 2.5 -->
            <div class="col-lg-3">
                {% include 'home/partials/sidebar-perfil.html' %}
            </div>
            <!-- mudar para 9.5 -->
            <div class="col-lg-9">
                {% include 'userprofile/partials/filters.html' with title="Relacionamentos" active="relationship" has_filter=True has_navigation=True %}
                {% block filters %}
                     <div id="form-search" class="filter row form-search filters-members" data-toggle="filters">
                        <div class="col-lg-8">
                            {% include 'userprofile/partials/search-followings.html' with placeholder="Procure por pessoas" %}
                        </div>
                        <div class="col-lg-4 text-right">
                            <a class="btn btn-perfil" href="{% url 'profile:followers' username=profile.user.username %}">Seguidores</a>
                            <a class="btn btn-perfil active" href="{% url 'profile:followings' username=profile.user.username %}">Seguindo</a>
                        </div>
                    </div>
                {% endblock filters %}

                <div class="row ">
                    <div class="col-lg-12">
                        <hr>
                        <p class="description-text">Quem <a href="{% if  profile.user.is_active %}{% url 'profile:show' profile.user.get_username %}{% else %}javascript:;{% endif %}">{{ profile.user.get_full_name }}</a> está seguindo</p>
                    </div>
                    <div class="col-lg-12">

                        {% if not form.cleaned_data.criteria %}
                            <div class="row j-scroll-followings j-scroll-followings-container">
                                {% followings_box profile.user 'user' request.path %}
                            </div>
                        {% elif items.object_list %}
                            <div class="row j-scroll-followings j-scroll-followings-container">
                                {% include 'userprofile/partials/followings-segment.html' %}
                            </div>
                        {% else %}
                            <span>{% trans 'Não existem itens a serem exibidos' %}</span>
                            <hr>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block javascripts %}

    <script>
        $(function() {

            var callbackFunction = function() {
                refreshAsyncLike();
            };

            $(".j-scroll-followings").jscroll({
                contentSelect: ".j-scroll-followings-container",
                nextSelector: "a[data-jscroll-next]",
                callback: callbackFunction
            });

            var $social_count = $("[data-social-count=\"true\"]");
            $.each($social_count, function(key, value){
               var $obj = $(value);
                $.get($obj.data("url"), function(data){
                   $obj.text(data.count);
                });
            });
        });
    </script>
{% endblock %}