{%extends 'home/layout/base.html' %}

{% load staticfiles %}
{% load i18n %}

{% load avatar_tags %}
{% load thumbor_tags %}

{% block seo-og-title %}{% block seo_title %}Feed | {{ profile.user.get_full_name }}{{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}Feed de notícias que são do seu interesse. Lista de publicações e perguntas de comunidades e membros que você está seguindo. {% endblock %}{% endblock %}
{% block seo-og-image %}{% get_avatar profile.user width=200 height=200 smart=False fit_in=False %}{% endblock %}

{% block seo-metas-extra %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
    <main class="container main">
        <div class="row">
            <div class="col-lg-3">
                {% include 'userprofile/partials/left-sidebar.html' %}
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-8">
                        <header class="area-title title-mobile">
                             <h2>Organizações</h2>
                        </header>
                        <section class="area-content user-companies" data-target="content">
                        {% if  profile.user.companies %}
                            <ul class="perfil-actions">
                            {% for company in profile.user.companies.all %}
                                <li><a href="{% url 'account:login_with_company' company.user.username %}">
                                    <span>
                                       {% if company.logo %}
                                            <img src="{% thumbor_url company.logo.url width=20 height=20 smart=False fit_in=False %}" alt="">
                                    {% endif %}
                                        {{ company }}
                                    </span>
                                    <span class="sign-in">
                                        <span class="text">Entrar</span>
                                        <i class="gsticon gsticon-sign-in"></i>
                                    </span>
                                </a></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        </section>
                    </div>
                    {% include 'userprofile/partials/profile-sidebar-right.html' %}
                    <!-- Right bar -->
                </div>
            </div>
        </div>
    </main>
{% endblock %}
