{%extends 'home/layout/base.html' %}

{% load avatar_tags %}
{% load thumbor_tags %}

{% block seo-og-title %}{% block seo_title %}Editar Conteúdo -> Publicações | {{ profile.user.get_full_name }}{{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}Área para editar as publicações que foram feitas da sua conta no Portal GSTI.{% endblock %}{% endblock %}
{% block seo-og-image %}{% get_avatar profile.user width=90 height=90 smart=False fit_in=False %}{% endblock %}

{% block seo-metas-extra %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
<main class="container main">
    <div class="row">
        <div class="col-lg-3">
            {% include 'home/partials/sidebar-perfil.html' with local_context="posts-edit" %}
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-sm-12">
                    {% include 'userprofile/partials/filters.html' with title="Editar Publicações" has_filter=True has_navigation=False %}
                    <div class="row">
                        {% block filters %}<form id="form-search" class="form-search filters-members" action="{% url 'profile:edit-posts-search-ajax' %}" method="GET" data-ajaxform="true" data-group-class=".form-search-input">
                            {% csrf_token %}
                            <div class="col-sm-5">
                                <nav class="form-search">
                                    <div class="form-search-input">
                                        <input type="text" id="criteria" name="criteria" placeholder="{{placehold|default:"Procure uma publicação"}}" value="{{ form.cleaned_data.criteria|default:"" }}"/>
                                    </div>

                                    <button type="submit" class="form-search-button">
                                        <i class="gsticon gsticon-search"></i>
                                    </button>
                                </nav>
                            </div>
                            <div class="col-sm-3">
                                <div class="custom-select">
                                    <select class="form-control" id="status" name="status">
                                        <option value="">Todos</option>
                                        {% for key, value in status_list %}
                                            <option value="{{ key }}" {% if status == key %}selected{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {% include "userprofile/partials/profile-edit-item-menu.html" with item_context="posts" %}
                        </form>{% endblock %}
                    </div>
                    <section class="area-content">
                        <div id="posts-container">
                            <div class="j-scroll-posts j-scroll-posts-container">
                                {% include "userprofile/partials/profile-edit-posts-segment.html" %}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}


{% block modals %}
    {{ block.super }}

    {% include "home/partials/modals/modal-confirmation.html" %}

{% endblock %}


{% block javascripts %}
    {{ block.super }}

    <script>

        var jScrollElemment = null;
        var functionAjaxSuccessFilterCommunities = function(e, data) {
            var $divCommunities = $("#posts-container");
            var $divJScroll = $('<div class="j-scroll-posts j-scroll-posts-container"></div>');

            $divJScroll.html(data.template);
            $divCommunities.html($divJScroll);

            if (data.have_posts) {
                jScrollElemment = $divJScroll.jscroll({
                    autoTrigger: true,
                    loadingHtml: '<div class="load-async-preload"></div>',
                    contentSelect: '.j-scroll-posts-container',
                    nextSelector: "a[data-jscroll-next]",
                    refresh: true
                });
            }
        };

        var functionOpenModalToDelete = function(e) {
            e.preventDefault();

            var $btn = $(e.currentTarget),
                $modal = $($btn.data("modal"));

            $modal.find("form").attr("action", $btn.data("url"));
            $modal.find("#item-id").val($btn.data("item"));
            $modal.find("#title-item-to-remove").html($btn.data("title"));
            $modal.find(".loading-container").html("");
            $modal.find(".alert-container").html("");
            $modal.modal("show");

            return false;
        };

        var functionAjaxSuccessDeleteItem = function(e, data) {
            var $this = $(this),
                $modal = $($this.closest(".modal.fade")),
                itemId = $modal.find("#item-id").val();

            $modal.modal("hide");
            $modal.find("form").attr("action", "");
            $modal.find("#item-id").val("");
            $modal.find("#title-item-to-remove").html("");
            $modal.find(".loading-container").html("");
            $modal.find(".alert-container").html("");

            $("#pub-" + itemId).fadeOut("slow");
        };

        $(function() {
            var timeout = null;
            $(document).on('input', "#criteria" , function(event) {
                var $this = $(event.currentTarget);

                if (timeout) clearTimeout(timeout);

                timeout = setTimeout(function(){
                    $this.closest('form').submit();
                }, 100);
            });

            $(document).on('change', "#status" , function(event) {
                var $this = $(event.currentTarget);
                $this.closest('form').submit();
            });

            $("#search-form").on("ajaxform.success", functionAjaxSuccessFilterCommunities);
            $("#confirmation-form").on("ajaxform.success", functionAjaxSuccessDeleteItem);

            $(document).on("click", "[data-delete-item='true']", functionOpenModalToDelete);

            $(".j-scroll-posts").jscroll({
                contentSelect: ".j-scroll-posts-container",
                nextSelector: "a[data-jscroll-next]"
            });
            var $social_count = $("[data-social-count=\"true\"]");
            $.each($social_count, function(key, value){
               var $obj = $(value);
                $.get($obj.data("url"), function(data){
                   $obj.text(data.count);
                });
            });
        });


    </script>
{% endblock %}