{%extends 'home/layout/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load user_agents %}
{% load abs_url %}
{% load seo_pagination_tags %}
{% load avatar_tags %}
{% load thumbor_tags %}
{% block seo-og-title %}{% block seo_title %}{{ profile.user.get_full_name }}{{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}Todo o conteúdo de publicações realizadas por {{ profile.user.get_full_name }}. Siga {{ profile.user.get_full_name }} e receba no seu feed as informações enviadas por esse membro.{% endblock %}{% endblock %}
{% block seo-og-image %}{% get_avatar profile.user width=200 height=200 smart=False fit_in=False %}{% endblock %}

{% block seo-metas-extra %}
    {% if feed_objects.object_list|length_is:0 %}
        <meta name="robots" content="nofollow,noindex">

    {% endif %}

{% endblock %}

{% block seo-canonical %}{% absolute_url request.path %}{% endblock %}
{% block link_pagination %}
    {% pagination_links feed_objects %}
{% endblock link_pagination %}

{% block page_class %}profile-page{% endblock page_class %}
{% block content %}

    <main class="container main">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-9">
                {% include 'userprofile/partials/menu.html' with active="posts" %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                {% include 'userprofile/partials/left-sidebar.html' %}
            </div>
            <div class="col-lg-9">
                {# TODO REFACTOR TO A BETTER APROACH #}
                {% if request|is_pc %}
                {% include 'userprofile/partials/filters.html' with title="Publicações de "|add:profile.user.first_name  active="profile" has_filter=True has_navigation=True %}
                {% else %}
                {% include 'userprofile/partials/filters.html' with title="Publicações"  active="profile" has_filter=True has_navigation=True %}
                {% endif %}
                <div class="row">
                <div class="col-lg-8">
                    {% block filters %}
                        <nav id="form-search" class="form-search filters-members" data-toggle="filters">
                            <form action="{% url 'profile:show' profile.user.username %}" method="GET" role="search">
                                <div class="customform search{%if errors %} customform-error{% endif %}">
                                    <input class="customform-input" id="criterio" type="text" value="{{ request.GET.criterio }}" name="criterio" data-toggle="input" >
                                    <hr>
                                    <label for="criterio" class="customform-label{% if request.GET.criterio %} active {% endif %}">{{placehold|default:"Pesquise conteúdo de "|add:profile.user.first_name}}</label>
                                    <button type="submit" class="form-search-button">
                                        <i class="gsticon gsticon-search"></i>
                                    </button>
                                </div>
                            </form>
                        </nav>
                    {% endblock filters %}

                    <section>
                        {% if feed_objects.object_list %}
                            <div class="j-scroll j-scroll-container">
                                {% include 'userprofile/partials/user-profile-list.html' %}
                            </div>
                        {% else %}
                            <span>{% trans 'Não existem itens a serem exibidos' %}</span>
                            <hr>
                        {% endif %}
                    </section>
                </div>
                {% include 'userprofile/partials/profile-sidebar-right.html' %}
            </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block javascripts %}
    {{ block.super }}

    <script>
        $(function() {
            $(".j-scroll").jscroll({
                loadingHtml: '<div class="load-async-preload"></div>',
                contentSelect: ".j-scroll-container",
                nextSelector: "a[data-jscroll-next]",
                callback: refreshAsyncLike
            });

            var $social_count = $("[data-social-count=\"true\"]");
            $.each($social_count, function(key, value){
                var $obj = $(value);
                $.get($obj.data("url"), function(data){
                    $obj.text(data.count);
                });
            });
        });
    </script>
{% endblock %}
