{%extends 'home/layout/base.html' %}
{% load staticfiles %}

{% block title %}Portal GSTI - Perfil{% endblock %}

{% block content %}
    <main class="container main">
        <div class="perfil-row">
            <!-- mudar para 2.5 -->
            <div class="col-lg-3">
                {% include 'home/partials/sidebar-perfil.html' %}
            </div>
            <!-- mudar para 9.5 -->
            <div class="col-lg-9">
                <nav class="perfil-navegation">
                {% if profile.user == request.user %}
                    <a href="{% url 'ninico:feed' %}">Feed</a>•
                {% endif %}
                    <a class="active" href="{% url 'profile:show' username=profile.user.username %}">Perfil</a>•<a href="{% url 'ninico:about' %}">Sobre</a>•<a href="{% url 'profile:communities' username=profile.user.username %}">Comunidades</a>•<a href="{% url 'profile:followers' username=profile.user.username %}">Relacionamentos</a>•<a href="{% url 'profile:videos' profile.user.username %}">Vídeos</a>
                </nav>
                <div class="row">
                    <div class="col-lg-8">
                        <header class="area-title">
                            <h2>Profile</h2>
                        </header>
                        <!-- A "barra" de pesquisa não é exibida no feed, somente no -->
                        <nav class="form-search">
                            <form action="{% url 'profile:search' user.username %}" method="GET" role="search">
                                <div class="form-search-input">
                                    <input type="text" placeholder="{{placehold|default:"Procure pessoas, comunidades, etc."}}">
                                </div>
                                <button type="submit" class="form-search-button">
                                    <i class="gsticon gsticon-search"></i>
                                </button>
                            </form>
                        </nav>
                        <section class="area-content">

                            {% if feed_objects.object_list %}
                                <div class="j-scroll j-scroll-container">
                                    {% include 'userprofile/partials/user-profile-list.html' %}
                                </div>
                            {% else %}
                                <span>Não existem itens a serem exibidos</span>
                            {% endif %}
                        </section>
                    </div>
                    <!-- Right bar -->
                    <div class="col-lg-4">
                        <div class="squad-advertising">
                            <img class="img-responsive" src="http://placehold.it/270x225" alt="Propaganda aqui">
                        </div>
                        <!-- Comunidades -->
                        <div class="widget widget-feed">
                            <div class="widget-header">
                                <span class="counter">168</span>
                                <header class="area-title">
                                    <h3>Comunidades</h3>
                                </header>
                            </div>
                            <div class="widget-content">
                                <div class="perfil">
                                    <img src="http://placehold.it/82" alt="Imagem 1">
                                    <a class="perfil-name" href="javascript:;">Python</a>
                                    <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                                    <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                                </div>
                                <div class="perfil">
                                    <img src="http://placehold.it/82" alt="Imagem 1">
                                    <a class="perfil-name" href="javascript:;">Python</a>
                                    <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                                    <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                                </div>
                                <div class="perfil">
                                    <img src="http://placehold.it/82" alt="Imagem 1">
                                    <a class="perfil-name" href="javascript:;">Python</a>
                                    <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                                    <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                                </div>
                            </div>
                            <a class="widget-footer" href="javascript:;">
                                <i class="gsticon gsticon-plus"></i>
                                Ver todos
                            </a>
                        </div>

                        <!-- Seguindo -->
                        <div class="widget widget-feed">
                            <div class="widget-header">
                                <span class="counter">168</span>
                                <header class="area-title">
                                    <h3>Seguindo</h3>
                                </header>
                            </div>
                            <div class="widget-content">
                                <div class="perfil">
                                    <img src="http://placehold.it/82" alt="Imagem 1">
                                    <a class="perfil-name" href="javascript:;">Python</a>
                                    <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                                    <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                                </div>
                                <div class="perfil">
                                    <img src="http://placehold.it/82" alt="Imagem 1">
                                    <a class="perfil-name" href="javascript:;">Python</a>
                                    <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                                    <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                                </div>
                                <div class="perfil">
                                    <img src="http://placehold.it/82" alt="Imagem 1">
                                    <a class="perfil-name" href="javascript:;">Python</a>
                                    <span class="perfil-counter"><span class="counter-number">12.568</span> Seguidores</span>
                                    <a class="btn btn-sm perfil-button" href="javascript:;">Seguir</a>
                                </div>
                            </div>
                            <a class="widget-footer" href="javascript:;">
                                <i class="gsticon gsticon-plus"></i>
                                Ver todos
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ block.super }}

    <script>
        $(function() {

                $(".j-scroll").jscroll({
                    loadingHtml: '<span>Carregando...</span>',
                    contentSelect: ".j-scroll-container",
                    nextSelect: "a[data-jscroll-next]"
                });
        });
    </script>
{% endblock %}