{%extends 'home/layout/base.html' %}

{% load staticfiles %}

{% block title %}Portal GSTI - Perfil{% endblock %}

{% block content %}
    <main class="container main">
        <div class="row">
            <div class="col-lg-3">
                {% include 'home/partials/sidebar-perfil.html' %}
            </div>
            <div class="col-lg-9">
                <nav class="perfil-navegation">
                    {% if profile.user == request.user %}<a class="active" href="{% url 'profile:feed' %}">Feed</a> •{% endif %}
                    <a href="{% url 'profile:show' username=profile.user.username %}">Publicações</a> •
                    <a href="{% url 'profile:communities' username=profile.user.username %}">Comunidades</a> •
                    <a href="{% url 'profile:followers' username=profile.user.username %}">Relacionamentos</a> •
                    <a href="{% url 'profile:videos' profile.user.username %}">Vídeos</a>
                </nav>
                <div class="row">
                    <div class="col-lg-8">
                        {% if profile.user == request.user %}
                        <header class="area-title">
                            {% comment %}
                            <div class="order-by">
                                <p>Classificado por</p>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-filter-posts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span>Todos</span> <i class="gsticon gsticon-caret-down"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-filter-posts">
                                        <li><a href="/profile/feed" data-target=".area-content">Posts oficiais</a></li>
                                        <li class="active"><a href="javascript:;" data-target=".area-content">Todos</a></li>
                                    </ul>
                                </div>
                            </div>
                            {% endcomment %}
                            <h2>Feed</h2>
                        </header>
                        {% if isLogged %}
                            <!-- A "barra" de pesquisa não é exibida no feed, somente no -->
                            <nav class="form-search">
                                <form action="{% url 'profile:search' user.username %}" method="GET" role="search">
                                    <div class="form-search-input">
                                        <input type="text" name="criterio" placeholder="{{placehold|default:"Procure pessoas, comunidades, etc."}}">
                                    </div>
                                    <button type="submit" class="form-search-button">
                                        <i class="gsticon gsticon-search"></i>
                                    </button>
                                </form>
                            </nav>
                        {% endif %}
                        <section class="area-content" data-target="content">
                            {% if feed_objects.object_list %}
                                <div class="j-scroll j-scroll-container">
                                    {% include 'userprofile/partials/user-profile-feed.html' %}
                                </div>
                            {% else %}
                                <span>Não existem itens a serem exibidos</span>
                            {% endif %}
                        </section>
                        {% endif %}
                    </div>
                    <!-- Right bar -->
                    {% include 'userprofile/partials/profile-sidebar-right.html' %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block javascripts %}
    {{ block.super }}
    <script>
        $(function() {
            $(".j-scroll").jscroll({
                loadingHtml: '<div class="load-async-preload"></div>',
                contentSelect: ".j-scroll-container",
                nextSelector: "a[data-jscroll-next]",
                callback: function(){
                    refreshAsyncLike();
                    $('[data-action]').ajaxSocialAction();
                }
            });

            var $social_count = $("[data-social-count=\"true\"]");
            $.each($social_count, function(key, value){
               var $obj = $(value);
                $.get($obj.data("url"), function(data){
                   $obj.text(data.count);
                });
            });
        });
    </script>
{% endblock %}