{% load i18n %}
<h1 style="text-align: center; padding-top: 50px;">{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
<div style="text-align:center;">
    {% if profile.gender %}<p><b>{% trans "Gender" %}:</b> {{ profile.gender_text|title }}</p>{% endif %}
    {% if profile.birth %}<p><b>{% trans "Birth date" %}:</b> {{ profile.birth|date:"d M Y" }}</p>{% endif %}
    {% if profile.city %}<p><b>{% trans "City / State / Country" %}:</b> {{ profile.city }}, {{ profile.city.state }}, {{ profile.city.state.country }}</p>{% endif %}
</div>

{% if profile.occupations %}
<div style="text-align:left; width: 350px; margin: auto;">
    <ul>
        {% for occupation in profile.occupations %}
            <li>{{ occupation.responsibility }} - {{ occupation.description }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


<p style="text-align: center">
    {% if request.user.is_authenticated %}
    <a href="{% url 'profile:edit' %}">{% trans "Edit profile" %}</a> {% trans "or" %}
    <a href="{% url 'account:index' %}">{% trans "Go to account index" %}</a> {% trans "or" %}
    <a href="{% url 'account:logout' %}">{% trans "Logout" %}</a>
    {% else %}
        <a href="{% url 'account:login' %}">{% trans "Login" %}</a>
    {% endif %}
</p>
