{% load social_tags %}
{% load thumbor_tags %}

{% if communities %}
    {% for community in communities %}
        <div class="suggestion">
            <div class="perfil">
                <img src="{% thumbor_url community.get_picture.url width=82 height=82 smart=False fit_in=False %}" alt="{{ community.title }}">
                <a class="perfil-name" href="{% url 'community:show' community.slug %}">{{ community.title }}</a>
                <span class="perfil-counter">
                    <span class="counter-number">{% followers_count community as followers_count_value %}{{ followers_count_value }}</span> Seguidor{{ followers_count_value|pluralize:'es' }}
                </span>
                {% follow_action community url_next ajax=True %}
            </div>
        </div>
    {% endfor %}

    <div class="col-lg-12">
        <a class="btn-default btn-block" data-jscroll-next href="{% url 'profile:wizard-step-filter-categories-list-ajax' %}?page={{ page }}{% for tax in taxonomies %}&taxonomies={{ tax }}{% endfor %}">Carregar mais comunidades</a>
    </div>

{% endif %}