{% extends 'core/partials/wizard/wizard-base.html' %}

{% load thumbor_tags %}
{%  load comment_tags %}
{% block wizard_content %}
 <div class="modal-menssage">
        <h4 class="message-title">Escolha comunidades de sua preferência</h4>
    </div>
    <div class="steps">
        <ul class="step-items list-inline text-center">
            <li class="step active">1</li>
            <li class="step active">2</li>
            <li class="step active">3</li>
        </ul>
        <hr />
        <form id="form-filter-communities" action="{% url "profile:wizard" step=3 %}" method="GET">
            <div class="form-group">
                <input type="text" class="form-control" data-xhr-input="true" name="criteria" placeholder="Procure comunidades" >
            </div>
            <div id="filter-taxonomies-wizard"></div>
        </form>
        <form id="form-suggestions" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <hr>
            <div class="steps-container">
                <div class="row container-wizard-communities" data-toggle="custom-scroll">
                  {% include 'core/partials/wizard/community-segment.html' %}
                </div>
                <hr>
                <div class="clearfix text-right">
                    <button class="btn-green" type="submit">Concluir</button>
                </div>
            </div>
        </form>
    </div>

{% endblock wizard_content %}
