{% extends 'core/partials/wizard/wizard-base.html' %}
{% load i18n %}
{% load thumbor_tags %}
{% load widget_tweaks %}
{% block wizard_content %}

    <form id="form-personal-info" action="{% url 'profile:wizard' step %}" method="post" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.non_field_errors.as_list }}

        <div class="steps-container row">
            <div class="col-lg-12"><hr></div>
            <div class="col-lg-4">
                <div class="custom-file-upload set-avatar"
                     data-module="dropzoneUploader"
                     data-original-image="{% if form.profile_picture %}{{ form.profile_picture.value.url }}{% elif request.user.user_profile %}{{ request.user.user_profile.profile_picture.url }}{% endif %}">
                    <div class="custom-file-content">
                        <i class="gsticon gsticon-cloud-upload"></i>
                        <h5><strong>Foto de perfil</strong></h5>
                        <p>Arraste a imagem para este campo ou <a href="javascript:;" data-trigger="file">clique aqui</a></p>
                    </div>
                    <input type="file" accept="image/*" name="{{ form.profile_picture.name }}">
                    <div class="custom-file-upload-result" data-content="file"></div>
                    <span class="help-block">
                        {% if form.profile_picture.errors %}  {{ form.profile_picture.errors }} {% endif %}
                    </span>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="clearfix">
                        <div data-form-group class="col-lg-12 item-form">

                            {% render_field form.responsibility id="responsibility" data-toggle="selectize" data-module="profession" placeholder="Área de atuação" %}

                            <span class="help-block">
                                {% if form.responsibility.errors %}  {{ form.responsibility.errors }} {% endif %}
                            </span>
                        </div>
                    </div>

                <div class="clearfix">
                    <div class="col-lg-5 item-form {% if form.first_name.errors %}has-error{% endif %}">
                          {% trans "First name" as first_name_placeholder %}
                          {% render_field form.first_name class="form-control" placeholder=first_name_placeholder %}

                          {% if form.first_name.errors %}  {{ form.first_name.errors }} {% endif %}
                        </div>
                        <div class="col-lg-7 item-form {% if form.last_name.errors %}has-error{% endif %}">
                        {% trans "Last Name" as last_name_placeholder %}
                          {% render_field form.last_name class="form-control" placeholder=last_name_placeholder %}

                          {% if form.last_name.errors %}  {{ form.last_name.errors }} {% endif %}
                        </div>
                </div>
                {% if not request.user.email %}
                    <div class="clearfix">
                     <div class="col-lg-12 item-form {% if form.email.errors %}has-error{% endif %}">
                         {% render_field form.email class="form-control" type="email" maxlength="150" %}
                          {% if form.email.errors %}  {{ form.email.errors }} {% endif %}
                        </div>

                </div>

                {% endif %}



                    <div class="clearfix">
                        <div data-form-group class="col-lg-6 item-form">
                            <div class="custom-calendar">
                                {% render_field form.birth class="datetime-picker" id="birth" placeholder="Aniversário" autocomplete="off" %}
                                <i class="gsticon gsticon-calendar"></i>
                            </div>
                            <span class="help-block">
                                {% if form.birth.errors %}  {{ form.birth.errors }} {% endif %}
                            </span>
                        </div>

                        <div data-form-group class="col-lg-6 item-form">

                            <select name="{{ form.gender.name }}" id="{{ form.gender.name }}" class="form-control">
                                <option value="">Sexo</option>
                                {% for value, name in form.fields.gender.choices %}
                                    <option value="{{ value }}" {% if value == form.gender.value %}selected{% endif %}>{{ name|lower|capfirst }}</option>
                                {% endfor %}
                            </select>

                            <span class="help-block">
                                {% if form.gender.errors %}  {{ form.gender.errors }} {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div data-form-group class="col-lg-6 item-form">
                            {% url 'profile:get_city' as profile_get_city %}
                            {% render_field form.state id="state" class="form-control" data-ajax-change="true" data-url=profile_get_city data-target="#city" %}
                            {#                            <select name="state" id="state" class="form-control" data-ajax-change="true" data-url="{% url 'profile:get_city' %}" data-target="#city">#}
                            {#                                <option value="0" {% if not form.data.state %}selected{% endif %}>Estado</option>#}
                            {#                                {% for state in states %}#}
                            {#                                    <option data-teste="{{ form.data.state }}" value="{{ state.id }}" {% if form.data.state == state.id %}selected{% endif %}>{{ state.name }}</option>#}
                            {#                                {% endfor %}#}
                            {#                            </select>#}
                            <span class="help-block">
                                {% if form.state.errors %}  {{ form.state.errors }} {% endif %}
                            </span>
                        </div>
                        <div data-form-group class="col-lg-6 item-form">

{#                            {% render_field form.city_hometown class="form-control" id="city" %}#}

                                                        <select name="city_hometown" id="city" class="form-control">
                                                            <option value="0" {% if not wizard_profile.city_hometown.id %}selected{% endif %} disabled>Cidade</option>
                                                            {% for city in cities %}
                                                                <option value="{{ city.id }}" {% if request.user.userprofile.city_hometown.id == city.id %}selected{% endif %}>{{ city.name }}</option>
                                                            {% endfor %}
                                                        </select>
                            <span class="help-block">
                                {% if form.city_hometown.errors %}  {{ form.city_hometown.errors }} {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-right">
            <div class="col-lg-12">
                <hr>
                <button class="btn-green" type="submit">Avançar</button>
            </div>
        </div>
    </form>

{% endblock wizard_content %}

{% block javascripts %}

    {{ block.super }}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.min.js"></script>
    <script>
        $('.datetime-picker').mask("00/00/0000", {placeholder: "__/__/____"});
    </script>

{% endblock %}