{% load avatar_tags %}
{% load custom_utils %}

<section class="area-content" data-target="content">


    {% if list %}
         <ol class="ranking__contributors__list">
            {% for user in list %}
                 <li>
                 <span class="rank_position{% cycle ' rank-odd' ' rank-even' %}">
                     {% comment %}Calculating position  {% endcomment %}
                     {{ list.number|minus:1|multiply:list.paginator.per_page|plus:forloop.counter }}
                 </span>
                     <div class="ranking__contributor">
                        <a href="{{ user.get_absolute_url }}">
                             <img width="40" height="40" src="{% get_avatar user width=40 height=40 smart=False fit_in=False %}" alt="Foto de {{ user.get_full_name }}">
                             <h3 title="{{ user.get_full_name }}">{{ user.get_full_name }}</h3>
                             <p>XP {{ user.xp }}</p>
                        </a>
                     </div>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <h2 class="ranking__contributors__title">Ops,</h2>
        <div class="col-xs-12 courses__not_found">
        <p>Não foram encontrados usuários que pontuaram para estarem neste ranking.</p>
    </div>
    {% endif %}

{% if list.has_next %}
<div class="col-xs-12">
    <a class="btn courses__btn courses__btn--loader" data-jscroll-next href="{{ request.path }}?{{ form.querystring }}{{ next_querystring }}">Mais resultados</a>

</div>
{% endif %}

</section>



