{% load thumbor_tags %}

<section class="area-content" data-target="content">


    {% if list %}

         <ol class="ranking__contributors__list">
            {% for item in list %}
                 <li>
                {% url "community:show" item.community.slug as community_url %}

                 <span class="rank_position{% cycle ' rank-odd' ' rank-even' %}">{{ item.rank_position }}</span>
                     <div class="ranking__contributor">
                        <a href="{{ community_url }}">
                             <img width="40" height="40" src="{% thumbor_url item.community.image.url width=40 height=40 smart=False fit_in=False %}" alt="Foto de {{ item.user.get_full_name }}">
                             <h3 title="{{ item.community.title }}">{{ item.community.title }}</h3>
                             <p>XP {{ item.value }}</p>
                        </a>
                     </div>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <div class="col-xs-12 courses__not_found">
        <p>Não foram encontradas comunidades que o usuário tenha pontuado.</p>
    </div>
    {% endif %}
</section>
{% if list.has_next %}
<div class="col-xs-12">
    <a class="btn courses__btn courses__btn--loader" data-jscroll-next href="{{ request.path }}?{{ form.querystring }}{{ next_querystring }}">Mais resultados</a>

</div>
{% endif %}