django==1.10.1
psycopg2==2.6.1
Pillow==3.0.0
django-thumbor==0.5
django-recaptcha
django-nocaptcha_recaptcha
django-widget-tweaks==1.4.1
python-social-auth==0.2.21
django-autofixture==0.11.0
django-migration-fixture==0.5.1
python-memcached==1.57
PyYAML==3.10
ua-parser==0.6.1
user-agents==1.0.1
django-smart-selects==1.2.2
django-user-agents==0.3.0
django-reversion==1.10.2
micawber==0.3.3
django-ideia-summernote==0.5.3
bleach==1.4.3