django==1.9.4
psycopg2
Pillow
django-thumbor
django-nocaptcha-recaptcha
django-widget-tweaks
python-social-auth
django-debug-toolbar
celery
django-celery
django-autofixture
django-migration-fixture
django-ckeditor
python-memcached
pyyaml
ua-parser
user-agents
django-smart-selects
django-user-agents
django-reversion-compare
