amqp==1.4.9
anyjson==0.3.3
apns2==0.3.0
asn1crypto==0.23.0
autopep8==1.3.2
beautifulsoup4==4.4.1
billiard==3.3.0.23
bleach==1.4.3
celery==3.1.24
certifi==2017.7.27.1
cffi==1.11.0
chardet==3.0.4
cryptography==2.0.3
Django==1.10.7
django-autofixture==0.11.0
django-braces==1.11.0
django-celery==3.1.17
django-debug-toolbar==1.5
django-ideia-summernote==0.5.3
django-jet==1.0.3
django-kombu==0.9.4
django-migration-fixture==0.5.1
django-nocaptcha-recaptcha==0.0.19
django-oauth-toolkit==1.0.0
django-push-notifications==1.5.0
django-recaptcha==1.3.1
django-rest-framework-social-oauth2==1.0.8
django-reversion==1.10.2
django-silk==0.6.2
django-smart-selects==1.3.4
django-thumbor==0.5
django-user-agents==0.3.0
django-widget-tweaks==1.4.1
djangorestframework==3.6.3
enum34==1.1.6
future==0.16.0
h2==2.6.2
hpack==3.0.0
html5lib==0.9999999
hyper==0.7.0
hyperframe==3.2.0
idna==2.6
ipaddress==1.0.18
Jinja2==2.9.6
kombu==3.0.37
libthumbor==1.3.2
MarkupSafe==1.0
micawber==0.3.3
oauthlib==2.0.4
Pillow==3.0.0
psycopg2==2.6.1
pycodestyle==2.3.1
pycparser==2.18
pycryptodomex==3.4.7
Pygments==2.2.0
pyjwkest==1.4.0
PyJWT==1.5.3
python-dateutil==2.6.1
python-memcached==1.57
python-openid==2.2.5
pytz==2017.2
PyYAML==3.10
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
social-auth-app-django==1.2.0
social-auth-core==1.4.0
sparkpost==1.3.0
sqlparse==0.2.4
ua-parser==0.6.1
urllib3==1.22
user-agents==1.0.1
django-cors-headers==2.1.0
python-social-auth==0.2.21
Django==1.10.7