{%extends 'home/layout/base.html' %}

{% load staticfiles %}
{% load i18n %}
{% load json_filter %}
{% load widget_tweaks %}
{% load core_tags %}
{% load static_versioned %}
{% load avatar_tags %}
{% load thumbor_tags %}

{% block seo-og-title %}{% block seo_title %}Criar Pergunta{{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}Área para criar uma pergunta sobre algum tema relacionado a tecnologia. Aqui é o lugar para tirar suas dúvidas. Fique a vontade{% endblock %}{% endblock %}

{% block seo-metas-extra %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}


{% block editorfiles %}
  <script src="{% static_versioned 'javascripts/vendor.js'%}" data-manual></script>
{% endblock %}
{% block content %}
    <main class="container main">
        <div class="row creator">

            <form action="{% url 'question:create' %}" method="post">

                {% csrf_token %}

                <div class="col-lg-12">
                    <header class="area-title col-lg-7">
                        <h2>Criar Pergunta</h2>
                    </header>
                    <div class="question-actions">
                        <a href="javascript:;" onclick="history.back();" class="btn-default">Voltar</a>
                        <button type="submit" class="btn-green">Publicar</button>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="editor">
                        <div class="wrap-editor row">
                            <div class="col-lg-9">
                                <p class="help-text">
                                    <span>ATENÇÃO:</span><br>
                                     Leia as <a href="javascript:;" data-toggle="modal" data-target="#modal-rules">Regras do portal</a> antes de publicar.
                                </p>
                                {% if form.non_field_erros %}<div class="col-lg-9">{{ form.non_field_errors }}</div>{% endif %}
                                <div class="form-group">
                                    {% include 'core/partials/messages-flash.html' with message_extra_tags="question" %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.title placeholder="Digite aqui sua pergunta" class="form-control" maxlength="256" id="title" data-toggle="counter" data-counter-type="max" data-counter-limit=form.fields.title.max_length %}
                                    {% if form.title.errors %}<span class="help-block">{{ form.title.errors }}</span>{% endif %}
                                </div>
                                <div class="form-group" data-target="container-editor">
                                    {% render_field form.description placeholder="Descrição detalhada da pergunta" maxlength="2048" class="form-control" rows="10" cols="30" %}
                                    {% if form.description.errors %}<span class="help-block">{{ form.description.errors }}</span>{% endif %}
                                </div>
                                <div class="form-group">
                                    {% url 'profile:user-communities-ajax' as user_ajax_url %}
                                    {% render_field form.communities data-toggle="selectize" data-module="taxonomy" data-module="taxonomy" data-label-field="name" data-value-field="id" data-options=communities|jsonify %}
                                    {% if form.communities.errors %}<span class="help-block">{{ form.communities.errors }}</span>{% endif %}
                                </div>
                            <div class="form-group">
                               {% include 'core/partials/communities-message.html' %}
                            </div>
                            </div>
                            <div class="col-lg-3">
                                <ul class="rules-to-post">
                                    <li>Pesquise soluções antes de perguntar. Evite perguntas duplicadas</li>
                                    <li>Certifique-se que sua pergunta não contenha erros de portugûes</li>
                                    <li>Não publique perguntas que não tenham relação com sua categoria / comunidade</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </main>
{% endblock %}
