{% load i18n %}
{% load widget_tweaks %}
{{ form.non_field_errors }}

{% url 'account:is_logged' as is_logged %}
{% url 'hint:list' 'answer' answer.id as hint_list_url %}

<form action="{% url 'question:update_reply' %}" data-group-class=".answer-group" data-toggle="replace" data-update="#answer-{{ answer.id }}" data-ajaxform="true" class="create-comment" method="post">

    {% csrf_token %}

    {% include 'core/partials/messages-flash.html' with message_extra_tags="answer-edit" %}

    <div class="answer-group {% if form.description.errors %} has-error{% endif %}">
        {% render_field form.description class="form-control" placeholder="Deixe sua resposta" data-hint-url=hint_list_url data-url-login=is_logged data-trigger="login" data-token=csrf_token %}
        <span class="help-block"></span>
    </div>

    <div class="comment-form-footer">
        <input type="hidden" name="reply_id" value="{{ answer.id }}" />
        <input class="btn btn-primary" type="submit" value="Enviar" data-url-login="{{ is_logged }}">
    </div>

</form>
