{%extends 'home/layout/base.html' %}

{% load staticfiles %}
{% load thumbor_tags %}
{% load profile_tags %}
{% load social_tags %}
{% load taxonomy_tags %}
{% load avatar_tags %}
{% load humanize %}
{% load user_agents %}
{% load ads %}
{% load abs_url %}
{% load url_utils %}
{% load core_tags %}
{% load utils %}

{% block seo-og-title %}{% block seo_title %}{{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}{{ question.description|seo_description }}{% endblock %}{% endblock %}
{% block seo-og-type %}article{% endblock %}

{% block seo-og-url %}{{ request.path|root  }}{% url 'question:show' question.slug question.id %}{% endblock %}

{% block seo-metas-extra %}

    {{ block.super }}

    {% if question.feed.first.seo_no_index == True or question.feed.first.seo_no_follow == True %}
        <meta name="robots" content="{% seo_feed_robots question.feed.first.seo_no_index question.feed.first.seo_no_follow %}">
    {% endif %}
    <link rel="amphtml" href="{% absolute_url 'amp:question-single' question.slug question.id %}">

{% endblock %}

{% block title %}{{ question.title }}{% endblock %}
{% block ld_json %}
    {% url 'profile:show' question.author.username as author_url %}
    <script type="application/ld+json">
    {% comment %}TODO Refactor to a JSON generator{% endcomment %}
        {
            "@context": "http://schema.org",
            "@type": "Question",
            "name": "{{ question.title }}",
            "author": {
            "@type": "Person",
                "image": "{% get_avatar question.author width=90 height=90 smart=False fit_in=False %}",
                "name": "{{ question.author.get_full_name }}",
                "sameAs": "{% absolute_url author_url %}"
            },
            "publisher": {
            "@type": "Organization",
            "name": "Portal GSTI",
               "logo":{
                 "@type":"ImageObject",
                 "url":"{% static 'images/gsti.png' %}",
                 "height":40,
                 "width":126
              }
            },
           "headline":"{{ question.title|slice:":110"  }}",
           "datePublished":"{{ question.question_date|date:'Y-m-d G:i' }}",
           "dateModified":"{{ question.question_date|date:'Y-m-d G:i' }}",
           "answerCount": {{ question.counter_answer }},
           "upvoteCount": {{ question.like_count }},
           "downvoteCount": {{ question.dislike_count }}
           {% if question.feed.communities %}
            ,"about":[
                {% for community in  question.feed.communities.all %}
                    "{{ community.title }}"{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]
           {% endif %}

        }
    </script>
{% endblock ld_json %}
{% block content %}

    <main class="container single">
        <div class="publication-carousel">
            <div class="text-center">
                  {% ads_only_production "question_bottom" "all" %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="single-category">
                    <span>PERGUNTA</span>
                </div>
            </div>
        </div>

        <h1 class="single-title">{{ question.title }}</h1>

        {% include "question/partials/social-actions.html" %}

        <div class="row">
            <div class="single-main">
                <div class="single-header">
                    <div class="single-main-about">
                        <a href="{% if question.author.is_active %}{% url 'profile:show' question.author.username %}{% else %}javascript:;{% endif %}">
                            <img class="single-author-image" width="40" height="40" src="{% get_avatar question.author width=40 height=40 smart=False fit_in=False %}" alt="foto de {{ instance.author.get_full_name }}">
                        </a>
                        <div class="single-main-about-body">
                            <a class="single-author" href="{% if  question.author.is_active %}{% url 'profile:show' question.author.username %}{% else %}javascript:;{% endif %}">{{ question.author.get_full_name }}</a>
                            <span class="single-main-about-info">
                                <time class="single-time" datetime="{{ question.question_date|date:'m-d-Y' }}" data-toggle="tooltip" data-placement="auto top" data-original-title="{{ question.question_date|date:'d/m/Y' }} às {{ question.question_date|date:'G:i' }}"><i class="gsticon gsticon-clock-o"></i>{{ question.question_date|naturaltime }}</time>
                                {% if feed and feed.official %}
                                    <span class="single-official">
                                    <i class="gsti-rocket"></i> CONTEÚDO EM DESTAQUE
                                </span>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="single-main-reactions">
                        {% like_box question request.path 'inline' %}
                    </div>
                    {% if feed.communities.all %}
                        <nav class="single-communities">
                        <label for="drop-communities" class="toggle-menu">
                            Comunidades <span class="gsticon gsticon-angle-down"></span>
                        </label>
                        <input type="checkbox" name="toggle" id="drop-communities">
                        <ul class="drop-communities">
                            {% for community in feed.communities.all  %}
                                <li><a href="{% url 'community:show' community.slug %}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>

                <div class="single-main-content" data-target="post-content">
                    {% thumbor_replace question.description|safe %}
                </div>

                <div class="publication-main-footer">
                    <div class="clearfix">
                        <a class="btn-denunciar pull-right" data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" href="{% url 'complaint:report' 'question' question.id %}" data-report="true" data-async-module="click" data-async-target="#modal-report" data-async-method="get"><i class="gsticon gsticon-flag"></i> Denunciar</a>
                    </div>
                </div>

                <header class="widget" id="answers">
                    <h2 class="widget-title">
                        <span>Respostas {{ question.counter_answer }}</span>
                    </h2>
                </header>

                <h3 class="publication-help-text">Consegue ajudar? A comunidade agradece</h3>

                {% include 'question/partials/answer-create.html' with content_type='question' content_object_id=question.id %}
                {%  include 'question/partials/list-answer.html' %}
            </div>

            <div class="single-aside">
                {% include "question/partials/question-sidebar-right.html" %}
            </div>
        </div>
    </main>
{% endblock %}


{% block modals %}
    {{ block.super }}

    {% include "home/partials/modals/modal-confirmation.html" %}

{% endblock %}

{% block javascripts %}
    <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55e70ed11db7fa4e" async></script>
    <script src="{% static 'javascripts/vendor.js'%}"></script>
    <script src="{% static 'javascripts/publication.js'%}"></script>
{% endblock %}
