{% load i18n %}
{% load comment_reply %}
{% load widget_tweaks %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<ul>
    <li>
        <div name="question_id"><b>ID:</b> {{ question.id }}</div>
        <div name="title" id="title"><b>Título:</b> {{ question.title }}</div>
        <div name="description" id="description"><b>Descrição:</b> {{ question.description|safe }}</div>
    </li>

    {% list_reply question.id %}
</ul>

<form action="{% url 'question:comment_reply' %}" method="post">
    {{ form.non_field_errors }}
    {% csrf_token %}
    <input type="hidden" name="question_id" value="{{ question.id }}" />
{#    <textarea name="description" id="description" placeholder="{% trans  'Comment here' %}" cols="30" rows="10"></textarea>#}
    {% render_field form_answer  %}
    {% if form.description.errors %}<span class="help-block">{{ form.description.errors }}</span> {% endif %}
    <input type="submit" value="Submit"/>
</form>

{% block javascripts %}
    {{ block.super }}
{% endblock %}
