/* ==========================================================================
   Publication section style (Comprehend article and question areas)
   ========================================================================== */


/* Vendors  */
@import "../../node_modules/slick-carousel/slick/slick.scss";


.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 20px;
  height: 20px;
  border: 0;
  line-height: 0;
  font-size: 0;
  background: 0 0;
  color: transparent;
  &.slick-prev { left: -10px }
  &.slick-prev::before { content: '\f104' }
  &.slick-next { right: -10px }
  &.slick-next::before { content: '\f105' }
  &::before {
    font-family: 'Fontawesome';
    font-size: 28px;
    line-height: 1;
    color: #000;
  }
}

.publication-carousel {
  max-height: 80px;
  margin-top: 30px;
  margin-bottom: 10px;
  &-item {
    padding: 0 15px;
    display: flex;
    flex: 1 1 auto;
    color: #616161;
    &-body {
      margin-left: 17px;
      display: flex;
      flex-flow: row wrap;
    }
    &:hover { color: #0162b1; }
  }
  &-image {
    position: relative;
    width: 100px;
    span {
      overflow: hidden;
      img {
        transition: transform ease .6s;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
  &-title {
    overflow: hidden;
    margin-top: 0;
    font: 600 14px/18px 'Open Sans';
    max-height: 57px;
  }
}
.btn-show-more {
  margin-bottom: 8px;
  font: 400 12px/22px 'Open Sans';
  text-transform: uppercase;
  border-radius: 2px;
  color: #616161;
  &:hover {
    background-color: #f3f3f3;
  }
}

@media (max-width: $screen-xs-max) {
  .publication-carousel {
    margin-bottom: 40px;
    &-title {}
    &-item {
      padding: 10px 15px;
    }
  }
  .btn-show-more {
    display: none;
  }
}
