/* ==========================================================================
   Publication section style (Comprehend article and question areas)
   ========================================================================== */


/* Vendors  */
.publication-carousel-wrapper {
  margin: 20px auto;
  position: relative;
}

/** Carousel **/

.publication-carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.publication-carousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.publication-carousel li {
    float: left;
    list-style: none;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.publication-carousel img {
    // display: block;
    // max-width: 100%;
    // height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #616161;
  text-decoration: none;
  // font-size: 24px/27px Arial, sans-serif;
}

.jcarousel-control-prev,
.jcarousel-control-next {
  display: none;
}
.jcarousel-control-prev {
  left: -15px;
}

.jcarousel-control-next {
  right: -15px;
}

.publication-carousel {
  &-item {
    display: flex;
    flex: 1 1 auto;
    float: left;
    color: #616161;
    &-body {
      margin-left: 17px;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
    }
    &:hover { color: #0162b1; }
  }
  &-image {
    position: relative;
    width: 100px;
    span {
      overflow: hidden;
      display: block;
      img {
        transition: transform ease .6s;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
  &-title {
    overflow: hidden;
    margin-top: 0;
    font: 600 14px/18px 'Open Sans';
    max-height: 57px;
  }
  &.advertising {
    max-height: 100%;
  }
}
.btn-show-more {
  margin-bottom: 8px;
  font: 400 12px/22px 'Open Sans';
  text-transform: uppercase;
  border-radius: 2px;
  color: #616161;
  &:hover {
    background-color: #f3f3f3;
  }
}

@media (max-width: $screen-xs-max) {
  .publication-carousel {
    margin: 0 0 40px;
    &-title {}
    &-item {}
  }
  .btn-show-more {
    display: none;
  }
  .jcarousel-control-prev,
  .jcarousel-control-next {
    display: block;
  }
}
