
{% for certification in certifications %}
    <a href="{% url 'core:certification' certification.slug %}" class="btn list__professions__btn">
        {{ certification.title }}
        <span class="list__professions__btn__icon">
          <i class="gsticon gsticon-plus"></i>
        </span>
    </a>
{% endfor %}

{% if certifications.has_next %}
    <a data-jscroll-next href="{% url 'core:certification-list' %}?criterio={{ form.cleaned_data.criteria|urlencode }}&page={{ certifications.next_page_number }}">Próximo</a>
{% endif %}