{%extends 'home/layout/base.html' %}

{% load staticfiles %}

{% block title %} Portal GSTI - Notificações de membros{% endblock %}

{% block content %}
    <main class="container main">
        <div class="row">
            <div class="col-lg-3">{% include 'home/partials/sidebar-perfil.html' %}</div>
            <div class="col-lg-9">
                {% include "userprofile/partials/profile-navbar.html" %}
                <div class="row">
                    <div class="col-lg-8">
                        <header class="area-title">
                            <h2>Notificações</h2>
                        </header>
                        <section class="area-content">
                            <h5 class="notfication-area">
                                <i class="gsticon gsticon-users"></i> Geral
                            </h5>
                            <button class="btn-default pull-right">Marcar todas com lidas</button>
                            <div class="member-notifications">
                                <div class="j-scroll j-scroll-container">
                                    {% include "notification/partials/notifiation-include-segment.html" %}
                                </div>
                            </div>
                        </section>
                    </div>
                    {% include "notification/partials/sidebar/notification-sidebar-right.html" with local_context="general" %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block javascripts %}
    {{ block.super }}
    <script>
        $(function() {
            $(".j-scroll").jscroll({
                loadingHtml: '<div class="load-async-preload"></div>',
                contentSelector: ".j-scroll-container",
                nextSelector: "a[data-jscroll-next]",
                callback: refreshAsyncLike
            });
        });
    </script>
{% endblock %}