/**
* Box com as principais informações do usuário: avatar, nome, quantidade de seguidores
* quantidade de publicações, lista de profissões e mini biografia. Esse box pode ser
* encontrado nas páginas de conteúdo (pergunta e publicação) e nas páginas do perfil do
* usuário
*
*
*/

.profile-box__info {
  @media ( min-width: $screen-sm-min ) {
    float: left;
  }
}
.profile-box__bio {
  @include clearfix();
  width: 100%;
  color: rgb(111, 111, 111);
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;

  @media ( min-width: $screen-sm-min ) {
    float: left;
  }
}
.profile-box__avatar {
    max-width: 90px;
    float: left;
    margin-right: 8px;
    border: 4px solid $link-white;
    box-shadow: -1px 1px 1px $color-border, 1px -1px 1px $color-border;
}

// modifications
// =============================================================================
.profile-box--horizontal .profile-box__info {
  @media ( min-width: $screen-sm-min ) {
    min-width: 500px;
  }
}
.profile-box--horizontal .profile-box__bio { margin-top: 14px }
.profile-box--horizontal .btn {
  display: block;
  @media (min-width: $screen-sm-min) {
    float: right;
    max-width: 100px;
  }
}

.profile__sidebar {
    min-height: 132px;
    padding: 20px;
    margin-top: -1px;
    border: 1px solid #e1e1e1;
    background: #fff;

    &__avatar {
        display: flex;
        justify-content: center;
        figure {
          position: relative;
        }
    }
    &__name {
        font-size: 18px;
        text-align: center;
    }
    &__relationship {
      margin-bottom: 25px;
      display: flex;
      flex-flow: row wrap;
      align-items: flex-end;
      justify-content: space-around;
      color: #616161;
      font-size: 13px;
      .counter-number {
        display: block;
        text-align: center;
      }
    }
    &__xp {
      position: relative;
      margin-bottom: 20px;
      border-bottom: 2px solid #fcc194;
      &__label {
        color: #616161;
        font-size: 12px;
      }
      &__value {
        position: absolute;
        bottom: -2px; left: 0;
        width: 50%;
        border-bottom: 2px solid #ff6f00;
        color: #ff6f00;
        font-size: 18px;
        text-align: center;
      }
    }
    &__bio,
    &__website,
    &__locale,
    &__occupation {
        .gsticon {
          font-size: 18px;
          margin-right: 7px;
        }
        margin-top: 25px;
        margin-bottom: 10px;
        display: block;
        color: #616161;
        font-size: 14px;
        line-height: 24px;
        > .tiny {
          color: #337ab7;
        }
    }
    > .user__pages__list {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
.dropdown-publication {
  .dropdown-action {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 10px 15px;
    display: block;
    border: 1px solid #0160b0;
    background: #0160b0;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    &:hover {
      background-color: #4e84b1;
      // color: #0160b0;
    }
  }
  .dropdown-menu {
    width: 100%;
    .perfil-actions {
      a {
        padding-top: 15px;
        padding-bottom: 15px;
        color: #616161;
        font-size: 16px;
        .gsticon {
          margin-left: 10px;
          margin-right: 20px;
        }
      }
    }
  }
}

@media (max-width: $screen-sm-min) {
  .profile__sidebar {
      padding: 0;
      border-color: transparent;

      &__avatar {
          display: flex;
          justify-content: center;
          figure {
            position: relative;
          }
          .banner-collaborator {
            overflow: hidden;
          }
      }
      &__name {
          font-size: 18px;
          text-align: center;
      }
      &__relationship {
        margin-bottom: 25px;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: space-around;
        color: #616161;
        font-size: 13px;
        .counter-number {
          display: block;
          text-align: center;
        }
      }
      &__xp {
        &__label {}
        &__value {}
      }
      &__bio,
      &__website,
      &__locale,
      &__occupation {
          margin-top: 25px;
          margin-bottom: 10px;
          display: block;
          color: #616161;
          font-size: 14px;
          line-height: 24px;
          > .tiny { color: #337ab7 }
      }
      &__bio {
        .gsticon {
          font-size: 16px;
          margin-right: 11px;
        }
      }
      &__website {
        .gsticon {
          font-size: 18px;
          margin-right: 7px;
        }
      }
        &__locale {
        .gsticon {
          font-size: 18px;
          margin-right: 11px;
        }
      }
        &__occupation {
        .gsticon {
          font-size: 14px;
          margin-right: 10px;
        }
      }
      > .user__pages__list {
          margin-top: 40px;
          margin-bottom: 40px;
      }
  }
}
