{% extends 'home/layout/base.html' %}

{% load ads %}
{% load widget_tweaks %}
{% load seo_pagination_tags %}

{% block title %}Notificações   {% endblock title %}

{% block link_pagination %}

    {% if videos %}
    {% pagination_links videos %}
    {% endif %}

{% endblock link_pagination %}

{% block extra_meta %}
    {{ block.super }}
    {% if not videos %}
        <meta name="robots" content="noindex,nofollow">
    {% endif %}

{% endblock %}

{% block content %}
    <main class="container main" data-page="videos">
        <div class="row">
            <div class="col-sm-12">
                <header class="widget-header">
                        <h3 class="widget-title">
                            <span>Pesquisar inscritos</span>
                        </h3>
                    </header>
                <p class="">Pesquisar inscrições para envio</p>
            </div>
        </div>
       <div class="row">
            <div class="col-sm-12 form-group visible-xs-block">
                <div class="btn btn-lg btn-block btn-primary" data-target="#filters" data-toggle="collapse">
                    <i class="gsticon gsticon-search"></i>
                    Enviar notificação
                </div>
            </div>
        </div>

        <div class="row">
            <form action="{{ request.path }}" method="get" class="collapse navbar-collapse" id="filters" data-form-send-enables>
                <div class="row">
                    <div class="col-sm-4 form-group clearfix">
                        {% render_field form.q class+="form-control" placeholder="Username" %}

                    </div>
                    <div class="col-sm-3 form-group">
                         {% render_field form.communities data-module="profession" placeholder="Comunidades" %}
                    </div>
                    <div class="col-sm-3 form-group">
                        {% render_field form.responsibility data-module="profession" placeholder="Profissões" %}
                    </div>
                    <div class="col-sm-2 form-group">

                        {% render_field form.has_user class+="form-control" %}

                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12">

                      <button class="form-group btn-action pull-right" type="submit">
                          Pesquisar inscrições
                        </button>

                    </div>
                </div>
            </form>

        </div>
       <div class="row">
            <div class="col-sm-12">
                <header class="widget-header">
                        <h1 class="widget-title">
                            <span>Enviar Notificação para <strong>{{ items }}</strong> inscrições</span>
                        </h1>
                </header>
            </div>
        </div>
         {% if success_message %}
                <div class="alert alert-success">
                    {{ success_message }}
                </div>
            {% endif %}
        {% if error_message %}
                <div class="alert alert-success">
                    {{ error_message }}
                </div>
            {% endif %}
        <div class="row">
            <form action="{{ request.path }}" method="post" class="collapse navbar-collapse" id="filters" data-form-send-enables>
                <div class="row">
                    {% render_field form_send.q class="hidden" %}
                    {% render_field form_send.communities class="hidden" %}
                    {% render_field form_send.responsibility class="hidden" %}
                    {% render_field form.has_user class+="hidden" %}

                    {% csrf_token %}
                    <div class="col-sm-12 form-group">
                        {% render_field form_send.title class+="form-control" placeholder="Título" %}
                    </div>
                    <div class="col-sm-12 form-group">
                        {% render_field form_send.message class+="form-control" placeholder="Texto" %}
                    </div>
                    <div class="col-sm-12 form-group">
                        {% render_field form_send.url class+="form-control" placeholder="url de destino" %}
                    </div>
                    <div class="col-sm-2 form-group pull-right">

                      <button class="btn-block btn-action" type="submit">
                          Enviar para inscritos
                        </button>

                    </div>
                </div>
            </form>


        </div>
    </main>
{% endblock content %}
