{% load social_tags %}
{% load thumbor_tags %}
{% load avatar_tags %}

<div id="comment-{{ instance.id }}">
    <div class="comment-user">
        <img src="{% get_avatar instance.author width=63 height=63 smart=False fit_in=False %}" alt="User Avatar">
    </div>
    <div class="comment-body">
        <header class="post-header">
            <div class="post-info">
                <time datetime="{{ instance.creation_date|date:'d-m-Y' }}" itemprop="datePublished"
                data-toggle="tooltip" data-placement="auto top" data-original-title="{{ instance.creation_date|date:'d/m/Y' }} às {{ instance.creation_date|date:'G:i' }}">
                    <span class="hidden-xs visible-lg-inline">{{ instance.creation_date|date:'d/m/Y' }} às {{ instance.creation_date|date:'G:i' }}</span>
                    <i class="gsticon gsticon-clock-o hidden-lg"></i>
                </time>
                <a href="javascript:;" data-toggle="dropdown"><i class="gsticon gsticon-gear"></i></a>
                <div class="dropdown-menu">
                    <ul class="perfil-actions">
                        {% if instance.author == request.user %}
                            <li><a data-xhr-edit data-toggle="dropdown" data-target="#comment-edit-{{ instance.id }}" data-xhr-id="{{ instance.id }}" href="javascript:;"><i class="gsticon gsticon-edit"></i> Editar comentário</a></li>
                            <li>
                                <a href="javascript:;"
                                   data-delete-item="true"
                                   data-modal="#modal-confirmation"
                                   data-url="{% url 'comment:delete' %}"
                                   data-item="{{ instance.id }}"
                                   data-type="{{ instance.get_content_type }}"
                                   data-title="de {{ instance.author.first_name }} ({{ instance.content|safe|striptags|escape|slice:":50"}}...)">
                                    <i class="gsticon gsticon-trash"></i> Remover comentário
                                </a>
                            </li>
                        {% else %}
                            <li><a href="{% url 'complaint:report' 'comment' instance.id %}" data-report="true" data-async-module="click" data-async-target="#modal-report" data-async-method="get"><i class="gsticon gsticon-exclamation-triangle"></i> Denunciar</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <a class="post-creator" href="{% if  instance.author.is_active %}{% url 'profile:show' instance.author.username %}{% else %}javascript:;{% endif %}">{{instance.author.get_full_name}}</a>
        </header>
        <div class="comment-text">
            {{instance.content|safe}}
        </div>
    </div>
    <footer class="post-footer col-lg-12">
        <div class="post-toolbar pull-right">
            <div class="post-count">
                {% like_box instance request.path "inline" %}
            </div>
            <div class="post-count-comments">
                <a data-object-id="{{ instance.id }}" data-toggle="dropdown" data-target="#data-answer-{{ instance.id }}" href="javascript:;" data-token="{{ csrf_token }}">Responder</a>
            </div>
        </div>
    </footer>
    <aside class="comments-container-child comments-children no-children">
        {% with comment_id=instance.id|stringformat:"s" %}
            {% if instance.author == request.user %}
                <div data-list id="comment-edit-{{ instance.id }}" class="dropdown-content">
                    {% include 'comment/edit-comment.html' with content_object=instance to_update="comment-"|add:comment_id content_type='comment'  %}
                </div>
            {% endif %}
            <div id="data-answer-{{ instance.id }}" class="dropdown-content">
                {% include 'comment/create-answer.html' with content_object=instance to_update="data-list-"|add:comment_id content_type='comment' %}
            </div>
        {% endwith %}
        <div id="data-list-{{ instance.id }}"  data-xhr data-xhr-url="{% url "comment:list-answer" %}?page=1&content_type=comment&content_id={{ instance.id }}"></div>
    </aside>
</div>
