{% load social_tags %}
{% load thumbor_tags %}

<div class="comment" id="comment-{{ instance.id }}">
    <div class="comment-user">
        <img src="{% thumbor_url instance.author.profile.get_profile_picture.url width=63 height=63 smart=False fit_in=False %}" alt="User Avatar">
        <div class="comment-vote">
            <i class="gsticon gsticon-caret-up"></i>
            <hr>
            <i class="gsticon gsticon-caret-down"></i>
        </div>
    </div>
    <div class="comment-body">
            <header class="post-header">
                <div class="post-info">
                    <time datetime="06-17-2015" itemprop="datePublished">{{ instance.creation_date|date:'d/m/Y' }} às {{ instance.creation_date|date:'G:i' }}</time>
                    <a href="javascript:;" data-toggle="dropdown"><i class="gsticon gsticon-gear"></i></a>
                    <div class="dropdown-menu" style="display: block;">
                        <ul class="perfil-actions">
                            <li><a data-xhr-edit data-xhr-id="{{ instance.id }}" href="javascript:;"><i class="gsticon gsticon-edit"></i> Editar comentário</a></li>
                            <li><a href="javascript:;"><i class="gsticon gsticon-exclamation-triangle"></i> Denunciar</a></li>
                        </ul>
                    </div>
                </div>
                <a class="post-creator" href="{% url 'profile:show' instance.author.username %}">{{instance.author.get_full_name}}:</a>
            </header>
        <div class="comment-text">
            <p>{{instance.content}}</p>
        </div>
    </div>
    <footer class="post-footer col-lg-12">
        <div class="post-toolbar pull-right">
            <div class="post-count">
                <a href="javascript:;" class="post-votes-up">1.026 <i class="gsticon gsticon-caret-up"></i></a>
                <a href="javascript:;" class="post-votes-dow"><i class="gsticon gsticon-caret-down"></i> 4</a>
            </div>
            <div class="post-count-comments">

                <a data-object-id="{{ instance.id }}" data-toggle href="javascript:;">Responder</a>

            </div>
        </div>
    </footer>
    <aside class="comments-container-child">

        {% with comment_id=instance.id|stringformat:"s" %}

            {% if instance.author == request.user %}
                <div data-list id="comment-edit-{{ instance.id }}" style="display: block;">
                    {% include 'comment/edit-comment.html' with content_object=instance to_update="comment-"|add:comment_id content_type='comment'  %}
                </div>
            {% endif %}
            <div id="data-answer-{{ instance.id }}" data-list>
                {% include 'comment/create-answer.html' with content_object=instance to_update="data-list-"|add:comment_id content_type='comment' %}
            </div>
        {% endwith %}


        <div id="data-list-{{ instance.id }}"  data-xhr data-xhr-url="{% url "comment:list-answer" %}?content_type=comment&content_id={{ instance.id }}"
{#              data-action="{% url 'answer-list' %}?page=1&content_type=comment&content_id={{ instance.id }}" #}
        ></div>
    </aside>
</div>

