{% load widget_tweaks %}

{% url 'hint:list' content_type content_object.id as hint_list_url %}

<form data-group-class=".comment-group" action="{% url 'comment:save' %}" data-logged="{{ request.user.is_authenticated }}" data-token="{{ csrf_token }}" data-ajaxform="true" data-toggle="prepend" data-update="{{ to_update }}" method="post">
    <div class="comment-group">

        {% render_field form.content data-hint-url=hint_list_url %}
        <span class="help-block"></span>
    </div>
    <input type="hidden" name="content_type" value="{{ content_type }}">
    <input type="hidden" name="content_object_id" value="{{ content_object.id }}">
     <div class="create-comment-footer">
        <input type="submit" value="Enviar" class="btn btn-primary">
    </div>
    {% csrf_token %}
</form>