{% load thumbor_tags %}
{% load avatar_tags %}
{% load widget_tweaks %}

{{ form.non_field_errors }}

<form data-group-class=".comment-group" data-toggle="prepend" data-update="#container-comments" data-ajaxform="true" action="{% url 'comment:save' %}" class="create-comment" method="post">{% csrf_token %}

    <figure class="create-comment-avatar">
        <img src="{% get_avatar request.user width=81 height=81 smart=False fit_in=False %}" alt="Foto de {{ request.user.full_name }}">
    </figure>


    <div class="comment-group create-comment-body{% if form.content.errors %} has-error{% endif %}">
         <textarea id="text_area_content" name="content" class="form-control" placeholder="Deixe seu comentário" data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}"></textarea>
{#            {{ form_comment.content|safe}}#}
{#         {{ form.content|safe }}#}
        <span class="help-block"></span>
    {% render_field form.content placeholder="Conteúdo da publicação" class="form-control" rows="10" cols="30" name="content" id="content" %}
    </div>

    <input name="content_object_id" value="{{ content_object_id }}" type="hidden"/>
    <input name="content_type" value="{{ content_type }}" type="hidden"/>

    <div class="create-comment-footer">
        <input type="submit" value="Comentar" class="btn btn-primary" data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}">
    </div>

</form>
