{% load thumbor_tags %}
{% load avatar_tags %}

{{ form.non_field_errors }}

<form data-ajaxform="true" data-group-class=".comment-group" data-update="#data-list-{{ instance.id }}" data-toggle="prepend" class="create-comment"
      action="{% url 'comment:answer-save' %}"
      method="post">{% csrf_token %}

    <div class="comment-group">
        <div class="create-comment-avatar">
            <img src="{% get_avatar request.user width=63 height=63 smart=False fit_in=False %}" alt="Foto de {{ request.user.full_name }}">
        </div>
    </div>

    <div class="comment-group">
        <div class="create-comment-body{% if form.content.errors %} has-error{% endif %}">
            <textarea name="content" class="form-control"  placeholder="Deixe sua resposta" data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}"></textarea>
        </div>
    </div>

    <input name="content_type" value="{{ content_type }}" type="hidden"/>
    <input name="content_object_id" value="{{ instance.id }}" type="hidden"/>

    <div class="create-comment-footer">
        <input type="submit" value="Responder" class="btn btn-primary" data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}">
    </div>
</form>
