{{ form.non_field_errors }}


<form action="{% url 'comment:save' %}" method="post"> {% csrf_token %}
    <textarea name="content" id="content" placeholder="Comment here" cols="30" rows="10"></textarea>
    {% if form.content.errors %}<span class="help-block">{{ form.content.errors }}</span> {% endif %}

    <br/>
    <input name="content_object_id" value="{% if form %}{{ form.data.content_object_id }}{% else %}{{ content_object.id }}{% endif %}" type="hidden"/>


    <input name="content_type" value="{% if form %}{{ form.data.content_type }}{% else %}{{ content_type }}{% endif %}" type="hidden"/>
    <input name="next_url" value="{% if form %}{{ form.data.next_url|urlencode }}{% else %}{{ url_next|urlencode  }}{% endif %}" type="hidden"/>
    <input type="submit" value="Submit"/>
</form>



