{% load  widget_tweaks %}

{% url 'hint:list' content_type content_object.id as hint_list_url %}

<form class="create-form" data-group-class=".comment-group" data-logged="{% if request.user.is_authenticated %}true{% else %}false{% endif %}" action="{% url 'comment:update' %}" data-ajaxform="true" data-toggle="replace" data-update="#comment-{{ content_object.id }}" method="post">
    <span class="create-form-avatar">
        <img src="https://randomuser.me/api/portraits/men/49.jpg" width="30" height="30" alt="Imagem do perfil de Random">
    </span>
    <div class="create-form-fields">
        <div class="form-group">
            {% render_field form.content data-hint-url=hint_list_url %}
            <span class="help-block"></span>
        </div>
        <div class="form-group">
            <input class="btn create-form-submit" type="submit" value="Enviar" data-url-login="{% url 'account:is_logged' %}" {% if not request.user.is_authenticated %}data-trigger="login"{% endif %}>
        </div>
    </div>
    <input type="hidden" name="comment_id" value="{{ content_object.id }}">
    {% csrf_token %}
</form>
