{% load comment_tags %}

<ul style="list-style: none;">
{% for comment in list_comment %}
    <li style="padding: 10px; ">
        <strong>{{comment.author.first_name}} {{comment.author.last_name}}: </strong>

        {{comment.content}}

        <br/>
        {% if comment.author == request.user %}
            <a onclick="$('#data-box-edit-{{ comment.id }}').toggle('display');"  href="javascript:;">Edit</a>
        {% endif %}

        {% if comment.level < max_levels or max_levels == False %}
            <a onclick="$('#data-box-answer-{{ comment.id }}').toggle('display');"  href="javascript:;">answer</a>
        {% endif %}


        {% if comment.author == request.user %}
            <a href="{% url 'comment:delete' comment.id %}">Delete</a>
        {% endif %}


        <br/>
        <div style="display: none;" id="data-box-answer-{{ comment.id }}">
            {% box_comment comment '/comment/index_teste' %}
        </div>
        <br/>
        <div style="display: none;" id="data-box-edit-{{ comment.id }}">
            {% box_edit_comment comment '/comment/index_teste' %}
        </div>


        {% list_comment comment %}
    </li>
{% endfor %}
</ul>
<hr/>
