{% load social_tags %}
{% load avatar_tags %}
{% load thumbor_tags %}
{% load comment_tags %}
{% load humanize %}

<div id="comment-{{ instance.id }}" class="comment">
    <header class="comment-header">

        {% if instance.author == request.user %}
        <div class="comment-info">
            <a class="comment-actions" href="javascript:;" data-toggle="dropdown" data-selector="#setting-comment-{{ instance.id }}"><i class="gsticon gsticon-ellipsis-v"></i></a>
            <div class="dropdown-menu dropdown-menu-right" id="setting-comment-{{ instance.id }}">
                <ul class="perfil-actions">
                    <li data-toggle="dropdown" data-target="#comment-edit-{{ instance.id }}">
                        <a href="javascript:;">
                            <i class="gsticon gsticon-edit"></i> Editar
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-delete-item="true" data-modal="#modal-confirmation"
                        data-url="{% url 'comment:delete' %}" data-item="{{ instance.id }}"
                        data-type="{{ instance.get_content_type }}"
                        data-title=" ({{ instance.content|safe|striptags|escape|slice:":50"}}...)">
                            <i class="gsticon gsticon-trash"></i> Remover
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}

        <div class="comment-creator">
            <a class="comment-userimage" href="{% if  instance.author.is_active %}{% url 'profile:show' instance.author.username %}{% else %}javascript:;{% endif %}">
                <img src="{% get_avatar instance.author width=50 height=50 smart=False fit_in=False %}" alt="foto do perfil {{ instance.author.get_full_name }}">
            </a>
            <a class="comment-username" href="{% if  instance.author.is_active %}{% url 'profile:show' instance.author.username %}{% else %}javascript:;{% endif %}" title="{{instance.author.get_full_name}}">
                {{ instance.author.get_full_name }}
            </a>

            {% if instance.content_type.model == 'comment' %}
                <span class="comment-replied-to">
                    <i class="gsticon gsticon-share"></i>
                        {{ instance.content_object.author.get_full_name }}
                </span>

            {% endif %}



            <br>
            <time class="comment-timestamp" datetime="{{ instance.creation_date|date:'d-m-Y' }}" data-toggle="tooltip" data-placement="auto top"
            title="{{ instance.creation_date|date:'d/m/Y' }} às {{ instance.creation_date|date:'G:i' }}">
                {{ instance.creation_date|naturaltime }}
            </time>
        </div>

    </header>

    <div class="comment-body">
        <div class="comment-text">
            {{ instance.content|safe }}
        </div>

        {% if instance.author == request.user %}
        <div data-list id="comment-edit-{{ instance.id }}" class="dropdown-content comment-dropdown comment-edit">
            {% comment_edit instance %}
        </div>
        {% endif %}

        {% if instance.content_type.model != "comment" %}
        <footer class="comment-footer">
            <div class="comment-reactions post-count">
                {% like_box instance request.path "inline" %}
            </div>
            <a class="comment-action--answer" title="Responder" data-object-id="{{ instance.id }}" data-toggle="dropdown" data-target="#data-answer-{{ instance.id }}" href="javascript:;" data-token="{{ csrf_token }}">
                <span class="comment-icon"></span>
                <span class="hidden-xs">Responder</span>
            </a>
            {% if instance.author != request.user %}
            <a class="comment-action--report" href="{% url 'complaint:report' 'comment' instance.id %}" data-report="true"
            data-async-module="click" data-async-target="#modal-report" data-async-method="get">
                <i class="gsticon gsticon-flag"></i>
                <span class="hidden-xs">Denunciar</span>
            </a>
            {% endif %}
        </footer>
        {% endif %}

    </div>
</div>

{% if instance.content_type.model != "comment" %}
<div id="data-answer-{{ instance.id }}" class="dropdown-content comment-dropdown">
    {% with instance_id=instance.id|stringformat:"s" %}
        {% with to_update="#list-"|add:instance.get_content_type|stringformat:"s"|add:"-"|add:instance_id %}
            {% comment_create instance to_update %}
        {% endwith %}
    {% endwith %}
</div>
{% endif %}

{% comment_list instance %}
