<nav class="post-communities">
    {% for community in communities %}
        <a href="{% url 'community:show' community.slug %}" class="link-to-community">{{ community.taxonomy }}</a>•
    {% endfor %}


    <a href="javascript:;" class="link-to-community" data-toggle="dropdown">Mais <i class="gsticon gsticon-angle-down"></i></a>

    <div class="dropdown-menu">
        <ul class="perfil-actions">
            <li><a href="javascript:;">matemática</a></li>
            <li><a href="javascript:;">Português</a></li>
            <li><a href="javascript:;">Literatura</a></li>
            <li><a href="javascript:;">Termodinâmica</a></li>
            <li><a href="javascript:;">Física</a></li>
        </ul>
    </div>
</nav>