<nav class="post-communities">

    {% for community in communities|slice:":3" %}
        <a href="{% url 'community:show' community.slug %}" class="link-to-community">{{ community.taxonomy }}</a>{% if not forloop.last or communities|length > 3 %} • {% endif %}
    {% endfor %}

    {% if communities|length > 3 %}
        <a href="javascript:;" class="link-to-community" data-toggle="dropdown">Mais <i class="gsticon gsticon-angle-down"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
            <ul class="perfil-actions">

                {% for community in communities|slice:"3:" %}
                    <li><a href="{% url 'community:show' community.slug %}" class="link-to-community">{{ community.taxonomy }}</a></li>
                {% endfor %}

            </ul>
        </div>
    {% endif %}

</nav>