<div id="modal-categories" class="modal fade" data-target="modal" data-previous-modal="#modal-personal-infos" data-next-modal="#modal-suggestions">
    <div class="modal-dialog modal-large">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-menssage">
                    <h4 class="message-title">Escolha categorias de sua preferência</h4>
                </div>
                <div class="steps">
                    <form id="form-filter-categories" action="{% url 'profile:wizard-step-filter-categories-ajax' %}" method="post" enctype="multipart/form-data" data-ajaxform="true" data-group-class=".item-form">
                        {% csrf_token %}
                        <ul class="step-items list-inline text-center">
                            <li class="step active">1</li>
                            <li class="step active">2</li>
                            <li class="step">3</li>
                        </ul>
                        <hr>
                        <div class="steps-container row">
                            <div class="col-lg-12">
                                <div class="row">
                                    {% if categories %}
                                        {% for category in categories %}
                                            <div class="modal-category">
                                                <label class="modal-category-label">
                                                    <span class="modal-category-check">
                                                        <input type="checkbox" name="taxonomies" id="category-{{ category.id }}" value="{{ category.id }}">
                                                    </span>
                                                    <span class="color-governance">{{ category.description }}</span>
                                                </label>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    {% comment %}
                                    <div class="modal-category">
                                        <label class="modal-category-label">
                                            <span class="modal-category-check">
                                                <input type="checkbox" name="category" id="governance">
                                            </span>
                                            <span class="color-governance">Governança de TI</span>
                                        </label>
                                    </div>
                                    <div class="modal-category">
                                        <label class="modal-category-label">
                                            <span class="modal-category-check">
                                                <input type="checkbox" name="category" id="marketing">
                                            </span>
                                            <span class="color-marketing">Desenvolvimento</span>
                                        </label>
                                    </div>
                                    <div class="modal-category">
                                        <label class="modal-category-label">
                                            <span class="modal-category-check">
                                                <input type="checkbox" name="category" id="development">
                                            </span>
                                            <span class="color-development">Web Design</span>
                                        </label>
                                    </div>
                                    <div class="modal-category">
                                        <label class="modal-category-label">
                                            <span class="modal-category-check">
                                                <input type="checkbox" name="category" id="infrastructure">
                                            </span>
                                            <span class="color-infrastructure">Marketing Digital</span>
                                        </label>
                                    </div>
                                    <div class="modal-category">
                                        <label class="modal-category-label">
                                            <span class="modal-category-check">
                                                <input type="checkbox" name="category" id="web-design">
                                            </span>
                                            <span class="color-web-design">Infraestrutura</span>
                                        </label>
                                    </div>
                                    <div class="modal-category">
                                        <label class="modal-category-label">
                                            <span class="modal-category-check">
                                                <input type="checkbox" name="category" id="database">
                                            </span>
                                            <span class="color-database">Banco de Dados</span>
                                        </label>
                                    </div>
                                    {% endcomment %}
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="item-form"></div>
                                <hr>
                            </div>
                            <div class="col-lg-offset-4 col-lg-8 text-right">
                                <button  class="btn-default" type="button" data-toggle="modal" data-target="#modal-personal-infos">voltar</button>
{#                                <button class="btn-green" data-toggle="modal" data-target="#modal-sugestions">Avançar</button>#}
                                <button data-clean-action="true" class="btn-green" type="submit">Avançar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>