{% load thumbor_tags %}

<div id="modal-personal-infos" class="modal fade" data-target="modal" data-next-modal="#modal-categories">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-menssage">
                    <i class="gsticon gsticon-check"></i>
                    <h4 class="message-title">Você agora tem uma conta na <strong>Rede GSTI.</strong></h4>
                    <h5>Adicione uma foto e preencha os campos exigidos abaixo.</h5>
                </div>
                <div class="steps">
                    <form id="form-personal-info" action="{% url 'profile:wizard-step-personal-info-ajax' %}" method="POST" enctype="multipart/form-data" data-ajaxform="true" data-group-class=".item-form">
                        {% csrf_token %}
                        <ul class="step-items">
                            <li class="step active">1</li>
                            <li class="step">2</li>
                            <li class="step">3</li>
                        </ul>
                        <div class="steps-container row">
                            <div class="col-lg-12"><hr></div>
                            <div class="col-lg-4">
                                <div class="custom-file-upload set-avatar" 
                                    data-module="dropzoneUploader" 
                                    data-original-image="{% if profile.get_profile_picture %}{{ profile.get_profile_picture.url }}{% endif %}"
                                    >
                                    <div class="custom-file-content">
                                        <i class="gsticon gsticon-cloud-upload"></i>
                                        <h5><strong>Foto de perfil</strong></h5>
                                        <p>Arraste a imagem para este campo ou <a href="javascript:;" data-trigger="file">clique aqui</a></p>
                                    </div>
                                    <input type="file" accept="image/*" name="profile_picture">
                                    <div class="custom-file-upload-result" data-content="file"></div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div data-form-group class="col-lg-12 item-form">
                                        <div class="custom-select">
                                            <select name="responsibility" id="responsibility" class="form-control">
                                                <option value="0" {% if not profile.current_occupation.responsibility %}selected{% endif %} disabled>Área de atuação</option>
                                                {% for responsibility in responsibilities %}
                                                    <option value="{{ responsibility.id }}" {% if responsibility.id == profile.current_occupation.responsibility.id %}selected{% endif %}>{{ responsibility.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <span class="help-block"></span>
                                    </div>
                                     <div data-form-group class="col-lg-6 item-form">
                                        <div class="custom-calendar">
                                            <input type="text" name="birth" id="birth" placeholder="Aniversário" value="{{ profile.birth|date:"d/m/Y" }}">
                                            <i class="gsticon gsticon-calendar"></i>
                                        </div>
                                        <span class="help-block"></span>
                                    </div>
                                    <div data-form-group class="col-lg-6 item-form">
                                        <div class="custom-select">
                                            <select name="gender" id="gender" class="form-control">
                                                <option value="" selected disabled>Sexo</option>
                                                <option value="M">Masculino</option>
                                                <option value="F">Feminino</option>
                                            </select>
                                        </div>
                                        <span class="help-block"></span>
                                    </div>
                                    <div data-form-group class="col-lg-6 item-form">
                                        <div class="custom-select">
                                            <select name="state" id="state" class="form-control" data-ajax-change="true" data-url="{% url 'profile:get_city' %}" data-target="#city">
                                                <option value="0" selected disabled>Estado</option>
                                                {% for state in states %}
                                                <option value="{{ state.id }}" {% if profile.city.state.id == state.id %}selected{% endif %}>{{ state.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <span class="help-block"></span>
                                    </div>
                                    <div data-form-group class="col-lg-6 item-form">
                                        <div class="custom-select">
                                            <select name="city" id="city" class="form-control">
                                                <option value="0" {% if not profile.city.id %}selected{% endif %} disabled>Cidade</option>
                                                {% for city in cities %}
                                                    <option value="{{ city.id }}" {% if profile.city.id == city.id %}selected{% endif %}>{{ city.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <span class="help-block"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row text-right">
                            <div class="col-lg-12">
                                <hr>
{#                                <button class="btn-green" data-toggle="modal" data-target="#modal-categories">Avançar</button>#}
                                <button class="btn-green" type="submit">Avançar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>