<div class="modal fade" data-target="modal" id="modal-personal-infos">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-menssage">
                    <i class="gsticon gsticon-check"></i>
                    <h4 class="message-title">Você agora tem uma conta na <strong>Rede GSTI.</strong></h4>
                    <h5>Adicione uma foto e preencha os campos exigidos abaixo.</h5>
                </div>
                <div class="steps">
                    <ul class="step-items">
                        <li class="step active">1</li>
                        <li class="step">2</li>
                        <li class="step">3</li>
                    </ul>
                    <div class="steps-container row">
                        <div class="col-lg-12"><hr></div>
                        <div class="col-lg-4">
                            <div class="custom-file-upload set-avatar" data-module="dropzoneUploader">
                                <div class="custom-file-content">
                                    <i class="gsticon gsticon-cloud-upload"></i>
                                    <h5><strong>Foto de perfil</strong></h5>
                                    <p>Arraste a imagem para este campo ou <a href="javascript:;" data-trigger="file">clique aqui</a></p>
                                </div>
                                <input type="file" accept="image/*" name="avatar">
                                <div class="custom-file-upload-result" data-content="file"></div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-12 item-form">
                                    <div class="custom-select">
                                        <span data-toggle="select" data-name="area_atuacao" class="custom-select-item">Área de atuação</span>
                                        <ul class="custom-select-list">
                                            <li data-value="001" class="custom-select-option">Some another assunto</li>
                                            <li data-value="002" class="custom-select-option">Some another assunto</li>
                                            <li data-value="003" class="custom-select-option">Some another assunto</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 item-form">
                                    <div class="custom-select">
                                        <span data-toggle="select" data-name="estado" class="custom-select-item">Estado</span>
                                        <ul class="custom-select-list">
                                            <li data-value="1" class="custom-select-option">Some another assunto</li>
                                            <li data-value="2" class="custom-select-option">Some another assunto</li>
                                            <li data-value="3" class="custom-select-option">Some another assunto</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 item-form">
                                    <div class="custom-select">
                                        <span data-toggle="select" data-name="cidade" class="custom-select-item">Cidade</span>
                                        <ul class="custom-select-list">
                                            <li data-value="1" class="custom-select-option">Some another assunto</li>
                                            <li data-value="2" class="custom-select-option">Some another assunto</li>
                                            <li data-value="3" class="custom-select-option">Some another assunto</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 item-form">
                                    <div class="custom-calendar">
                                        <input type="date" name="birthday" id="birthday" placeholder="Aniversário">
                                        <i class="gsticon gsticon-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-right">
                        <div class="col-lg-12"><hr>
                            <button class="btn-green" data-toggle="modal" data-target="#modal-categories">Avançar</button>
                        </div>
                    </div>
                    <input type="hidden" name="area_atuacao">
                    <input type="hidden" name="estado">
                    <input type="hidden" name="cidade">
                </div>
            </div>
        </div>
    </div>
</div>