<div class="modal fade" data-target="modal" id="modal-sugestions">
    <div class="modal-dialog modal-large">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-menssage">
                    <h4 class="message-title">Escolha categorias de sua preferência</h4>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
                </div>
                <div class="steps">
                    <form id="form-sugestions" action="{% url 'profile:wizard-step-suggestion-ajax' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <ul class="step-items list-inline text-center">
                            <li class="step active">1</li>
                            <li class="step active">2</li>
                            <li class="step active">3</li>
                        </ul>
                        <hr>
                        <div class="steps-container row">
                            <div class="col-lg-12" data-toggle="custom-scroll">
                                <div id="wizard-container-communities" class="row"></div>
                            </div>
                            <div class="col-lg-12">
                                <hr>
                            </div>
                            <div class="col-lg-offset-4 col-lg-8 text-right">
                                <button class="btn-default" type="button" data-toggle="modal" data-target="#modal-categories">voltar</button>
                                <button class="btn-green" type="submit" data-dismiss="modal">Concluir</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>