<aside class="amp-content-aside">
  <h2 class="amp-publication-subtitle">Respostas</h2>
  <article class="amp-publication-answer">
    <div class="amp-publication-info">
      <time class="amp-publication-publish" datetime="23/08/2016 15:41">23/08/2016 às 15:41</time>
      <a class="amp-publication-creator" href="/perfil/marcomascarenhas/">
        <figure class="amp-publication-creator-figure">
          <amp-img class="amp-publication-creator-img" src="http://localhost:9000/K8vc1cRn29Cs91AGlFM0GrEGkSA=/20x20/localhost:8000/media/uploads/userprofile/2016/04/14/marcomascarenhas2_social.jpg" alt="foto de " width="20" height="20"></amp-img>
          <figcaption class="amp-publication-creator-name">Marco Mascarenhas</figcaption>
        </figure>
      </a>
    </div>
    <div class="amp-publication-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quia, ipsum obcaecati consequuntur ratione et, possimus quam nesciunt libero id error corrupti adipisci, sequi beatae fugit sit, nam. Tempora, dolores!</p>
    </div>
  </article>
  <article class="amp-publication-answer">
    <div class="amp-publication-info">
      <time class="amp-publication-publish" datetime="23/08/2016 15:41">23/08/2016 às 15:41</time>
      <a class="amp-publication-creator" href="/perfil/marcomascarenhas/">
        <figure class="amp-publication-creator-figure">
          <amp-img class="amp-publication-creator-img" src="http://localhost:9000/K8vc1cRn29Cs91AGlFM0GrEGkSA=/20x20/localhost:8000/media/uploads/userprofile/2016/04/14/marcomascarenhas2_social.jpg" alt="foto de " width="20" height="20"></amp-img>
          <figcaption class="amp-publication-creator-name">Marco Mascarenhas</figcaption>
        </figure>
      </a>
    </div>
    <div class="amp-publication-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quia, ipsum obcaecati consequuntur ratione et, possimus quam nesciunt libero id error corrupti adipisci, sequi beatae fugit sit, nam. Tempora, dolores!</p>
    </div>
  </article>
</aside>
