<article class="amp-publication">
  <header class="amp-publication-header">
    <div class="amp-publication-info">
      <time class="amp-publication-publish" datetime="23/08/2016 15:41">23/08/2016 às 15:41</time>
      <a class="amp-publication-creator" href="/perfil/marcomascarenhas/">
        <figure class="amp-publication-creator-figure">
          <amp-img class="amp-publication-creator-img" src="http://localhost:9000/K8vc1cRn29Cs91AGlFM0GrEGkSA=/20x20/localhost:8000/media/uploads/userprofile/2016/04/14/marcomascarenhas2_social.jpg" alt="foto de " width="20" height="20"></amp-img>
          <figcaption class="amp-publication-creator-name">Marco Mascarenhas</figcaption>
        </figure>
      </a>
    </div>
    <h1 class="amp-publication-title">10 passos para elaborar um Plano de Capacidade de TI</h1>
  </header>
  <amp-img src="http://placehold.it/320/240?text=IMAGEM" width="320" height="240"></amp-img>
  <div class="amp-publication-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quia, ipsum obcaecati consequuntur ratione et, possimus quam nesciunt libero id error corrupti adipisci, sequi beatae fugit sit, nam. Tempora, dolores!</p>
  </div>
</article>
