{% load social_tags %}
{% load article_tags %}
{% load var_tags %}
{% load avatar_tags %}

{% set user_content_type = "user" %}
{% followers_count profile.user as followers_count_value %}

<div class="publication-author">
{#    <a class="btn pull-right text-center hidden-xs perfil-button-alt" data-action="follow" data-action-type="button" data-object="follow-user-24" data-action-text="Seguir" data-action-text-alt="Seguindo" data-class-name="perfil-button perfil-button-alt" data-hover="Não seguir" data-follow-object="24" data-follow-content_type="user" data-url-login="/conta/esta-logado/" data-trigger="login" data-token="jsIHlgxKXlgai8VqsHNB21L1mizWkoUHJ6ErY1ANj3RbklYpEL5nEdeP1ChnrBC8" href="/acoes-sociais/agir/xhr/24/user/follow?url_next=/2016/10/como-criar-paginas-amp-no-wordpress.html"><span>Seguindo</span></a>#}
    <div class="publication-author-info">
        <a href="#">
            <img class="publication-author-image" src="{% get_avatar profile.user width=100 height=100 smart=False fit_in=False %}" alt="foto de {{ profile.user.get_full_name }}">
        </a>
        <div>
            <a class="publication-author-name" href="#">{{ profile.user.get_full_name }}</a>
            <div class="publication-author-atuation">
                {% with occupations=profile.occupation.all %}
                  {% if occupations %}
                      {% for occupation in occupations %}
                          {{ occupation.responsibility.name }}{% if not forloop.last %},{% endif %}
                      {% endfor %}
                  {% endif %}
              {% endwith %}
            </div>
            <div class="publication-author-relationship">
                <div class="publication-author-followers">
                    <span data-counter="{{ followers_count_value }}" data-refresh-counter="follow-{{ user_content_type }}-{{ profile.user.id }}">
                        <span>{{ followers_count_value }}</span>
                        Seguidor{{ followers_count_value|pluralize:'es'}}
                    </span>
                </div>
                <div class="publication-author-publications">
                    <span>
                        <span>
                            {% articles_count profile.user as articles_count_value %}{{ articles_count_value }}
                        </span>Publicaç{{ articles_count_value|pluralize:'ão,ões' }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    {% if request.user != profile.user %}
        {% follow_action profile.user request.path %}
    {% endif %}
    <div class="publication-author-about">
        {{ profile.description|default_if_none:"" }}
    </div>

</div>
