{% extends 'home/layout/base.html' %}

{% block content %}

    <form action="">

        {{ form.as_table }}

    </form>


    <div class="j-scroll-container j-scroll">
        {% include 'videos/items.html' %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ block.super }}

    <script>
        $(function(){

            $(".j-scroll").jscroll({
                loadingHtml: '<div class="load-async-preload"></div>',
                contentSelect: ".j-scroll-container",
                nextSelector: "a[data-jscroll-next]",
                callback: function () {
                    refreshAsyncLike();
                }
            });

        });

    </script>

{% endblock javascripts %}