{%extends 'home/layout/base.html' %}

{% load staticfiles %}

{% block title %} Portal GSTI - Perfil {% endblock %}

{% block content %}
    <main class="container main">
        <div class="row">
            <div class="col-lg-3">
                {% include 'home/partials/sidebar-perfil.html' %}
            </div>
            <div class="col-lg-9">
                <nav class="perfil-navegation">
                    {% if profile.user == request.user %}<a class="active" href="{% url 'profile:feed' %}">Feed</a> •{% endif %}
                    <a href="{% url 'profile:show' username=profile.user.username %}">Perfil</a> •
                    <a href="{% url 'profile:communities' username=profile.user.username %}">Comunidades</a> •
                    <a href="{% url 'profile:followers' username=profile.user.username %}">Relacionamentos</a> •
                    <a href="{% url 'profile:videos' profile.user.username %}">Vídeos</a>
                </nav>
                <div class="row">
                    <div class="col-lg-8">
                <header class="area-title">
                    <h2>Notificações</h2>
                </header>
                <section class="area-content">
                    <h5 class="notfication-area"><i class="gsticon gsticon-users"></i> Membros</h5>
                    <a class="btn-default pull-right" href="javascript:;">Marcar todas com lidas</a>
                    <div class="j-scroll j-scroll-container member-notifications"></div>

                </section>
            </div>
                    <!-- Right bar -->
             <div class="col-lg-4">
                <div class="widget widget-box">
                    <div class="widget-content">
                        <ul class="perfil-repositories notification-aside">
                            <li><a href="{% url 'ninico:notificacao-membros' %}"><i class="gsticon gsticon-users"></i> Membros</a></li>
                            <li><a href="{% url 'ninico:notificacao-perguntas-e-respostas' %}"><i class="gsticon gsticon-comments"></i> Comentários e Respostas</a></li>
                            <li><a href="{% url 'ninico:notificacao' %}"><i class="gsticon gsticon-bell"></i> Geral</a></li>
                        </ul>
                    </div>
                </div>

                <div class="squad-advertising">
                    <img class="img-responsive" src="http://placehold.it/270x225" alt="Propaganda aqui">
                </div>
            </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block modals %}
    {{ block.super }}

    {% if request.user and request.user.profile and request.user.profile.wizard_step < 3 %}
        {% include 'home/partials/first-steps/personal-infos.html' %}
        {% include 'home/partials/first-steps/categories.html' %}
        {% include 'home/partials/first-steps/sugestions.html' %}
    {% endif %}

{% endblock %}


{% block javascripts %}
    {{ block.super }}

    <script>
    $(function(){
{#        <a class="btn-default btn-block" data-jscroll-next href="{% url 'notifications:list' %}?page=1">Test</a>#}
        var scrollContainer = $(".j-scroll-container");
        $.get("{% url 'notifications:list-members' %}", function(data){

            scrollContainer .html(data);
            scrollContainer.jscroll({
                loadingHtml: '<div class="load-async-preload"></div>',
                contentSelect: ".j-scroll-container",
                nextSelect: "a[data-jscroll-next]",
                autoTrigger: false
            });
        });
    });

    </script>
{% endblock %}