{% load notification_core_tags %}

<div class="dropdown dropdown-item-header">
  <a href="javascript:void(0);" class="user-actions-logged-link--logged"
     data-toggle="dropdown"
     data-target="#dropdown-comments"
     data-trigger="notification"
     data-token="{% notification_token %}"
     data-csrf="{{ csrf_token }}"
     data-type="posts"
     data-url-count="{% url 'notifications:polling-count' 'posts' %}"
     data-url-load="{% url 'notifications:polling-load' 'posts' %}"
     data-url-clear="{% url 'notifications:clear' %}"
     data-notifications="{{ notifications_id }}"
     data-notification-receives-badge="posts">

      {% if count %}
          <span class="badge">{{ count }}</span>
      {% endif %}

      <i class="gsticon gsticon-comments"></i>
  </a>
  <div id="dropdown-comments" class="header-dropdown-menu dropdown-notification">

      {% with template_name=notification_type|stringformat:"s"|add:".html" %}
          {% include 'notification/partials/navbar/notification-'|add:template_name %}
      {% endwith %}

  </div>
</div>



{% comment %}
<a href="javascript:void(0);" class="user-actions-logged-link--logged" data-toggle="dropdown" data-target="#dropdown-comments" data-trigger="notification" data-token="{{ token }}" data-csrf="{{ csrf_token }}"  data-notification-type="posts">
    <i class="gsticon gsticon-comments"></i>
</a>
<div id="dropdown-comments" class="header-dropdown-menu dropdown-notification" data-toggle="custom-scroll"></div>
{% endcomment %}