{% load notification_core_tags %}

<div class="dropdown dropdown-item-header">
    <a href="#dropdown-notification" class="user-actions-button-clean"
       data-toggle="dropdown"
       data-trigger="notification"
       data-token="{% notification_token %}"
       data-csrf="{{ csrf_token }}"
       data-type="general"
       data-url-count="{% url 'notifications:polling-count' 'general' %}"
       data-url-load="{% url 'notifications:polling-load' 'general' %}"
       data-url-clear="{% url 'notifications:clear' %}"
       data-notifications="{{ notifications_id }}"
       data-notification-receives-badge="general">

        {% if count %}
            <span class="badge">{{ count }}</span>
        {% endif %}
        <i class="gsticon gsticon-bell"></i>
    </a>
    <div id="dropdown-notification" class="header-dropdown-menu dropdown-notification">
      {% with template_name=notification_type|stringformat:"s"|add:".html" %}
          {% include 'notification/partials/navbar/notification-'|add:template_name %}
      {% endwith %}
  </div>
</div>