<div data-step-part="header">
    <i class="gsticon gsticon-file"></i>
    BÁSICO
</div>
<div data-step-part="content">
    <div class="row customrow">
        <div class="col-sm-12">
            <div class="customform">
                <input class="customform-input" data-toggle="input" name="title" id="title" type="text">
                <hr>
                <label class="customform-label" for="title">Título da vaga *</label>
            </div>
        </div>
    </div>
    <div class="row customrow">
        <div class="col-sm-12">
            <div class="customform">
                <textarea class="customform-input" data-toggle="input" name="description" id="description"></textarea>
                <hr>
                <label class="customform-label" for="description">Descrição da vaga *</label>
            </div>
        </div>
    </div>
    <div class="row customrow customrow-bottom">
        <div class="col-sm-4">
            <div class="customform">
                <label class="organization__form__label" for="area_atuacao">Área de atuação *</label>
                <select class="customform-input" name="area_atuacao">
                    <option disabled selected>selecione</option>
                </select>
                <hr>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="customform">
                <label class="organization__form__label" for="area_atuacao">Nível da área de atuação</label>
                <select class="customform-input" name="area_atuacao">
                    <option disabled selected>selecione</option>
                </select>
                <hr>
            </div>
        </div>
        <div class="col-sm-offset-1 col-sm-3">
            <div class="customform">
                <input class="customform-input" data-toggle="input" type="text">
                <hr>
                <label class="customform-label" for="area_atuacao">Número de vagas *</label>
            </div>
        </div>
    </div>
    <div class="row customrow">
        <div class="col-sm-12">
            <div class="customform">
                <input class="customform-input" data-toggle="input" type="email">
                <hr>
                <label class="customform-label" for="area_atuacao">Email para contato</label>
            </div>
        </div>
    </div>
    <div class="row customrow">
        <div class="col-sm-12 customform">
            <p class="text-info">OBS: Quanto mais detalhar a vaga, mais chances de contratar o profissional ideal.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
            <button type="submit" class="customform-button">Publicar</button>
            <a href="#next" data-step-action="next" class="customform-button primary">Avançar</a>
        </div>
    </div>
</div>
