<div data-step-part="header">
    <i class="gsticon gsticon-file"></i>
    BÁSICO
</div>
<div data-step-part="content">
    <div class="customform">
        <input class="customform-input" data-toggle="input" name="title" id="title" type="text">
        <hr>
        <label class="customform-label" for="title">Título da vaga *</label>
    </div>
    <div class="customform">
        <textarea class="customform-input" data-toggle="input" name="description" id="description"></textarea>
        <hr>
        <label class="customform-label" for="description">Descrição da vaga *</label>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="customform">
                <select class="customform-input" name="area_atuacao">
                    <option value="">test</option>
                </select>
                <hr>
                <label class="customform-label" for="area_atuacao">Área de atuação *</label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="customform">
                <select class="customform-input" name="area_atuacao">
                    <option value="">test</option>
                </select>
                <hr>
                <label class="customform-label" for="area_atuacao">Nível da área de atuação</label>
            </div>
        </div>
        <div class="col-sm-offset-1 col-sm-3">
            <div class="customform">
                <input class="customform-input" type="number" min="1">
                <hr>
                <label class="customform-label" for="area_atuacao">Área de atuação *</label>
            </div>
        </div>
    </div>
    <div class="customform">
        <input class="customform-input" type="email">
        <hr>
        <label class="customform-label" for="area_atuacao">Email para contato</label>
    </div>
    <p class="text-info">OBS: Quanto mais detalhar a vaga, mais chances de contratar o profissional ideal.</p>
</div>
