<div data-step-part="header">
    <i class="gsticon gsticon-address-book"></i>
    CONTATO
</div>
<div data-step-part="content">
    <div class="row customrow">
        <div class="col-sm-4">
            <div class="customform">
                <input class="customform-input" data-toggle="input" name="phone" id="phone" type="tel">
                <hr>
                <label class="customform-label" for="phone">Telefone</label>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="customform">
                <input class="customform-input" data-toggle="input" name="website" id="website" type="url">
                <hr>
                <label class="customform-label" for="website">Website</label>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="customform">
                <textarea class="customform-input" data-toggle="input" name="more_info" id="more_info"></textarea>
                <hr>
                <label class="customform-label" for="more_info">Mais informações de contato</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
            <button type="submit" class="customform-button">Publicar</button>
        </div>
    </div>
</div>
