{% load thumbor_tags %}
{% load avatar_tags %}
{% load widget_tweaks %}
{{ form.non_field_errors }}

<form class="create-form" action="{% url 'question:comment_reply' %}" method="post" data-group-class=".answer-group" data-toggle="append" data-update="#container-answers" data-ajaxform="true">
    <div class="create-form-fields">
        <div class="form-group {% if form.content.errors %} has-error{% endif %}">
            {% url 'account:is_logged' as is_logged %}
            {% url 'hint:list' content_type content_object_id as hint_list_url %}
            {% render_field form_answer.description class="form-control" placeholder="Deixe sua resposta" data-hint-url=hint_list_url data-url-login=is_logged data-trigger="login" data-token=csrf_token %}
        </div>
        <div class="form-group text-right">
            {# TODO: Traduzir o texto do botão #}
            <input class="btn create-form-submit" type="submit" value="Responder" data-token="{{ csrf_token }}">
        </div>
    </div>
    <input name="question_id" value="{{ content_object_id }}" type="hidden"/>
    {% csrf_token %}
</form>
