{% load thumbor_tags %}
{% load social_tags %}


<div class="perfil">
  <figure>
    <img src="{% thumbor_url community_obj.get_picture.url width=82 height=82 smart=False fit_in=False %}" alt="{{ community_obj.title }}">
  </figure>
    <a class="perfil-name" title="{{ community_obj.title }}" href="{% url 'community:show' community_obj.slug %}">
    {% if community_obj.title|length > 67 %}
        {{ community_obj.title|slice:":67" }}...
    {% else %}
        {{ community_obj.title }}
    {% endif %}</a>
    <a class="perfil-counter" href="{% url 'community:followers' community_obj.slug %}">
        <span class="counter-number">{% followers_count community_obj as followers_count_value %}{{ followers_count_value }}</span> Seguidor{{ followers_count_value|pluralize:'es' }}
    </a>
    {% follow_action community_obj url_next %}
</div>
