{% load social_tags %}
{% load avatar_tags %}
{% load thumbor_tags %}
{% load taxonomy_tags %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    {% if feed and feed.official %}
        <div class="label-official-content"
             data-toggle="tooltip"
             data-original-title="Conteúdo Oficial"></div>
    {% endif%}
    <header class="post-header">
        <div class="post-info">
            <time datetime="{{ instance.publishin|date:"d/m/Y G:i" }}" itemprop="datePublished">{{ instance.publishin|date:'d/m/Y' }} às {{ instance.publishin|date:'G:i' }}</time>
            <a href="javascript:;" data-toggle="dropdown"><i class="gsticon gsticon-gear"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <ul class="perfil-actions">
                    {% if instance.author == request.user %}
                        <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" href="{% url 'article:edit' instance.id %}"><i class="gsticon gsticon-edit"></i> Editar publicação</a></li>
                    {% endif %}
                    <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" href="javascript:;" data-suggest-modal="true" data-content="article" data-object="{{ instance.id }}" data-url="{% url 'socialactions:act-suggest' instance.id 'article' %}"><i class="gsticon gsticon-paper-plane"></i> Sugerir</a></li>
                    <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" data-action="see-later" data-action-type="text" data-action-text="Ver depois" data-action-text-alt="Marcar como visto" data-object="see-later-{{ instance.id }}" data-url-check="{% url 'socialactions:acted' instance.id 'article' 'see-later' %}" href="{% url 'socialactions:act-xhr' instance.id 'article' 'see-later' %}?url_next={{ request.path|urlencode }}"><i class="gsticon gsticon-eye"></i> <span>Ver depois</span></a></li>
                    <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" data-action="favourite" data-action-type="text" data-action-text="Favoritar" data-action-text-alt="Desfavoritar" data-object="favourite-{{ instance.id }}" data-article="{{ instance.id }}" data-url-check="{% url 'socialactions:acted' instance.id 'article' 'favourite' %}" href="{% url 'socialactions:act-xhr' instance.id 'article' 'favourite' %}?url_next={{ request.path|urlencode }}"><i class="gsticon gsticon-star"></i> <span>Favoritar</span></a></li>
                    <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" href="{% url 'complaint:report' 'article' instance.id %}" data-report="true" data-async-module="click" data-async-target="#modal-report" data-async-method="get"><i class="gsticon gsticon-exclamation-triangle"></i> Denunciar</a></li>
                </ul>
            </div>
        </div>
        <a class="post-creator" href="{% url 'profile:show' username=instance.author.username %}">
            <img src="{% get_avatar instance.author width=20 height=20 smart=False fit_in=False %}" alt="foto de {{ instance.author.get_full_name }}">
            {{instance.author.get_full_name}}
        </a>
    </header>
    <a class="post-content" href="{% url 'article:view' instance.id instance.slug %}" itemprop="articleBody">
        <figure>
            {% if instance.get_image %}
                <img src="{% thumbor_url instance.get_image.url width=170 height=130 smart=False fit_in=False %}" alt="{{ instance.title }}">
            {% endif %}
        </figure>
        <div class="post-text">
            <h3 class="post-title" itemprop="headline">{% if instance.title|length > 67 %}
                {{ instance.title|slice:":67" }}...
            {% else %}
                {{ instance.title }}
            {% endif %}</h3>
            <p>
                {% if instance.get_image %}
                    {{ instance.text|safe|striptags|slice:":90"}}...
                {% else %}
                    {{ instance.text|safe|striptags|slice:":250"}}...
                {% endif %}
            </p>
        </div>
    </a>
    <footer class="post-footer">
        {% taxonomies instance %}
        <div class="post-toolbar pull-right">
            <div class="post-count">
                {% like_box instance request.path "inline" %}
            </div>
            <div class="post-count-comments">
                <span id="load-count-comment-{{ feed.content_type.model }}-{{ instance.id }}"
                      data-load-async="true"
                      data-load-async-url="{% url 'comment:count' instance.id "article" %}"
                      data-load-async-method="get"
                      data-load-async-response-type="json">
                    <strong class="load-async load-async-content">0</strong>
                    {% csrf_token %}
                </span> Comentários
            </div>
        </div>
    </footer>
</article>