{% load avatar_tags %}
{% load widget_tweaks %}
<form class="post" action="{% url 'profile:feed' %}" method="post">
    <div class="post-header">
        <div class="post-creator">
            <img class="post-creator-image" src="{% get_avatar request.user width=40 height=40 smart=False fit_in=False %}" width="40" height="40" alt="foto de {{ instance.author.get_full_name }}">
            <span class="post-creator-userinfo">
                <span class="post-creator-username">{{ request.user.get_full_name }}</span>
            </span>
        </div>
        <div class="post-info">
            <strong class="char-countdown" data-target="countdown">256</strong>
        </div>
    </div>
    {% csrf_token %}
    <div class="post-content">
        {% render_field feed_form.text placeholder="..." %}
{#        <textarea name="commit"></textarea>#}
    </div>

    <div class="post-footer">
        {% include 'userprofile/partials/dropdown-publication.html' %}
        <button class="btn btn-commit" type="submit">Commit</button>
    </div>
</form>
