{% load thumbor_tags %}
{% load avatar_tags %}

 <div class="user__pages">

    {%  if profile.user == request.user and profile.user.companies.all %}
        <span class="user__pages__title">Páginas</span>
    <ul class="user__pages__list" id="list-pages">
            {% for company in profile.user.companies.all|slice:":3" %}
                <li class="user__pages__page"><a href="{% url 'account:login_with_company' company.user.username  %}">
                        <img src="{% thumbor_url company.image.url width=20 height=20 smart=False fit_in=False %}" alt="">
                    {{ company.name }}
                </a></li>
            {% endfor %}

    </ul>
    {% endif %}
    {% if profile.user.companies.al|length > 3 %}
        <a class="showmore" href="{% url "profile:companies" %}">
            Mais
        </a>
    {% endif %}
</div>