<nav class="perfil-navegation hidden-xs">
    {% if profile.user == request.user %}{% if active == "feed" %}<h2 class="active">Feed</h2> {% else %}<a href="{% url 'profile:feed' %}">Feed</a>{% endif %}{% endif %}
    {% if active == "posts" %}<h2 class="active">Publicações</h2> {% else %}<a href="{% url 'profile:show' profile.user.get_username  %}">Publicações</a>{% endif %}
    {% if profile.user == request.user %}{% if active == "questions" %}<h2 class="active">Minhas perguntas</h2> {% else %}<a href="{% url 'profile:my-questions' %}">Minhas Perguntas</a>{% endif %}{% endif %}
    {% if active == "communities" %}<h2 class="active">Comunidades</h2> {% else %}<a href="{% url 'profile:communities' username=profile.user.username %}">Comunidades</a>{% endif %}
    {% if active == "followers" %}<h2 class="active">Relacionamentos</h2> {% else %}<a href="{% url 'profile:followers' username=profile.user.username %}">Relacionamentos</a>{% endif %}
    {% if active == "ranking" %}<h2 class="active">Ranking</h2> {% else %}<a href="{% url 'profile:ranking' username=profile.user.username %}">Ranking</a>{% endif %}
</nav>
