{% load thumbor_tags %}
{% load humanize %}

{% if posts %}
    {% for post in posts %}
        <article id="pub-{{ post.content_object.id }}" class="publication">
            <div class="publication-container clearfix">
                {% if post.content_object.get_image %}
                <figure>
                  <img class="publication-image img-responsive" src="{% thumbor_url post.content_object.get_image.url width=90 height=80 smart=False fit_in=False %}" alt="{{ post.content_object.title }}">
                </figure>
                {% endif %}
                <a class="publication-content" href="{% url 'article:edit' post.content_object.id %}">
                    <h3 class="publication-title">
                        {{ post.content_object.title }}
                        {% if post.content_object.status == post.content_object.STATUS_DRAFT %}<span class="label label-draft">Rascunho</span>{% endif %}
                        {% if post.content_object.status == post.content_object.STATUS_TRASH %}<span class="label label-trash">Item excluído</span>{% endif %}
                    </h3>
                </a>
            </div>
            <footer class="publication-footer clearfix">
            {% if post.content_object.publishin != None  %}
                <time class="publication-footer-date" datetime="{{ post.content_object.publishin|date:"d/m/Y" }}" class="time">{{ post.content_object.publishin|naturaltime }}</time>
            {% else %}
                <span class="list_post publication-footer-date">Não publicado</span>
            {% endif %}
                <nav class="publication-footer-menu">
                    <a class="publication-footer-menu-item" href="{% url 'article:edit' post.content_object.id %}">Editar</a>

                {% if post.content_object.slug != '' %}
                    {% url 'article:view' post.content_object.year post.content_object.month post.content_object.slug as view_url %}
                {% endif %}
                    {% if not post.content_object.status == post.content_object.STATUS_DRAFT or post.content_object.status == post.content_object.STATUS_TRASH   %}
                        <a class="publication-footer-menu-item" href="{{ view_url }}" target="_blank">Visualizar</a>
                    {% endif %}
                    {% if post.content_object.status != post.content_object.STATUS_TRASH %}
                    <a class="publication-footer-menu-item text-danger" href="{% url 'article:delete' post.content_object.id %}" data-delete-item="true" data-url="{% url 'article:delete-async' post.content_object.id %}" data-item="{{ post.content_object.id }}" data-title="{{ post.content_object.title }}"  data-modal="#modal-confirmation">Excluir</a>
                    {% endif %}
                </nav>
            </footer>
        </article>
    {% endfor %}{% if post.content_object.status == post.content_object.STATUS_DRAFT %}<span class="label label-draft">Rascunho</span>{% endif %}
    <a data-jscroll-next href="{% url 'profile:edit-posts-list' %}?criteria={{ form.cleaned_data.criteria|default:"" }}&status={{ form.cleaned_data.status|default:"" }}&page={{ page }}&next={{ url_next|urlencode }}">next</a>
{% else %}
    {% if posts.number == 1 %}
        <p>Nenhum resultado foi encontrado para sua pesquisa</p>
        <hr>
    {% endif %}
{% endif %}
