{% load thumbor_tags %}
{% load social_tags %}
{% load var_tags %}
{% set counter_content_type = "community" %}

<div class="app-card app-card-profile {{ class_name }}">
    <div class="app-card-content">
        <figure>
            <img src="{% thumbor_url community_obj.get_picture.url width=100 height=100 smart=False fit_in=False %}" alt="{{ community_obj.title }}"
                title="{{ community_obj.title }}">
        </figure>
        <a class="app-card-profile-name {{ class_name }}" title="{{ community_obj.title }}" href="{% url 'community:show' community_obj.slug %}">
            {{ community_obj.title }}
        </a>
        <span class="app-card-profile-followers" data-counter="{{ community_obj.followers }}" data-refresh-counter="follow-{{ counter_content_type }}-{{ community_obj.id }}">
            <span class="app-card-profile-followers-number">{{ community_obj.followers }}</span> Seguidor{{ community_obj.followers|pluralize:'es' }}
        </span>
        {% follow_action community_obj url_next %}
    </div>
</div>