{% load social_tags %}

{% if communities.object_list %}

<div class="widget">
    <header class="widget-header">
        <h3 class="widget-title">
            <span>Comunidades</span>
        </h3>
    </header>
        <!-- <span class="counter">{% followings_count profile.user "community" %}</span> -->
    <div class="widget-content">
        {% for community in communities %}
            {% include "userprofile/partials/profile-community-segment.html" with community_obj=community.content_object %}
        {% endfor %}
    </div>
    <a class="widget-footer" href="{% url 'profile:communities' username=profile.user.username %}">Ver todos</a>
</div>

{% endif %}
