{% load humanize %}
{% load social_tags %}
{% load avatar_tags %}
{% load thumbor_tags %}
{% load taxonomy_tags %}

<div class="post">
    <header class="post-header">
        <div class="post-creator">
            <a class="post-creator-image" href="{% if  instance.author.is_active %}{% url 'profile:show' instance.author.username %}{% else %}javascript:;{% endif %}">
                <img src="{% get_avatar instance.author width=40 height=40 smart=False fit_in=False %}" alt="foto de {{ instance.author.get_full_name }}">
                {% if instance.author.profile.contributor %}
                    <div class="is-official" data-toggle="tooltip" data-placement="bottom" title="Colaborador do Portal"></div>
                {% endif%}
            </a>
            <span class="post-creator-userinfo">
                <a class="post-creator-username" href="{% if  instance.author.is_active %}{% url 'profile:show' instance.author.get_username %}{% else %}javascript:;{% endif %}">{{instance.author.get_full_name}}</a>
                <time datetime="{{ instance.publishin|date:'d/m/Y G:i' }}">{{ instance.publishin|naturaltime }}</time>
            </span>
        </div>
        <div class="post-info">
            <a class="post-actions" href="javascript:;" data-toggle="dropdown">
                <i class="gsticon gsticon-ellipsis-v" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <ul class="perfil-actions">
                    {% if instance.author == request.user %}
                    <li>
                        <a href="#modal-delete-status" data-delete-url="{% url 'profile:delete_profilestatus' instance.id %}" data-toggle="modal">
                            <i class="gsticon gsticon-trash-o"></i> Remover
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
    <a class="post-content" href="{{ instance.get_absolute_url }}">
        <div class="post-text">
            <h3 class="post-title">{{ instance.text }}</h3>
        </div>
    </a>
    <footer class="post-footer">
        <div class="post-count">{% like_box instance request.path "inline" %}</div>
        <a href="#" class="post-count-comments">
            <span id="load-count-comment-{{ feed.content_type.model }}-{{ instance.id }}"
            data-load-async="true" data-load-async-url="{% url 'comment:count' instance.id "profilestatus" %}"
            data-load-async-method="get" data-load-async-response-type="json">
                {% csrf_token %}
                <span class="post-count-comments-icon"></span>
                <strong class="load-async load-async-content">{{ instance.comment_count }}</strong>
            </span>
            <span class="hidden-xs visible-lg-inline">Comentário(s)</span>
        </a>
        <div class="post-share">
            <span data-toggle="dropdown">
                <i class="gsticon gsticon-share-alt"></i>
                <span class="hidden-xs visible-lg-inline">Compartilhar</span>
            </span>
            <div class="dropdown-menu dropdown-menu-right">
                {% with instance_full_url="https://www.portalgsti.com.br"|add:instance.get_absolute_url title=instance.title %}
                    {% include 'article/partials/share.html' with title=instance.title url=instance_full_url %}
                {% endwith %}
            </div>

        </div>
    </footer>
</div>