{% load social_tags %}
{% load thumbor_tags %}
{% load var_tags %}
{% load i18n %}
{% set counter_content_type = "community" %}

{% if items %}
    {% for community in items %}
       <div class="box-perfil">
           <div class="perfil">
               {% if community.content_object %}
               <a href="{% url 'community:show' community.content_object.slug %}">
                 <figure>
                   <img title="{{ community.content_object.title }}" class="img-responsive" src="{% thumbor_url community.content_object.get_picture.url width=82 height=82 smart=False fit_in=False %}" alt="{{ community.content_object.title }}">
                 </figure>
               </a>
               <a class="perfil-name" title="{{ community.content_object.title }}" href="{% url 'community:show' community.content_object.slug %}">{{ community.content_object.title }}</a>
               <span class="perfil-counter"
                     data-counter="{{ community.content_object.followers }}"
                     data-refresh-counter="follow-{{ counter_content_type }}-{{ community.content_object.id }}">
                   <span class="counter-number">{{ community.content_object.followers }}</span> Seguidor{{ community.content_object.followers|pluralize:'es' }}
               </span>
               {% follow_action community.content_object request.path %}
               {% else %}
               <a href="{% url 'community:show' community.slug %}">
                 <figure>
                   <img title="{{ community.title }}" class="img-responsive" src="{% thumbor_url community.get_picture.url width=82 height=82 smart=False fit_in=False %}" alt="{{ community.title }}">
                 </figure>
               </a>
               <a class="perfil-name" title="{{ community.title }}" href="{% url 'community:show' community.slug %}">{{ community.title }}</a>
               <span class="perfil-counter"
                     data-counter="{{ community.followers }}"
                     data-refresh-counter="follow-{{ counter_content_type }}-{{ community.id }}">
                   <span class="counter-number">{{ community.followers }}</span> Seguidor{{ community.followers|pluralize:'es' }}
               </span>
               {% follow_action community request.path %}
               {% endif %}
           </div>
       </div>
    {% endfor %}

    <a data-jscroll-next href="{% url 'profile:communities-list' profile.user.get_username %}?page={{ page }}&next={{ url_next|urlencode }}&criteria={{ form.cleaned_data.criteria|default:"" }}&category={{ form.cleaned_data.category.id|default:"" }}"></a>
{% elif page <= 2 %}
<p class="text-center text-italic">{% trans 'Não existem itens a serem exibidos' %}</p>
<hr>
{% endif %}
