{% load social_tags %}

{% if followings.object_list %}

<div class="widget">
    <header class="widget-header">
        <h3 class="widget-title">
            <span>Seguindo</span>
        </h3>
    </header>
        <!-- <span class="counter">{% followings_count profile.user "user" %}</span> -->
    <div class="widget-content">
        {% for following in followings %}
            {% include "userprofile/partials/profile-followings-segment.html" with following_obj=following.content_object %}
        {% endfor %}
    </div>
    <a class="widget-footer" href="{% url 'profile:followings' profile.user.username %}">Ver todos</a>
</div>

{% endif %}
