{% load thumbor_tags %}
{% load taxonomy_tags %}
<article class="post question" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <div class="post-info">
            <time datetime="06-17-2015" itemprop="datePublished">{{ instance.question_date|date:'d/m/Y' }} às {{ instance.question_date|date:'G:i' }}</time>
            <a href="javascript:;" data-toggle="dropdown"><i class="gsticon gsticon-gear"></i></a>
            <div class="dropdown-menu">
                <ul class="perfil-actions">
                    <li><a href="javascript:;"><i class="gsticon gsticon-edit"></i> Editar publicação</a></li>
                    <li><a href="javascript:;"><i class="gsticon gsticon-paper-plane"></i> Sugerir</a></li>
                    <li><a href="javascript:;"><i class="gsticon gsticon-eye"></i> Ver depois</a></li>
                    <li><a href="javascript:;"><i class="gsticon gsticon-star"></i> Favoritar</a></li>
                    <li><a href="javascript:;"><i class="gsticon gsticon-exclamation-triangle"></i> Denunciar</a></li>
                </ul>
            </div>
        </div>
        <a class="post-creator" href="{% url 'profile:show' instance.author.username %}">
            <img src="{% thumbor_url instance.author.profile.get_profile_picture.url width=20 height=20 smart=False fit_in=False %}" alt="foto de {{ instance.author.get_full_name }}">
            {{ instance.author.get_full_name }}
        </a>
    </header>
    <a class="post-content" href="{% url 'question:show' instance.slug instance.id %}" itemprop="articleBody">
        <div class="post-text">
            <div class="question-text">Pergunta:</div>
            <h3 class="post-title color-green" itemprop="headline">{{ instance.title }}</h3>
            <p class="color-green">{{ instance.description|safe|slice:":250"}}... </p>
        </div>
    </a>
    <footer class="post-footer">
        <nav class="post-communities">
            {% taxonomies instance %}
            <div class="dropdown-menu">
                <ul class="perfil-actions">
                    <li><a href="javascript:;">matemática</a></li>
                    <li><a href="javascript:;">Português</a></li>
                    <li><a href="javascript:;">Literatura</a></li>
                    <li><a href="javascript:;">Termodinâmica</a></li>
                    <li><a href="javascript:;">Física</a></li>
                </ul>
            </div>
        </nav>
        <div class="post-toolbar pull-right">
            <div class="post-count">
                <a href="javascript:;" class="post-votes-up">1.026 <i class="gsticon gsticon-caret-up"></i></a>
                <a href="javascript:;" class="post-votes-dow"><i class="gsticon gsticon-caret-down"></i> 4</a>
            </div>
            <div class="post-count-comments"><strong>{{ instance.counter_answer }}</strong> Resposta(s)</div>
        </div>
    </footer>
</article>