{% load humanize %}
{% load thumbor_tags %}
{% load avatar_tags %}
{% load taxonomy_tags %}
{% load social_tags %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    {% if feed and feed.official %}
    <div class="label-official-content" data-toggle="tooltip" data-original-title="Conteúdo Oficial"></div>
    {% endif%}
    <header class="post-header">
        <a class="post-creator" href="{% if  instance.author.is_active %}{% url 'profile:show' instance.author.get_username %}{% else %}javascript:;{% endif %}">
            <span class="post-creator-image">
                <img src="{% get_avatar instance.author width=40 height=40 smart=False fit_in=False %}" alt="foto de {{ instance.author.get_full_name }}">
                {% if instance.author.profile.contributor %}
                    <div class="is-official" data-toggle="tooltip" data-placement="bottom" title="Colaborador do GSTI"></div>
                {% endif%}
            </span>
            <span class="post-creator-userinfo">
                <span class="post-creator-username">
                    {{ instance.author.get_full_name }}
                    <span class="post-creator-label">
                        <i class="gsticon gsticon-question-circle" aria-hidden="true"></i>
                        Pergunta
                    </span>
                </span>
                <time datetime="{{ instance.question_date|date:'d/m/Y G:i' }}">{{ instance.question_date|naturaltime }}</time>
            </span>
        </a>
        <div class="post-info">
            <a class="post-actions" href="javascript:;" data-toggle="dropdown">
                <i class="gsticon gsticon-ellipsis-v" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <ul class="perfil-actions">
                    {% if instance.author_id == request.user.id or perms.question.change_other_questions %}
                        <li><a href="{% url 'question:edit' instance.id %}"><i class="gsticon gsticon-edit"></i> Editar pergunta</a></li>
                    {% endif %}
                    <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" href="javascript:;" data-suggest-modal="true" data-content="question" data-object="{{ instance.id }}" data-url="{% url 'socialactions:act-suggest' instance.id 'question' %}"><i class="gsticon gsticon-paper-plane"></i> Sugerir leitura</a></li>
                    <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" data-action="see-later" data-action-type="text" data-action-text="Ver depois" data-action-text-alt="Marcar como visto" data-object="see-later-{{ instance.id }}" data-url-check="{% url 'socialactions:acted' instance.id 'question' 'see-later' %}" href="{% url 'socialactions:act-xhr' instance.id 'question' 'see-later' %}?url_next={{ request.path|urlencode }}"><i class="gsticon gsticon-eye"></i> <span>{{" Ver depois"}}</span></a></li>
                    <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" data-action="favourite" data-action-type="text" data-action-text="Favoritar" data-action-text-alt="Desfavoritar" data-object="favourite-{{ instance.id }}" data-article="{{ instance.id }}" data-url-check="{% url 'socialactions:acted' instance.id 'question' 'favourite' %}" href="{% url 'socialactions:act-xhr' instance.id 'question' 'favourite' %}?url_next={{ request.path|urlencode }}"><i class="gsticon gsticon-star"></i> <span>{{" Favoritar"}}</span></a></li>
                    <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" href="{% url 'complaint:report' 'question' instance.id %}" data-report="true" data-async-module="click" data-async-target="#modal-report" data-async-method="get"><i class="gsticon gsticon-exclamation-triangle"></i> Denunciar</a></li>
                </ul>
            </div>
        </div>
    </header>
    <a class="post-content" href="{% url 'question:show' instance.slug instance.id %}" itemprop="articleBody">
        <div class="post-text">
            <h3 class="post-title" itemprop="headline">{% if instance.title|length > 67 %}
                {{ instance.title|slice:":67" }}...
            {% else %}
                {{ instance.title }}
            {% endif %}</h3>
            <p>{{ instance.description|safe|striptags|slice:":250" }}{% if instance.description|safe|length > 250 %}...{% endif %}</p>
        </div>
    </a>

    {% if feed.communities.all %}
    <nav class="post-nav">
        <ul class="post-nav-list">{% for community in feed.communities.all %}
            <li><a href="{% url 'community:show' community.slug %}" class="link-to-community">{{ community.taxonomy.description }}</a></li>
        {% endfor %}</ul>
    </nav>
    {% endif %}

    <footer class="post-footer">
        <div class="post-count">{% like_box instance request.path "inline" %}</div>
        <div class="post-count-comments">
            <i class="post-count-comments-icon"></i>
            <strong>{{ instance.counter_answer }}</strong>
            <span class="hidden-xs visible-lg-inline">Resposta(s)</span>
        </div>
        <div class="post-share">
            <span data-toggle="dropdown">
                <i class="gsticon gsticon-share-alt"></i>
                <span class="hidden-xs visible-lg-inline">Compartilhar</span>
            </span>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="share-buttons">
                    <a class="social-button facebook" href="#" target="_blank">Facebook</a>
                    <a class="social-button twitter" href="#" target="_blank">Twitter</a>
                    <a class="social-button gplus" href="#" target="_blank">Google+</a>
                    <a class="social-button linkedin" href="#" target="_blank">LinkedIn</a>
                </div>
            </div>
        </div>
    </footer>
</article>
