{% load thumbor_tags %}
{% load taxonomy_tags %}
{% load social_tags %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    {% if feed and feed.official %}
        <div class="label-official-content"
             data-toggle="tooltip"
             data-original-title="Conteúdo Oficial"></div>
    {% endif%}
    <header class="post-header">
        <div class="post-info">
            <time datetime="06-17-2015" itemprop="datePublished">{{ instance.question_date|date:'d/m/Y' }} às {{ instance.question_date|date:'G:i' }}</time>
            <a href="javascript:;" data-toggle="dropdown"><i class="gsticon gsticon-gear"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <ul class="perfil-actions">
                    {% if instance.author == request.user %}
                    <li><a data-trigger="login" data-token="{{ csrf_token }}" href="{% url 'question:edit' instance.id %}"><i class="gsticon gsticon-edit"></i> Editar publicação</a></li>
                    {% endif %}
                    <li><a data-trigger="login" data-token="{{ csrf_token }}" href="javascript:;" data-suggest-modal="true" data-content="question" data-object="{{ instance.id }}" data-url="{% url 'socialactions:act-suggest' instance.id 'question' %}"><i class="gsticon gsticon-paper-plane"></i> Sugerir</a></li>
                    <li><a data-trigger="login" data-token="{{ csrf_token }}" data-action="see-later" data-action-type="text" data-action-text="Ver depois" data-action-text-alt="Marcar como visto" data-object="see-later-{{ instance.id }}" data-url-check="{% url 'socialactions:acted' instance.id 'question' 'see-later' %}" href="{% url 'socialactions:act-xhr' instance.id 'question' 'see-later' %}?url_next={{ request.path|urlencode }}"><i class="gsticon gsticon-eye"></i> <span>Ver depois</span></a></li>
                    <li><a data-trigger="login" data-token="{{ csrf_token }}" data-action="favourite" data-action-type="text" data-action-text="Favoritar" data-action-text-alt="Desfavoritar" data-object="favourite-{{ instance.id }}" data-article="{{ instance.id }}" data-url-check="{% url 'socialactions:acted' instance.id 'question' 'favourite' %}" href="{% url 'socialactions:act-xhr' instance.id 'question' 'favourite' %}?url_next={{ request.path|urlencode }}"><i class="gsticon gsticon-star"></i> <span>Favoritar</span></a></li>
                    <li><a data-trigger="login" data-token="{{ csrf_token }}" href="{% url 'complaint:report' 'question' instance.id %}" data-report="true" data-async-module="click" data-async-target="#modal-report" data-async-method="get"><i class="gsticon gsticon-exclamation-triangle"></i> Denunciar</a></li>
                </ul>
            </div>
        </div>
        <a class="post-creator" href="{% url 'profile:show' instance.author.username %}">
            <img src="{% thumbor_url instance.author.profile.get_profile_picture.url width=20 height=20 smart=False fit_in=False %}" alt="foto de {{ instance.author.get_full_name }}">
            {{ instance.author.get_full_name }}
        </a>
        <span class="label label-question">Pergunta</span>
    </header>
    <a class="post-content" href="{% url 'question:show' instance.slug instance.id %}" itemprop="articleBody">
        <div class="post-text">
            <h3 class="post-title" itemprop="headline">{{ instance.title }}</h3>
            <p class="color-green">{{ instance.description|safe|slice:":250" }}{% if instance.description|safe|length > 250%}...{% endif %}</p>
        </div>
    </a>
    <footer class="post-footer">
        <nav class="post-communities">
            {% taxonomies instance %}
        </nav>
        <div class="post-toolbar pull-right">
            <div class="post-count">
                {% like_box instance request.path "inline" %}
            </div>
            <div class="post-count-comments"><strong>{{ instance.counter_answer }}</strong> Resposta(s)</div>
        </div>
    </footer>
</article>