<form action="{% url 'profile:followers-search' profile.user.username %}" method="GET" role="search">
    <div class="form-search-input">
        <input type="text" name="criteria" placeholder="{{placeholder|default:"Procure pessoas, comunidades, etc."}}">
    </div>
    <div class="dropdown-menu dropdown-search">
        <div class="float-notifcations">
            <div class="header-float-notifications">Pessoas</div>
            <ul class="content-float-notifications">
                <li class="item-float-notification">
                    <a href="javascript:;"><img src="http://placehold.it/20" alt="Creator Post Avatar"></a>
                    <a href="javascript:;">Iury Silva</a>
                </li>
                <li class="item-float-notification">
                    <a href="javascript:;"><img src="http://placehold.it/20" alt="Creator Post Avatar"></a>
                    <a href="javascript:;">Iury Silva</a>
                </li>
                <li class="item-float-notification">
                    <a href="javascript:;"><img src="http://placehold.it/20" alt="Creator Post Avatar"></a>
                    <a href="javascript:;">Iury Silva</a>
                </li>
                <li class="item-float-notification-separator">
                </li>
            </ul>
            <div class="header-float-notifications">Comunidades</div>
            <ul class="content-float-notifications">
                <li class="item-float-notification">
                    <a href="javascript:;"><img src="http://placehold.it/20" alt="Creator Post Avatar"></a>
                    <a href="javascript:;">Iury Silva</a>
                </li>
                <li class="item-float-notification">
                    <a href="javascript:;"><img src="http://placehold.it/20" alt="Creator Post Avatar"></a>
                    <a href="javascript:;">Iury Silva</a>
                </li>
                <li class="item-float-notification">
                    <a href="javascript:;"><img src="http://placehold.it/20" alt="Creator Post Avatar"></a>
                    <a href="javascript:;">Iury Silva</a>
                </li>
                <li class="item-float-notification-separator">
                </li>
            </ul>
        </div>
    </div>
    <button type="submit" class="form-search-button">
        <i class="gsticon gsticon-search"></i>
    </button>
</form>