{% extends "home/layout/base.html" %}

{% load ads %}
{% load widget_tweaks %}
{% load seo_pagination_tags %}

{% block title %}Cursos{% endblock title %}

{% block link_pagination %}

    {% if videos %}
    {% pagination_links videos %}
    {% endif %}

{% endblock link_pagination %}

{% block extra_meta %}
    {{ block.super }}
    {% if not videos %}
        <meta name="robots" content="noindex,nofollow">
    {% endif %}

{% endblock %}

{% block content %}
<main class="container main" data-page="courses" data-filtered="false">
    <div class="row">
        <div class="banner-content-wide">
            <div class="banner">
                {% ads_only_production "videos_top" "all" %}
            </div>
        </div>
    </div>
    <article class="row course__single">
        <div class="col-xs-12">
          <h1 class="course__title">Lorem ipsum dolor sit amet, timeam signiferumque vim</h1>
          <time class="course__date__publication" datetime="29/11/2016">
            <div class="course__avaliation">
              <span class="thumb__course__avaliation">
                <span style="width: 60%"></span>
              </span> 3,3
            </div>
            <i class="gsticon gsticon-calendar-o"></i> Publicado em 29/11/2016
          </time>
          <div class="course__categories visible-lg-block">
            <a href="#" class="course__category">Design</a> /
            <a href="#" class="course__category">Photoshop</a> /
            <a href="#" class="course__category">Banco de Dados</a> /
            <a href="#" class="course__category">InDesgin</a> /
            <a href="#" class="course__category">Desenvolvimento</a>
          </div>
          <div class="dropdown visible-xs course__categories">
              <a href="javascript:;" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Comunidades
                <i class="gsticon gsticon-angle-down"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="#" class="course__category">Design</a></li>
                <li><a href="#" class="course__category">Photoshop</a></li>
                <li><a href="#" class="course__category">Banco de Dados</a></li>
                <li><a href="#" class="course__category">InDesgin</a></li>
                <li><a href="#" class="course__category">Desenvolvimento</a></li>
              </ul>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-7">
                  <img class="img-responsive" src="http://placehold.it/670x440" alt="Contexto da imagem" />
                </div>
                <div class="col-sm-5 course__about">
                    <h2 class="course__about__title">Sobre o curso</h2>
                    <div class="course__about__text">
                        <p>Lorem ipsum dolor sit amet, has animal electram aliquando anaeque tantas no mei. Veniam decore nusquam pri id, ei pro bonorum erroribus. Vim egere everti sense rit et. Ea vero latinedeleniti vel, mel te solum euripidis liberavisse, vix solum molestie perpetua ad. Virtute corpora abhorreant eum an,vix solum molestie perpetua ad. Virtute corpora abhorreant eum an, virtute corpora.</p>
                    </div>
                    <ul class="list-unstyled">
                      <li>
                        <i class="gsticon gsticon-globe"></i> Idioma: Inglês, Português
                      </li>
                      <li>
                        <i class="gsticon gsticon-tag"></i> Plataforma: Udemy
                      </li>
                    </ul>
                    <a href="#" class="btn btn-green course__btn">Tenho Interesse</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-7 course__menu">
                    <h2 class="course__menu__title">Ementa do Curso</h2>
                    <ul class="course__menu__classes">
                        {% for class in '12' %}
                        <li class="course__menu__class">
                            <div class="course__menu__class__title">
                                Aula {{ class }} <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                            </div>
                            <div class="course__menu__class__content" id="class-{{ class }}">
                                <ul class="list-unstyled">
                                    <li>Lorem ipsum dolor sit amet, expetendis honestatis eos honestatis eos</li>
                                    <li>Lorem ipsum dolor sit amet, expetendis honestatis eos</li>
                                    <li>Lorem ipsum dolor sit amet, expetendis honestatis</li>
                                    <li>Lorem ipsum dolor sit amet, expetendis honestatis eos</li>
                                    <li>
                                      Lorem ipsum dolor sit amet, expetendis honestatis eos
                                      <ul>
                                        <li>1</li>
                                        <li>2</li>
                                        <li>3</li>
                                      </ul>
                                    </li>
                                </ul>
                            </div>
                            <a data-toggle="showmore" href="#class-{{ class }}"><i class="gsticon gsticon-plus"></i> Detalhes</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div>
                        <h4>OBS:</h4>
                        <p>Lorem ipsum dolor sit amet, expetendis honestatis eos honestatis eos, Lorem ipsum dolor sit amet, expetendis honestatis eos honestatis eos Lorem ipsum dolor sit amet, expetendis honestatis.</p>
                    </div>
                    <a href="#" class="btn btn-green course__btn">Ementa Completa</a>
                    {% include "front_end/course/partials/author.html" %}
                    {% include "front_end/course/partials/avaliations.html" %}
                </div>
                <div class="col-sm-5">
                    <div class="related__items">
                        <h2 class="related__items__title">Cursos Relacionados</h2>
                        {% for percentagem in '123' %}
                        <div class="related">
                            <figure class="related__img">
                                <img class="img-responsive" src="http://placehold.it/100" alt="">
                            </figure>
                            <div class="related__body">
                                <h3 class="related__title">Lorem ipsum dolor ipsum dolor</h3>
                                <div class="related__categories">Rede de Computadores, Analytics, Banco de Dados, Active Directory, Cloud Computing</div>
                                <span class="thumb__course__avaliation">
                                    <span style="width: 60%"></span>
                                </span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="related__items">
                        <h2 class="related__items__title">Comunidades</h2>
                        {% for percentagem in '123' %}
                        <div class="related">
                            <figure class="related__img">
                                <img class="img-responsive" src="http://placehold.it/100" alt="">
                            </figure>
                            <div class="related__body">
                                <h3 class="related__title">Lorem ipsum dolor ipsum dolor</h3>
                                <div class="related__followers">238 Seguidores</div>
                                <a class="btn perfil-button" href="#"><span>Entrar</span></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
{% endblock content %}
