{% load thumbor_tags %}
{% load article_blocks %}

{% if articles|length %}
    <section class="post-list--large post-list--{{ class_name }}">
        <div class="post-list-header">
            <h2 class="post-list-heading">{{ category.description }}</h2>
{#            {% include 'home/blocks/partials/communities.html' %}#}
            {% communities communities %}
        </div>
        <div class="post-list-container">

            {% for article in articles %}

                {% url 'article:view'  article.year article.month article.slug as article_link %}

                <figure class="article-home-large" id="article__{{ article.id }}">
                    <a href="{{ article_link }}">
                      {% if article.image %}
                        <img class="img-responsive" alt="{{ article.title }}"
                        src="{% thumbor_url article.image.url width=270 height=203 smart=False fit_in=False %}">
                      {% else %}
                        <img class="img-responsive" src="http://placehold.it/270x203" alt="Placeholder">
                      {% endif %}
                    </a>
                    <figcaption>
                        {% article_community_block category article %}
                        <a class="article-content" href="{{ article_link }}" title="{{ article.title }}">
                            {% if article.title|length > 67 %}{{ article.title|slice:":67" }}...{% else %}{{ article.title }}{% endif %}
                        </a>
                    </figcaption>
                </figure>

            {% endfor %}

        </div>
    </section>
{% endif %}
