{% load article_blocks %}
{% load avatar_tags %}
{% load thumbor_tags %}

<div class="page-home-category">
    <h2 class="page-home-category-title">
        <span class="{{ class_name }}">{{ category.description }}</span>
    </h2>
    <div class="page-home-category-posts">
        {% for article in articles %} {% url 'article:view' article.year article.month article.slug as article_link %}
        <div class="app-card {{class_name}} {% if not article.image %}app-card-no-image {% endif %}">
            {% if article.image %}
            <a href="{{ article_link }}" title="{{ article.title }}">
                <img class="app-card-image img-responsive" src="{% thumbor_url article.image.url width=480 height=300 smart=False fit_in=False %}"
                    alt="{% if article.title|length > 67 %}{{ article.title|slice:" :67
                    " }}...{% else %}{{ article.title }}{% endif %}">
            </a>
            {% endif %}
            <div class="app-card-content">
                <a class="app-card-author" href="{{ article.author.get_absolute_url }}">
                    <img class="img-circle" src="{% get_avatar article.author width=40 height=40 smart=False fit_in=False %}" alt="" /> {{ article.author.get_full_name }}
                </a>
                <h3 class="app-card-title">
                    <a href="{{ article_link }}" title="{{ article.title }}">
                        {{ article.title }}
                    </a>
                </h3>

                {% if not article.image %} {{ article.text|striptags|truncatechars:100 }} {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="page-home-vermais {{ class_name }}" href="{% url 'category:show' category.slug %}" title="{{ category.description }}">
        <i class="gsticon gsticon-plus-circle" aria-hidden="true"></i> VER MAIS</a>
</div>