{% load thumbor_tags %}
{% load article_blocks %}

<section class="post-list--half post-list--{{ class_name }}">
    <div class="post-list-header">
        <h2 class="post-list-heading">{{ category.description }}</h2>
{#        {% include 'home/blocks/partials/communities.html' %}#}
        {% communities communities %}
    </div>
    <div class="post-list-container">
        {% for article in articles|slice:":3" %}

            {% url 'article:view'  article.year article.month article.slug as article_link %}

            <figure class="article-home-small" id="article__{{ article.id }}">
                <a href="{{ article_link }}">
                  {% if article.image %}
                    <img class="img-responsive"
                      src="{% thumbor_url article.image.url width=170 height=128 smart=False fit_in=False %}"
                      alt="{% if article.title|length > 67 %}{{ article.title|slice:":67" }}...{% else %}{{ article.title }}{% endif %}">
                  {% else %}
                      <img class="img-responsive" src="http://placehold.it/170x128" alt="Placeholder">
                  {% endif %}
                </a>
                <figcaption>
                    {% article_community_block category article %}
                    <a class="article-content" href="{{ article_link }}">{% if article.title|length > 67 %}{{ article.title|slice:":67" }}...{% else %}{{ article.title }}{% endif %}</a>
                </figcaption>
            </figure>
        {% endfor %}
    </div>
    <div class="highlight-articles--large">
        {% for article in articles|slice:"3:5" %}

            {% url 'article:view'  article.year article.month article.slug as article_link %}

            <article class="article-home-medium">
                {% article_community_block category article %}
                <a class="article-content" href="{{ article_link }}">{% if article.title|length > 67 %}{{ article.title|slice:":67" }}...{% else %}{{ article.title }}{% endif %}</a>
            </article>
        {% endfor %}
    </div>
</section>
