{% load thumbor_tags %}
{% load avatar_tags %}

{% for feed in feed_list %}
    {% url 'article:view'  feed.article.year feed.article.month feed.article.slug as article_link %}
    <div class="app-card {{ class_name }}">
      {% if feed.article.image %}
        <a href="{{ article_link }}" title="{{ feed.article.title }}">
          <img class="app-card-image img-responsive" alt="{{ feed.article.title }}" src="{% thumbor_url feed.article.image.url width=480 height=300 smart=False fit_in=False %}">
        </a>
        {% endif %}
        <div class="app-card-content">
            <a class="app-card-author" href="{{ feed.article.author.get_absolute_url }}">
              <img class="img-circle" src="{% get_avatar feed.article.author width=40 height=40 smart=False fit_in=False %}" alt="" />
              {{ feed.article.author.get_full_name }}
            </a>
            <h3 class="app-card-title">
              <a href="{{ article_link }}" title="{{ feed.article.title }}">
                {% if feed.article.title|length > 67 %}{{ feed.article.title|slice:":67" }}...{% else %}{{ feed.article.title }}{% endif %}
              </a>
            </h3>
        </div>
    </div>
{% endfor %}
