{% load thumbor_tags %}
{% load avatar_tags %}

{% for article in articles %}
{% url 'article:view'  article.year article.month article.slug as article_link %}
<div class="app-card {{ class_name }}">
  {% if article.image %}
    <a href="{{ article_link }}" title="{{ article.title }}">
      <img class="app-card-image img-responsive" alt="{{ article.title }}" src="{% thumbor_url article.image.url width=480 height=300 smart=False fit_in=False %}">
    </a>
    {% endif %}
    <div class="app-card-content">
        <a class="app-card-author" href="{{ article.author.get_absolute_url }}">
          <img class="img-circle" src="{% get_avatar article.author width=30 height=30 smart=False fit_in=False %}" alt="" />
          {{ article.author.get_full_name }}
        </a>
        <h3 class="app-card-title">
          <a href="{{ article_link }}" title="{{ article.title }}">
            {{ article.title|truncatechars:66 }}
          </a>
        </h3>
    </div>
</div>
{% endfor %}
