<div class="post">
    <header class="post-header">
        <div class="post-info"><time style="display: block;" datetime="06-17-2015" itemprop="datePublished">{{ notification.notification_date|date:'d/m/Y' }} às {{ notification.notification_date|date:'G:i' }}</time></div>
        <figure class="post-creator">
          <img src="http://placehold.it/20" alt="Creator Post Avatar">
          <figcaption>
            <a href="javascript:;">{{notification.author.get_full_name}}</a> passou a te <a href="javascript:;">seguir</a>
          </figcaption>
        </figure>
    </header>
</div>
