<div class="widget-feed professional__jobs">
    <header class="area-title">
      <h3>Comunidades</h3>
    </header>
  <div class="professional__jobs__list">
    <a class="profession__job" href="#">
      <figure class="profession__job__avatar">
        <img class="profession__job__avatar__img" src="http://placehold.it/66" alt="iOS" title="iOS">
      </figure>
      <span class="perfil-name">Analista de sistemas</span>
      <span class="perfil-counter">
        <span class="counter-number">Agência Ginga</span>
      </span>
      <span class="perfil-counter">São Paulo - SP</span>
    </a>
    <a class="profession__job" href="#">
      <figure class="profession__job__avatar">
        <img class="profession__job__avatar__img" src="http://placehold.it/66" alt="iOS" title="iOS">
      </figure>
      <span class="perfil-name">Analista de sistemas</span>
      <span class="perfil-counter">
        <span class="counter-number">Maxprodesign</span>
      </span>
      <span class="perfil-counter">São Paulo - SP</span>
    </a>
    <a class="profession__job" href="#">
      <figure class="profession__job__avatar">
        <img class="profession__job__avatar__img" src="http://placehold.it/66" alt="iOS" title="iOS">
      </figure>
      <span class="perfil-name">Analista de sistemas</span>
      <span class="perfil-counter">
        <span class="counter-number">True Agency</span>
      </span>
      <span class="perfil-counter">São Paulo - SP</span>
    </a>
    <a class="profession__job" href="#">
      <figure class="profession__job__avatar">
        <img class="profession__job__avatar__img" src="http://placehold.it/66" alt="iOS" title="iOS">
      </figure>
      <span class="perfil-name">Analista de sistemas</span>
      <span class="perfil-counter">
        <span class="counter-number">eÓtica</span>
      </span>
      <span class="perfil-counter">São Paulo - SP</span>
    </a>
  </div>
  <a class="widget-footer" href="/perfil/annielmenezes/comunidades/">
    <i class="gsticon gsticon-plus"></i>
    Ver todos
  </a>
</div>
