{% extends "home/layout/base.html" %}

{% load staticfiles %}

{% block content %}

<main class="container single">
    {% include "front_end/publication/partials/advertising.html" %}
    <h1 class="single-title">5 atitudes que podem arruinar seus negócios na internet</h1>
    {% include "front_end/publication/partials/social-actions.html" %}
    <div class="row">
        <div class="single-main">
            <div class="single-header">
                <a class="single-main-about" href="#">
                    <img class="single-author-image" src="http://placehold.it/40" width="40" height="40" alt="">
                    <span class="single-main-about-body">
                        <span class="single-author">Marco Mascarenhas</span>
                        <span class="single-main-about-info">
                            <time class="single-time" datetime="25/10/2016 0:29"><i class="gsticon gsticon-clock-o"></i>3 meses atrás</time>
                            <span class="single-official">
                                <i class="gsti-rocket"></i> CONTEÚDO OFICIAL
                            </span>
                        </span>
                    </span>
                </a>
                <div class="single-main-reactions">
                    <a href="javascript:;" data-toggle="reaction" class="single-reaction">
                        <i class="gsticon gsticon-thumbs-up"></i> 26
                    </a>
                    <a href="javascript:;" data-toggle="reaction" class="single-reaction">
                        <i class="gsticon gsticon-flip-horizontal gsticon-thumbs-down"></i> 0
                    </a>
                </div>
                <nav class="single-communities">
                    <label for="drop-communities" class="toggle-menu">
                        Comunidades <span class="gsticon gsticon-angle-down"></span>
                    </label>
                    <input type="checkbox" name="toggle" id="drop-communities">
                    <ul class="drop-communities">
                        <li><a href="#">GOVERNANÇA E GESTÃO</a></li>
                        <li><a href="#">DESIGN</a></li>
                        <li><a href="#">BANCO DE DADOS</a></li>
                        <li><a href="#">ADWORDS</a></li>
                        <li><a href="#">ADSENSE</a></li>
                    </ul>
                </nav>
            </div>
            <div class="single-main-content">
                <h2>14 vídeo aulas de Delphi básico por Adriano de Souza</h2>
                pro habeo aliquam cu. No vix sale soluta probatus, cum assueverit dissentiunt no. Ei labore oporteat pri an vim. Sit nihil labores ex, everti deterruisset has id. Duo quas <a href="#">#volums</a> repudiandae cu. Vocibus liberavisse mei te. Delenit sententiae et est, eu amet vitae vix. Exerci everti saperet pri ei. Ei usu simul iudicabit persecuti, mea id velit munere albucius. Error erant senserit id cum, consul aliquid et usu, amet accumsan atomorum cum ea. Ius ad malis ceteros perpetua, doming debitis volumus per an. Ex salutandi gloriatur quo, sit no fastidii consetetur concludaturque. Et vix natum soluta explicari, vis cetero electram in, in quo paulo euismod delenit. <br>
                Lorem ipsum dolor sit amet, omnium alterum laoreet has et, pro habeo aliquam cu. No vix sale soluta probatus, cum assueverit dissentiunt no. Ei labore oporteat pri, vel audire admodum oporteat at, paulo consul an vim. Sit nihil labores ex, everti deterruisset has id. Duo quas volumus repudiandae cu. Vocibus liberavisse mei te. Delenit sententiae et est, eu amet vitae vix. Exerci everti saperet pri ei. Ei usu simul iudicabit persecuti, mea id velit munere albucius. Error erant senserit id cum, consul aliquid et usu, amet accumsan atomorum cum ea. Ius ad malis ceteros perpetua, doming debitis volumus per an. Ex salutandi gloriatur quo, sit no fastidii consetetur concludaturque. Et vix natum soluta explicari, vis cetero electram in, in quo paulo euismod delenit. <br>
                Lorem ipsum dolor sit amet, omnium alterum laoreet has et, pro habeo aliquam cu. No vix sale soluta probatus, cum assueverit dissentiunt no. Ei labore oporteat pri, vel audire admodum oporteat at, paulo consul an vim. Sit nihil labores ex, everti deterruisset has id. Duo quas volumus repudiandae cu. Vocibus liberavisse mei te. Delenit sententiae et est, eu amet vitae vix. Exerci everti saperet pri ei. Ei usu simul iudicabit persecuti, mea id velit munere albucius. Error erant senserit id cum, consul aliquid et usu, amet accumsan atomorum cum ea. Ius ad malis ceteros perpetua, doming debitis volumus per an. Ex salutandi gloriatur quo, sit no fastidii consetetur concludaturque. Et vix natum soluta explicari, vis cetero electram in, in quo paulo euismod delenit.
            </div>
            <div class="publication-main-footer">
                <div class="clearfix">
                    <a class="btn-denunciar pull-right" data-url-login="/conta/esta-logado/" data-trigger="login" data-token="lLSuCwc8xOQJLzakq8HzCa0Ioz303ksSLpOefhfbTwrKNMdjCcZlemtw3TLraxaj" href="/denuncia/article/3102" data-report="true" data-async-module="click" data-async-target="#modal-report" data-async-method="get">
                        <i class="gsticon gsticon-flag"></i> Denunciar
                    </a>
                </div>
                <div class="publication-author">
                    <a class="btn pull-right text-center perfil-button-alt" data-action="follow" data-action-type="button" data-object="follow-user-24" data-action-text="Seguir" data-action-text-alt="Seguindo" data-class-name="perfil-button perfil-button-alt" data-hover="Não seguir" data-follow-object="24" data-follow-content_type="user" data-url-login="/conta/esta-logado/" data-trigger="login" data-token="jsIHlgxKXlgai8VqsHNB21L1mizWkoUHJ6ErY1ANj3RbklYpEL5nEdeP1ChnrBC8" href="/acoes-sociais/agir/xhr/24/user/follow?url_next=/2016/10/como-criar-paginas-amp-no-wordpress.html"><span>Seguindo</span></a>
                    <div class="publication-author-info">
                        <a href="#">
                            <img class="publication-author-image" src="http://placehold.it/100" alt="">
                        </a>
                        <div>
                            <a class="publication-author-name" href="#">Marco Mascarenhas</a>
                            <div class="publication-author-relationship">
                                <div class="publication-author-followers">22 Seguidores</div>
                                <div class="publication-author-publications">80 Publicações</div>
                            </div>
                            <div class="publication-author-atuation">
                                CEO, Analista de SEO, Analista de Métricas, Cientista da Computação
                            </div>
                        </div>
                    </div>
                    <div class="publication-author-about">
                        Sou formado em Ciência da Computação pela Universidade Federal da Bahia e trabalho com SEO desde 2008. Me interesso muito por marketing digital, desenvolvimento de sistemas, cerveja e praia.
                    </div>
                </div>
                {% include "front_end/publication/partials/recomendations.html" %}
            </div>
        </div>
        <div class="single-aside">
            {% include "front_end/publication/partials/single-aside.html" %}
        </div>
    </div>
</main>

{% endblock content %}

{% block javascripts %}
    <script src="{% static 'javascripts/publication.js'%}"></script>
{% endblock javascripts %}
