{% extends 'home/layout/base.html'%}
{% load social_tags %}
{% load home_blocks %}
{% load article_blocks %}
{% load home_cache %}
{% load category_tags %}
{% load cache %}
{% load thumbor_tags %}
{% load bighomecache %}
{% load user_agents %}
{% load ads %}
{% load abs_url %}
{% load seo_pagination_tags %}
{% load static_versioned %}
{% load home %}
{% block seo-og-title %}{% block seo_title %}{{ category.description }} {{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}Saiba tudo sobre {{ category.description }} através dessa categoria do site. Aqui está reunido o conteúdo criado por colaboradores do Portal sobre esse assunto.{% endblock %}{% endblock %}
{% block seo-og-image %}{% thumbor_url category.community_related.get_picture.url width=82 height=82 smart=False fit_in=False %}{% endblock %}

{% block seo-canonical %}{% absolute_url request.get_full_path %}{% endblock %}
{% block link_pagination %}
    {% pagination_links feed_objects %}
{% endblock link_pagination %}

{% block page_stylesheet %}
<link rel="stylesheet" href="//unpkg.com/slick-carousel@1.8.1/slick/slick.css">
<link rel="stylesheet" href="//unpkg.com/slick-carousel@1.8.1/slick/slick-theme.css">
<link rel="stylesheet" href="{% static_versioned 'stylesheets/category.css' %}">
{% endblock page_stylesheet %}

{% with class_name=class_name|default_if_none:"default" %}

    {% block content %}
    <main class="app-main page-category">
        <div class="page-category-banner">
            {% ads_only_production "category_top" "all" %}
        </div>
        <div class="page-category-container">
            <h1 class="page-category-title">
                <span class="{{ class_name }}">{{ category.description }}</span>
            </h1>
        </div>
        <div class="page-category-container">
            {% article_section_large category_slug feed_articles_list 3 class_name %}
            {% with community=category.community_related %}
                {% include "userprofile/partials/profile-card-community.html" with community_obj=community class_name=class_name %}
            {% endwith %}
        </div>
        <div class="page-category-container">
            {% article_section_large category_slug feed_articles_list 4 class_name %}
        </div>
        <div class="page-category-container">
            {% article_section_large category_slug feed_articles_list 4 class_name %}
        </div>
        <div class="page-category-container">    
            {% article_section_large category_slug feed_articles_list 4 class_name %}
        </div>
        {% communities_slider %}
        <div class="page-category-container page-category-content-after">
            <div class="page-category-latests">
                <h2 class="page-category-subtitle">
                    <span class="{{ class_name }}">Últimas</span>
                </h2>
                <div class="page-category-posts">
                    {% article_section_large category_slug feed_articles_list 3 class_name %}
                </div>
                <div class="page-category-posts">
                    {% article_section_large category_slug feed_articles_list 3 class_name %}
                </div>
                <div class="page-category-posts">
                    {% article_section_large category_slug feed_articles_list 3 class_name %}
                </div>
                <div class="page-category-posts">
                    {% article_section_large category_slug feed_articles_list 3 class_name %}
                </div>
            </div>
            <div class="page-category-aside">
                {% last_courses 5 %}
                {% video_section 2 %}
            </div>
        </div>
    </main>
    {% endblock %}

    {% block javascripts %}
        <div id="fb-root"></div>
        <script src="//unpkg.com/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script type="text/javascript">
            $(function() {
                $(".j-scroll-communities").jscroll({
                    contentSelect: ".j-scroll-communities-container",
                    loadingHtml: '<div class="load-async-preload"></div>',
                    nextSelector: "a[data-jscroll-next]",
                    callback: function (data) {
                        refreshAsyncLike();
                    }
                });
                var $social_count = $("[data-social-count=\"true\"]");
                $.each($social_count, function(key, value){
                    var $obj = $(value);
                    $.get($obj.data("url"), function(data){
                        $obj.text(data.count);
                    });
                });
                $('[data-toggle="carousel"]').slick({
                    centerMode: true,
                    dots: false,
                    infinite: true,
                    prevArrow: "<button type='button' class='slick-prev communities-slider-arrow'><i class='gsticon gsticon-angle-left' aria-hidden='true'></i></button>",
                    nextArrow: "<button type='button' class='slick-next communities-slider-arrow'><i class='gsticon gsticon-angle-right' aria-hidden='true'></i></button>",
                    speed: 500,
                    variableWidth: true,
                    slidesToShow: 8,
                    slidesToScroll: 1,
                    responsive: [{
                        breakpoint: 769,
                        settings: {
                            arrows: false,
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            arrows: false,
                            slidesToScroll: 2,
                        }
                    }]
                });
            });
        </script>
    {% endblock %}
{% endwith %}
