{% extends 'home/layout/base.html'%}

{% load home_blocks %}
{% load home_cache %}
{% load category_tags %}
{% load cache %}
{% block title %}{{ category.description }} - Portal GSTI{% endblock %}

{% with class_name=class_name|default_if_none:"default" %}

    {% block content %}

        {% ideiahomecache None 'home_page_cache' category_slug %}

            <main class="container main">
                <div class="row">
                    <div class="post-list--large post-list--{{ class_name }}">
                        <div class="post-list-header">
                            <h2 class="post-list-heading">{{ category.description }}</h2>
                        </div>
                    </div>
                </div>
                <div class="highlight-area-category">
                    <div class="highlight-left">
                        <div class="banner">
                            <img class="img-responsive" src="http://placehold.it/728x90" alt="Banner Example">
                        </div>
                        <div class="post-list-container">

                            {% home_block_article_home category_slug class_name=class_name quantity=4 offset=0 %}

                        </div>

                        {% home_block_highlight_simple category_slug class_name=class_name quantity=2 offset=4 %}

                    </div>
                    <div class="highlight-right">

                        <div class="perfil">
                            <a href="/html/">

                                <img src="http://localhost:8888/NhuuczoRf0aBvv0dTfg6EpyYHbw=/82x82/localhost:8000/media/uploads/community/2016/04/25/html5_GAmACLf.jpg" alt="HTML">
                            </a>
                            <a href="/html/" class="perfil-name" title="HTML">HTML</a>
                            <span class="perfil-counter" data-counter="0" data-refresh-counter="follow-community-39">
                                <span class="counter-number">0</span> Seguidores
                            </span>
                            <a class="btn btn-sm perfil-button" data-action="follow" data-action-type="button" data-object="follow-community-39" data-action-text="Entrar" data-action-text-alt="Participando" data-class-name="perfil-button perfil-button-alt" data-hover="Sair" data-follow-content-type="community" data-url-login="/conta/esta-logado/" data-trigger="login" data-token="bd8w5qqscIrKbwXGuG0uFzEzsSRXCEXj" href="/acoes-sociais/agir/xhr/39/community/follow?url_next=/categoria/desenvolvimento/">
                                <span> Entrar </span>
                            </a>
                        </div>

                        {% home_block_highlight_simple category_slug class_name=class_name quantity=2 offset=6 %}

                        {% home_block_highlight_simple category_slug class_name=class_name quantity=2 offset=8 %}

                        {% home_block_highlight_with_image category_slug class_name=class_name quantity=2 offset=10 %}

                    </div>
                </div>
                {% comment %}
                <div class="container-posts">
                    {% home_block_full_width category_slug class_name=class_name quantity=4 offset=12 %}
                </div>
                {% endcomment %}
                <div class="container-posts">
                    <div class="banner-content-wide">
                        <div class="banner">
                            <img class="img-responsive" src="http://placehold.it/970x90" alt="Banner Example">
                        </div>
                    </div>

                    {% comment %}
                    {% home_block_third category_slug class_name=class_name quantity=9 offset=16 %}
                    {% endcomment %}
                    <section class="post-list--third post-list--{{ class_name }}">
                        <div class="post-list-header">
                            <h2 class="post-list-heading">Portal GSTI</h2>
                        </div>
                        <div class="post-list-container">
                            <div class="col-lg-12">
                                {%for i in 'abcde' %}
                                <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
                                    <div class="label-official-content" data-toggle="tooltip" data-original-title="Conteúdo Oficial"></div>
                                    <header class="post-header">
                                    <div class="post-info">
                                        <time datetime="16 de Maio de 2016 às 14:09" data-toggle="tooltip" data-placement="auto top" data-original-title="16/05/2016 às 14:09" itemprop="datePublished"><span class="hidden-xs visible-lg-inline">1&nbsp;semana, 6&nbsp;dias atrás</span><i class="gsticon gsticon-clock-o hidden-lg"></i></time>
                                        <a href="javascript:;" data-toggle="dropdown"><i class="gsticon gsticon-gear"></i></a>
                                        <div class="dropdown-menu"><ul class="perfil-actions">
                                            <li><a data-url-login="/conta/esta-logado/" data-trigger="login" data-token="1feEFb0skqmHRA1w26xcx3XN30og8N0T" href="javascript:;" data-suggest-modal="true" data-content="article" data-object="86" data-url="/acoes-sociais/agir/sugerir/86/article/"><i class="gsticon gsticon-paper-plane"></i> Sugerir leitura</a></li>
                                            <li><a data-url-login="/conta/esta-logado/" data-trigger="login" data-token="1feEFb0skqmHRA1w26xcx3XN30og8N0T" data-action="see-later" data-action-type="text" data-action-text="Ver depois" data-action-text-alt="Marcar como visto" data-object="see-later-86" data-url-check="/acoes-sociais/agiu/86/article/see-later" href="/acoes-sociais/agir/xhr/86/article/see-later?url_next=/buscar"><i class="gsticon gsticon-eye"></i><span>Ver depois</span></a></li>
                                            <li><a data-url-login="/conta/esta-logado/" data-trigger="login" data-token="1feEFb0skqmHRA1w26xcx3XN30og8N0T" data-action="favourite" data-action-type="text" data-action-text="Favoritar" data-action-text-alt="Desfavoritar" data-object="favourite-86" data-article="86" data-url-check="/acoes-sociais/agiu/86/article/favourite" href="/acoes-sociais/agir/xhr/86/article/favourite?url_next=/buscar"><i class="gsticon gsticon-star"></i><span>Favoritar</span></a></li>
                                            <li><a data-url-login="/conta/esta-logado/" data-trigger="login" data-token="1feEFb0skqmHRA1w26xcx3XN30og8N0T" href="/denuncia/article/86" data-report="true" data-async-module="click" data-async-target="#modal-report" data-async-method="get"><i class="gsticon gsticon-exclamation-triangle"></i> Denunciar</a></li>
                                            </ul></div>
                                        </div>
                                        <a class="post-creator" href="/perfil/marcomascarenhas/"><img src="http://portalgsti.homologacao.ideiaseo.com:8080/vE4PYfGNbbtmAE-nDyv2ujHa9Bs=/20x20/portalgsti.homologacao.ideiaseo.com/media/uploads/userprofile/2016/04/14/marcomascarenhas2_social.jpg" alt="foto de Marco Mascarenhas"> Marco Mascarenhas </a>
                                    </header>
                                    <a class="post-content" href="/2016/05/publicacao-que-tenha-o-maior-titulo-possivel-essa-publicacao-pode-ter-ate-100-caracteres-escritos-a.html" itemprop="articleBody">
                                        <figure>
                                            <img src="http://portalgsti.homologacao.ideiaseo.com:8080/KqKqTZUPeTDN3HX2U0vAq7S3UJ8=/170x128/portalgsti.homologacao.ideiaseo.com/media/uploads/article/2016/05/16/serie-b.jpg" alt="Publicação que tenha o maior titulo possível. Essa publicação pode ter até 100 caracteres escritos a">
                                        </figure>
                                        <div class="post-text">
                                            <h3 class="post-title" itemprop="headline">Publicação que tenha o maior titulo possível. Essa publicação pode ter até 100 caracteres escritos a</h3>
                                            <p>Tag HTML sss sssdaad asddsaasdsa Utilizando tags HTML em negrito.&nbsp; ... </p>
                                        </div>
                                    </a>
                                    <footer class="post-footer">
                                        <nav class="post-communities">
                                            <a href="javascript:;" class="link-to-community" data-toggle="dropdown">Comunidades <i class="gsticon gsticon-angle-down"></i></a>
                                            <div class="dropdown-menu"><ul class="perfil-actions">
                                            <li><a href="/google-analytics/" class="link-to-community">Analytics</a></li>
                                            <li><a href="/google-adwords/" class="link-to-community">Adwords</a></li>
                                            <li><a href="/google-adsense/" class="link-to-community">Adsense</a></li>
                                            <li><a href="/design/" class="link-to-community">Design</a></li>
                                            <li><a href="/e-mail-marketing/" class="link-to-community">E-mail marketing</a></li>
                                            </ul></div>
                                        </nav>
                                        <div class="post-toolbar pull-right">
                                        <div class="post-count">
                                            <a href="/acoes-sociais/agir/86/article/like?url_next=/buscar" class="post-votes-up " data-async-like="true" data-social-action="like" data-target-like=".count-like-post-86-article" data-target-unlike=".count-unlike-post-86-article" data-target-id="86-article" data-target-id-action="86-article-like" data-url-login="/conta/esta-logado/" data-trigger="login" data-token="1feEFb0skqmHRA1w26xcx3XN30og8N0T"><span class="count-like-post-86-article">2</span><i class="gsticon gsticon-caret-up"></i></a>
                                            <a href="/acoes-sociais/agir/86/article/unlike?url_next=/buscar" class="post-votes-down " data-async-like="true" data-social-action="unlike" data-target-like=".count-like-post-86-article" data-target-unlike=".count-unlike-post-86-article" data-target-id="86-article" data-target-id-action="86-article-unlike" data-url-login="/conta/esta-logado/" data-trigger="login" data-token="1feEFb0skqmHRA1w26xcx3XN30og8N0T"><i class="gsticon gsticon-caret-down"></i><span class="count-unlike-post-86-article">0</span></a>
                                        </div>
                                            <div class="post-count-comments">
                                            <span id="load-count-comment-article" data-load-async="true" data-load-async-url="/comentario/contar/86/article" data-load-async-method="get" data-load-async-response-type="json"><strong class="load-async load-async-content">1</strong><input type="hidden" name="csrfmiddlewaretoken" value="1feEFb0skqmHRA1w26xcx3XN30og8N0T"></span>
                                            <span class="hidden-xs visible-lg-inline">Comentário(s)</span>
                                            <span class="hidden-lg"><i class="gsticon gsticon-comment"></i></span>
                                            </div>
                                        </div>
                                    </footer>
                                </article>
                                {% endfor %}
                            </div>
                        </div>
                    </section>

                    <section class="post-list--small">
                        <div class="post-list-header">
                            <h2 class="post-list-heading">Comunidades</h2>
                        </div>

                        <!-- communities_related -->
                        {% cache 3600 'category_communities_related' category_slug %}
                            {% communities_related category %}
                        {% endcache %}

                        <div class="post-list-header">
                            <h2 class="post-list-heading">Conecte-se</h2>
                        </div>
                        <div class="fb-page" data-href="https://www.facebook.com/PortalGSTIpage" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/PortalGSTIpage"><a href="https://www.facebook.com/PortalGSTIpage">FB Portal GSTI</a></blockquote></div></div>
                        <!-- Place this tag where you want the widget to render. -->
                        <div id="google-badge">
                            <div class="g-page" data-width="270" data-href="https://plus.google.com/113333419239001929124" data-layout="landscape" data-rel="publisher"></div>
                        </div>
                    </section>
                </div>
            </main>
        {% endideiahomecache %}
    {% endblock %}

    {% block javascripts %}
        <div id="fb-root"></div>
        <!-- Place this tag after the last widget tag. -->
        <script type="text/javascript">
            (function() {
                document.getElementsByClassName('g-page')[0].setAttribute('data-width', document.getElementById('google-badge').clientWidth);
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/platform.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();

            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id; js.async = true;
                js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.4&appId=625566967570537";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
    {% endblock %}
{% endwith %}