{% extends 'home/layout/base.html' %}
{% block title %}Profissões{% endblock title %}
{% block content %}
<main class="container main">
  <div class="row">
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          <header class="area-title">
            <h2>profissionais de Tecnologia</h2>
          </header>
          <hr>
        </div>
      </div>
      <form class="row filter" action="#" data-toggle="filter" data-ajaxform="true">
        <div class="col-sm-12 filter__description">
          <p>Lista de profissões relacionadas a tecnologia</p>
        </div>
        <div class="col-sm-8 filter__inputbox">
          <div class="form-search-input">
            <input type="text" id="filter-profession" data-filter="textbox" name="criteria"
            placeholder="Pesquisar Profissão" autocomplete="off">
          </div>
          <button type="submit" class="form-search-button">
            <i class="gsticon gsticon-search"></i>
          </button>
        </div>
        <div class="col-sm-4 filter__communities">
          <select class="form-control"  id="filter-community" name="communities" data-filter="select">
            <option value="" disabled selected hidden>Categorias</option>
          </select>
        </div>
        <div class="col-sm-12"><hr></div>
      </form>
      <div class="row">
        <div class="col-xs-12 list__professions" data-list="professions">
          <a href="#" class="btn list__professions__btn">
            Analista de Sistemas
            <span class="list__professions__btn__icon">
              <i class="gsticon gsticon-plus"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="squad-advertising">
        <img src="https://loremflickr.com/250/250/technology/all" alt="">
      </div>
    </div>
  </div>
</main>
{% endblock content %}
