{% extends 'home/layout/base.html' %}
{% block title %}Profissões{% endblock title %}
{% block content %}
<main class="container main">
  <div class="row">
    <div class="col-sm-9">
      <form class="row filter" action="#" data-toggle="filter" data-ajaxform="true">
        <div class="col-sm-8 filter__inputbox">
          <div class="form-search-input">
            <input type="text" id="filter-profession" data-filter="textbox" name="criteria"
            placeholder="Pesquisar Profissão" autocomplete="off">
          </div>
          <button type="submit" class="form-search-button">
            <i class="gsticon gsticon-search"></i>
          </button>
        </div>
        <div class="col-sm-4 filter__communities">
          <select class="form-control"  id="filter-community" name="communities" data-filter="select">
            <option value="" disabled selected hidden>Categorias</option>
          </select>
        </div>
        <div class="col-sm-12"><hr></div>
      </form>
      <div class="row">
        <div class="col-sm-12">
          <header class="area-title">
            <h2>Analista de Sistemas</h2>
            <span class="color-development"><strong>Categoria:</strong> Desenvolvimento</span>
          </header>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 profession">
          <figure class="profession__img">
            <img class="img-responsive" src="http://placehold.it/270x225" alt="">
          </figure>
          <h3>O que é um Alalista de Sistemas</h3>
          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
          <h3>O que estudar para ser um Alalista de Sistemas</h3>
          <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
          <h3>Principais atividades do Alalista de Sistemas</h3>
          <p>Casamentiss faiz malandris se pirulitá, Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer Ispecialista im mé intende tudis nuam golada, vinho, uiski, carirí, rum da jamaikis, só num pode ser mijis. Adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
          <h3>Mais informações</h3>
          <p>Adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      {% include 'front_end/professions/partials/board.html' %}
      {% include 'front_end/professions/partials/jobs.html' %}
    </div>
  </div>
</main>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}

{% endblock javascripts %}
