 <div id="modal-rules" class="modal fade" data-target="modal">
    <div class="modal-dialog modal-large">
        <div class="modal-content">
            <div class="modal-header">
                <span class="pull-right close" data-dismiss="modal" aria-label="Close"><span class="gsticon gsticon-close"></span></span>
                <h4 class="modal-title">Regras do portal</h4>
            </div>
            <div class="modal-body">
                <p>O Portal GSTI é uma ferramenta que tem como principal objetivo reunir pessoas que tenham interesse por Gestão e Serviços de TI. <br>Para termos um ambiente favoravel é necessário seguir algumas regras de conduta:</p>
                <ol class="modal-ordered-list">
                    <li><span>Evite conteúdo duplicado</span></li>
                    <li><span>Certifique-se que sua publicação ou perguta não contenham erros de português</span></li>
                    <li><span>Não publique conteúdo que não tenha relação com sua categoria / comunidade. Sua publicação será vista por todos que seguem essa comunidade.</span></li>
                    <li><span>Não utilize palavrões nos seus comentários</span></li>
                    <li><span>Não é permitido links externos ao Portal GSTI como prática de spam e autopromoção</span></li>
                    <li><span>Não é permitido ou violação da Lei dos Direitos Autorais (Lei 9.610/98)</span></li>
                    <li><span>Os títulos das publicações/perguntas devem ter apenas a primeira letra, nomes próprios e de marcas em maiúscula</span></li>
                    <li><span>Não é permitido conteúdo com muitas palavras em caixa-alta</span></li>
                    <li><span>Os usuários poderão publicar quantas publicação desejarem, desde que sigam as regras estabelecidas</span></li>
                    <li><span>Denuncie publicações ou perguntas que fogem as regras do portal</span></li>
                </ol>
            </div>
        </div>
    </div>
</div>