<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <span class="pull-right close" data-dismiss="modal" aria-label="Close"><span class="gsticon gsticon-close"></span></span>
            <h4 class="modal-title">Recuperar senha</h4>
        </div>
        <div class="modal-body">
            <div class="modal-form">
                <div class="form-group">
                    <input class="form-control" type="password" placeholder="Nova senha">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" placeholder="Confirmar senha">
                </div>
                <a href="javascript:;" class="btn btn-action">Confirmar</a>
            </div>
        </div>
    </div>
</div>