<div id="modal-confirmation" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form id="confirmation-form" action="{% url 'profile:edit-posts-search-ajax' %}" method="post" data-ajaxform="true" data-group-class=".alert-container">
                <div class="modal-header">
                    <span class="pull-right close" data-dismiss="modal" aria-label="Close"><span class="gsticon gsticon-close"></span></span>
                    <h4 class="modal-title">Está certo disso?</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-form">
                        <p>Você está prestes a remover o item <b id="title-item-to-remove"></b>.</p>
                        <p>Está certo disso?</p>
                    </div>
                    <div class="loading-container"></div>
                    <div class="alert-container"><input type="hidden" name="__all__"></div>
                </div>
                <div class="modal-footer">
                    {% csrf_token %}
                    <input type="hidden" id="item-id" name="item-id">
                    <button type="submit" class="btn btn-default pull-right">Confirmar</button>
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" aria-label="Close">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>