{% load i18n %}

<div class="modal fade" data-target="modal" id="modal-login">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form id="form-login" action="{% url 'account:login-ajax' %}?next={{ request.path }}" method="POST" enctype="multipart/form-data" data-ajaxform="true" data-group-class=".form-group">

                {% csrf_token %}

                <div class="modal-header">
                    <span class="pull-right close" data-dismiss="modal" aria-label="Close"><span class="gsticon gsticon-close"></span></span>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    {% comment %}
                    <div class="modal-menssage">
                        <i class="gsticon gsticon-check"></i>
                        <h4 class="message-title">Sua senha foi recuperada com sucesso!</h4>
                    </div>
                    {% endcomment %}
                    <div class="social-login">
                        <a class="btn-login-facebook" href="/login/facebook">
                            <i class="gsticon gsticon-facebook"></i>
                            Facebook
                        </a>
                        <a class="btn-login-google" href="/login/google-oauth2">
                            <i class="gsticon gsticon-google-plus"></i>
                            Google+
                        </a>
                    </div>
                    <div class="modal-divider"><span>ou</span></div>
                    <div class="modal-form">
                        <div class="form-group">
                            <input class="form-control" type="text" name="username" placeholder="Nome de usuário ou email">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="Senha">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="hidden" name="__all__">
                        </div>
                        <div class="form-group has-error" id="account-not-active-error" style="display: none;">
                            <span class="help-block">
                                {% trans 'Account is not active.' %}
                                <br>
                                {% trans 'click here' as click_here %}
                                {% blocktrans %}
                                If you have not received the confirmation email <a href="{{ url_resend_account_confirmation }}" data-toggle="modal" data-target="#modal-resend-email-confirmation">{{ click_here }}</a> to resend.
                                {% endblocktrans %}
                            </span>
                        </div>
                        <button type="submit" class="btn-action btn-block">Entrar</button>
                        <div class="modal-tools">
                            <a class="left" href="{% url 'account:signup' %}">Cadastre-se</a>
                            <a class="right" href="{% url 'account:forgot_password' %}" data-toggle="modal" data-target="#modal-forgot-password">Esqueci a minha senha</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
