<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <span class="pull-right close" data-dismiss="modal" aria-label="Close"><span class="gsticon gsticon-close"></span></span>
            <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
            <div class="modal-menssage">
                <i class="gsticon gsticon-check"></i>
                <h4 class="message-title">Sua senha foi recuperada com sucesso!</h4>
            </div>
            <div class="social-login">
                <a class="btn-login-facebook" href="javascript:;">
                    <i class="gsticon gsticon-facebook"></i>
                    Facebook
                </a>
                <a class="btn-login-google" href="javascript:;">
                    <i class="gsticon gsticon-google-plus"></i>
                    Google+
                </a>
            </div>
            <div class="modal-divider"><span>ou</span></div>
            <div class="modal-form">
                <div class="form-group">
                    <input class="form-control" type="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" placeholder="Senha">
                </div>
                <a href="javascript:;" class="btn-action">Entrar</a>
                <div class="modal-tools">
                    <a class="left" href="javascript:;">Cadastre-se</a>
                    <a class="right" href="javascript:;">Esqueci a minha senha</a>
                </div>
            </div>
        </div>
    </div>
</div>