<div class="modal fade" data-target="modal" id="modal-denunciar">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form id="confirmation-form" action="" method="post" data-ajaxform="true" data-group-class=".alert-container">
                <div class="modal-header">
                    <span class="pull-right close" data-dismiss="modal" aria-label="Close"><span class="gsticon gsticon-close"></span></span>
                    <h4 class="modal-title">Denunciar publicação</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-form clearfix">
                        <label class="form-group custom-input">
                            <span class="custom-radio">
                                <input type="radio">
                            </span>
                            Muitos erros ortográficos
                        </label>
                        <label class="form-group custom-input">
                            <span class="custom-radio">
                                <input type="radio">
                            </span>
                            Ofensivo
                        </label>
                        <label class="form-group custom-input">
                            <span class="custom-radio">
                                <input type="radio">
                            </span>
                            Pornográfico
                        </label>
                        <label class="form-group custom-input">
                            <span class="custom-radio">
                                <input type="radio">
                            </span>
                            Sem relação com TI
                        </label>
                        <label class="form-group custom-input">
                            <span class="custom-radio">
                                <input type="radio">
                            </span>
                            Sem relação com a comunidade
                        </label>
                        <div class="childs-radios">
                            <label class="form-group custom-input">
                                <span class="custom-radio">
                                    <input type="checkbox">
                                </span>
                                CSS
                            </label>
                            <label class="form-group custom-input">
                                <span class="custom-radio">
                                    <input type="checkbox">
                                </span>
                                HTML
                            </label>
                            <label class="form-group custom-input">
                                <span class="custom-radio">
                                    <input type="checkbox">
                                </span>
                                Javascript
                            </label>
                        </div>
                    </div>
                    <button type="button" class="btn-error btn-block" data-dismiss="modal" aria-label="Close">Denunciar</button>
                </div>
            </form>
        </div>
    </div>
</div>