<div class="modal fade" data-target="modal" id="modal-sugerir">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="pull-right close" data-dismiss="modal" aria-label="Close"><span class="gsticon gsticon-close"></span></span>
                <h4 class="modal-title">Recuperar senha</h4>
            </div>
            <div class="modal-body">
                <div class="modal-form">
                    <p>Digite a quem você deseja sugerir essa publicação</p>
                    <div class="form-group">
                        <input class="form-control" type="text" data-toggle="selectize">
                    </div>
                    <div class="row">
                        <div class="col-lg-4 pull-right">
                            <a href="javascript:;" class="btn-action">Enviar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>