<div id="modal-contact" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="pull-right close" data-dismiss="modal" aria-label="Close"><span class="gsticon gsticon-close"></span></span>
                <h4 class="modal-title">Contato</h4>
            </div>
            <div class="modal-body">
                <div id="modal-content-form-contact" class="modal-form"></div>
            </div>
        </div>
    </div>
</div>

<div id="modal-contact-successfully" class="modal fade"></div>

