<div class="modal fade" data-target="modal" id="modal-alert-community-posts">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <span class="pull-right close" data-dismiss="modal" aria-label="Close"><span class="gsticon gsticon-close"></span></span>
                <h4 class="modal-title danger">Atenção!</h4>
            </div>
            <div class="modal-body">
                <div class="modal-menssage">
                    <h4 class="message-title">Entre nessa comunidade para submeter sua publicação!</h4>
                </div>
            </div>
        </div>
    </div>
</div>
