<div class="col-xs-12">
    <h4>Categoria</h4>
    <p>Selecione a categoria de sua preferência</p>
    <div class="categories">
        <a class="category" href="#">Banco de Dados</a>
        <a class="category" href="#">Desenvolvimento</a>
        <a class="category" href="#">Design</a>
        <a class="category" href="#">Infraestrutura</a>
        <a class="category" href="#">Governança e Gestão</a>
        <a class="category" href="#">Marketing Digital</a>
        <a class="category" href="#">Mobile</a>
        <a class="category" href="#">Mais</a>
    </div>
</div>
