<div class="col-xs-12">
    <h4>Categoria</h4>
    <div class="organization__form__item">
        <p>Selecione a categoria de sua preferência</p>
    </div>
    <div class="row organization__form__categories">
        <div class="col-sm-4">
            <label class="organization__form__category active" for="banco_de_dados">
                <input class="hidden" hidden type="checkbox" name="banco_de_dados" id="banco_de_dados">
                Banco de Dados
            </label>
        </div>
        <div class="col-sm-4">
            <label class="organization__form__category" for="desenvolvimento">
                <input class="hidden" hidden type="checkbox" name="desenvolvimento" id="desenvolvimento">
                Desenvolvimento
            </label>
        </div>
        <div class="col-sm-4">
            <label class="organization__form__category" for="design">
                <input class="hidden" hidden type="checkbox" name="design" id="design">
                Design
            </label>
        </div>
        <div class="col-sm-4">
            <label class="organization__form__category" for="infraestrutura">
                <input class="hidden" hidden type="checkbox" name="infraestrutura" id="infraestrutura">
                Infraestrutura
            </label>
        </div>
        <div class="col-sm-4">
            <label class="organization__form__category" for="governanca_e_gestão">
                <input class="hidden" hidden type="checkbox" name="governanca_e_gestão" id="governanca_e_gestão">
                Governança e Gestão
            </label>
        </div>
        <div class="col-sm-4">
            <label class="organization__form__category" for="marketing_digital">
                <input class="hidden" hidden type="checkbox" name="marketing_digital" id="marketing_digital">
                Marketing Digital
            </label>
        </div>
        <div class="col-sm-4">
            <label class="organization__form__category" for="mobile">
                <input class="hidden" hidden type="checkbox" name="mobile" id="mobile">
                Mobile
            </label>
        </div>
        <div class="col-sm-4">
            <label class="organization__form__category" for="mais">
                <input class="hidden" hidden type="checkbox" name="mais" id="mais">
                Mais
            </label>
        </div>
    </div>
</div>
