<div class="col-xs-12">
    <h4 class="organization__form__title">Comunidade</h4>
    <div class="form-group organization__form__item organization__form__item--search">
        <label class="organization__form__label" for="">Escolha a comunidade de sua preferência</label>
        <input class="organization__form__input" type="text" placeholder="Digite aqui a comunidade que deseja buscar">
    </div>
    <div class="row">
        <div class="col-sm-4">
            {% include "front_end/organization/partials/community.html" %}
        </div>
        <div class="col-sm-4">
            {% include "front_end/organization/partials/community.html" %}
        </div>
        <div class="col-sm-4">
            {% include "front_end/organization/partials/community.html" %}
        </div>
        <div class="col-sm-4">
            {% include "front_end/organization/partials/community.html" %}
        </div>
        <div class="col-sm-4">
            {% include "front_end/organization/partials/community.html" %}
        </div>
        <div class="col-sm-4">
            {% include "front_end/organization/partials/community.html" %}
        </div>
    </div>
    <a href="#" class="organization__showmore">Veja mais resultados</a>
</div>
