<div class="col-xs-12">
    <h4>Comunidade</h4>
    <input type="text" placeholder="escolha a comunidade que deseja buscar">
    <div class="row">
        <div class="col-sm-4">
            {% include "front_end/organization/partials/community.html" %}
        </div>
        <div class="col-sm-4">
            {% include "front_end/organization/partials/community.html" %}
        </div>
        <div class="col-sm-4">
            {% include "front_end/organization/partials/community.html" %}
        </div>
    </div>
    <a href="#" class="show__more">Veja mais resultados</a>
</div>
