<div class="col-sm-2">
    photo
</div>
<div class="col-sm-10 form-group">
    <label for="name">Nome da Organização</label>
    <input type="text" name="name">
</div>
<div class="col-sm-offset-2 col-sm-10 form-group">
    <label for="description">
        Descrição <small>(Escreva uma breve descrição da sua organização)</small>
    </label>
    <input type="text" name="description">
</div>
<div class="col-sm-offset-2 col-sm-10">
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="url">URL</label>
            <input type="text" name="url">
        </div>
        <div class="col-sm-6 form-group">
            <label for="url">cidade</label>
            <input type="text" name="url">
        </div>
    </div>
</div>
<div class="col-sm-offset-2 col-sm-10">
    <div class="row">
        <div class="col-sm-12 form-group">
            <label>Membros do Perfil</label>
            <div class="row">
                <div class="col-sm-5">
                    <input type="text" placeholder="Digite um nome">
                </div>
                <div class="col-sm-4">
                    <select name="role">
                        <option value="">Administrador</option>
                    </select>
                </div>
                <div class="col-sm-3 text-right">
                    <a class="btn btn-primary" href="#target" data-toggle="add-member">Adicionar</a>
                </div>
            </div>
            <div class="col-xs-12 organization__team">
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 text-right">
    <a href="#" class="btn btn-lg btn-green">Próximo</a>
</div>
