{%extends 'home/layout/base.html' %}

{% block title %}Portal GSTI - Jobs{% endblock %}

{% block content %}
<main class="container main">
    <div class="row">
        <div class="header-container">
            <h1 class="title">Vagas de trabalho em TI</h1>
            <h2 class="subtitle">Ache as vagas de trabalho em TI por todo o Brasil</h2>
        </div>
        <div class="clearfix"></div>
        {% comment %}
        {# Hide with #6072 #}
        <div class="col-lg-9">
            {% include 'job_vacation/partials/form.html' %}
            <header class="area-title">
                <h2>Vagas em destaque</h2>
            </header>
            <div class="jobs-list j-scroll-jobs">
                <p class="jobs-list_query-result">
                    <strong>{{ jobs.paginator.count }}</strong> Resultados {% if form.cleaned_data.keywords %}de <strong>"{{ form.cleaned_data.keywords }}"</strong>{% endif %} {% if form.cleaned_data.locale %}em <strong>"{{ form.cleaned_data.locale }}"</strong>{% endif %}
                </p>
                {% include "job_vacation/partials/results.html" %}
            </div>
        </div>
    {% endcomment %}
        <div class="col-lg-3">
            <div class="squad-advertising">
                <img class="img-responsive" src="http://placehold.it/270x225" alt="Propaganda aqui">
            </div>
        </div>
    </div>
</main>
{% endblock %}


{% block javascripts %}
    {{ block.super }}

    <script>
        var loaderHtml = '<div class="load-async-preload"></div>';
        var callbackFunction = function() {
            refreshAsyncLike();
        };

        $(function() {
            $(".j-scroll-jobs").jscroll({
                loadingHtml: loaderHtml,
                contentSelect: ".j-scroll-container-jobs",
                nextSelector: "a[data-jscroll-next-jobs]",
                callback: callbackFunction
            });
        });
    </script>
{% endblock %}