{%extends 'home/layout/base.html' %}
{% load humanize %}

{% block title %}{{ job.title }} - Portal GSTI{% endblock %}
{% load thumbor_tags %}
{% block content %}
<main class="container main">
<div class="row">
    <div class="col-lg-9">
        {% include 'job_vacation/partials/form.html' %}
        <div class="job-box">
            <div class="job-box_table">
                <div class="job-box_cell job-box_employ">
                    {% if job.company.get_logo %}
                        <img class="job-box_employ-img" src="{% thumbor_url job.company.get_logo.url width=80 height=80 smart=False fit_in=False %}" alt="Logo {{ job.company.name }}" />
                    {% else %}
                        <img class="job-box_employ-img" src="http://placehold.it/80" alt="{{ job.company.name }}" />
                    {% endif %}
                </div>
                <div class="job-box_cell job-box_info">
                    <div class="job-box_title">{{ job.title }} {% if job.home_office %}<span class="label label-home-office">home-office</span>{% endif %}</div>
                    <strong class="job-box_employ-name">{{ job.company.name }}</strong>
                    <div class="job-box_location">
                        {% for location in job.locations.all %}
                            {% for city in location.cities.all %}
                                <span class="location-item">{{ city.name }} - {{ location.state.acronym }}</span>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="job-box_publication hidden-lg">
                        <i class="gsticon gsticon-clock-o"></i> {{ job.job_vacancy_date|naturalday }}
                    </div>
                </div>
                <div class="job-box_cell timestamp">
                    <div class="job-box_publication wide">
                        <i class="gsticon gsticon-calendar"></i> {{ job.job_vacancy_date|naturalday }}
                    </div>
                </div>
            </div>
            <ul class="job-box_hiring">
               <li><strong>Salário:</strong> {% include "job_vacation/partials/job-salary.html" %}</li>
               <li><strong>Contratação:</strong> {{ job.regime.description|default:"Não informado" }}</li>
               {% if job.home_office %}<li><strong>Home-office</strong></li>{% endif %}
               {% if job.quantity %}<li><strong>Vagas:</strong> {{ job.quantity }}</li>{% endif %}
            </ul>
            <ul class="job-box_vacancy">
                {% if job.description or job.job_vacancy_responsibility %}
                <li>
                    <strong class="job-box_vacancy-title">Descrição</strong>
                    <div class="job-box_vacancy-text">
                        {% if job.company.description %}<p>{{ job.company.description }}</p>{% endif %}
                        {% if job.job_vacancy_responsibility %}
                            <p><strong>Principais atribuições</strong></p>
                            <p>{{ job.job_vacancy_responsibility }}</p>
                        {% endif %}
                    </div>
                </li>
                {% endif %}
                {% if job.requirements.all %}
                <li>
                    <strong class="job-box_vacancy-title">Requisitos</strong>
                    <div class="job-box_vacancy-text">
                        <ul>
                            {% for requirement in job.requirements.all %}
                                <li>{{ requirement.item.description }}{% if requirement.level %} - {{ requirement.level.description }}{% endif %}{% if requirement.exigency %} - {{ requirement.exigency.description }}{% endif %}{% if requirement.experience %} - {{ requirement.experience.description }}{% endif %}</li>
                            {% endfor %}
                            {% for requirement in job.additional_requirements.all %}
                                <li>{{ requirement.description }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                {% endif %}
                {% if job.workload %}
                    <li>
                        <strong class="job-box_vacancy-title">Carga horária</strong>
                        <div class="job-box_vacancy-text">
                            {{ job.workload.description }}
                        </div>
                    </li>
                {% endif %}
                {% if job.certifications.all %}
                    <li>
                        <strong class="job-box_vacancy-title">Certificações</strong>
                        <div class="job-box_vacancy-text">
                            <ul>
                                {% for item in job.certifications.all %}
                                    <li>{{ item.certification.title }} - {{ item.exigency.description }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endif %}
                {% if job.benefits.all %}
                    <li>
                        <strong class="job-box_vacancy-title">Benefícios</strong>
                        <div class="job-box_vacancy-text">
                            <ul>
                                {% for benefit in job.benefits.all %}
                                    <li>{{ benefit.description }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endif %}
                {% if job.resposibility %}
                    <li>
                        <strong class="job-box_vacancy-title">Área de Atuação</strong>
                        <div class="job-box_vacancy-text">
                            {{ job.resposibility.responsibility.name }}{% if job.resposibility.responsibility_type %} - {{ job.resposibility.responsibility_type.description }}{% endif %}
                        </div>
                    </li>
                {% endif %}
                {% if job.email or job.phone_number or job.site %}
                    <li>
                        <strong class="job-box_vacancy-title">Contato</strong>
                        <div class="job-box_vacancy-text">
                            {% if job.phone_number %}<p>{{ job.phone_number }}</p>{% endif %}
                            {% if job.email %}<p><a href="mailto:{{ job.email }}">{{ job.email }}</a></p>{% endif %}
                            {% if job.site %}<p><a href="{{ job.site }}" target="_blank">{{ job.site }}</a></p>{% endif %}
                        </div>
                    </li>
                {% endif %}
                {% if job.contact %}
                    <li>
                        <strong class="job-box_vacancy-title">Mais informações</strong>
                        <div class="job-box_vacancy-text">{{ job.contact }}</div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="squad-advertising">
            <img class="img-responsive" src="http://placehold.it/270x225" alt="Propaganda aqui">
        </div>
    </div>
</div>
</main>
{% endblock %}