{% extends 'home/layout/base.html' %}

{% load ads %}

{% block title %}Registro de Vaga{% endblock title %}

{% block content %}
<main class="container main" data-page="job">
    <div class="row">
        <form class="col-sm-offset-1 col-sm-10" method="post">
            {% csrf_token %}
            <fieldset class="organization__register">
                <legend class="organization__register__title">Cadastro de vaga de trabalho</legend>
                <div class="col-sm-offset-1 col-sm-10 steps" data-module="steps">
                    {% include "job_vacation/partials/basic.html" %}
                    {% include "job_vacation/partials/vaga.html" %}
                    {% include "job_vacation/partials/professional.html" %}
                    {% include "job_vacation/partials/contact.html" %}
                </div>
            </fieldset>
        </form>
    </div>
</main>
{% endblock content %}
