{% load thumbor_tags %}
{% load avatar_tags %}

<div id="{{ item.id }}" class="excerpt" >
    <div class="custom-check"><input class="chk" type="checkbox" name="items_to_remove" value="{{ item.id }}" data-object-type="{{ item.content_type }}" data-object-id="{{ instance.id }}"></div>
    <div class="excerpt-content">
        {% if instance.get_image %}
            <a class="excerpt-image" href="{% url 'article:view' instance.year instance.month instance.slug %}">
                <img src="{% thumbor_url instance.get_image.url width=80 height=60 smart=False fit_in=False %}" alt="{{ instance.title }}">
            </a>
        {% endif %}
        <div class="excerpt-title">
            <header class="post-header">
                <div class="post-info">
                    <time datetime="{{ instance.createdin }}" data-toggle="tooltip" data-placement="auto top" data-original-title="{{ instance.createdin|date:'d/m/Y' }} às {{ instance.createdin|date:'G:i' }}" itemprop="datePublished">
                        <span class="hidden-xs visible-lg-inline">{{ instance.publishin|date:'d/m/Y' }} às {{ instance.publishin|date:'G:i' }}</span>
                        <i class="gsticon gsticon-clock-o hidden-lg"></i>
                    </time>
                     <a href="javascript:;" data-toggle="dropdown"><i class="gsticon gsticon-gear"></i></a>
                    <div class="dropdown-menu">
                        {% include "socialactions/partials/dropdown-actions.html" %}
                    </div>
                </div>
                <a class="post-creator" href="{% if  instance.author.is_active %}{% url 'profile:show' instance.author.get_username %}{% else %}javascript:;{% endif %}">
                    <img src="{% get_avatar instance.author width=20 height=20 smart=False fit_in=False %}" alt="foto de {{ instance.author.get_full_name }}">
                    {{ instance.author.get_full_name }}
                </a>
            </header>
            <a href="{% url 'article:view' instance.year instance.month instance.slug %}">{{ instance.title }}</a>

        </div>
    </div>
</div>