
{% load staticfiles %}
{% block content %}

{% csrf_token %}
    {% for article in articles %}
    <div class="excerpt">
        <div class="custom-check"><input type="checkbox" data-object-id="{{ article.id }}"></div>
        <div class="excerpt-content">
            <a class="excerpt-image" href="{% url 'article:view' article.content_object.id article.content_object.slug %}">
                <img src="{{ article.content_object.get_image.url }}" alt="{{ article.content_object.title }}">
            </a>
            <div class="excerpt-title">
                <header class="post-header">
                    <div class="post-info">
                        <time datetime="{{ article.content_object.publishin }}" data-toggle="tooltip" data-placement="auto top" data-original-title="{{ article.content_object.publishin|date:'d/m/Y' }} às {{ article.content_object.createdin|date:'G:i' }}" itemprop="datePublished">
                            <span class="hidden-xs visible-lg-inline">{{ article.content_object.publishin|date:'d/m/Y' }} às {{ article.content_object.publishin|date:'G:i' }}</span>
                            <i class="gsticon gsticon-clock-o hidden-lg"></i>
                        </time>

                    </div>
                    <a class="post-creator" href="{% url 'profile:show' article.author.username %}">
                        <img src="{{ article.content_object.author.profile.get_picture }}" alt="{{ article.content_object.author.get_full_name }}">
                        {{ article.content_object.author.get_full_name }}</a>
                </header>
                <a href="{% url 'article:view' article.content_object.id article.content_object.slug %}">{{ article.content_object.title }}</a>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
