{% load thumbor_tags %}
<div class="page-home-container communities-slider">
    <div class="communities-slider-header">
        <h2 class="communities-slider-title">Comunidades</h2>
        <a class="communities-slider-vermais" href="{% url 'search:search-content' 'communities' %}">
            <i class="gsticon gsticon-plus-circle" aria-hidden="true"></i> VER MAIS</a>
    </div>
    <div class="communities-carousel" data-toggle="carousel">
        {% for community in communities %}
        <a class="community" href="{% url "community:show" community.slug %}">
            <img class="community-image img-responsive" data-lazy="{% thumbor_url community.image.url width=100 height=100 smart=False fit_in=False %}" alt="Logotipo da comunidade {{ community.title }}" />
            <span class="community-title">{{ community.title }}</span>
            <span class="community-followers-count">{{ community.followers }} seguidores</span>
        </a>
        {% endfor %}
    </div>
</div>