{% load thumbor_tags %}
<div class="page-home-container page-home-communities">
    <div class="page-home-communities-header">
        <h2 class="page-home-communities-title">Comunidades</h2>
        <a class="page-home-communities-vermais" href="{% url 'search:search-content' 'communities' %}">
            <i class="gsticon gsticon-plus-circle" aria-hidden="true"></i> VER MAIS</a>
    </div>
    <div class="communities-carousel" data-toggle="carousel">
        {% for community in communities %}
        <a class="page-home-community" href="{% url "community:show" community.slug %}">
            <img class="page-home-community-image img-responsive" data-lazy="{% thumbor_url community.image.url width=190 height=190 smart=False fit_in=False %}" alt="Logotipo da comunidade {{ community.title }}" />
            <span class="page-home-community-title">{{ community.title }}</span>
            <span class="page-home-community-followers-count">{{ community.followers }} seguidores</span>
        </a>
        {% endfor %}
    </div>
</div>