<ul class="menu-categories">
    <li>
        <a class="governance" href="javascript:;" data-sub="#sub-governance">Governança de TI</a>
        {% comment %}
        <div class="submenu-categories">
            <div class="container">
                <div class="menu-area" id="sub-governance">
                    <ul class="category-area list-group col-lg-3">
                        <li class="list-group-item">itil</li>
                        <li class="list-group-item active">cobit</li>
                        <li class="list-group-item">cloud computing</li>
                        <li class="list-group-item">pmbook</li>
                        <li class="list-group-item">itil</li>
                        <li class="list-group-item">cobit</li>
                        <li class="list-group-item">cloud computing</li>
                        <li class="list-group-item">pmbook</li>
                    </ul>
                    <ul class="category-posts list-unstyled col-lg-9">
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Intel e Google desenvolvem smartphone com câmera 3D</a>
                        </li>
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Projeto do google quer mapear telhados para produzir energia solar</a>
                        </li>
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Intel e Google desenvolvem smartphone com câmera 3D</a>
                        </li>
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Intel e Google desenvolvem smartphone com câmera 3D</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endcomment %}
    </li>
    <li><i class="gsticon gsticon-circle"></i></li>
    <li>
        <a class="development" href="javascript:;" data-sub="#sub-development">Desenvolvimento</a>
        {% comment %}
        <div class="submenu-categories" data-toggle="mega-dropdown">
            <div class="container">
                <div class="menu-area" id="sub-development">
                    <ul class="category-area list-group col-lg-3">
                        <li class="list-group-item active">itil</li>
                        <li class="list-group-item">cobit</li>
                        <li class="list-group-item">cloud computing</li>
                        <li class="list-group-item">pmbook</li>
                        <li class="list-group-item">itil</li>
                        <li class="list-group-item">cobit</li>
                        <li class="list-group-item">cloud computing</li>
                        <li class="list-group-item">pmbook</li>
                    </ul>
                    <ul class="category-posts list-unstyled col-lg-9">
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Intel e Google desenvolvem smartphone com câmera 3D</a>
                        </li>
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Projeto do google quer mapear telhados para produzir energia solar</a>
                        </li>
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Intel e Google desenvolvem smartphone com câmera 3D</a>
                        </li>
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Intel e Google desenvolvem smartphone com câmera 3D</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endcomment %}
    </li>
    <li><i class="gsticon gsticon-circle"></i></li>
    <li>
        <a class="web-design" href="javascript:;" data-sub="#sub-web-design">Web Design</a>
        {% comment %}
        <div class="submenu-categories" data-toggle="mega-dropdown">
            <div class="container">
                <div class="menu-area" id="sub-web-design">
                    <ul class="category-area list-group col-lg-3">
                        <li class="list-group-item active">itil</li>
                        <li class="list-group-item">cobit</li>
                        <li class="list-group-item">cloud computing</li>
                        <li class="list-group-item">pmbook</li>
                        <li class="list-group-item">itil</li>
                        <li class="list-group-item">cobit</li>
                        <li class="list-group-item">cloud computing</li>
                        <li class="list-group-item">pmbook</li>
                    </ul>
                    <ul class="category-posts list-unstyled col-lg-9">
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Intel e Google desenvolvem smartphone com câmera 3D</a>
                        </li>
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Projeto do google quer mapear telhados para produzir energia solar</a>
                        </li>
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Intel e Google desenvolvem smartphone com câmera 3D</a>
                        </li>
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Intel e Google desenvolvem smartphone com câmera 3D</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endcomment %}
    </li>
    <li><i class="gsticon gsticon-circle"></i></li>
    <li>
        <a class="marketing" href="javascript:;" data-sub="#sub-marketing">Marketing Digital</a>
        {% comment %}
        <div class="submenu-categories" data-toggle="mega-dropdown">
            <div class="container">
                <div class="menu-area" id="sub-marketing">
                    <ul class="category-area list-group col-lg-3">
                        <li class="list-group-item active">itil</li>
                        <li class="list-group-item">cobit</li>
                        <li class="list-group-item">cloud computing</li>
                        <li class="list-group-item">pmbook</li>
                        <li class="list-group-item">itil</li>
                        <li class="list-group-item">cobit</li>
                        <li class="list-group-item">cloud computing</li>
                        <li class="list-group-item">pmbook</li>
                    </ul>
                    <ul class="category-posts list-unstyled col-lg-9">
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Intel e Google desenvolvem smartphone com câmera 3D</a>
                        </li>
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Projeto do google quer mapear telhados para produzir energia solar</a>
                        </li>
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Intel e Google desenvolvem smartphone com câmera 3D</a>
                        </li>
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Intel e Google desenvolvem smartphone com câmera 3D</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endcomment %}
    </li>
    <li><i class="gsticon gsticon-circle"></i></li>
    <li>
        <a class="infra" href="javascript:;" data-sub="#sub-infra">Infraestrutura</a>
        {% comment %}
        <div class="submenu-categories" data-toggle="mega-dropdown">
            <div class="container">
                <div class="menu-area" id="sub-infra">
                    <ul class="category-area list-group col-lg-3">
                        <li class="list-group-item active">itil</li>
                        <li class="list-group-item">cobit</li>
                        <li class="list-group-item">cloud computing</li>
                        <li class="list-group-item">pmbook</li>
                        <li class="list-group-item">itil</li>
                        <li class="list-group-item">cobit</li>
                        <li class="list-group-item">cloud computing</li>
                        <li class="list-group-item">pmbook</li>
                    </ul>
                    <ul class="category-posts list-unstyled col-lg-9">
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Intel e Google desenvolvem smartphone com câmera 3D</a>
                        </li>
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Projeto do google quer mapear telhados para produzir energia solar</a>
                        </li>
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Intel e Google desenvolvem smartphone com câmera 3D</a>
                        </li>
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Intel e Google desenvolvem smartphone com câmera 3D</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endcomment %}
    </li>
    <li><i class="gsticon gsticon-circle"></i></li>
    <li>
        <a class="databases" href="javascript:;" data-sub="#sub-databases">Banco de Dados</a>
        {% comment %}
        <div class="submenu-categories" data-toggle="mega-dropdown">
            <div class="container">
                <div class="menu-area" id="sub-databases">
                    <ul class="category-area list-group col-lg-3">
                        <li class="list-group-item active">itil</li>
                        <li class="list-group-item">cobit</li>
                        <li class="list-group-item">cloud computing</li>
                        <li class="list-group-item">pmbook</li>
                        <li class="list-group-item">itil</li>
                        <li class="list-group-item">cobit</li>
                        <li class="list-group-item">cloud computing</li>
                        <li class="list-group-item">pmbook</li>
                    </ul>
                    <ul class="category-posts list-unstyled col-lg-9">
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Intel e Google desenvolvem smartphone com câmera 3D</a>
                        </li>
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Projeto do google quer mapear telhados para produzir energia solar</a>
                        </li>
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Intel e Google desenvolvem smartphone com câmera 3D</a>
                        </li>
                        <li class="article">
                            <a href="javascript:;"><img class="article-img" src="http://placehold.it/200" alt=""></a>
                            <a class="article-title" href="javascript:;">Intel e Google desenvolvem smartphone com câmera 3D</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endcomment %}
    </li>
</ul>