<div class="header-navegation js-navigation {% if category_slug %}header-navegation-border {{ class_name }}{% endif %}">
  <nav class="container">
    <a class="toggle_menu-categories" href="javascript:;">Categorias
      <span class="toggle_menu-categories-icons">
        <i class="gsticon gsticon-bars"></i> <i class="gsticon gsticon-close"></i>
      </span>
    </a>
    <ul class="menu-categories">
      <li class="item governance">
        <a href="{% url 'category:show' 'governanca-e-gestao' %}">Governança e Gestão</a>
        <div class="submenu-categories sub-governance">
          <ul class="commmunities">
            <li class="community"><a href="#" title="itil">itil</a></li>
            <li class="community"><a href="#" title="cobit">cobit</a></li>
            <li class="community"><a href="#" title="cloud computing">cloud computing</a></li>
            <li class="community"><a href="#" title="pmbook">pmbook</a></li>
            <li class="community"><a href="#" title="itil">itil</a></li>
            <li class="community"><a href="#" title="itil">cobit</a></li>
            <li class="community"><a href="#" title="itil">cloud computing</a></li>
            <li class="community"><a href="#" title="itil">pmbook</a></li>
          </ul>
        </div>
      </li>
      <li class="item development">
        <a href="{% url 'category:show' 'desenvolvimento' %}">Desenvolvimento</a>
        <div class="submenu-categories sub-development">
          <ul class="commmunities">
            <li class="community"><a href="#">itil</a></li>
            <li class="community"><a href="#">cobit</a></li>
            <li class="community"><a href="#">cloud computing</a></li>
            <li class="community"><a href="#">pmbook</a></li>
            <li class="community"><a href="#">itil</a></li>
            <li class="community"><a href="#">cobit</a></li>
            <li class="community"><a href="#">cloud computing</a></li>
            <li class="community"><a href="#">pmbook</a></li>
          </ul>
        </div>
      </li>
      <li class="item design">
        <a href="{% url 'category:show' 'design' %}">Design</a>
        <div class="submenu-categories sub-design">
          <ul class="commmunities">
            <li class="community"><a href="#">itil</a></li>
            <li class="community"><a href="#">cobit</a></li>
            <li class="community"><a href="#">cloud computing</a></li>
            <li class="community"><a href="#">pmbook</a></li>
            <li class="community"><a href="#">itil</a></li>
            <li class="community"><a href="#">cobit</a></li>
            <li class="community"><a href="#">cloud computing</a></li>
            <li class="community"><a href="#">pmbook</a></li>
          </ul>
        </div>
      </li>
      <li class="item marketing">
        <a href="{% url 'category:show' 'marketing-digital' %}">Marketing Digital</a>
        <div class="submenu-categories sub-marketing">
          <ul class="commmunities">
            <li class="community"><a href="#">itil</a></li>
            <li class="community"><a href="#">cobit</a></li>
            <li class="community"><a href="#">cloud computing</a></li>
            <li class="community"><a href="#">pmbook</a></li>
            <li class="community"><a href="#">itil</a></li>
            <li class="community"><a href="#">cobit</a></li>
            <li class="community"><a href="#">cloud computing</a></li>
            <li class="community"><a href="#">pmbook</a></li>
          </ul>
        </div>
      </li>
      <li class="item databases">
        <a href="{% url 'category:show' 'banco-de-dados' %}">Banco de Dados</a>
        <div class="submenu-categories sub-databases">
          <ul class="commmunities">
            <li class="community"><a href="#">itil</a></li>
            <li class="community"><a href="#">cobit</a></li>
            <li class="community"><a href="#">cloud computing</a></li>
            <li class="community"><a href="#">pmbook</a></li>
            <li class="community"><a href="#">itil</a></li>
            <li class="community"><a href="#">cobit</a></li>
            <li class="community"><a href="#">cloud computing</a></li>
            <li class="community"><a href="#">pmbook</a></li>
          </ul>
        </div>
      </li>
      <li class="item infra">
        <a href="{% url 'category:show' 'infraestrutura' %}">Infraestrutura</a>
        <div class="submenu-categories sub-infra">
          <ul class="commmunities">
            <li class="community"><a href="#">itil</a></li>
            <li class="community"><a href="#">cobit</a></li>
            <li class="community"><a href="#">cloud computing</a></li>
            <li class="community"><a href="#">pmbook</a></li>
            <li class="community"><a href="#">itil</a></li>
            <li class="community"><a href="#">cobit</a></li>
            <li class="community"><a href="#">cloud computing</a></li>
            <li class="community"><a href="#">pmbook</a></li>
          </ul>
        </div>
      </li>
      <li class="item mobile">
        <a href="{% url 'category:show' 'mobile' %}">Mobile</a>
        <div class="submenu-categories sub-mobile">
          <ul class="commmunities">
            <li class="community"><a href="#">itil</a></li>
            <li class="community"><a href="#">cobit</a></li>
            <li class="community"><a href="#">cloud computing</a></li>
            <li class="community"><a href="#">pmbook</a></li>
            <li class="community"><a href="#">itil</a></li>
            <li class="community"><a href="#">cobit</a></li>
            <li class="community"><a href="#">cloud computing</a></li>
            <li class="community"><a href="#">pmbook</a></li>
          </ul>
        </div>
      </li>
      <li class="item more">
        <a href="{% url 'category:show' 'mais' %}">Mais</a>
        <div class="submenu-categories sub-more">
          <ul class="commmunities">
            <li class="community"><a href="#">itil</a></li>
            <li class="community"><a href="#">cobit</a></li>
            <li class="community"><a href="#">cloud computing</a></li>
            <li class="community"><a href="#">pmbook</a></li>
            <li class="community"><a href="#">itil</a></li>
            <li class="community"><a href="#">cobit</a></li>
            <li class="community"><a href="#">cloud computing</a></li>
            <li class="community"><a href="#">pmbook</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="menu-social">
      <li><a class="gsticon gsticon-facebook-square" href="https://www.facebook.com/PortalGSTIpage/"></a></li>
      <li><a class="gsticon gsticon-google-plus-square" href="https://plus.google.com/b/109232763237126205281/+PortalgstiBr"></a></li>
      <li><a class="gsticon gsticon-linkedin-square" href="https://www.linkedin.com/groups/4602615"></a></li>
      <li><a class="gsticon gsticon-twitter-square" href="https://twitter.com/portal_gsti"></a></li>
      <li><a class="gsticon gsticon-youtube-square" href="https://www.youtube.com/c/PortalgstiBr"></a></li>
    </ul>
  </nav>
</div>
<div class="header-navegation jobs-navigation">
  <nav class="container">
    <ul class="menu-categories">
      <li class="item"><a href="#">Vagas de trabalho</a></li>
      <li class="item"><a href="#">Carreiras</a></li>
      <li class="item"><a href="#">Comunidades</a></li>
      <li class="item"><a href="#">etc.</a></li>
    </ul>
  </nav>
</div>