{% load core_tags %}

<div class="app-header-navigation">
    <nav class="app-header-navigation-container">
        {% communities_cached %}
        <ul class="app-header-navigation-menu">
            <li class="app-header-navigation-item">
                <a class="app-header-navigation-item-link" href="{% url 'jobs:index' %}">Vagas de trabalho</a>
            </li>
            <li class="app-header-navigation-item">
                <a class="app-header-navigation-item-link" href="{% url 'course:list'%}">Cursos</a>
            </li>
            <li class="app-header-navigation-item">
                <a class="app-header-navigation-item-link" href="{% url 'core:videos-list' %}">Videoaulas</a>
            </li>
            <li class="app-header-navigation-item">
                <a class="app-header-navigation-item-link" href="{% url 'core:responsibilities-list'%}">Profissões</a>
            </li>
            <li class="app-header-navigation-item">
                <a class="app-header-navigation-item-link" href="{% url 'search:search-content' 'communities' %}">Comunidades</a>
            </li>
            <li class="app-header-navigation-item">
                <a class="app-header-navigation-item-link" href="{% url 'search:search-content' 'users' %}">Membros</a>
            </li>
            <li class="app-header-navigation-item">
                <a class="app-header-navigation-item-link" href="{% url 'search:search-content' 'questions' %}">Perguntas</a>
            </li>
        </ul>
    </nav>
</div>