<div class="excerpt">
    <div class="custom-check"><input type="checkbox"></div>
    <div class="excerpt-content">
        <a class="excerpt-image" href="javascript:;">
            <img src="http://placehold.it/80x61" alt="Placehold Image">
        </a>
        <div class="excerpt-title">
            <header class="post-header">
                <div class="post-info">
                    <time datetime="06-17-2015" itemprop="datePublished">10/06/2015 às 01:34</time>
                    <a href="javascript:;" data-toggle="dropdown"><i class="gsticon gsticon-gear"></i></a>
                    <div class="dropdown-menu">
                        <ul class="perfil-actions">
                            <li><a href="javascript:;"><i class="gsticon gsticon-trash"></i> Remover Sugestão</a></li>
                            <li><a href="javascript:;"><i class="gsticon gsticon-star"></i> Favoritar</a></li>
                            <li><a href="javascript:;"><i class="gsticon gsticon-paper-plane"></i> Sugerir</a></li>
                            <li><a href="javascript:;"><i class="gsticon gsticon-exclamation-triangle"></i> Denunciar</a></li>
                        </ul>
                    </div>
                </div>
                <a class="post-creator" href="javascript:;">
                    <img src="http://placehold.it/20" alt="Creator Porst Avatar">
                    Iury Silva</a>
            </header>
            <a href="javascript:;">Microsoft lança software beta para migrar aplicativos iOS para Windows lança software beta para migrar aplicativos iOS para Windows</a>
        </div>
    </div>
</div>