{% load profile_tags %}

<div class="widget widget-box">
    <div class="widget-content">
        {% profile_box profile.user %}
    </div>
</div>
<div class="widget widget-box">
    <div class="widget-content">
        <ul class="perfil-actions">
            <li><a href="{% url 'ninico:criar-pergunta' %}"><i class="gsticon gsticon-question-circle"></i> Perguntar</a></li>
            <li><a href="{% url 'ninico:criar-artigo' %}"><i class="gsticon gsticon-file-text"></i> Criar artigo</a></li>
            <li><a href="javascript:;"><i class="gsticon gsticon-pencil-square-o"></i> Editar perfil</a></li>
        </ul>
    </div>
</div>
<div class="widget widget-box">
    <div class="widget-content">
        <ul class="perfil-repositories">
            <li><a href="javascript:;"><i class="gsticon gsticon-star"></i> Favoritos</a></li>
            <li><a href="javascript:;"><i class="gsticon gsticon-eye"></i> Ver depois</a></li>
            <li><a href="javascript:;"><i class="gsticon gsticon-paper-plane"></i> Sugestões</a></li>
        </ul>
    </div>
</div>