{% load profile_tags %}
{% load user_agents %}
{% comment  %} Ugly, TODO refactor with template tag because django's if built in filters does not support parenthesis {% endcomment %}
{% if profile and profile.user %}
    {% if request|is_pc %}
        <div class="widget widget-box">
            <div class="widget-content">
                {% profile_box profile.user %}
            </div>
        </div>
    {% elif request.user != profile.user %}
        <div class="widget widget-box widget-box-user">
            <div class="widget-content">
                {% profile_box profile.user %}
            </div>
        </div>

    {% endif %}


{% endif %}

{% if profile.user == request.user %}
    {% if request|is_pc %}
    <div class="widget widget-box">
        <div class="widget-content">
            <div class="follower-content">
                <ul class="list-unstyled clearfix">
                    <li><a href="{% url 'question:create' %}"><i class="gsticon gsticon-question-circle"></i> Perguntar</a></li>
                    <li><a href="{% url 'article:create' %}"><i class="gsticon gsticon-file-text"></i> Criar publicação</a></li>
                    <li {% if local_context == "profile-edit" %}class="active"{% endif %}><a href="{% url 'profile:edit' %}"><i class="gsticon gsticon-pencil"></i> Editar perfil</a></li>
                    <li {% if local_context == "posts-edit" %}class="active"{% endif %}><a href="{% url 'profile:edit-posts' %}"><i class="gsticon gsticon-pencil-square-o"></i> Editar Conteúdo</a></li>
                </ul>
                 {% include 'userprofile/partials/companies.html' %}

            </div>
        </div>
    </div>
    {% endif %}

    {% if request|is_pc %}
        <div class="widget widget-box">
        <div class="widget-content">
            <ul class="perfil-repositories">
                <li {% if local_context == "favourite" %}class="active"{% endif %}>
                    {# <span data-social-count="true" class="counter" data-url="{% url "core_socialactions:counter-actions" profile.user.username "favourite" %}"></span>#}
                    <a href="{% url 'profile:favourite' %}"><i class="gsticon gsticon-star"></i> Favoritos </a>
                </li>
                <li {% if local_context == "see-later" %}class="active"{% endif %}>
                    {# <span data-social-count="true" class="counter" data-url="{% url "core_socialactions:counter-actions" profile.user.username "see-later" %}"></span>#}
                    <a href="{% url 'profile:see-later' %}"><i class="gsticon gsticon-eye"></i> Ver depois </a>
                </li>
                <li {% if local_context == "suggest" %}class="active"{% endif %}>
                    {# <span data-social-count="true" class="counter" data-url="{% url "core_socialactions:counter-actions" profile.user.username "suggest" %}"></span>#}
                    <a href="{% url 'profile:suggest' %}"><i class="gsticon gsticon-paper-plane"></i> Sugeridos </a>
                </li>
            </ul>
        </div>
    </div>

    {% endif %}


{% endif %}
