
<div class="widget widget-box">
    <div class="widget-content">
        <div class="perfil">
            <img class="img-responsive" src="http://placehold.it/82" alt="Imagem 1">
            <a class="perfil-name" href="javascript:;">Iury Silva</a>
            <a class="perfil-counter" href="javascript:;"><span class="counter-number">180</span> Seguidores</a>
            <a class="perfil-counter" href="javascript:;"><span class="counter-number">88</span> Artigos</a>
        </div>
        <div class="follower-content">
            <ul class="list-unstyled clearfix">
                <!-- Esse botão será exibido quando o usuários estiver visitando a página de outro usuário -->
                <!-- <li><a href="javascript:;" class="btn btn-follow">Seguir</a></li> -->
                <li><i class="gsticon gsticon-briefcase"></i>
                <a href="javascript:;">Analista de SEO</a> em <a href="javascript:;">Idea SEO</a>
                </li>
                <li><i class="gsticon gsticon-map-marker"></i>
                Mora em <strong>Salvador - BA - Brasil</strong></li>
                <li><i class="gsticon gsticon-birthday-cake"></i>
                Idade 26</li>
            </ul>
        </div>
    </div>
</div>
<div class="widget widget-box">
    <div class="widget-content">
        <ul class="perfil-actions">
            <li><a href="{% url 'ninico:criar-pergunta' %}"><i class="gsticon gsticon-question-circle"></i> Perguntar</a></li>
            <li><a href="{% url 'ninico:criar-artigo' %}"><i class="gsticon gsticon-file-text"></i> Criar artigo</a></li>
            <li><a href="javascript:;"><i class="gsticon gsticon-pencil-square-o"></i> Editar perfil</a></li>
        </ul>
    </div>
</div>
<div class="widget widget-box">
    <div class="widget-content">
        <ul class="perfil-repositories">
            <li><a href="javascript:;"><i class="gsticon gsticon-star"></i> Favoritos</a></li>
            <li><a href="javascript:;"><i class="gsticon gsticon-eye"></i> Ver depois</a></li>
            <li><a href="javascript:;"><i class="gsticon gsticon-paper-plane"></i> Sugestões</a></li>
        </ul>
    </div>
</div>