{% load static %}
{% load i18n %}
{% load avatar_tags %}
{% load thumbor_tags %}
{% load notification_core_tags %}
{% load user_agents %}

<ul class="user-actions-dropdown-list">
    {% if request.user.is_authenticated %}
    <li>
        <div class="user-actions-dropdown-profile">
            <div>
                <img title="{{ request.user.get_full_name }}" src="{% get_avatar request.user width=30 height=30 smart=False fit_in=False %}"
                alt="{{ request.user.get_full_name }}" class="img-circle">
            </div>
            <div>
                {{ request.user.get_full_name }}
                <a href="{% url 'profile:show' request.user.username %}">Ver meu perfil</a>
            </div>
        </div>
    </li>
    {% if request.user.is_superuser %}
    <li class="user-actions-dropdown-list-item">
        <a href="{% url 'superuser:push' %}">
            <i class="gsticon gsticon-paper-plane"></i> Enviar notificações</a>
    </li>
    {% endif %}
    <li class="user-actions-dropdown-list-item-notifications">
        <a class="notification-link" href="{% url 'notifications:members' %}" data-is-mobile="{{ request|is_mobile }}"
            data-trigger="notification" data-token="{% notification_token %}" data-type="members" data-csrf="{{ csrf_token }}" data-url-count="{% url 'notifications:polling-count' 'members' %}"
            data-url-load="{% url 'notifications:polling-load' 'members' %}" data-url-clear="{% url 'notifications:clear' %}" data-notifications="{{ notifications_id }}"
            data-notification-receives-badge="members">
            {% if count %}<span class="user-actions-badge">{{ count }}</span>{% endif %}
            <i class="gsticon gsticon-fw gsticon-group"></i>
        </a>
        <a class="notification-link" href="{% url 'notifications:posts' %}" data-is-mobile="{{ request|is_mobile }}"
            data-trigger="notification" data-token="{% notification_token %}" data-type="posts" data-csrf="{{ csrf_token }}" data-url-count="{% url 'notifications:polling-count' 'posts' %}"
            data-url-load="{% url 'notifications:polling-load' 'posts' %}" data-url-clear="{% url 'notifications:clear' %}" data-notifications="{{ notifications_id }}"
            data-notification-receives-badge="posts">
            {% if count %}<span class="user-actions-badge">{{ count }}</span>{% endif %}
            <i class="gsticon gsticon-fw gsticon-comments"></i>
        </a>
        <a class="notification-link" href="{% url 'notifications:general' %}" data-is-mobile="{{ request|is_mobile }}"
            data-trigger="notification" data-token="{% notification_token %}" data-type="general" data-csrf="{{ csrf_token }}" data-url-count="{% url 'notifications:polling-count' 'general' %}"
            data-url-load="{% url 'notifications:polling-load' 'general' %}" data-url-clear="{% url 'notifications:clear' %}" data-notifications="{{ notifications_id }}"
            data-notification-receives-badge="general">
            {% if count %}<span class="user-actions-badge">{{ count }}</span>{% endif %}
            <i class="gsticon gsticon-fw gsticon-bell"></i>
        </a>
    </li>
    <li class="user-actions-dropdown-list-item js-dropdown-trigger toggle-slideout">
        <a href="#menu-geral">
            <i class="gsticon gsticon-fw gsticon-th"></i> Categorias
            <i class="gsticon gsticon-fw gsticon-angle-right"></i>
        </a>
    </li>
    <li class="user-actions-dropdown-list-item-divider"></li>
    <li class="user-actions-dropdown-list-item">
        <a href="{% url 'profile:feed' %}">
            <i class="gsticon gsticon-fw gsticon-id-card-o pull-left" aria-hidden="true"></i> Meu Feed</a>
    </li>
    <li class="user-actions-dropdown-list-item-divider">Publicar</li>
    <li class="user-actions-dropdown-list-item">
        <a href="{% url 'article:create' %}">
            <i class="gsticon gsticon-fw gsticon-file-text-o pull-left" aria-hidden="true"></i> Artigo</a>
    </li>
    <li class="user-actions-dropdown-list-item">
        <a href="{% url 'question:create' %}">
            <i class="gsticon gsticon-fw gsticon-question-circle pull-left" aria-hidden="true"></i> Pergunta</a>
    </li>
    <li class="user-actions-dropdown-list-item-divider"></li>
    <li class="user-actions-dropdown-list-item">
        <a href="{% url 'configuration:account' %}">
            <i class="gsticon gsticon-fw gsticon-gear pull-left" aria-hidden="true"></i> Configurações</a>
    </li>
    <li class="user-actions-dropdown-list-item">
        <a href="{% url 'account:logout' %}?next={{ request.path }}">
            <i class="gsticon gsticon-fw gsticon-sign-out pull-left" aria-hidden="true"></i> {% trans "Sair" %}</a>
    </li>
    {% else %}
    <li>
        <div class="user-actions-dropdown-profile">
            <div>
                <img src="{% static 'images/gsti.png' %}" alt="Portal GSTI">
            </div>
        </div>
    </li>
    <li class="user-actions-dropdown-list-item js-dropdown-trigger toggle-slideout">
        <a href="#menu-geral">
            <i class="gsticon gsticon-fw gsticon-th"></i> Categorias
            <i class="gsticon gsticon-fw gsticon-angle-right"></i>
        </a>
    </li>
    <li class="user-actions-dropdown-list-item">
        <a href="#modal-login" data-toggle="modal">
            <i class="gsticon gsticon-fw gsticon-file-text-o"></i> {% trans "Publish" context "publish article" %}</a></a>
    </li>
    <li class="user-actions-dropdown-list-item">
        <a href="#modal-login" data-toggle="modal">
            <i class="gsticon gsticon-fw gsticon-sign-in"></i> {% trans "Entrar" %}</a></a>
    </li>
    {% endif %}
</ul>
