{% load i18n %}
{% load thumbor_tags %}
{% load notification_core_tags %}
{% load avatar_tags %}


{% if request.user.is_authenticated %}
<div class="user-actions is-logged">

    <div class="user-actions-notifications">
        {% notification_navbar "members" %} {% notification_navbar "posts" %} {% notification_navbar "general" %}
    </div>
    <div class="dropdown">
        <a class="user-actions-menu-action" href="#user-actions-dropdown" data-toggle="dropdown">
            <img title="{{ request.user.get_full_name }}" src="{% get_avatar request.user width=30 height=30 smart=False fit_in=False %}"
                alt="{{ request.user.get_full_name }}" class="img-circle">
            <i class="gsticon gsticon-angle-down pull-right"></i>
        </a>

        <div id="user-actions-dropdown" class="user-actions-dropdown">
            <ul class="user-actions-dropdown-list">
                <li>
                    <div class="user-actions-dropdown-profile">
                        <div>
                            <img title="{{ request.user.get_full_name }}" src="{% get_avatar request.user width=30 height=30 smart=False fit_in=False %}"
                                alt="{{ request.user.get_full_name }}" class="img-circle">
                        </div>
                        <div>
                            {{ request.user.get_full_name }}
                            <a href="{% url 'profile:feed' %}">Ver meu perfil</a>
                        </div>
                    </div>
                </li>
                {% if request.user.is_superuser %}
                <li class="user-actions-dropdown-list-item">
                    <a href="{% url 'superuser:push' %}">
                        <i class="gsticon gsticon-paper-plane"></i> Enviar notificações</a>
                </li>
                {% endif %}
                <li class="user-actions-dropdown-list-item-divider">subtítulo do menu</li>
                <li class="user-actions-dropdown-list-item">
                    <a href="{% url 'profile:feed' %}">
                        <i class="gsticon gsticon-fw gsticon-feed"></i> Meu Feed</a>
                </li>
                <li class="user-actions-dropdown-list-item">
                    <a href="{% if  request.user.is_active %}{% url 'profile:show' request.user.username %}{% else %}javascript:;{% endif %}">
                        <i class="gsticon gsticon-fw gsticon-file-text"></i> Minhas Publicações</a>
                </li>
                <li class="user-actions-dropdown-list-item">
                    <a href="{% url 'profile:my-questions' %}">
                        <i class="gsticon gsticon-fw gsticon-question"></i> Minhas Perguntas</a>
                </li>
                <li class="user-actions-dropdown-list-item-divider">subtítulo do menu</li>
                <li class="user-actions-dropdown-list-item">
                    <a href="{% url 'article:create' %}">
                        <i class="gsticon gsticon-fw gsticon-file-text-o"></i> Criar Publicação</a>
                </li>
                <li class="user-actions-dropdown-list-item">
                    <a href="{% url 'question:create' %}">
                        <i class="gsticon gsticon-fw gsticon-question-circle"></i> Perguntar</a>
                </li>
                <li class="user-actions-dropdown-list-item">
                    <a href="{% url 'organization:create' %}">
                        <i class="gsticon gsticon-fw gsticon-building"></i> Criar organização</a>
                </li>
                <li class="user-actions-dropdown-list-item">
                    <a href="{% url 'profile:edit-posts' %}">
                        <i class="gsticon gsticon-fw gsticon-pencil-square-o"></i> Editar Conteúdo</a>
                </li>
                <li class="user-actions-dropdown-list-item">
                    <a href="{% url 'profile:edit' %}">
                        <i class="gsticon gsticon-fw gsticon-pencil"></i> Editar Perfil</a>
                </li>
                <li class="user-actions-dropdown-list-item">
                    <a href="{% url 'configuration:account' %}">
                        <i class="gsticon gsticon-fw gsticon-gear"></i> Configurações</a>
                </li>
                <li class="user-actions-dropdown-list-item-divider">subtítulo do menu</li>
                <li class="user-actions-dropdown-list-item">
                    <a href="{% url 'account:logout' %}?next={{ request.path }}">
                        <i class="gsticon gsticon-fw gsticon-close"></i> {% trans "Sair" %}</a>
                </li>
            </ul>
        </div>
    </div>
    <a class="user-actions-button-round" href="{% url 'article:create' %}">Publicar</a>
</div>
{% else %}
<div class="user-actions">
    <a class="user-actions-button-clean" href="#modal-login" data-toggle="modal">Entrar</a>
    <a class="user-actions-button-round" href="{% url 'account:signup' %}">Inscreva-se</a>
</div>
{% endif %}