// ==========================================================================
// Variables
// ==========================================================================

// Sections colors
// ==========================================================================
$color-governance:                #0160b0 !default;
$color-development:               #3ea909 !default;
$color-design:                    #813889 !default;
$color-marketing:                 #f46b1b !default;
$color-infra:                     #1e5d4c !default;
$color-databases:                 #c30007 !default;
$color-mobile:                    #de1899 !default;
$color-more:                      #000000 !default;
$color-badge:                     #c30007 !default;
$color-danger:                    #c30007 !default;
$color-green:                     #738d00 !default;
$color-border:                    #e1e1e1 !default;
$color-link-feed:                 #0160b0 !default;
$color-link-counter:              #486075 !default;
$color-link-counter-dark:         #263646 !default;
$color-time:                      #d3d3d3 !default;
$color-text-post:                 #2a2a2b !default;
$color-gray:                      #555 !default;
$color-liked:                     #00AA00 !default;
$color-unliked:                   #ac050b !default;
$link-white:                      #fff !default;
$white-ice:                       #f7f7f7 !default;

$background-white:                #fff !default;
$background-perfil:               #fcfcfc !default;
$background-button:               #4d6479 !default;
$background-button-hover:         lighten($background-button, 30%) !default;
$background-primary-button:       #738d00 !default;
$background-primary-button-hover: darken($background-primary-button, 10%) !default;

$background-perfil-button:        #f2f2f2 !default;
$background-perfil-button-hover:  $background-button;


$areas: (governance, $color-governance), (development, $color-development),
(design, $color-design), (marketing, $color-marketing), (infra, $color-infra),
(databases, $color-databases), (mobile, $color-mobile), (more, $color-more);
