/* ==========================================================================
   Publication section style (Comprehend article and question areas)
   ========================================================================== */

/*
   Vendors
   ========================================================================== */
@import "vendor/bootstrap/variables";
@import "vendor/bootstrap/mixins";
@import "../../node_modules/slick-carousel/slick/slick.scss";


/*
   Carousel
   ========================================================================== */

.publication-carousel {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  &-item {
    flex: 1 1 auto;
  }
}

@media (max-width: $screen-xs-max) {
  .publication-carousel {
    flex-direction: column;
  }
}
