<div class="profession__board">
  <header class="area-title">
    <h3>Analista de Sistemas</h3>
  </header>
  <div class="profession__board__list">
    <a class="professional" href="#">
      <figure class="professional__avatar">
        <img src="http://placehold.it/66" alt="" />
      </figure>
    </a>
    <a class="professional" href="#">
      <figure class="professional__avatar">
        <img src="http://placehold.it/66" alt="" />
      </figure>
    </a>
    <a class="professional" href="#">
      <figure class="professional__avatar">
        <img src="http://placehold.it/66" alt="" />
      </figure>
    </a>
    <a class="professional" href="#">
      <figure class="professional__avatar">
        <img src="http://placehold.it/66" alt="" />
      </figure>
    </a>
    <a class="professional" href="#">
      <figure class="professional__avatar">
        <img src="http://placehold.it/66" alt="" />
      </figure>
    </a>
    <a class="professional" href="#">
      <figure class="professional__avatar">
        <img src="http://placehold.it/66" alt="" />
      </figure>
    </a>
    <a class="professional" href="#">
      <figure class="professional__avatar">
        <img src="http://placehold.it/66" alt="" />
      </figure>
    </a>
    <a class="professional" href="#">
      <figure class="professional__avatar">
        <img src="http://placehold.it/66" alt="" />
      </figure>
    </a>
    <a class="professional" href="#">
      <figure class="professional__avatar">
        <img src="http://placehold.it/66" alt="" />
      </figure>
    </a>
  </div>
  <a class="btn btn-block btn-green" href="#">Buscar mais</a>
</div>
