<div class="publication-carousel" data-async="./components/publication-carousel">
    <div>
        <a href="#" class="publication-carousel-item">
            <img class="publication-carousel-image" src="http://placehold.it/80" width="80" height="80" alt="">
            <span class="publication-carousel-item-body">
                <h3 class="publication-carousel-title">Curso de Youtube para negócios</h3>
                <span data-toggle="rating" data-config='{"rating": 5.000000, "readOnly": true}'></span>
            </span>
        </a>
    </div>
    <div>
        <a href="#" class="publication-carousel-item">
            <img class="publication-carousel-image" src="http://placehold.it/80" width="80" height="80" alt="">
            <span class="publication-carousel-item-body">
                <h3 class="publication-carousel-title">Curso de Youtube para negócios</h3>
                <span data-toggle="rating" data-config='{"rating": 5.000000, "readOnly": true}'></span>
            </span>
        </a>
    </div>
    <div>
        <a href="#" class="publication-carousel-item">
            <img class="publication-carousel-image" src="http://placehold.it/80" width="80" height="80" alt="">
            <span class="publication-carousel-item-body">
                <h3 class="publication-carousel-title">Curso de Youtube para negócios</h3>
                <span data-toggle="rating" data-config='{"rating": 5.000000, "readOnly": true}'></span>
            </span>
        </a>
    </div>
    <div>
        <a href="#" class="publication-carousel-item">
            <img class="publication-carousel-image" src="http://placehold.it/80" width="80" height="80" alt="">
            <span class="publication-carousel-item-body">
                <h3 class="publication-carousel-title">Curso de Youtube para negócios</h3>
                <span data-toggle="rating" data-config='{"rating": 5.000000, "readOnly": true}'></span>
            </span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-right">
        <a class="btn btn-link btn-show-more" href="#">ver mais</a>
    </div>
    <div class="col-sm-12">
        <div class="single-category">
            <span>CURSOS</span>
        </div>
    </div>
</div>
