{% load thumbor_tags %}
{% load social_tags %}
{% load var_tags %}

{% set counter_content_type = "community" %}

<div class="perfil">
    <a href="{% url 'community:show' community_obj.slug %}">
      <figure>
        <img src="{% thumbor_url community_obj.get_picture.url width=82 height=82 smart=False fit_in=False %}" alt="{{ community_obj.title }}">
      </figure>
    </a>
    <a class="perfil-name" title="{{ comunity_obj.title }}" href="{% url 'community:show' community_obj.slug %}">
    {% if community_obj.title|length > 67 %}
        {{ community_obj.title|slice:":67" }}...
    {% else %}
        {{ community_obj.title }}
    {% endif %}</a>
    <span class="perfil-counter"
          data-counter="{{ community_obj.followers }}"
          data-refresh-counter="follow-{{ counter_content_type }}-{{ community_obj.id }}">
        <span class="counter-number">{{ community_obj.followers }}</span> Seguidor{{ community_obj.followers|pluralize:'es' }}
    </span>
    {% follow_action community_obj url_next %}
</div>
