{% load core_tags %}
{% load user_agents %}
{% load staticfiles %}
{% load ads %}
{% load amp_tags %}

<div class="col-lg-3">

    {% if request|is_pc %}

        <div class="squad-advertising">
            {% ads_only_production "article_right" "all" %}
        </div>

    {% endif %}

    {% if request|is_pc %}

        {% include "article/partials/article-community-list.html" with communities=feed.communities.all %}

        <!-- Publicações Relacionadas -->
        <div id="load-related-posts" data-load-async="true" data-load-async-url="{% url 'core:related-posts' article.id "article" "article" 4 %}" data-load-async-url-next="{{ request.path }}" data-load-async-method="get" data-load-async-response-type="json" data-load-async-timeout="1">
            <div class="load-async load-async-content">
                <div class="load-async-preload"></div>
            </div>
            {% csrf_token %}
        </div>


    {% endif %}

</div>