{%extends 'home/layout/base.html' %}

{% load core_tags %}
{% load staticfiles %}
{% load user_agents %}
{% load i18n %}

{% load thumbor_tags %}

{% block seo-og-title %}{% block seo_title %}Vídeos sobre {{ community.title }} | Comunidade{{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}Conteúdo de {{ community.title }} em formato de vídeo. Todas as publicações que forem marcadas com a tag de vídeo aparecem nessa seção da comunidade de {{ community.title }} {% endblock %}{% endblock %}
{% block seo-og-image %}{% thumbor_url community.get_picture.url width=82 height=82 smart=False fit_in=False %}{% endblock %}

{% block content %}
    <main class="container main">
        <div class="row">
            <!-- mudar para 2.5 -->
            <div class="col-lg-3">
                {% include 'community/partials/community-sidebar-left.html' %}
            </div>
            <!-- mudar para 9.5 -->
            <div class="col-lg-9">
                {% include 'community/partials/filters.html' with title="Vídeos" active="videos" has_filter=True %}

                <div class="row">
                    <div class="col-lg-8">

                        {% if request|is_pc %}
                            <header class="area-title">
                                <h2>Vídeos</h2>
                            </header>
                        {% endif %}

                        {% block filters %}
                            <nav id="form-search" class="form-search filters-members" data-toggle="filters">
                            <form action="{% url 'community:search' community.slug %}" method="GET" role="search">
                                <div class="form-search-input">
                                    <input type="text" name="criterio" placeholder="Procure vídeos" value="{{ form.cleaned_data.criterio }}">
                                </div>
                                <button type="submit" class="form-search-button">
                                    <i class="gsticon gsticon-search"></i>
                                </button>
                            </form>
                        </nav>
                        {% endblock filters %}

                        <section class="area-content j-scroll j-scroll-container" id="community-list">
                            {% if feed_objects.object_list %}
                                {% include 'community/partials/community-videos-list.html' %}
                            {% else %}
                                <p class="text-center text-italic">{% trans 'Não existem itens a serem exibidos' %}</p>
                                <hr>
                            {% endif %}
                        </section>
                    </div>
                    <div class="col-lg-4">
                        {% include 'community/partials/community-sidebar-right.html' %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

 {% block community_right %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- gsti-comunidade-videos-lateral -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2686766225121981"
     data-ad-slot="5762531222"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endblock community_right %}

<div class="modal">
    modal here
</div>


{% block javascripts %}
    {{ block.super }}

    <script>
        $(function() {
            $(".j-scroll").jscroll({
                loadingHtml: '<div class="load-async-preload"></div>',
                contentSelect: ".j-scroll-container",
                nextSelector: "a[data-jscroll-next]",
                callback: refreshAsyncLike()
            });
        });
    </script>
{% endblock %}