{%extends 'home/layout/base.html' %}

{% load core_tags %}
{% load staticfiles %}
{% load i18n %}
{% load user_agents %}
{% load thumbor_tags %}
{% load ads %}
{% block seo-og-title %}{% block seo_title %}Materiais sobre {{ community.title }}{{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}Lista de materiais sobre {{ community.title }}. É possível encontrar ebooks, modelos de documentos (template), apostilas e slides sobre {{ community.title }}.{% endblock %}{% endblock %}
{% block seo-og-image %}{% thumbor_url community.get_picture.url width=200 height=200 smart=False fit_in=False %}{% endblock %}
{% load seo_pagination_tags %}
{% load abs_url %}

{% block seo-canonical %}{% absolute_url request.path %}{% endblock %}
{% block link_pagination %}
    {% pagination_links feed_objects %}
{% endblock link_pagination %}

{% block seo-metas-extra %}
    {{ block.super }}

    {% if have_posts == False %}
        <meta name="robots" content="noindex, nofollow">
    {% endif %}

{% endblock %}

{% block content %}
    <main class="container main">
        {% if request|is_pc %}
        <div class="row">
            <div class="col-lg-offset-3 col-lg-9">
                {% include 'community/partials/navbar.html' with active='materials' %}
            </div>
        </div>
        {% endif %}
        <div class="row">
            <!-- mudar para 2.5 -->
            <div class="col-lg-3">
                {% include 'community/partials/community-sidebar-left.html' %}
            </div>
            <!-- mudar para 9.5 -->
            <div class="col-lg-9">
                {% include 'community/partials/filters.html' with title="Materiais" active="materials" has_filter=True %}
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            {% block filters %}
                            <nav id="form-search" class="col-lg-8 filters-members" data-toggle="filters">
                                <form action="{% url 'community:materials' community.slug %}" method="GET" role="search">
                                    <div class="customform search{%if errors %} customform-error{% endif %}">
                                        <input class="customform-input" id="criteria" type="text" name="criteria" data-toggle="input" placeholder="Pesquisar por materiais" value="{{ form.cleaned_data.criterio }}">
                                        <hr>
                                        <label for="criterio" class="customform-label{% if request.GET.criterio %} active {% endif %}">Pesquisar</label>
                                        <button type="submit" class="form-search-button">
                                            <i class="gsticon gsticon-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </nav>
                            {% endblock filters %}
                            {% if request|is_pc %}
                            <div class="col-lg-4">
                                <div class="customform">
                                    <select class="customform-input" data-target="materials-type">
                                        <option {% if current_tag not in tags %}selected="selected"{% endif %} value="{% url 'community:materials' community.slug %}">Todos</option>
                                        {% for tag in tags %}
                                        <option {% if current_tag == tag %}selected="selected"{% endif %} value="{% url 'community:materials' community.slug %}?tags={{ tag.id }}">{{ tag.tag_name }}</option>
                                        <li >
                                            <a href="" data-target=".area-content"></a>
                                        </li>
                                        {% endfor %}
                                    </select>
                                </div>
                                {% comment%}
                                <div class="dropdown">
                                    <button class="btn btn-block btn-default dropdown-toggle" type="button" id="filter-posts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span>
                                            {% firstof form.cleaned_data.tags.tag_name 'Todos' %}
                                        </span> <i class="gsticon gsticon-caret-down"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="filter-posts">
                                        <li {% if current_tag not in tags %}class="active"{% endif %}>
                                            <a href="{% url 'community:materials' community.slug %}" data-target=".area-content">Todos</a>
                                        </li>
                                        {% for tag in tags %}
                                        <li {% if current_tag == tag %}class="active"{% endif %}>
                                            <a href="{% url 'community:materials' community.slug %}?tags={{ tag.id }}" data-target=".area-content">{{ tag.tag_name }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endcomment %}
                            </div>
                            {% endif %}
                        </div>

                        <section class="j-scroll j-scroll-container" id="community-list">
                            {% include 'community/partials/community-materials-list.html' %}
                        </section>
                    </div>
                    <div class="col-lg-4">
                        {% include 'community/partials/community-sidebar-right.html' %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block community_right_block %}
    {% ads_only_production "community_materials_right" "all" %}
{% endblock community_right_block %}


<div class="modal">
    modal here
</div>


{% block javascripts %}
    {{ block.super }}

    <script>
        $(function() {
            $(".j-scroll").jscroll({
                loadingHtml: '<div class="load-async-preload"></div>',
                contentSelect: ".j-scroll-container",
                nextSelector: "a[data-jscroll-next]",
                callback: refreshAsyncLike()
            });
            $('[data-target="materials-type"]').on('change', function ( event ) {
                window.location.href = event.currentTarget.value;
            });
        });
    </script>
{% endblock %}
