{%extends 'home/layout/base.html' %}

{% load thumbor_tags %}

{% block seo-og-title %}{% block seo_title %}O que é {{ community.title }} | Comunidade{{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}Comunidade destinada a discutir assunto de {{ community.title }}. É possível encontrar material de qualidade sobre {{ community.title }} (textos, slides, vídeos) e ainda ser um colaborador. Entre e participe!{% endblock %}{% endblock %}
{% block seo-og-image %}{% thumbor_url commmunity.get_picture.url width=82 height=82 smart=False fit_in=False %}{% endblock %}


{% block content %}
    <main class="container main">
        <div class="row">
            <!-- mudar para 2.5 -->
            <div class="col-lg-3">
                {% include 'community/partials/community-sidebar-left.html' %}
            </div>
            <!-- mudar para 9.5 -->
            <div class="col-lg-9">
                {% include 'community/partials/filters.html' with title="Sobre" active="sobre" has_filter=False %}
                <div class="about-text">
                    <p>{{ community.description|safe }}</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}