{%extends 'home/layout/base.html' %}

{% load core_tags %}
{% load staticfiles %}
{% load i18n %}
{% load user_agents %}
{% load thumbor_tags %}

{% block seo-og-title %}{% block seo_title %}Materiais sobre {{ community.title }} | Comunidade{{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}Lista de materiais sobre {{ community.title }}. É possível encontrar ebooks, modelos de documentos (template), apostilas e slides sobre {{ community.title }}.{% endblock %}{% endblock %}
{% block seo-og-image %}{% thumbor_url community.get_picture.url width=82 height=82 smart=False fit_in=False %}{% endblock %}

{% block content %}
    <main class="container main">
        <div class="row">
            <!-- mudar para 2.5 -->
            <div class="col-lg-3">
                {% include 'community/partials/community-sidebar-left.html' %}
            </div>
            <!-- mudar para 9.5 -->
            <div class="col-lg-9">
                {% include 'community/partials/filters.html' with title="Materiais" active="materials" has_filter=True %}
                <div class="row">
                    <div class="col-lg-8">
                        {% if request|is_pc %}
                        <header class="area-title">
                            <div class="order-by">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-filter-posts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span>
                                            {% firstof form.cleaned_data.tags.tag_name 'Todos' %}
                                        </span> <i class="gsticon gsticon-caret-down"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-filter-posts">
                                        <li {% if current_tag not in tags %}class="active"{% endif %}>
                                            <a href="{% url 'community:materials-search' community.slug %}" data-target=".area-content">Todos</a>
                                        </li>
                                        {% for tag in tags %}
                                            <li {% if current_tag == tag %}class="active"{% endif %}>
                                                <a href="{% url 'community:materials-search' community.slug %}?tags={{ tag.id }}" data-target=".area-content">{{ tag.tag_name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <h2>Materiais</h2>
                        </header>
                        {% endif %}
                        {% block filters %}
                            <nav id="form-search" class="form-search filters-members" data-toggle="filters">
                                <form action="{% url 'community:materials-search' community.slug %}" method="GET" role="search">
                                    <div class="form-search-input">
                                        <input type="text" name="criteria" placeholder="Procure por materiais" value="{{ form.cleaned_data.criteria }}">
                                        <input type="hidden" name="tags" value="{{ form.cleaned_data.tags.id }}">
                                    </div>
                                    <button type="submit" class="form-search-button">
                                        <i class="gsticon gsticon-search"></i>
                                    </button>
                                    {% if request|is_mobile %}
                                    <div class="dropdown">
                                        <button class="btn btn-block btn-default dropdown-toggle" type="button" id="dropdown-filter-posts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span>
                                                {% if form.cleaned_data.official %}
                                                Posts oficiais
                                                {% else %} Todos {% endif %}
                                            </span> <i class="gsticon gsticon-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-filter-posts">
                                            <li {% if form.cleaned_data.official %}class="active"{% endif %} ><a href="{% url 'community:search' community.slug %}?criterio={{ form.cleaned_data.criterio|urlencode }}&official=True&next={{ url_next|urlencode }}" data-target=".area-content">Posts oficiais</a></li>
                                            <li {% if not form.cleaned_data.official %}class="active"{% endif %}><a href="{% url 'community:search' community.slug %}?criterio={{ form.cleaned_data.criterio|urlencode }}&official=False&next={{ url_next|urlencode }}" data-target=".area-content">Todos</a></li>
                                        </ul>
                                    </div>
                                    {% endif %}
                                </form>

                            </nav>
                        {% endblock filters %}

                        <section class="area-content j-scroll j-scroll-container" id="community-list">
                            {% if feed_objects.object_list %}
                                {% include 'community/partials/community-materials-list.html' %}
                            {% else %}
                                <p class="text-center text-italic">{% trans 'Não existem itens a serem exibidos' %}</p>
                                <hr>
                            {% endif %}
                        </section>
                    </div>
                    <div class="col-lg-4">
                        {% include 'community/partials/community-sidebar-right.html' %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

 {% block community_right %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- gsti-comunidade-materiais-lateral -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2686766225121981"
     data-ad-slot="8715997622"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endblock community_right %}

<div class="modal">
    modal here
</div>


{% block javascripts %}
    {{ block.super }}

    <script>
        $(function() {
            $(".j-scroll").jscroll({
                loadingHtml: '<div class="load-async-preload"></div>',
                contentSelect: ".j-scroll-container",
                nextSelector: "a[data-jscroll-next]",
                callback: refreshAsyncLike()
            });
        });
    </script>
{% endblock %}