{%extends 'home/layout/base.html' %}

{% load thumbor_tags %}
{% load ads %}
{% block seo-og-title %}{% block seo_title %}O que é {{ community.title }} | Comunidade{{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}Saiba o que é {{ community.title }} seus beneficios e aplicações. Aqui você pode ter noção de {{ community.title }} para depois se aprofundar mais no assunto{% endblock %}{% endblock %}
{% block seo-og-image %}{% thumbor_url community.get_picture.url width=200 height=200 smart=False fit_in=False %}{% endblock %}


{% block content %}
    <main class="container main">
        <div class="row">
            <!-- mudar para 2.5 -->
            <div class="col-lg-3">
                {% include 'community/partials/community-sidebar-left.html' %}
            </div>
            <!-- mudar para 9.5 -->
            <div class="col-lg-9">
                {% include 'community/partials/filters.html' with title="Sobre" active="sobre" has_filter=False %}
                 <div class="banner">
                 {% block community_right_block %}
                    {% ads_only_production "community_about_top" "all" %}
                {% endblock community_right_block %}

                        </div>
                <div class="about-text">
                    <p>{{ community.description|safe }}</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}