{%extends 'home/layout/base.html' %}

{% load thumbor_tags %}

{% block seo-og-title %}{% block seo_title %}Resultados da busca por {{ community.title }}{{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}Resultados da busca {% endblock %}{% endblock %}
{% block seo-og-image %}{% thumbor_url community.get_picture.url width=200 height=200 smart=False fit_in=False %}{% endblock %}

{% block content %}
<main class="container main">
    <div>
        <div class="col-lg-9">
            <header class="area-title">
                <h2>Resultado da pesquisa por <strong class="color-link">Python</strong></h2>
            </header>
            <section class="area-content">
                {% for feed in feed_objects %}
                        {% with template_name=feed.content_type|stringformat:"s"|add:"-segment.html" %}
                            {% with instance=feed.content_object %}
                                {% if instance %}
                                    {% include 'userprofile/partials/'|add:template_name %}
                                {% endif %}
                            {% endwith %}
                        {% endwith %}
                {% endfor %}
            </section>
        </div>
        <div class="col-lg-3">
            <div class="squad-advertising">
                <img class="img-responsive" src="http://placehold.it/270x225" alt="Propaganda aqui">
            </div>
        </div>
    </div>
</main>
{% endblock %}