{%extends 'home/layout/base.html' %}

{% load core_tags %}

{% block title %}Portal GSTI - Comunidade{% endblock %}

{% block content %}
    <main class="container">
        <div class="perfil-row">
            <!-- mudar para 2.5 -->
            <div class="col-lg-3">
                {% include 'community/partials/community-sidebar.html' %}
            </div>
            <!-- mudar para 9.5 -->
            <div class="col-lg-9">
                <nav class="perfil-navegation">
                    <a class="active" href="{% url 'community:show' community.slug %}">Feed</a>•<a href="{% url 'ninico:comunidade-perguntas' %}">Perguntas</a>•<a href="{% url 'community:followers' community.slug %}">Membros</a>•<a href="{% url 'community:about' community.slug %}">Sobre</a>•<a href="{% url 'ninico:comunidade-videos' %}">Vídeos</a>
                </nav>
                <div class="row">
                    <div class="col-lg-8">
                        <header class="area-title">
                            <h2>Feed</h2>
                        </header>
                        <nav class="form-search">
                            {% include 'home/partials/search.html' with placehold='Pesquise no seu feed' only %}
                        </nav>
                        <section class="area-content">
                            {% for x in 'Lorem' %}
                                {% include 'home/partials/perfil-post.html' %}
                            {% endfor %}
                        </section>
                    </div>
                    <div class="col-lg-4">
                        {% include 'community/partials/right-sidebar.html' %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
<div class="modal">
    modal here
</div>
