{%extends 'home/layout/base.html' %}

{% load staticfiles %}
{% load core_tags %}
{% load user_agents %}
{% load thumbor_tags %}
{% load ads %}
{% load seo_pagination_tags %}
{% block seo-og-title %}{% block seo_title %}Dúvidas sobre {{ community.title }} | Comunidade{{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}Faça perguntas e tire suas dúvidas sobre {{ community.title }}. Claro que antes veja se a sua dúvida já foi respondida por outros membros.{% endblock %}{% endblock %}
{% block seo-og-image %}{% thumbor_url community.get_picture.url width=82 height=82 smart=False fit_in=False %}{% endblock %}
{% load abs_url %}

{% block seo-canonical %}{% absolute_url request.get_full_path %}{% endblock %}
{% block link_pagination %}
    {% pagination_links feed_objects %}
{% endblock link_pagination %}

{% block content %}
    <main class="container main">
        <div class="row">
            <!-- mudar para 2.5 -->
            <div class="col-lg-3">
                {% include 'community/partials/community-sidebar-left.html' %}
            </div>
            <!-- mudar para 9.5 -->
            <div class="col-lg-9">
                {% include 'community/partials/filters.html' with title="Perguntas" active="perguntas" has_filter=True %}
                <div class="row">
                    <div class="col-lg-8">
                        {% if request|is_pc %}
                        <header class="area-title">
                            <div class="order-by">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-filter-posts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span>
                                            {% if form.cleaned_data.replies == 'non-reply' %}
                                                Não respondidas
                                            {% elif form.cleaned_data.replies == 'reply' %}
                                                Respondidas
                                            {% else %}
                                                Todas
                                            {% endif %}
                                        </span> <i class="gsticon gsticon-caret-down"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-filter-posts">
                                    <li {% if not form.cleaned_data.replies %}class="active"{% endif %}><a href="{% url "community:questions" community.slug %}?criterio={{ form.cleaned_data.criterio|urlencode }}&next={{ url_next|urlencode }}" data-target=".area-content">Todas</a></li>
                                        <li {% if form.cleaned_data.replies == 'reply' %}class="active"{% endif %} ><a href="{% url "community:questions" community.slug %}?criterio={{ form.cleaned_data.criterio|urlencode }}&replies=reply&next={{ url_next|urlencode }}" data-target=".area-content">Respondidas</a></li>
                                        <li {% if form.cleaned_data.replies == 'non-reply' %}class="active"{% endif %}><a href="{% url "community:questions" community.slug %}?criterio={{ form.cleaned_data.criterio|urlencode }}&replies=non-reply&next={{ url_next|urlencode }}" data-target=".area-content">Não respondidas</a></li>
                                    </ul>
                                </div>
                            </div>
                            <h2>Perguntas</h2>
                        </header>
                        {% endif %}
                    {% block filter %}
                        <nav id="form-search" class="form-search filters-members" data-toggle="filters">
                            {% include 'community/partials/community-question-form-search.html' with placehold='Pesquise perguntas' %}
                             {% if request|is_mobile %}
                                <div class="dropdown">
                                    <button class="btn btn-block btn-default dropdown-toggle" data-target="#menu-dropdown" type="button" id="dropdown-filter-posts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span>
                                            {% if form.cleaned_data.replies == 'non-reply' %}
                                                Não respondidas
                                            {% elif form.cleaned_data.replies == 'reply' %}
                                                Respondidas
                                            {% else %}
                                                Todas
                                            {% endif %}
                                        </span><i class="gsticon gsticon-caret-down"></i>
                                    </button>
                                    <ul id="menu-dropdown" class="dropdown dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-filter-posts">
                                        <li {% if not form.cleaned_data.replies %}class="active"{% endif %}><a href="{% url "community:questions" community.slug %}?criterio={{ form.cleaned_data.criterio|urlencode }}&next={{ url_next|urlencode }}" data-target=".area-content">Todas</a></li>
                                        <li {% if form.cleaned_data.replies == 'reply' %}class="active"{% endif %} ><a href="{% url "community:questions" community.slug %}?criterio={{ form.cleaned_data.criterio|urlencode }}&replies=reply&next={{ url_next|urlencode }}" data-target=".area-content">Respondidas</a></li>
                                        <li {% if form.cleaned_data.replies == 'non-reply' %}class="active"{% endif %}><a href="{% url "community:questions" community.slug %}?criterio={{ form.cleaned_data.criterio|urlencode }}&replies=non-reply&next={{ url_next|urlencode }}" data-target=".area-content">Não respondidas</a></li>
                                    </ul>
                                </div>
                                {% endif %}
                        </nav>
                    {% endblock filter %}

                        <section class="area-content">
                            <!-- <div class="text-right">
                                <a href="{% url "community:questions" community.slug %}?criterio={{ form.cleaned_data.criterio|urlencode }}&replies=reply&next={{ url_next|urlencode }}" class="btn btn-default">Respondidas</a>
                                <a href="{% url "community:questions" community.slug %}?criterio={{ form.cleaned_data.criterio|urlencode }}&replies=non-reply&next={{ url_next|urlencode }}" class="btn btn-default">Não respondidas</a>
                                <br><br>
                            </div> -->
                            <div id="community-feed-list" class="j-scroll j-scroll-container">
                                    {% include "community/partials/community-question-list.html" %}
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-4">
                        <div class="squad-advertising">
                            {% block community_right_block %}
                                {% ads_only_production "community_questions_right" "all" %}
                            {% endblock community_right_block %}
                        </div>
                        <div class="widget widget-feed">
                            {% relevance_box community %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
<div class="modal">
    modal here
</div>


{% block javascripts %}
    {{ block.super }}

    <script>
        $(function() {

                $(".j-scroll").jscroll({
                    loadingHtml: '<div class="load-async-preload"></div>',
                    contentSelect: ".j-scroll-container",
                    nextSelector: "a[data-jscroll-next]",
                    callback: refreshAsyncLike()
                });



        });
    </script>
{% endblock %}