{%extends 'home/layout/base.html' %}
{% load abs_url %}
{% load thumbor_tags %}
{% load ads %}
{% load user_agents %}
{% load widget_tweaks %}
{% block seo-og-title %}{% block seo_title %}O que é {{ community.title }}{{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}Saiba o que é {{ community.title }} seus beneficios e aplicações. Aqui você pode ter noção de {{ community.title }} para depois se aprofundar mais no assunto{% endblock %}{% endblock %}
{% block seo-og-image %}{% thumbor_url community.get_picture.url width=200 height=200 smart=False fit_in=False %}{% endblock %}
{% block seo-canonical %}{% absolute_url request.path %}{% endblock %}

{% block content %}
    <main class="container main">
        {% if request|is_pc %}
        <div class="row">
            <div class="col-lg-offset-3 col-lg-9">
                {% include 'community/partials/navbar.html' with active='about' %}
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-3">
                {% include 'community/partials/community-sidebar-left.html' %}
            </div>
            <div class="col-lg-9">
                <form class="courses__filters" action="#" data-form-send-enables>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 clearfix">
                                <div class="customform search">
                                    {% render_field form.title class="customform-input" data-toggle="input" placeholder="Pesquisar por cursos" type="search" autocomplete="off" %}
                                    <hr>
                                    <label class="customform-label" for="id_title">Pesquisar por cursos de {{ community.title }}</label>
                                    <button type="submit" class="form-search-button">
                                        <i class="gsticon gsticon-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="collapse navbar-collapse" id="filters">
                                <div class="col-sm-2">
                                    <div class="customform">
                                        {% render_field form.order class="customform-input" data-toggle="input" data-form-send="1" %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 visible-xs-block">
                                <span class="btn btn-lg courses__btn courses__btn--filter" data-target="#filters" data-toggle="collapse">
                                    <i class="gsticon gsticon-filter" aria-hidden="true"></i>
                                    Filtrar por
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row list__courses j-scroll clearfix" data-toggle="scroll">
                    <div class="j-scroll-container">
                        {% include 'community/partials/community-course-items.html' %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script>
    $(function(){
        var $element = $(".j-scroll-container");
        $element.jscroll({
            loadingHtml: '<div class="load-async-preload"></div>',
            nextSelector: "a[data-jscroll-next]",
            autoTrigger: false
        });
    });

    </script>
{% endblock javascripts %}