{%extends 'home/layout/base.html' %}

{% block title %}Portal GSTI - Comunidade{% endblock %}

{% block content %}
    <main class="container main">
        <div class="perfil-row">
            <!-- mudar para 2.5 -->
            <div class="col-lg-3">
                {% include 'community/partials/community-sidebar-left.html' %}
            </div>
            <!-- mudar para 9.5 -->
            <div class="col-lg-9">
                <nav class="perfil-navegation">
                    <a href="{% url 'community:show' community.slug %}">Feed</a>•<a href="{% url 'community:questions' community.slug %}">Perguntas</a>•<a href="{% url 'community:followers' community.slug %}">Membros</a>•<a class="active" href="{% url 'community:about' community.slug %}">Sobre</a>•<a href="{% url 'ninico:comunidade-videos' %}">Vídeos</a>
                </nav>
                <header class="area-title">
                    <h2>Sobre</h2>
                </header>
                <hr>
                <div class="about-text">
                    <p>{{ community.description }}</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}