{%extends 'home/layout/base.html' %}

{% load staticfiles %}
{% load core_tags %}

{% block title %}Portal GSTI - Comunidade{% endblock %}

{% block content %}
    <main class="container main">
        <div class="perfil-row">
            <!-- mudar para 2.5 -->
            <div class="col-lg-3">
                {% include 'community/partials/community-sidebar-left.html' %}
            </div>
            <!-- mudar para 9.5 -->
            <div class="col-lg-9">
                <nav class="perfil-navegation">
                    <a href="{% url 'community:show' community.slug %}">Feed</a>•<a class="active" href="{% url 'community:questions' community.slug %}">Perguntas</a>•<a href="{% url 'community:followers' community.slug %}">Membros</a>•<a href="{% url 'community:about' community.slug %}">Sobre</a>•<a href="{% url 'community:videos' community.slug %}">Vídeos</a>
                </nav>
                <div class="row">
                    <div class="col-lg-8">
                        <header class="area-title">
                            <div class="order-by">
                                <p>Classificadas por</p>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-filter-posts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span>
                                            {% if form.cleaned_data.replies == 'non-reply' %}
                                                Não respondidas
                                            {% elif form.cleaned_data.replies == 'reply' %}
                                                Respondidas
                                            {% else %}
                                                Todas
                                            {% endif %}
                                        </span> <i class="gsticon gsticon-caret-down"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-filter-posts">
                                    <li {% if not form.cleaned_data.replies %}class="active"{% endif %}><a href="{% url "community:questions-search" community.slug %}?criterio={{ form.cleaned_data.criterio|urlencode }}&next={{ url_next|urlencode }}" data-target=".area-content">Todas</a></li>
                                        <li {% if form.cleaned_data.replies == 'reply' %}class="active"{% endif %} ><a href="{% url "community:questions-search" community.slug %}?criterio={{ form.cleaned_data.criterio|urlencode }}&replies=reply&next={{ url_next|urlencode }}" data-target=".area-content">Respondidas</a></li>
                                        <li {% if form.cleaned_data.replies == 'non-reply' %}class="active"{% endif %}><a href="{% url "community:questions-search" community.slug %}?criterio={{ form.cleaned_data.criterio|urlencode }}&replies=non-reply&next={{ url_next|urlencode }}" data-target=".area-content">Não respondidas</a></li>
                                    </ul>
                                </div>
                            </div>
                            <h2>Perguntas</h2>
                        </header>
                        <nav class="form-search">
                            {% include 'community/partials/community-question-form-search.html' with placehold='Pesquise perguntas' %}
                        </nav>
                        <section class="area-content">
                            <!-- <div class="text-right">
                                <a href="{% url "community:questions-search" community.slug %}?criterio={{ form.cleaned_data.criterio|urlencode }}&replies=reply&next={{ url_next|urlencode }}" class="btn btn-default">Respondidas</a>
                                <a href="{% url "community:questions-search" community.slug %}?criterio={{ form.cleaned_data.criterio|urlencode }}&replies=non-reply&next={{ url_next|urlencode }}" class="btn btn-default">Não respondidas</a>
                                <br><br>
                            </div> -->
                            <div id="community-feed-list" class="j-scroll j-scroll-container">
                                {% if form.cleaned_data.criterio %}
                                    {% include "community/partials/community-question-list.html" %}
                                {% else %}
                                    <div class="load-async-preload"></div>
                                {% endif %}
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-4">
                        <div class="squad-advertising">
                            <img class="img-responsive" src="http://placehold.it/270x225" alt="Propaganda aqui">
                        </div>
                        <div class="widget widget-feed">
                            {% relevance_box community %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
<div class="modal">
    modal here
</div>


{% block javascripts %}
    {{ block.super }}

    <script>
        $(function() {

            {% if form.cleaned_data.criterio %}

                $(".j-scroll").jscroll({
                    loadingHtml: '<div class="load-async-preload"></div>',
                    contentSelect: ".j-scroll-container",
                    nextSelect: "a[data-jscroll-next]",
                    callback: refreshAsyncLike
                });

            {% else %}

                $.get("{% url 'community:questions-list' community.slug %}?criterio={{ form.cleaned_data.criterio|urlencode }}&replies={{ form.cleaned_data.replies }}&page=1&next={{ url_next|urlencode }}", function( data ) {
                    $( "#community-feed-list" ).html( data );
                    $(".j-scroll").jscroll({
                        loadingHtml: '<div class="load-async-preload"></div>',
                        contentSelect: ".j-scroll-container",
                        nextSelect: "a[data-jscroll-next]",
                        callback: refreshAsyncLike
                    });
                });

            {% endif %}

        });
    </script>
{% endblock %}