{%extends 'home/layout/base.html' %}

{% load staticfiles %}
{% load core_tags %}

{% block title %}Portal GSTI - Comunidade{% endblock %}

{% block content %}
    <main class="container">
        <div class="perfil-row">
            <!-- mudar para 2.5 -->
            <div class="col-lg-3">
                {% include 'community/partials/community-sidebar-left.html' %}
            </div>
            <!-- mudar para 9.5 -->
            <div class="col-lg-9">
                <nav class="perfil-navegation">
                    <a href="{% url 'community:show' community.slug %}">Feed</a>•<a class="active" href="{% url 'community:questions' community.slug %}">Perguntas</a>•<a href="{% url 'community:followers' community.slug %}">Membros</a>•<a href="{% url 'community:about' community.slug %}">Sobre</a>•<a href="{% url 'ninico:comunidade-videos' %}">Vídeos</a>
                </nav>
                <div class="row">
                    <div class="col-lg-8">
                        <header class="area-title">
                            <h2>Perguntas</h2>
                        </header>
                        <nav class="form-search">
                            {% include 'community/partials/community-question-form-search.html' with placehold='Pesquise perguntas...' %}
                        </nav>
                        <section class="area-content">
                            <div class="text-right">
                                <a href="javascript:;" class="btn btn-default">Respondidas</a>
                                <a href="javascript:;" class="btn btn-default">Não respondidas</a>
                                <br><br>
                            </div>
                            <div id="community-feed-list" class="row j-scroll j-scroll-container">
                                {% if form.cleaned_data.criterio %}
                                    {% include 'community/partials/community-question-list.html' %}
                                {% else %}
                                    <span>Carregando feed...</span>
                                {% endif %}
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-4">
                        <div class="squad-advertising">
                            <img class="img-responsive" src="http://placehold.it/270x225" alt="Propaganda aqui">
                        </div>
                        <div class="widget widget-feed">
                            <div class="widget-header">
                                <header class="area-title">
                                    <h3>Destaque</h3>
                                </header>
                            </div>
                            <div class="widget-content">
                                {% relevance_box community %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
<div class="modal">
    modal here
</div>


{% block javascripts %}
    {{ block.super }}
    <script src="{% static 'javascripts/jquery.jscroll.min.js' %}"></script>
    <script>
        $(function() {

            {% if form.cleaned_data.criterio %}

                $(".j-scroll").jscroll({
                    loadingHtml: '<span>Carregando...</span>',
                    contentSelect: ".j-scroll-container",
                    nextSelect: "a[data-jscroll-next]"
                });

            {% else %}

                $.get("{% url 'community:questions-list' community.slug %}?criterio={{ form.cleaned_data.criterio|urlencode }}&page=1&next={{ url_next|urlencode }}", function( data ) {
                    $( "#community-feed-list" ).html( data );
                    $(".j-scroll").jscroll({
                        loadingHtml: '<span>Carregando...</span>',
                        contentSelect: ".j-scroll-container",
                        nextSelect: "a[data-jscroll-next]"
                    });
                });

            {% endif %}

        });
    </script>
{% endblock %}