{% load i18n %}
{% load staticfiles %}
{% load social_tags %}

<h1>{{ community.title|title }}</h1>
{% follow_action community request.path %}
<br/>
<br/>
<img src="{{ community.get_picture.url }}" alt="" width="150"/>
<p>{{ community.description }}</p>

<hr/>

Seguidores:

<div class="list-followers" style="max-height: 100px; overflow-y: scroll;">
    {% for follower in community_followers %}
        <p>{{ follower.author.get_full_name }}</p>
    {% endfor %}
    <a href="{% url 'community:followers' community_slug=community.slug  %}?p={{ page }}">next</a>
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{% static 'javascripts/jquery.jscroll.min.js' %}"></script>
<script>
    $(function() {
        $('.list-followers').jscroll({
            debug: true,
            autoTrigger: true
        });
    });
</script>