{% extends 'notification/email/content.html' %}

{% load abs_url %}

{% block url %}
    {% if notification.target_content_type|stringformat:"s" == "article" %}
        {{ notification.target.absolute_url }}
    {% elif notification.target_content_type|stringformat:"s" == "question"  %}
        {{ notification.target.absolute_url }}
    {% endif %}
{% endblock %}

{% block content %}

    {% if notification.target_content_type|stringformat:"s" == "article" %}
        <span>{{ notification.author.get_full_name }}</span> recomendou a leitura de <span>{{ notification.target.title }}</span>
    {% elif notification.target_content_type|stringformat:"s" == "question"  %}
        <span>{{ notification.author.get_full_name }}</span> te recomendou a leitura de <span>{{ notification.target.title }}</span>
    {% endif %}

{% endblock %}