.error-page {
    padding: 70px 0 120px;
    color: #0160b0;
    text-align: center;
}
.error-page-title {
    font-weight: 900;
    font-size: 100px;
}
.error-page-subtitle {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 5px;
}
.error-page-description {
    font-size: 20px;
}
.error-page-btn {
    margin-top: 20px;
}