// ==========================================================================
// Modal primeiros passos
// ==========================================================================
.step-items {
    @include list-unstyled;
    text-align: center;
    max-width: 570px;
    margin: 0 auto;
    > .step {
        position: relative;
        width: 40px;
        height: 40px;
        display: inline-block;
        border-radius: 50%;
        background: #d8d8d8;
        color: #4d6479;
        font-weight: bold;
        font-size: 18px;
        line-height: 40px;
        text-align: center;

        &:nth-child(n+2) {
            margin-left: 30%;
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                width: 180px;
                height: 5px;
                margin-left: -189px;
                margin-top: -2px;
                background: #d8d8d8;
                @media (max-width: $screen-tablet) {
                    display: none;
                }
            }
        }
        &.active {
            color: #fff;
            background: #4d6479;
            &:before { background: #4d6479; }
        }
    }
}

.set-avatar {
    border: 8px solid #fff;
    box-shadow: 1px 1px 1px $color-border, -1px -1px 2px $color-border;
    h5 {
        font-size: 15px;
        margin: 0;
    }
    p { font-size: 13px; }
}

.item-form { margin-bottom: 20px; }

// Modal Suggestions
// ==========================================================================
.suggestion {
    @include make-lg-column(4);
    padding-top: 1px;
    margin-bottom: 20px;

    .perfil figure {
      max-width: 90px;
      float: left;
      margin-right: 8px;
      border: 4px solid #fff;
      box-shadow: -1px 1px 1px #e1e1e1,1px -1px 1px #e1e1e1;
    }
}

#wizard-container-communities {
    overflow: auto;
    max-height: 132px;
    @media (max-width: $screen-tablet) {
      max-height: 53vh;
    }
}

#modal-categories,
#modal-personal-infos,
#modal-suggestions {
  .btn-green {
    margin-left: 5px;
  }
}

.success-page {
    padding: 70px 0 120px;
    color: #0160b0;
    text-align: center;
}
.success-page-title {
    font-weight: 900;
    font-size: 48px;
}
.success-page-subtitle {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 5px;
}
.success-page-description {
    font-size: 20px;
}
.success-page-btn {
    margin-top: 20px;
}
