// ==========================================================================
// Layout/Header
// ==========================================================================
.header {
    background: $link-white;
    .gsti {
        overflow: hidden;
        @include make-xs-column(2);
        @include make-lg-column(1.5);
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 0;
        margin-bottom: 0;
        color: $color-governance;
        text-align: center;
        &-#{link} {
            width: 126px;
            height: 40px;
            margin: 0 auto;
            background: url('../images/gsti.png') no-repeat center;
            color: inherit;
            text-indent: -9999px;
            display: block;
        }
    }
    .form-search {
        @include make-xs-column(10);
        @include make-lg-column(8.5);
        padding-top: 20px;
        padding-bottom: 19px;
    }
    .form-search--logged {
        @include make-xs-column(10);
        @include make-lg-column(6.5);
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .user-actions {
        @include make-xs-column(12);
        @include make-lg-column(2);
        padding: 0;
        @media (min-width: $screen-lg-min) {
            padding-left: 0;
            padding-right: 15px;
        }
        &-#{link} {
            line-height: 3;
            @media (min-width: $screen-lg-min) {
                line-height: 5.8;
            }
            width: 63.5%;
            float: left;
            background-color: $white-ice;
            border-right: 1px solid $color-border;
            border-left: 1px solid $color-border;
            color: $gray;
            font-size: 1em;
            text-align: center;
            &:last-child {
                width: 36.5%;
                border-left-width: 0;
            }
            &:hover {
                background-color: #f2f2f2;
            }
        }
    }
    .dropdown-item-header { float: left; }
    .user-actions-logged {
        @include make-xs-column(12);
        @include make-lg-column(4);
        border-left: 1px solid $color-border;
        @media (min-width: $screen-lg-min) {
            padding-left: 0;
            padding-right: 0;
        }
        &-#{link--logged} {
            position: relative;
            padding: 16px 22px;
            float: left;
            border-right: 1px solid $color-border;
            color: $background-button;
            font-size: 1.214em;
            line-height: 3;
            text-align: center;
            background-color: $white-ice;
            @media (max-width: $screen-sm-min) {
                float: none;
                border-right-width: 0;
            }
            &:nth-child(4) {
                min-width: 47%;
                border-left-width: 1px;
                @media (max-width: $screen-sm-min) {
                    text-align: left;
                    display: block;
                    border-left-width: 0;
                }
            }
            .badge {
                position: absolute;
                top: 15%;
                right: 20%;
                min-width: 15px;
                padding: 3px;
                background-color: $color-badge;
                border-radius: 50%;
                color: white;
                font-weight: 600;
                font-size: 0.643em;
                line-height: 115%;
            }
            .img-circle {
              padding: 3px;
              background: $link-white;
              @include box-shadow(0 0px 0px 1px $color-border);
            }
            &:hover {
                background-color: #f2f2f2;
            }
        }
        & .user-actions-profile {
            width: 190px;
        }
    }
}

// Navegações
// ==========================================================================
.header-navegation {
    position: relative;
    // padding: 10px 0;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    background: $link-white;
    @media (max-width: $screen-sm-min) { border-bottom-width: 0; }

    &.fixed {
        position: fixed;
        top: 0; left: 0;
        z-index: 1000;
        width: 100%;
    }

    // TODO: refatorar para classes
    .menu-categories, .menu-social {
        list-style: none;
        margin-bottom: 0;
        @media (max-width: $screen-sm-min) { display: none; }
        color: $color-border;
        // line-height: 49px;
        > li {
            display: inline-block;
            padding: 10px 0;
        }
        li > a {
            padding: 0 8px;
            margin-right: -4px;
            color: inherit;
            display: inline-block;
            line-height: 100%;
            transition: color 2s easy-out;

            @each $name, $color in $areas {
                &.#{$name} {
                    color: $color;
                    &:hover {
                        color: darken($color, 10%);
                    }
                }
            }
        }
    }
    .menu-categories {
        @include make-xs-column(12);
        @include make-md-column(10);
        @include make-lg-column(10);
        position: static;
        padding-left: 0;
        li:first-child > a { padding-left: 0; }
        li > .gsticon { font-size: 8px; }
    }
    .menu-social {
        text-align: center;
        @include make-xs-column(12);
        @include make-md-column(2);
        @include make-lg-column(2);
        @media (min-width: $screen-lg-min) {
            padding-right: 0;
        }

        li > .gsticon {
            color: $background-button;
            font-size: 1.3em;
            width: 20%;
            &:hover {
                color: $background-button-hover;
            }
        }
    }
}

.submenu-categories {
    position: absolute;
    top: 103%;
    left: 0;
    z-index: 20;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 10px #4d6479;
    .list-group-item {
        color: #4d6479;
        cursor: pointer;
    }
}
.menu-area {
    @include make-row();
    border-top: 2px solid;
    display: none;
    // line-height: 100%;
}
.category-posts {
    padding: 30px 0;
    @include clearfix();
    .article {
        text-align: justify;
        @include make-xs-column(6);
        @include make-sm-column(2);
        @include make-md-column(3);
    }
    .article-title {
        margin-top: 10px;
        display: block;
        font-size: 16px;
        letter-spacing: -0.03em;
        word-break: break-all;
    }
    .article-img {
        margin-right: auto;
        margin-left: auto;
        @include img-responsive();
    }
}

#sub-governance {
    border-top-color: $color-governance;
    .list-group-item {
        &:hover,
        &.active {
            border-left-color: $color-governance;
            color: $color-governance;
        }
    }
    .article-title { color: $color-governance; }
}
#sub-development {
    border-top-color: $color-development;
    .list-group-item {
        &:hover,
        &.active {
            border-left-color: $color-development;
            color: $color-development;
        }
    }
    .article-title { color: $color-development; }
}
#sub-web-design {
    border-top-color: $color-web-design;
    .list-group-item {
        &:hover,
        &.active {
            border-left-color: $color-web-design;
            color: $color-web-design;
        }
    }
    .article-title { color: $color-web-design; }
}
#sub-marketing {
    border-top-color: $color-marketing;
    .list-group-item {
        &:hover,
        &.active {
            border-left-color: $color-marketing;
            color: $color-marketing;
        }
    }
    .article-title { color: $color-marketing; }
}
#sub-databases {
    border-top-color: $color-databases;
    .list-group-item {
        &:hover,
        &.active {
            border-left-color: $color-databases;
            color: $color-databases;
        }
    }
    .article-title { color: $color-databases; }
}
#sub-infra {
    border-top-color: $color-infra;
    .list-group-item {
        &:hover,
        &.active {
            border-left-color: $color-infra;
            color: $color-infra;
        }
    }
    .article-title { color: $color-infra; }
}