.perfil {
    @extend %clearfix;
    padding: 20px;
    margin-top: -1px;
    border: 1px solid $color-border;

    > a > img,
    > img {
        float: left;
        margin-right: 8px;
        border: 4px solid $link-white;
        box-shadow: -1px 1px 1px $color-border, 1px -1px 1px $color-border;
    }
    &-#{name} {
        color: $color-link-feed;
        font-size: 1.286em;
        &:hover {
            color: lighten($color-link-feed, 10%);
        }
    }
    &-#{counter} {
        display: block;
        color: $color-link-counter;
        font-size: 1em;
        line-height: $line-height-computed;
        letter-spacing: -0.005em;
        &:hover {
            color: lighten($color-link-counter, 10%);
        }
        .counter-number {
            font-weight: 600;
        }
    }
    &-#{button} {
        min-width: 100px;
        padding: 0 5px 1.5px;
        margin-top: 5px;
        background: $background-primary-button;
        color: $link-white;
        font-weight: 600;
        font-size: 0.929em;
        &:focus,
        &:hover {
            color: $link-white;
            background: $background-primary-button-hover;
        }
        &-#{alt} {
            min-width: 100px;
            padding: 0 5px 1.5px;
            margin-top: 5px;
            background: $background-button;
            color: $link-white;
            font-weight: 600;
            font-size: 0.929em;
        }
    }
}

.squad-advertising {
    @extend %clearfix;
    margin-bottom: 15px;
}

.perfil-navegation {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid $color-border;
    color: $color-border;

    > a {
        margin-right: 5px;
        margin-left: 5px;
        display: inline-block;
        color: $color-link-counter;
        &.active {
            font-weight: 600;
            color: $color-governance;
        }
        &:hover {
            color: lighten($color-link-counter, 20%);
        }
    }
}

.perfil-actions,
.perfil-repositories {
    @include list-unstyled();
    padding: 10px 20px;
    margin: 20px auto 0;
    border: 1px solid $color-border;
    background: $link-white;

    > li {
        display: block;
        border-bottom: 1px solid $color-border;
        line-height: 2;
        &:last-child {
            border-bottom: none;
        }
        > a {
            padding-top: 5px;
            padding-bottom: 5px;
            display: block;
        }
    }
}

.perfil-repositories {
    > li > a { color: $color-link-counter; }
}

.area-title {
    padding: 10px 20px;
    margin-bottom: 20px;
    border-left: 4px solid $background-button;
    color: $background-button;
    > h2, h3, h4, h5 {
        margin: 0;
        text-transform: uppercase;
        font-size: 1.286em;
        font-weight: 600;
        letter-spacing: -0.05em;
    }
}

.box-perfil {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(4);
    @include make-lg-column(4);
    padding-top: 15px;
    padding-bottom: 15px;
}

.about-text {
    padding: 20px;
    border: 1px solid $color-border;
    color: $color-text-post;
    font-size: 1.071em;

    > p {
        font-size: 1em;
    }
}

.description-text {
    color: $color-link-counter;
    > a {
        color: $color-link-feed;
    }
}
.btn-perfil {
    width: 49%;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid $color-border;
    background: $background-perfil-button;
    color: $background-perfil-button-hover;
    font-weight: 600;
    font-size: 0.813em;
    &:hover,
    &.active {
        background: $background-perfil-button-hover;
        color: $link-white;
    }
}

.excerpt {
    width: 100%;
    margin-bottom: 20px;
    display: table;
    border: 1px solid $color-border;

    &-#{content} {
        padding: 20px;
        border-left: 1px solid $color-border;
        display: table-cell;
        vertical-align: top;
    }
    &-#{image} {
        display: inline-block;
        margin-right: 20px;
        vertical-align: top;
    }
    &-#{title} {
        width: 86%;
        display: inline-block;

        > .post-header { margin-bottom: 0; }
        > a {
            margin: 0px 0px 5px;
            color: $color-text-post;
            font-weight: 700;
            font-size: 1.143em;
            line-height: 1.3;
        }
    }

    .custom-check {
        width: 40px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        border: none;
    }
}

.help-text {
    color: #5d7184;
    font-size: 13px;
    > span {
        font-weight: 600;
    }
}
.rules-to-post {
    padding-left: 10px;
    color: #e1e1e1;
    > li {
        padding: 10px 0;
        color: #5d7184;
        border-bottom: 1px solid $color-border;
        font-size: 13px;
        letter-spacing: -0.05em;

        &:last-child {
            border-bottom: none;
        }
    }
}

.creator {
    @media (min-width: $screen-md-min) {
        padding-bottom: 100px;
    }
}
.editor {
    padding-top: 15px;
    border-top: 1px solid $color-border;
}

.article-counter {
    color: #cccaca;
    font-weight: 600;
    font-size: 13px;
    text-align: right;
    &-#{caracteres} {
        color: #e12c2c;
    }
}