.post-container {
    @include make-lg-column-offset(1);
    @include make-lg-column(8);
    padding-bottom: 80px;

    .area-title {
        margin-top: 30px;
    }
}
.full-post {
    position: relative;
    z-index: 0;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid $color-border;
    background: $background-white;
    @media (max-width: $screen-sm-min) {
      margin-left: -15px;
      margin-bottom: 1px;
      margin-right: -15px;
      border: none;
    }
    &-#{title} {
        padding-top: 10px;
        margin-bottom: 0;
        border-top: 1px solid $color-border;
        color: #5d7184;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: -0.03em;
    }
    &-#{content} {
        margin-top: 20px;
        border-top: 1px solid $color-border;
        color: #6f6f6f;
        font-size: 17px;
        line-height: 30px;
        letter-spacing: -0.05em;
        > p { margin-bottom: 25px }
        > p:first-of-type { margin-top: 15px }
        > p:last-of-type { margin-bottom: 0 }
        img {
            max-width: 100%;
            height: auto !important;
        }
    }
    .post-advertising {
        margin-top: 20px;
    }
    &-#{image} {
        display: block;
        margin: 0 auto 20px;
        @media (min-width: $screen-md-min) {
            float: left;
            margin-right: 30px;
        }
    }
    &-#{share} {
        padding: 20px 20px 0;
        margin: 20px -20px 0 -20px;
        border-top: 1px solid $color-border;
        > h3 {
            margin: 0;
            margin-right: 20px;
            float: left;
            color: #6f6f6f;
            font-weight: 600;
            font-size: 18px;
            letter-spacing: -0.05em;
        }
    }
}
.box-share {
    @media (max-width: $screen-md-min) { display: none; }
    // @include make-lg-column(0.6);
    position: absolute;
    width: 70px;
    padding: 0;
    margin-left: 35px;
    border: 1px solid $color-border;
    background: #fff;
    list-style: none;
    text-align: center;

    > li {
        padding: 3px 10px;
        border-bottom: 1px solid $color-border;
        color: #4d6479;
        font-weight: bold;
        &:last-child { border-bottom: none; }
        > a,
        > div > a {
            color: #4d6479;
            &.liked {
                color: $color-liked;
                i { color: inherit; }
            }
            &.unliked {
                color: red;
                i { color: inherit; }
            }
        }
        &.item-active {
            background-color: #4d6479;
            > a { color: #fff; }
        }
    }
    > li hr {
        margin-top: 0;
        margin-bottom: 0;
    }
}
