.post {
  @extend %clearfix;
  padding: 16px 20px;
  margin-bottom: 20px;
  border: 1px solid $color-border;
  background: $link-white;
  position: relative;

  &-title {
    margin-top: 15px;
    margin-bottom: 8px;
    color: #616161;
    font-size: 16px;
  }
  &-header {
    font-size: 0.929em;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    time {
      padding-right: 10px;
      margin-right: -3px;
      border-right: 1px solid $color-time;
      color: $color-time;
    }
  }
  &-actions {
    padding: 0 9px;
    font-size: 16px;
    border-radius: 50%;
    &:hover {
      background: #f7f7f7;
    }
  }
  &-creator {
    display: flex;
    color: $link-color;
    font-weight: 600;
    &-image {
      overflow: hidden;
      margin-right: 5px;
    }
    &-username {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      span {
        color: #616161;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
      }
      time {
        border-right: none;
        color: #888686;
        line-height: 100%;
      }
    }
  }
  &-info {
    position: relative;
    float: right;

    &.open .dropdown-menu { min-width: 200px }

    .gsticon-ellipsis-v {
      color: $background-button;
      &:hover,
      &.is-active {

      }
    }
  }
  &-content {
    @extend %clearfix;
    overflow: hidden;
    display: block;
    figure {
      float: left;
      margin: 10px 20px 0 0;
      > img {
        border: 1px solid $color-border;
      }
    }
    &:hover { background: rgba(253, 252, 252, 0.58) }
  }
  .question-text {
    color: #5d7184;
    font-weight: 400;
    font-size: 16px;
  }
  &-text {
    color: #969595;
    font-size: 13px;
  }
  &-count {
    padding-right: 4px;
    display: inline-block;
    > a {
      padding: 0 9px;
      display: inline-block;
      color: #616161;
      font-size: 15px;
      &.post-votes-up { border-right: 1px solid #c5c2c2 }
      .icon-reaction {
        width: 16px;
        height: 22px;
        margin-right: 5px;
        float: left;
        background: url('../images/reaction-buttons.png') no-repeat;
        &.icon-like { background-position: -4px 50% }
        &.icon-dislike { background-position: -63px 50% }
      }
      &.post-votes-up.liked {
          color: #41a764;
          &:hover { color: lighten(#41a764, 10%) }
          .icon-like { background-position: -33px 50% }
      }
      &.post-votes-down.unliked {
        color: #d94545;
        &:hover { color: lighten(#d94545, 10%) }
        .icon-dislike { background-position: -91px 50% }
      }
    }

    &-comments {
      color: #616161;
      strong {
        margin: 0 5px 0 9px;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
      }
      &-icon {
        width: 17px;
        height: 22px;
        float: left;
        background: url('../images/comment-icon.png') no-repeat center;
      }
    }
  }
  &-footer {
    padding-top: 14px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e1e1e1;
  }
  &-nav {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 25px;
    display: inline-block;
    &-list {
      position: relative;
      overflow: auto;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
    }
    &-list li {
      margin: 0;
      display: inline-block;
    }
    &-list a {
      display: block;
      padding: 3px 6px;
      border-radius: 3px;
      color: #616161;
      font-size: 12px;
      line-height: 22px;
      text-decoration: none;
      text-transform: uppercase;
      &:hover { background-color: #f3f3f3 }
    }
  }
  &-share {
    position: relative;
    color: #616161;
    cursor: pointer;
    .gsticon { margin-right: 5px }
    .share-buttons .social-button {
      width: 24px;
      height: 24px;
      margin: 5px;
      background-size: cover;
    }
  }
}
.question { border: 1px solid $color-green }

.area-content {
    @include clearfix();
    padding-top: 20px;
    border-top: 1px solid $color-border;
}
.header-dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; left: -200%;
    z-index: 2000;
    min-width: 320px;
    > ul {
        margin: 10px 0 0;
        padding: 5px 20px;
        box-shadow: 0 2px 3px lighten(#000000, 35%);
        > li > a { font-size: 13px }
    }
    &.dropdown-menu-right {
        left: auto;
        min-width: 180px;
    }
}
.dropdown-search .header-float-notifications {
    background-color: $color-border;
}

.open > .header-dropdown-menu,
.header-dropdown-menu.open {
    display: block;
}

.dropdown-content { display: none }
.dropdown-content.open { display: block }


.follower-content {
  @extend %clearfix;
  width: 100%;
  padding: 20px 20px 0;
  border: 1px solid $color-border;
  border-top-width: 0;
  background: $link-white;
  > ul > li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-border;
    color: $color-link-counter;
    letter-spacing: -0.009em;
    font-weight: 600;
    &.tiny {
      color: #337ab7;
    }
    &:first-child { padding-top: 0 }
    &:last-child { border-bottom: 0 }
    .gsticon.gsticon-briefcase { margin-right: 5px }
    .gsticon.gsticon-user { margin-right: 5px }
  }
}
.banner-collaborator {}
.label-official-content {}
.article-excerpt {
  @extend %clearfix;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  border-bottom: 1px solid $color-border;
  font-weight: 600;
  font-size: 15px;
  line-height: 119%;

  &:first-child { padding-top: 0 }
  &:last-child { border-bottom: none }
  > figure {
    margin-right: 20px;
    float: left;
  }
  > span {
    overflow: hidden;
    display: block;
  }
}


// @media only screen and (max-width : 992px) {}
// @media only screen and (max-width : 1200px) {}
@media only screen and (max-width : 768px) {
  .post {
    margin-right: -15px;
    margin-left: -15px;
    border-right: none;
    border-left: none;
  }
}
// @media only screen and (max-width : 480px) {}
// @media only screen and (max-width : 320px) {}
