.result-wrapper {
    margin-bottom: 30px;
}
.result-container {
    margin: 20px 0;
    .perfil {
      margin-bottom: 20px;
      figure {
        display: inline-block;
      }
    }
}

.search-menu-content {
    margin-top: 0;

    > .active {
        > a {
            font-weight: bold;
        }
    }
}
