.app-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  &-author {
    color: #616161;
    font: 700 12px/24px "Open Sans";
    letter-spacing: 0.3px;
    img {
      margin-right: 10px;
      border: 1px solid #e1dede;
    }
  }
  > a {
    overflow: hidden;
    background-color: #ffffff;
  }
  &-content {
    min-height: 130px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    border-left: 3px solid;
  }
  &-image {
    min-height: 230px;
    transition: transform ease 0.6s;
  }
  &-title {
    margin: 10px 0 0;
    color: #505050;
    font: 600 16px/24px "Open Sans";
    letter-spacing: -0.05em;
    a {
      color: inherit;
      display: inherit;
    }
  }
  &-members,
  &-sign-in {
    .app-card-content {
      height: 100%;
      // display: inline-block;
      border-left: none;
    }
  }
  &-members {
    text-align: center;
    .app-card-content {
      justify-content: space-around;
    }
    .members {
      margin: 0 auto;
    }
    h3 {
      margin-top: 0;
      color: $primary-color;
      font: 700 20px "Open Sans";
    }
    img {
      margin-right: -10px;
      margin-bottom: 5px;
      border: 3px solid white;
    }
    p {
      max-width: 200px;
      margin: 0 auto 15px;
      color: #797979;
      font: 600 13px "Open Sans";
    }
    .app-link {
      margin-bottom: 12px;
      display: block;
      color: $primary-color;
      font: 600 11px/24px "Open Sans";
      letter-spacing: 0.28px;
    }
  }
  &-no-image {
    .app-card-title {
      margin-bottom: 20px;
      color: #505050;
      font: 600 24px/36px "Open Sans";
      letter-spacing: 0.6px;
    }
    .app-card-excerpt a {
      color: #777777;
      font: 400 14px/20px "Open Sans";
      letter-spacing: 0.35px;
    }
    p {
      color: #777777;
    }
  }
  &-profile {
    &-name {
      margin: 15px 0 5px;
      color: #505050;
      font: 700 18px/24px "Open Sans";
      letter-spacing: 0.45px;
    }
    &-followers {
      margin-bottom: 25px;
      color: #505050;
      font: 400 14px/24px "Open Sans";
      letter-spacing: 0.35px;
    }
    .app-card-content {
      align-items: center;
      justify-content: center;
    }
    .perfil-button {
      min-width: 170px;
      padding: 12px 20px;
      border-radius: 22px;
      font: 700 14px/24px "Open Sans";
      letter-spacing: 0.35px;
    }
    .perfil-button-alt {
      background: white !important;
      &::before {
        line-height: 3.4;
      }
      &:hover::before {
        transform: translate(0, 0);
      }
    }
  }
  &-sign-in {
    text-align: center;
    .app-card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $primary-color;
      color: white;
      h3 {
        margin: 0 0 16px;
        font: 700 20px "Open Sans";
      }
      p {
        margin-bottom: 30px;
        font: 400 16px/20px "Open Sans";
      }
      .app-button-round {
        width: 65%;
      }
    }
  }
  &-video {
    padding: 3px !important;
    position: relative;
    &::before {
      z-index: 100;
      content: "\f0da";
      position: absolute;
      left: 50%;
      top: calc(30% - 25px);
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.43);
      color: #ffffff;
      font-family: "FontAwesome";
      font-size: 50px;
      font-weight: 400;
    }
    .app-card-content {
      border-color: transparent;
    }
  }
  &:hover,
  &:focus {
    .app-card-image {
      transform: scale(1.2);
    }
  }
  &.governance {
    .app-card-title:hover,
    .app-card-content {
      border-left-color: $color-governance;
      color: $color-governance;
    }
    .perfil-button {
      background: $color-governance;
    }
  }
  &.development {
    .app-card-title:hover,
    .app-card-content {
      border-left-color: $color-development;
      color: $color-development;
    }
    .perfil-button {
      background: $color-development;
    }
  }
  &.design {
    .app-card-title:hover,
    .app-card-content {
      border-left-color: $color-design;
      color: $color-design;
    }
    .perfil-button {
      background: $color-design;
    }
  }
  &.marketing {
    .app-card-title:hover,
    .app-card-content {
      border-left-color: $color-marketing;
      color: $color-marketing;
    }
    .perfil-button {
      background: $color-marketing;
    }
  }
  &.infra {
    .app-card-title:hover,
    .app-card-content {
      border-left-color: $color-infra;
      color: $color-infra;
    }
    .perfil-button {
      background: $color-infra;
    }
  }
  &.databases {
    .app-card-title:hover,
    .app-card-content {
      border-left-color: $color-databases;
      color: $color-databases;
    }
    .perfil-button {
      background: $color-databases;
    }
  }
  &.mobile {
    .app-card-title:hover,
    .app-card-content {
      border-left-color: $color-mobile;
      color: $color-mobile;
    }
    .perfil-button {
      background: $color-mobile;
    }
  }
  &.more {
    .app-card-title:hover,
    .app-card-content {
      border-left-color: $color-more;
      color: $color-more;
    }
    .perfil-button {
      background: $color-more;
    }
  }
}


@include at-most($screen--phone) {
  .app-card {
    &-sign-in {
      min-height: 260px;
    }
  }
}