.searchbar {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: #616161;
  &-input {
    width: 100%;
    min-height: 48px;
    padding: 6px 35px;
    background-color: transparent;
    border: none;
    color: #e3e2e2;
    font: 400 14px "Open Sans";
    &::placeholder {
      color: #e3e2e2;
    }
  }
  &-icon {
    position: absolute;
    top: calc(48px - 35px);
    right: 7px;
    padding: 1px 6px;
    background-color: transparent;
    border: none;
    color: #f0efef;
    font-size: 16px;
  }

  &:focus-within {
    background-color: rgba(255, 255, 255, 1);
    .searchbar-input {
      color: #616161;
    }
    .searchbar-input::placeholder {
      color: #616161;
    }
    .searchbar-icon {
      color: #616161;
    }
  }
}
