{% if must_be_rendered %}
{% block article_bottom %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- gsti-post-baixo -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-2686766225121981"
         data-ad-slot="3227867227"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
{% endblock article_bottom %}
{% else %}
<i>ads replacement here</i>
{% endif %}
