{% if must_be_rendered %}
{% block article_right %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- gsti-post-lateral-300x250 -->
<ins class="adsbygoogle"
    style="display:inline-block;width:300px;height:250px"
    data-ad-client="ca-pub-2686766225121981"
    data-ad-slot="2853836821"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endblock article_right %}
{% else %}
<img src="https://loremflickr.com/270/250/technology/all" alt="">
{% endif %}


