{% if must_be_rendered %}
{% block article_bottom %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
    style="display:block; text-align:center;"
    data-ad-format="fluid"
    data-ad-layout="in-article"
    data-ad-client="ca-pub-2686766225121981"
    data-ad-slot="4366955154"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endblock article_bottom %}
{% else %}
    <img src="https://loremflickr.com/728/90/technology/all" alt="">
{% endif %}
