{% if must_be_rendered %}
{% block home_top %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- gsti-home-topo -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-2686766225121981"
         data-ad-slot="1890734825"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
{% endblock home_top %}
{% else %}
<i>ads replacement here</i>
{% endif %}

