{% if must_be_rendered %}
{% block question_bottom %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- gsti-pergunta-baixo -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2686766225121981"
     data-ad-slot="4307647620"
        data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endblock question_bottom  %}
{% else %}
<img src="https://loremflickr.com/728/90/technology/all" alt="">
{% endif %}

