{% if must_be_rendered %}
    {% block question_right %}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- gsti-pergunta-lateral -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-2686766225121981"
             data-ad-slot="1354181229"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    {% endblock question_right %}
{% else %}
<img src="http://loremflickr.com/270/250/technology/all" alt="">
{% endif %}

