{%extends 'home/layout/base.html' %}

{% load taxonomy_tags %}
{% load core_tags %}
{% load profile_tags %}
{% load social_tags %}
{% load article_tags %}
{% load thumbor_tags %}
{% load user_agents %}
{% load staticfiles %}
{% load avatar_tags %}
{% load humanize %}
{% load url_utils %}

{% block title %}{{ alert.title }} - Portal GSTI{% endblock %}

{% block content %}
    <main class="container main">
        <div class="row">

            <div class="container">
                <article class="full-post">
                    <header class="post-header">
                        <h1 class="full-post-title">{{ alert.title }}</h1>
                    </header>

                    <div class="full-post-content">

                        {% thumbor_replace alert.content %}

                        <div class="post-advertising text-center">
                            <img class="img-responsive" src="http://placehold.it/728x90" alt="Propaganda">
                        </div>

                    </div>
                </article>

            </div>
        </div>
    </main>
{% endblock %}


{% block javascripts %}
    {{ block.super }}
{% endblock %}
