{% load i18n %}
<script src='https://www.google.com/recaptcha/api.js?hl=pt-BR'></script>
<h1>{% trans 'Contact' %}</h1>

{{ form.non_field_errors }}
<form action="{% url 'contact:save' %}" method="post">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% csrf_token %}
    <div><input type="text" name="name" id="name" placeholder="{% trans "Name" %}" />
    {% if form.name.errors %}<span class="help-block">{{ form.name.errors }}</span> {% endif %}</div>

    <div><input type="email" name="email" id="email" placeholder="{% trans "Email" %}" />
    {% if form.email.errors %}<span class="help-block">{{ form.email.errors }}</span> {% endif %}</div>

    <div>
        <select name="subject" id="subject">
            <option value="0">{% trans "Select" %}</option>
            {% for subject in subjects %}
            <option value="{{ subject.id }}">{%  trans subject.title %}</option>
            {% endfor %}
        </select>

        {% if form.subject.errors %}<span class="help-block">{{ form.subject.errors }}</span> {% endif %}</div>

    <div><textarea name="message" id="message" placeholder="{% trans "Message" %}"></textarea>
    {% if form.message.errors %}<span class="help-block">{{ form.message.errors }}</span> {% endif %}</div>

    <div class="g-recaptcha" data-sitekey="6LccmgsTAAAAAGrsvn7r7aiIcnvbuIS7pyP0qv1K"></div>
    {% if form.captcha.errors %}  {{ form.captcha.errors }} {% endif %}
    <p></p>

    <input type="submit" value="{% trans 'submit' %}">
</form>