{% load i18n %}
<script src='https://www.google.com/recaptcha/api.js?hl=pt-BR'></script>
<h1>{% trans 'Contact' %}</h1>

{{ form.non_field_errors }}
<form action="{% url 'contact:save' %}" method="post">
    {% include 'core/partials/messages-flash.html' with message_extra_tags="contact" %}
    {% csrf_token %}
    {% if not request.user.is_authenticated %}
    <div><input type="text" name="name" id="name" placeholder="{% trans "Name" %}" />
    {% if form.name.errors %}<span class="help-block">{{ form.name.errors }}</span> {% endif %}</div>

    <div><input type="email" name="email" id="email" placeholder="{% trans "Email" %}" />
    {% if form.email.errors %}<span class="help-block">{{ form.email.errors }}</span> {% endif %}</div>

    {% endif %}
    <div>
        <select name="subject" id="subject">
            <option value="0">{% trans "Select" %}</option>
            {% for subject in subjects %}
            <option value="{{ subject.id }}">{%  trans subject.title %}</option>
            {% endfor %}
        </select>

        {% if form.subject.errors %}<span class="help-block">{{ form.subject.errors }}</span> {% endif %}</div>

    <div><textarea name="message" id="message" placeholder="{% trans "Message" %}"></textarea>
    {% if form.message.errors %}<span class="help-block">{{ form.message.errors }}</span> {% endif %}</div>

    {% if not request.user.is_authenticated %}
    <script src='https://www.google.com/recaptcha/api.js?hl=pt-BR'></script>
    <div class="g-recaptcha" data-sitekey="6LccmgsTAAAAAGrsvn7r7aiIcnvbuIS7pyP0qv1K"></div>
    {% if form.captcha.errors %}  {{ form.captcha.errors }} {% endif %}
    {% endif %}
    <p></p>

    <input type="submit" value="{% trans 'submit' %}">
</form>