{% load i18n %}
<h1>{% trans 'Contact' %}</h1>

{{ form.non_field_errors }}
<form action="{% url 'contact:save' %}" method="post">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% csrf_token %}
    <div><input type="text" name="name" id="name" placeholder="{% trans "Name" %}" />
    {% if form.name.errors %}<span class="help-block">{{ form.name.errors }}</span> {% endif %}</div>

    <div><input type="email" name="email" id="email" placeholder="{% trans "Email" %}" />
    {% if form.email.errors %}<span class="help-block">{{ form.email.errors }}</span> {% endif %}</div>

    <div><select name="subject" id="subject">
        <option value="0">{% trans "Select" %}</option>
        <option value="1">{% trans "Sugest comunity" %}</option>
        <option value="2">{% trans "Announce" %}</option>
        <option value="3">{% trans "Sugest feature" %}</option>
        <option value="4">{% trans "Send bug" %}</option>
    </select>
    {% if form.subject.errors %}<span class="help-block">{{ form.subject.errors }}</span> {% endif %}</div>

    <div><textarea name="message" id="message" placeholder="{% trans "Message" %}"></textarea>
    {% if form.message.errors %}<span class="help-block">{{ form.message.errors }}</span> {% endif %}</div>

    <input type="submit" value="{% trans 'submit' %}">
</form>