<div class="hidden customform">
    <input class="hidden" type="checkbox" name="id_membership_set-__prefix__-DELETE" id="id_membership_set-__prefix__-DELETE">
    <input type="hidden" name="id_membership_set-__prefix__-user" value="" id="id_membership_set-__prefix__-user">
    <input type="hidden" name="id_membership_set-__prefix__-permission" value="" id="id_membership_set-__prefix__-permission">
    <label for="id_membership_set-__prefix__-DELETE" class="customform-checkbutton no-rounded">
        <img class="customform-image" src="http://placehold.it/70" alt="">
        <span>Name</span>
    </label>
</div>
