<div class="hidden customform col-sm-4" data-id="" id="template-organization-user">
    <input class="hidden" type="checkbox" name="membership_set-__prefix__-DELETE" id="id_membership_set-__prefix__-DELETE">
    <input type="hidden" name="membership_set-__prefix__-user" value="" id="id_membership_set-__prefix__-user">
    <input type="hidden" name="membership_set-__prefix__-permission" value="" id="id_membership_set-__prefix__-permission">
    <input type="hidden" name="membership_set-__prefix__-id" value="" id="id_membership_set-__prefix__-id">
    <label for="id_membership_set-__prefix__-DELETE" class="customform-checkbutton no-check no-bordered content-left">
        <img class="customform-image" src="http://placehold.it/70" alt="">
        <span class="customform-checkbutton-body">
            <span class="customform-checkbutton-title" data-target="name">Name</span>
            <span class="customform-checkbutton-description" data-target="role">Colaborador</span>
        </span>
        <i class="gsticon gsticon-close"></i>
    </label>
</div>
