{% load widget_tweaks %}
{% load company %}

<div class="customform col-sm-4" data-id="{{ form.user.value }}">

    {% render_field form.DELETE class="hidden" %}
    {% render_field form.user class="hidden" %}
    {% render_field form.permission class="hidden" %}
    {% render_field form.id class="hidden" %}

    <label for="{{ form.DELETE.id_for_label }}" class="customform-checkbutton no-check no-bordered content-left">


        {% user_company_block form.user.value form.permission.value %}

    </label>

    {#    <input class="hidden" type="checkbox" name="id_membership_set-__prefix__-DELETE" id="id_membership_set-__prefix__-DELETE">#}
    {#    <input type="hidden" name="id_membership_set-__prefix__-user" value="" id="id_membership_set-__prefix__-user">#}
    {#    <input type="hidden" name="id_membership_set-__prefix__-permission" value="" id="id_membership_set-__prefix__-permission">#}
    {#    <label for="id_membership_set-__prefix__-DELETE" class="customform-checkbutton no-bordered content-left">#}
    {#        <img class="customform-image" src="http://placehold.it/70" alt="">#}
    {#        <span class="customform-checkbutton-body">#}
    {#            <span class="customform-checkbutton-title" data-target="name">Name</span>#}
    {#            <span class="customform-checkbutton-description" data-target="role">Colaborador</span>#}
    {#        </span>#}
    {#        <i class="gsticon gsticon-close"></i>#}
    {#    </label>#}
</div>
