{% load widget_tweaks %}

<div data-step-part="header">
    <i class="gsticon gsticon-file"></i>
    BÁSICO
</div>
<div data-step-part="content">
    <div class="row customrow">
        <div class="col-sm-12">
            {{ form.title }}
        </div>
    </div>
    <div class="row customrow">
        <div class="col-sm-12">
            {{ form.job_vacancy_responsibility }}
        </div>
    </div>


    <div class="row customrow customrow-bottom">
       {{ form.responsibility_formset.management_form }}
       {% for formset_responsibility in form.responsibility_formset %}
           {{ formset_responsibility.job_vacancy }}
        <div class="col-sm-5">
            {% render_field formset_responsibility.responsibility data-module="profession" data-toggle="selectize" %}
        </div>
        <div class="col-sm-4">
            {{ formset_responsibility.responsibility_type }}
        </div>
       {% endfor %}

        <div class="col-sm-3">
            {{ form.quantity }}
        </div>
    </div>
    <div class="row customrow">
        <div class="col-sm-12">
            {{ form.email }}
        </div>
    </div>
    <div class="row customrow">
        <div class="col-sm-12 customform">
            <p class="text-info">OBS: Quanto mais detalhar a vaga, mais chances de contratar o profissional ideal.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
            <button type="submit" class="customform-button">Publicar</button>
            <a href="#next" data-step-action="next" class="customform-button primary">Avançar</a>
        </div>
    </div>
</div>
