<a class="job-box" href="#">
    <div class="job-box_table">
        <div class="job-box_cell job-box_employ">
            <img class="job-box_employ-img" src="http://placehold.it/80" alt="Logo Agência Ginga" />
        </div>
        <div class="job-box_cell job-box_info">
            <div class="job-box_title">Diretor de Arte Pleno</div>
            <div class="job-box_employ-name">Agência Ginga</div>
            <div class="job-box_location">São Paulo - SP</div>
            <div class="job-box_publication hidden-lg">
                <i class="gsticon gsticon-clock-o"></i>
                Há 2 horas
            </div>
        </div>
        <div class="job-box_cell timestamp">
            <div class="job-box_publication wide">
                <i class="gsticon gsticon-clock-o"></i>
                Há 2 horas
            </div>
        </div>
    </div>
</a>