{% load humanize %}
{% load thumbor_tags %}

<a class="job-box" href="{% url "jobs:detail" job.slug job.id %}">
    <div class="job-box_table">
        <div class="job-box_cell job-box_employ">
            {% if job.company.get_logo %}
                <img class="job-box_employ-img" src="{% thumbor_url job.company.get_logo width=80 height=80 smart=False fit_in=False %}" alt="Logo {{ job.company.name }}" />
            {% else %}
                <img class="job-box_employ-img" src="http://placehold.it/80" alt="Logo Agência Ginga" />
            {% endif %}
        </div>
        <div class="job-box_cell job-box_info">
            <div class="job-box_title">{{ job.title }}</div>
            <div class="job-box_employ-name">{{ job.company.name }}</div>
            <div class="job-box_location">
                {% for location in job.locations.all %}
                    {% for city in location.cities.all %}
                        <span class="location-item">{{ city.name }} - {{ location.state.acronym }}</span>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="job-box_publication hidden-lg">
                <i class="gsticon gsticon-clock-o"></i>
                {{ job.job_vacancy_date|naturalday }}
            </div>
        </div>
        <div class="job-box_cell timestamp">
            <div class="job-box_publication wide">
                <i class="gsticon gsticon-clock-o"></i>
                {{ job.job_vacancy_date|naturalday }}
            </div>
        </div>
    </div>
</a>