<div data-step-part="header">
    <i class="gsticon gsticon-address-book"></i>
    CONTATO
</div>
<div data-step-part="content">
    <div class="row customrow">
        <div class="col-sm-4">
            {{ form.phone_number }}
        </div>
        <div class="col-sm-12">
            {{ form.site }}
        </div>
        <div class="col-sm-12">
            {{ form.observation }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
            <button type="submit" class="customform-button">Publicar</button>
        </div>
    </div>
</div>
