<div class="widget widget-box">
    <div class="widget-header">
        <header class="area-title">
            <h3>PROCURAR VAGA</h3>
        </header>
    </div>
    <div class="widget-content">
        <form class="jobs-search form-inline">
            <label class="jobs-search_field" for="job_title">
                <i class="gsticon gsticon-search"></i>
                <input class="form-control" id="job_title" type="text" placeholder="Diretor de Arte">
            </label>
            <label class="jobs-search_field" for="job_location">
                <i class="gsticon gsticon-map-marker"></i>
                <input class="form-control" id="job_location" type="text" placeholder="São Paulo">
            </label>
            <button class="jobs-search_submit">Procurar vaga</button>
        </form>
    </div>
</div>