<div class="widget widget-box">
    <div class="widget-header">
        <header class="area-title">
            <h3>PROCURAR VAGA</h3>
        </header>
    </div>
    <div class="widget-content">
        <form action="{% url "jobs:search" %}" class="jobs-search form-inline" method="get">
            <div class="jobs-search_field">
                <div for="job_title">
                    <i class="gsticon gsticon-search"></i>
                    <input name="keywords" class="form-control" id="job_title" type="text" data-toggle="selectize" data-module="job" placeholder="Ex: Analista, php, home-office" value="{% if form.cleaned_data.keywords %}{{ form.cleaned_data.keywords }}{% endif %}">
                </div>
                <p class="help-block">Palavras-chave separadas por vírgula</p>
            </div>
            <div class="jobs-search_field">
                <div for="job_location">
                    <i class="gsticon gsticon-map-marker"></i>
                    <input name="locale" class="form-control" id="job_location" type="text" data-toggle="selectize" data-module="job" placeholder="Bahia, São Paulo, Paraná" value="{% if form.cleaned_data.locale %}{{ form.cleaned_data.locale }}{% endif %}">
                </div>
                <p class="help-block">Localizações separadas por virgula</p>
            </div>
            <button type="submit" class="jobs-search_submit">Procurar vaga</button>
        </form>
    </div>
</div>