{% load widget_tweaks %}
<div data-step-part="header">
    <i class="gsticon gsticon-briefcase"></i>
    VAGA
</div>
<div data-step-part="content">
    <div class="row customrow">
        <div class="col-sm-offset-1 col-sm-4">
            {{ form.company }}
        </div>
    </div>
    <div class="row customrow">
        <div class="col-sm-offset-1 col-sm-4">
            {{ form.regime }}
        </div>
        <div class="col-sm-4">
            {{ form.workload }}
        </div>
        <div class="col-sm-3">
            {{ form.home_office }}
        </div>
    </div>
    <div class="row customrow">

        <div class="col-sm-offset-1 col-sm-11">
            <h3 class="formjob-title">beneficios</h3>
        </div>
        <div class="col-sm-offset-1 col-sm-11">
            {{ form.benefits }}
{#            <div class="checkbox checkbox-inline checkbox-primary">#}
{#                <input type="checkbox" name="transporte" id="transporte">#}
{#                <label for="transporte">Transporte</label>#}
{#            </div>#}
        </div>
{#        <div class="col-sm-4">#}
{#            <div class="checkbox checkbox-inline checkbox-primary">#}
{#                <input type="checkbox" name="plano_saude" id="plano_saude">#}
{#                <label for="plano_saude">Plano de saúde</label>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-sm-4">#}
{#            <div class="checkbox checkbox-inline checkbox-primary">#}
{#                <input type="checkbox" name="assistencia_medica" id="assistencia_medica">#}
{#                <label for="assistencia_medica">Assistência Médica</label>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-sm-offset-1 col-sm-3">#}
{#            <div class="checkbox checkbox-inline checkbox-primary">#}
{#                <input type="checkbox" name="vale_refeicao" id="vale_refeicao">#}
{#                <label for="vale_refeicao">Vale Refeição</label>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-sm-4">#}
{#            <div class="checkbox checkbox-inline checkbox-primary">#}
{#                <input type="checkbox" name="vale_cultura" id="vale_cultura">#}
{#                <label for="vale_cultura">Vale - cultura</label>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-sm-4">#}
{#            <div class="checkbox checkbox-inline checkbox-primary">#}
{#                <input type="checkbox" name="vale_outros" id="vale_outros">#}
{#                <label for="vale_outros">Outros</label>#}
{#            </div>#}
{#        </div>#}
    </div>
    <div class="row customrow">
        <div class="col-sm-offset-1 col-sm-11">
            <h3 class="formjob-title">localização</h3>
            <div class="checkbox checkbox-primary">
                <input type="checkbox" name="all" id="all">
                <label for="all">Todo o Brasil</label>
            </div>
        </div>
        <div class="col-sm-offset-1 col-sm-4">
            <div class="customform">
                <select class="customform-input" name="state" id="state">
                    <option disabled selected>selecione</option>
                </select>
                <hr>
                <label class="customform-label active" for="state">Estado</label>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-4">
            <div class="customform">
                <select class="customform-input" name="city" id="city">
                    <option disabled selected>selecione</option>
                </select>
                <hr>
                <label class="customform-label active" for="city">Cidade</label>
            </div>
        </div>
    </div>
    <div class="row customrow customrow-bottom">
        {{ form.salary_formset.management_form }}

        <div class="col-sm-offset-1 col-sm-12">
            <h3 class="formjob-title">salário</h3>
        </div>
        {% for salary_formset in form.salary_formset %}
        <div class="col-sm-offset-1 col-sm-4">
            {{ salary_formset.job_vacancy }}
            {% render_field salary_formset.salary_type data-toggle="salary" %}
        </div>
        {% comment %}############ Apenas aparece se o valor for fixo ############{% endcomment %}
        <div class="col-sm-offset-2 col-sm-4" data-salary="2">
            {{ salary_formset.fixed_value }}
        </div>
        {% comment %}################################{% endcomment %}

        {% comment %}############ Apenas aparece se o valor for intervalo ############{% endcomment %}
        <div class="col-xs-12" data-salary="1">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-4">
                    {{ salary_formset.range_value_from }}
                </div>
                <div class="col-sm-offset-2 col-sm-4">
                    {{ salary_formset.range_value_to }}
                </div>
            </div>
        </div>
         {% comment %}##############################################{% endcomment %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
            <button type="submit" class="customform-button">Publicar</button>
            <a href="#next" data-step-action="next" class="customform-button primary">Avançar</a>
        </div>
    </div>
</div>
