{% load widget_tweaks %}
<div data-step-part="header">
    <i class="gsticon gsticon-briefcase"></i>
    VAGA
</div>
<div data-step-part="content">
    <div class="row customrow">
        <div class="col-sm-4">
            {{ form.company }}
        </div>
    </div>
    <div class="row customrow">
        <div class="col-sm-4">
            {{ form.regime }}
        </div>
        <div class="col-sm-4">
            {{ form.workload }}
        </div>
        <div class="col-sm-4">
            {{ form.home_office }}
        </div>
    </div>
    <div class="row customrow">

        <div class="col-sm-12">
            <h3 class="formjob-title">beneficios</h3>
        </div>
        {{ form.benefits }}
    </div>
    <div class="row customrow">
        <div class="col-sm-12">
            <h3 class="formjob-title">localização</h3>
        </div>
        <div class="col-sm-12">
            <div class="checkbox checkbox-primary">
                <input type="checkbox" data-toggle="location" name="all" id="all">
                <label for="all">Todo o Brasil</label>
            </div>
        </div>
        <div class="col-sm-5" data-location>
            <div class="customform">
                <select class="customform-input" type="text" data-component="geography" data-url="{% url 'geography:search' 'state' %}" name="state" id="state"></select>
                <hr>
                <label class="customform-label active" for="state">Estado</label>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-5" data-location>
            <div class="customform">
                <input class="customform-input" type="text" data-component="geography" data-url="{% url 'geography:search' 'city' %}" name="city" id="city">
                <hr>
                <label class="customform-label active" for="city">Cidade</label>
            </div>
        </div>
    </div>
    <div class="row customrow customrow-bottom">
        {{ form.salary_formset.management_form }}

        <div class="col-sm-12">
            <h3 class="formjob-title">salário</h3>
        </div>
        {% for salary_formset in form.salary_formset %}
        <div class="col-sm-4">
            {{ salary_formset.job_vacancy }}
            {% render_field salary_formset.salary_type data-toggle="salary" %}
        </div>
        <div class="col-sm-5" data-salary="2">
            {{ salary_formset.fixed_value }}
        </div>
        <div class="col-xs-12" data-salary="1">
            <div class="row">
                <div class="col-sm-5">
                    {{ salary_formset.range_value_from }}
                </div>
                <div class="col-sm-offset-2 col-sm-5">
                    {{ salary_formset.range_value_to }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
            <button type="submit" class="customform-button">Publicar</button>
            <a href="#next" data-step-action="next" class="customform-button primary">Avançar</a>
        </div>
    </div>
</div>
