<script type="text/javascript">
    var functionAjaxBeforeSendLogin = function() {
        $('#account-not-active-error').hide();
    };

    var functionAjaxSuccessLogin = function(e, data) {
        window.location.href = data.url_next;
    };

    var functionAjaxErrorLogin = function(e, data) {
        if (data.is_active == false) {
            $('#account-not-active-error').show().addClass('has-error');
        }
    };

    var functionAjaxSuccessResendConfirmation = function(e, data) {
        $('.modal.fade.in').modal('hide');
        var $modalMessage = $('#modal-message');
        $modalMessage.html(data.template).modal('show');
    };

    var functionAjaxSuccessForgotPassword = function(e, data) {
        var $modalForgotPassword = $("#modal-forgot-password");
        var $modalForgotPasswordSuccessfully = $("#modal-forgot-password-successfully");
        $modalForgotPasswordSuccessfully.html(data.template);
        $modalForgotPassword.modal("hide");
        $modalForgotPasswordSuccessfully.modal("show");
    };

    var functionAjaxSuccessTriggerContactModal = function(e, data) {
        var $this = $(this);
        var $modalContact = $("#modal-contact");

        $modalContact.find("form[data-ajaxform=true]").IdeiaAjaxForm();
        {% if request.user.is_anonymous %}
            grecaptcha.render('g-recaptcha', {
                'sitekey': '6LccmgsTAAAAAGrsvn7r7aiIcnvbuIS7pyP0qv1K'
            });
        {% endif %}


        if ($this.data('type') == "{{ is_contact_suggest_community_type }}") {
            $modalContact.find('select#subject').val($this.data('type'));
            $modalContact.find('textarea#contact_message').html($this.data('message'));

        }

        $modalContact.modal("show");

        var functionAjaxSuccessContact = function(e, data) {
            var $modalContact = $("#modal-contact");
            var $modalContactSuccessfully = $("#modal-contact-successfully");
            $modalContactSuccessfully.html(data.template);
            $modalContact.modal("hide");
            $modalContactSuccessfully.modal("show");
            $modalContactSuccessfully.on("hidden.bs.modal", function () {
                $('body').css({
                    paddingRight: ''
                });
            });
        };

        var $formContactModal = $("#form-contact-modal");
        $formContactModal.on("ajaxform.success", functionAjaxSuccessContact);
    };

    var functionAjaxSuccessTriggerReport = function(e, data) {
        var $modalReport = $("#modal-report");
        $modalReport.find("form[data-ajaxform=true]").IdeiaAjaxForm();
        $modalReport.modal("show");

        var $formReport = $("#form-report");

        $('input[type=radio][name=complaint_type]').change(function() {
            if($('input[type=radio][name=complaint_type]:checked').val() == $formReport.data('community-complaint')) {
                $("#communities").slideDown();
            } else {
                $("#communities").slideUp();
                $(".community_complaint:checked").each(function() {
                    $(".community_complaint").prop("checked", false);
                });
            }
        });

        var functionAjaxReportSuccess = function(e, data) {
            var $modalMessage = $('#modal-message');
            $modalMessage.html(data.template);
            $('#modal-report').modal('hide');
            $modalMessage.modal('show');
        };

        $formReport.on("ajaxform.success", functionAjaxReportSuccess);
    };

    var functionAjaxSuccessSuggest = function(e, data) {
        var $self = $(this),
                $modalSuggest = $("#modal-suggest"),
                $modalSuggestMessage = $("#modal-suggest-successfully");

        if (data.status == 200 && $modalSuggest.is(':visible')) {
            var $taggerSuggest = $(e.currentTarget).find("#tagger-suggest-users")[0].selectize;
            $taggerSuggest.blur();
            $taggerSuggest.clear();
            $modalSuggest.modal('hide');
            $modalSuggestMessage.modal("show");
        }
    };

    var refreshAsyncLike = function() {
        var asyncLike = $("[data-async-like=true]");
        var asyncLikeData = asyncLike.IdeiaAsyncLike();

        var asyncClick = $("[data-async-module=click]");
        var asyncClickData = asyncClick.IdeiaAsyncClick();

        $("[data-load-async=true]").loadAsync();
        $("[data-action]").ajaxSocialAction();
        $("[data-toggle=tooltip]").tooltip();
    };

    var functionOpenSuggestModal = function(e) {
        e.preventDefault();
        var $self = $(this),
                $modalSuggest = $("#modal-suggest"),
                $formSuggest = $modalSuggest.find("form#form-suggest");

        $formSuggest.attr("action", $self.data('url'));
        $formSuggest.find("#form-suggest-object").val($self.data('object'));
        $formSuggest.find("#form-suggest-content").val($self.data('content'));
        $modalSuggest.modal("show");

        var $selectInput = $('#tagger-suggest-users');
        var $selectize = $selectInput[0].selectize;
        $selectize.clear();
        $selectize.clearCache();
        $selectize.clearOptions();

        $modalSuggest.on('shown.bs.modal', function () {
            $selectize.focus();
        });
    };

    $(function() {

        $(document).on("ajaxform.before-send", "#form-login", functionAjaxBeforeSendLogin);
        $(document).on("ajaxform.success", "#form-login", functionAjaxSuccessLogin);
        $(document).on("ajaxform.error", "#form-login", functionAjaxErrorLogin);
        $(document).on("ajaxform.success", "#form-resend-email-confirmation", functionAjaxSuccessResendConfirmation);
        $(document).on("ajaxform.success", "#form-forgot-password", functionAjaxSuccessForgotPassword);
        $(document).on("ajaxform.success", "#form-suggest", functionAjaxSuccessSuggest);
        $(document).on("click", "[data-suggest-modal]", functionOpenSuggestModal);
        $(document).on("async.click.success", '[data-report="true"]', functionAjaxSuccessTriggerReport);
        $(document).on("async.click.success", "[data-contact]", functionAjaxSuccessTriggerContactModal);
    });


</script>