<script type="text/javascript">

    var jScrollWizard = null;

    var functionAjaxSuccessStepOne = function(e, data) {
        var $this = $(this),
                $currentModal = $this.closest(".modal.fade");

        $currentModal.modal("hide");
        var $nextModal = $($currentModal.data("next-modal")).modal({
            backdrop: 'static',
            keyboard: false,
            show: true
        });
        $nextModal.modal('show');

        if (!$('body').hasClass('modal-open')) {
            $('body').addClass('modal-open');
        }
    };

    var functionAjaxSuccessStepTwo = function(e, data) {
        var $this = $(this),
                $currentModal = $this.closest(".modal.fade");

        var $wizardCommunities = $("#wizard-container-communities");
        var $wizardJScroll = $('<div />',{
            'class': 'j-scroll-wizard-communities j-scroll-wizard-communities-container'
        });

        $wizardJScroll.html(data.template);
        $wizardCommunities.html($wizardJScroll);

        var $taxonomiesSerch = $("#filter-taxonomies-wizard");
        $taxonomiesSerch.html("");
        $.each(data.taxonomies, function(i, value){
            $("<input />", {
                value: value,
                type: 'hidden',
                name: 'taxonomies'
            }).appendTo($taxonomiesSerch);
        });

        refreshAsyncLike();

        jScrollWizard = $wizardJScroll.jscroll({
            autoTrigger: false,
            loadingHtml: '<div class="load-async-preload"></div>',
            contentSelect: '.j-scroll-wizard-communities-container',
            nextSelector: "a[data-jscroll-next]",
            refresh: true,
            callback: function() {
                refreshAsyncLike();
            }
        });

        $currentModal.modal("hide");
        var $nextModal = $($currentModal.data("next-modal")).modal({
            backdrop: 'static',
            keyboard: false,
            show: true
        });
        $nextModal.on('shown.bs.modal', function nextModalCb () {
            addModalOpenClassToBody();
        });
        {#      $nextModal.modal('show');#}
    };

    var functionAjaxSuccessStepThree = function(e, data) {
        location.reload();
    };
    var functionSubmitCommunitiesSearch = function(){
        var $form = $(this).closest("form");
        $form.submit();
    };
    var functionSearchCommunities = function(e, data){

        var $containerCommunities = $("#wizard-container-communities");
        {#      $containerCommunities.html(data.template);#}

        var $wizardJScroll = $('<div />',{
            'class': 'j-scroll-wizard-communities j-scroll-wizard-communities-search'
        });

        $wizardJScroll.html(data.template);
        $containerCommunities.html($wizardJScroll);
        refreshAsyncLike();
        $wizardJScroll.jscroll({
            autoTrigger: false,
            loadingHtml: '<div class="load-async-preload"></div>',
            contentSelect: '.j-scroll-wizard-communities-container',
            nextSelector: "a[data-jscroll-next]",
            refresh: true,
            callback: function() {
                refreshAsyncLike();
            }
        });
    };

    var fillValues = function() {
        var $this = $(this);
        $.ajax({
            url: $this.data("url"),
            method: "POST",
            dataType: "html",
            data: {
                value_id: $this.val(),
                csrfmiddlewaretoken: $("input:hidden[name='csrfmiddlewaretoken']").val()
            },
            success: function(response) {
                $($this.data("target")).html(response);
            }
        });
    };

    $(function() {

        $("[data-clean-action=\"true\"]").on("click", function(){
            var $input_suggestions= $("form#form-filter-communities input[name=criteria]");
            $input_suggestions.val("");
        });
        $.fn.inputTyping = function (timeInMillis, callback){
            var $input = $(this);
            var typingTimer;
            $input.on('keyup', function () {
                clearTimeout(typingTimer);
                typingTimer = setTimeout(doneTyping, timeInMillis);
            });

            $input.on('keydown', function () {
                clearTimeout(typingTimer);
            });


            var doneTyping = function  () {
                callback.call($input);
            };

            return this;
        };


        $("form#form-filter-communities input[name=criteria]").inputTyping(200, functionSubmitCommunitiesSearch);
        $("[data-ajax-change='true']").on("change", fillValues);
        $(document).on("ajaxform.success", "#form-filter-communities", functionSearchCommunities);
        $(document).on("ajaxform.success", "#form-personal-info", functionAjaxSuccessStepOne);
        $(document).on("ajaxform.success", "#form-filter-categories", functionAjaxSuccessStepTwo);
        $(document).on("ajaxform.success", "#form-suggestions", functionAjaxSuccessStepThree);

{#        var $select_state = $('select#state');#}
{#        var $formPersonal = $('form#form-personal-info');#}
{##}
{#        if($select_state.length && $formPersonal.length && $select_state.val()){#}
{#            $select_state.trigger('change');#}
{#        }#}

        {% if request.user and request.user.profile and request.user.profile.wizard_step < 1 %}
            $("#modal-personal-infos").modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });
        {% elif request.user and request.user.profile and request.user.profile.wizard_step < 3 %}
            $("#modal-categories").modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });
        {% endif %}
        $("#modal-personal-infos").on('shown.bs.modal', function ModalPersonalCb () {
            addModalOpenClassToBody();
        });
        $("#modal-categories").on('shown.bs.modal', function ModalPersonalCb () {
            addModalOpenClassToBody();
        });
    });

    function addModalOpenClassToBody() {
        if (!$('body').hasClass('modal-open')) {
            $('body').addClass('modal-open');
        }
    }
</script>
