{% load thumbor_tags %}

{% if articles|length %}
<section class="post-list--large post-list--{{ class_name }}">
    <div class="post-list-header">
        <h2 class="post-list-heading">{{ category.description }}</h2>
        <nav class="post-list-nav">
            <a class="subs" href="javascript:;">ITIL</a>
            <a class="subs" href="javascript:;">COBIT</a>
            <a class="subs" href="javascript:;">Cloud Computing</a>
            <a class="subs" href="javascript:;">PMBOOK</a>
        </nav>
    </div>
    <div class="post-list-container">

        {% for article in articles %}

            {% url 'article:view' article.slug article.id as article_link %}

            <article class="article-home-large" id="article__{{ article.id }}">
                <a href="{{ article_link }}">
                    {% if article.image %}
                        <img
                                class="img-responsive"
                                src="{% thumbor_url article.image.url width=270 height=203 smart=False fit_in=False %}"
                                alt="{{ article.title }}">
                    {% endif %}
                </a>
                <div>
                    <a class="article-category" href="{{ article_link }}">{{ article.comunity }}</a>
                    <a class="article-content" href="{{ article_link }}">{{ article.title }}</a>
                </div>
            </article>

        {% endfor %}

    </div>
</section>
{% endif %}