{% load thumbor_tags %}

{% for article in articles %}
    <article class="article-home-large area-{{ class_name }}">

        {% url 'article:view' article.slug article.id as article_link %}

        <a href="{{ article_link }}">
            {% if article.image %}
                <img
                        class="img-responsive"
                        src="{% thumbor_url article.image.url width=170 height=128 smart=False fit_in=False %}"
                        alt="{{ article.title }}">
            {% else %}
                <img class="img-responsive" src="http://placehold.it/170x128" alt="Placeholder">
            {% endif %}
        </a>
        <div>
            <a class="article-content" href="{{ article_link }}">{{ article.title }}</a>
        </div>

    </article>

{% endfor %}