{% load thumbor_tags %}
{% load home_blocks %}


<section class="post-list--third post-list--{{ class_name }}">

    <div class="post-list-header">
        <h2 class="post-list-heading">{{ category.description }}</h2>
        {% include 'home/blocks/partials/communities.html' %}
    </div>

    <div class="post-list-container">

        {% for article in articles|slice:":3" %}

            {% url 'article:view' article.slug article.id as article_link %}

            <article class="article-home-small">
                {% if article.image %}
                    <img
                            class="img-responsive"
                            src="{% thumbor_url article.image.url width=270 height=203 smart=False fit_in=False %}"
                            alt="{{ article.title }}">
                {% else %}
                    <img class="img-responsive" src="http://placehold.it/270x203" alt="Placeholder">
                {% endif %}
                <div>
                    {% home_article_community category article %}
                    <a class="article-content" href="{{ article_link }}">{{ article.title }}</a>
                </div>
            </article>

        {% endfor %}

    </div>

</section>