<section class="post-list--half post-list--development">
    <div class="post-list-header">
        <h2 class="post-list-heading">Desenvolvimento</h2>
        <nav class="post-list-nav">
            <a class="subs" href="javascript:;">ITIL</a>
            <a class="subs" href="javascript:;">COBIT</a>
            <a class="subs" href="javascript:;">Cloud Computing</a>
            <a class="subs" href="javascript:;">PMBOOK</a>
        </nav>
    </div>
    <div class="post-list-container">
        <article class="article-home-small">
            <a href="javascript:;">
                <img class="img-responsive" src="http://placehold.it/170x128" alt="Placeholder">
            </a>
            <div>
                <a class="article-category" href="javascript:;">ITIL</a>
                <a class="article-content" href="javascript:;">Lorem Ipsum is simply dummy text of the printing and typ esetting industry Ipsum has been.</a>
            </div>
        </article>
        <article class="article-home-small">
            <a href="javascript:;">
                <img class="img-responsive" src="http://placehold.it/170x128" alt="Placeholder">
            </a>
            <div>
                <a class="article-category" href="javascript:;">ITIL</a>
                <a class="article-content" href="javascript:;">Lorem Ipsum is simply dummy text of the printing and typ esetting industry Ipsum has been.</a>
            </div>
        </article>
        <article class="article-home-small">
            <a href="javascript:;">
                <img class="img-responsive" src="http://placehold.it/170x128" alt="Placeholder">
            </a>
            <div>
                <a class="article-category" href="javascript:;">ITIL</a>
                <a class="article-content" href="javascript:;">Lorem Ipsum is simply dummy text of the printing and typ esetting industry Ipsum has been.</a>
            </div>
        </article>
    </div>
    <div>
        <hr>
        <article class="article-home-medium" href="javascript:;">
            <a class="article-category" href="javascript;;">ITIL</a>
            <a class="article-content" href="javascript;;">Lorem Ipsum is simply dummy text of the printing and typ esetting industry Ipsum has been.</a>
        </article>
        <article class="article-home-medium" href="javascript:;">
            <a class="article-category" href="javascript;;">ITIL</a>
            <a class="article-content" href="javascript;;">Lorem Ipsum is simply dummy text of the printing and typ esetting industry Ipsum has been.</a>
        </article>
    </div>
</section>