<div class="col-lg-4">
    <div class="widget widget-box">
        <div class="widget-content">
            <ul class="perfil-repositories notification-aside">
                <li {% if local_context == "members" %}class="active"{% endif %}><a href="{% url 'notifications:members' %}"><i class="gsticon gsticon-users"></i> Membros</a></li>
                <li {% if local_context == "posts" %}class="active"{% endif %}><a href="{% url 'notifications:posts' %}"><i class="gsticon gsticon-comments"></i> Comentários e Respostas</a></li>
                <li {% if local_context == "general" %}class="active"{% endif %}><a href="{% url 'notifications:general' %}"><i class="gsticon gsticon-bell"></i> Geral</a></li>
            </ul>
        </div>
    </div>

{#    <div class="squad-advertising">#}
{#        <img class="img-responsive" src="http://placehold.it/270x225" alt="Propaganda aqui">#}
{#    </div>#}
</div>