{% extends 'home/layout/base.html' %}


{% load avatar_tags %}
{% load thumbor_tags %}

{% block seo-og-title %}{% block seo_title %}Sobre{{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}Saiba mais sobre a ideia que originou o Portal GSTI e o que ele se tornou. Conheça e participe de nossa história.{% endblock %}{% endblock %}

{% block content %}

<main class="container main">
    <div class="col-lg-8">
        <header class="area-title">
            <h1>Sobre o Portal GSTI</h1>
        </header>

        <blockquote>
            <p><em>"O Portal GSTI é hoje uma verdadeira plataforma digital para o desenvolvimento das competências dos profissionais de TI, demonstrando que os principais factores para o sucesso são a ambição e a vontade de aprender" Bruno Horta, presidente da ISACA Portugal.</em></p>
        </blockquote>

        <p>O Portal GSTI (Gestão e Serviços de Tecnologia da Informação) é um rede social e um portal de conteúdo relacionado a tecnologia que acredita na inteligencia coletiva e no compartilhamento de informações para o desenvolvimento de todos.</p>
        <p>
            <strong>Os nossos dois maiores diferenciais são:</strong>
            <br>
            <br>
            1- A missão de desenvolver competências dos profissionais que trabalhem com tecnologia, funcionando como uma plataforma de ligação entre o conhecimento livre e aqueles que tem interesse em se capacitar nessa área.<br />
            2- A elaboração de conteúdo voltado para gestão e serviços que tenham como principal motor a tecnologia, formando o maior repositório da web de conhecimento em português sobre o tema.<br />
        </p>
        <p>
            O site foi iniciado em 2008, com foco em artigos relacionados a gestão de serviços e Governança de TI. Ampliou seus horizontes a partir de 2011, e hoje trabalha com conteúdo livre para qualquer um que se interesse por tecnologia, incluindo cursos gratuitos, materiais, ebooks e centenas de publicações. Desta forma, pretendemos promover o desenvolvimento dos membros do Portal através do compartilhamento de conhecimento.
        </p>

        <p>
            O site conta hoje com mais de 250 mil visualizações de página e cerca de 100 mil visitantes mensais. É um dos maiores sites brasileiros voltados para carreiras profissionais específicas. Graças aos leitores, colunistas e colaboradores, contamos com centenas de materiais, vídeo aulas, cursos e artigos. O conteúdo é 100% livre com exceção de produtos e serviços complementares oferecidos através de parceiros.
        </p>

        <p>
            Se você busca conhecimentos relacionados a tecnologia, tais como materiais de apoio para estudos, conteúdo sobre ITIL, BPM, COBIT, PMBOK, AGILE, SCRUM, softwares de arquitetura, ferramentas de design, redes de computadores, sistemas operacionais Linux e Windows, engenharia de software, banco de dados, linguagens de programação, gerenciamento de serviços e governança de TI, apostilas e artigos sobre mobile, gestão, gestão de processos de negócio, novas tendências empresarias, novas tecnologia e afins; então, está no lugar certo! Navegue em nosso menu e encontre exatamente o que deseja: simulados, downloads, cursos, videos, artigos e muito mais.
        </p>

        <h3>Principais Motivações do Portal GSTI</h3>
        <p>Veja o que tem motivado a equipe do site todos estes anos:</p>
        <ul>
            <li>Promover a capacitação gratuita do profissional e estudante que utiliza tecnologia para sua formação;</li>
            <li>Tornar-se uma referência para estudos e direcionamento de mercado;</li>
            <li>Criar a maior base de dados sobre tecnologia que pode ser encontrada na língua portuguesa;</li>
            <li>Ampliar o escopo de conteúdo do Portal, agregando cada vez mais conhecimento;</li>
            <li>Disponibilizar na web um ponto de encontro entre os profissionais que não vivem sem tecnologia.</li>
        </ul>

        <p>
            Portal GSTI - Um mundo de informações para TI
        </p>

    </div>

    <div class="col-lg-4">
        <div class="embed-responsive embed-responsive-4by3 embed-responsive-4by3-mobile">
            <iframe class="embed-responsive-item" width="100%" height="300" src="https://www.youtube.com/embed/cn8TKpFagfw" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</main>

{% endblock %}
