 <div id="modal-rules" class="modal fade" data-target="modal">
    <div class="modal-dialog modal-large">
        <div class="modal-content">
            <div class="modal-header">
                <span class="pull-right close" data-dismiss="modal" aria-label="Close"><span class="gsticon gsticon-close"></span></span>
                <h4 class="modal-title">{{ title }}</h4>
            </div>
            <div class="modal-body">
                {{ content|safe }}
            </div>
        </div>
    </div>
</div>