{% extends 'home/layout/base.html' %}


{% load avatar_tags %}
{% load thumbor_tags %}

{% block seo-og-title %}{% block seo_title %}Regras{{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}Regras do Portal GSTI{% endblock %}{% endblock %}

{% block content %}

    <main class="container main">
        <div class="col-lg-8">
            <header class="area-title">
                <h1>Política de privacidade</h1>
            </header>


              O usuário da página da PORTAL GSTI, ao acessá-la,reconhece e aceita que concorda com todas as condições e regras desta Política de Privacidade e da Política do Facebook (https://www.facebook.com/about/privacy/), implicando, dessa forma, na presunção de conhecimento e aceitação integral e irrestrita destas Políticas.

O usuário se responsabilizará exclusiva e integralmente pelos dados inseridos na página acima mencionada, isentando a PORTAL GSTI de qualquer responsabilidade pela veracidade e/ou eventuais incorreções nos dados inseridos.

O usuário da página PORTAL GSTI também assume responsabilidade integral e exclusiva por eventuais violações a direitos de imagem,a direitos autorais de terceiros ou a direitos de propriedade industrial,especialmente no que diz respeito às marcas da PORTAL GSTI, não podendo utilizar dados e/ou imagens que não sejam de sua propriedade ou que representem uma infração a direitos de terceiros, tampouco que violem a moral e os bons costumes.

No mais, a PORTAL GSTI se reserva ao direito de remover a qualquer momento e independentemente de aviso prévio, qualquer comentário publicado na página PORTAL GSTI que contenha:

a) termos de baixo calão, material agressivo, obsceno e/ou pornográfico;
b) material que possa causar danos a terceiros, através de difamação, injúria ou calúnia;
c) informações que constituam ou possam constituir crime ou contravenção penal, ou que possam ser entendidas como apologia a prática de crimes ou contravenção penal;
d) dados ou informações de cunho discriminatório;
e) o incentivo ao uso de álcool, drogas, tabaco ou armas de fogo;
f) propaganda eleitoral ou opinião referente a partido político ou candidato;
g) informações confidenciais ou sujeitas a contratos de confidencialidade;
h) conteúdo ilícito e contrário à legislação.

COLETA E USO DE DADOS PESSOAIS
Dados pessoais são informações que permitem identificá-lo,tais como nome, e-mail ou endereço postal. A PORTAL GSTI compromete-se anão divulgar seus dados pessoais, não transferi-los a terceiros ou utilizá-los para qualquer finalidade não permitida pelas regras desta Política dePrivacidade e/ou da Política do Facebook, a menos que você nos autorize ou nos forneça espontaneamente (p.ex., quando se inscreve para receber newsletters, participa de uma pesquisa, concurso ou sorteios, pedidos de amostra ou brochuras, ou requisição de informações), consentindo, portanto, com seu uso.

Ficam excepcionados das condições de uso de dados pessoais, acima mencionadas, os casos em que haja requerimento de autoridade administrativa ou judicial para o fornecimento desses dados.

USO DE INFORMAÇÕES COMPARTILHADAS
As informações compartilhadas na página PORTAL GSTI abrangem as publicações feitas pelos usuários diretamente na página PORTAL GSTI, as atualizações de status dos usuários nas quais a página PORTAL GSTI é marcada, as fotos e imagens carregadas pelos usuários diretamente na página PORTAL GSTI ou nas quais a página PORTAL GSTI é marcada ou, ainda, comentários feitos pelos usuários em publicações da própria página PORTAL GSTI, ou que remetam à página PORTAL GSTI, incluindo, mas não se limitando ao uso de hashtags.

Uma vez que a página PORTAL GSTI é uma página pública, as informações e conteúdos compartilhados com e na página PORTAL GSTI também são informações públicas.

Ao inserir dados, informações, imagens e conteúdos na página PORTAL GSTI, o usuário expressamente declara possuir todos os direitos, licenças e autorizações que possam ser necessárias para a inclusão de tais dados e informações, imagens e conteúdo, incluindo, mas sem se limitar a direitos autorais e direito de imagem relacionados a tais dados, informações e conteúdo.

Ao compartilhar informações e conteúdo na página da PORTAL GSTI, por meio de marcações da página PORTAL GSTI, por meio do uso de hashtags, ou por outras formas que remetam à página PORTAL GSTI, o usuário expressamente autoriza e concorda que tais informações e conteúdo compartilhados possam ser utilizados e exibidos publicamente pela PORTAL GSTI como publicações da própria página PORTAL GSTI ou de outras maneiras para a promoção da página PORTAL GSTI ou das atividades e produtos distinguidos pela marca PORTAL GSTI.

A PORTAL GSTI poderá, ainda, coletar e utilizar informações, conteúdos, fotos e imagens compartilhadas e que sejam acessíveis por meio do uso de hashtags compostas por palavras que remetam à página PORTAL GSTI.

CONTRIBUIÇÕES
Ao enviar ideias, sugestões,documentos e/ou propostas (“Contribuições”) à página PORTAL GSTI,solicitadas ou não, o usuário entende e concorda que:

a) suas Contribuições não contêm informações confidenciais ou de propriedade de terceiros;

b) a PORTAL GSTI não está sob nenhuma obrigação de confidencialidade, implícita ou explícita, com referência a tais Contribuições;

c) a PORTAL GSTI terá a prerrogativa de usar ou tornar pública suas Contribuições para qualquer propósito, inclusive com caráter comercial, de qualquer maneira, em qualquer tipo de mídia;

d) a PORTAL GSTI pode já ter algo similar às Contribuições em elaboração e/ou em desenvolvimento;

e) as Contribuições do usuário serão de propriedade da PORTAL GSTI e não gerarão qualquer obrigação por parte da PORTAL GSTI em relação ao Usuário;

f) e o Usuário não terá direito a receber pagamento,compensação, reembolso ou qualquer valor de qualquer tipo por parte da PORTAL GSTI, em nenhuma circunstância.

CONDUTA E RESPONSABILIDADES
O usuário reconhece e concorda que não poderá utilizar a página PORTAL GSTI para:

a) divulgar, exibir, enviar ou de qualquer forma tornar disponível conteúdo ilegal, incluindo, mas não se limitando, que seja ofensivo à honra, que invada a privacidade de terceiros, que seja ameaçador, vulgar,obsceno, preconceituoso, racista ou de qualquer forma censurável, ou ainda sem que tenha o direito de fazê-lo de acordo com a lei ou por força de contrato ou de relação de confiança;

b) assumir a personalidade de outra pessoa;

c) divulgar, exibir, enviar ou de qualquer forma tornar disponível conteúdo que viole qualquer patente, marca, segredo de negócio,direito autoral, direitos de propriedade intelectual ou qualquer outro direito de terceiro;

d) divulgar, exibir, enviar ou de qualquer forma tornar disponível qualquer conteúdo que contenha vírus ou qualquer outro código,arquivo ou programa de computador com o propósito de interromper, destruir ou limitar a funcionalidade de qualquer software, hardware ou equipamento de telecomunicações;

e) e violar, seja intencionalmente ou não, qualquer norma legal municipal, estadual, nacional ou internacional que seja integrada ao ordenamento jurídico brasileiro.

ATUALIZAÇÕES E MUDANÇAS
Podemos alterar ou atualizar partes desta Política a qualquer momento e sem aviso prévio. Por favor, volte a verificá-la de tempos em tempos para saber quais mudanças ou atualizações foram feitas.

        </div>

        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-4by3 embed-responsive-4by3-mobile">
                <iframe class="embed-responsive-item" width="100%" height="300" src="https://www.youtube.com/embed/G1xIlZ35mZo" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </main>

{% endblock %}
