{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Portal GSTI - Home {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="row">
                    <h1 class="gsti">
                        <a href="javascript:;" class="gsti-link">Portal GSTI</a>
                    </h1>
                    <form class="form-search" action="/search" method="GET" role="search">
                        <div class="form-search-input">
                            <input type="text" placeholder="Procure pessoas, comunidades, etc.">
                        </div>
                        <button type="submit" class="form-search-button">
                            <i class="gsticon gsticon-search"></i>
                        </button>
                    </form>
                    <div class="user-actions">
                        <a href="javascript:;" class="user-actions-link">Cadastre-se</a>
                        <a href="javascript:;" class="user-actions-link">Login</a>
                    </div>
                </div>
            </div>
        </header>
        <section class="header-navegation">
            <div class="container">
                <nav class="menu-categories">
                    <a class="governance" href="javascript:;">Governança de TI</a>
                    •<a class="development" href="javascript:;">Desenvolvimento</a>
                    •<a class="web-design" href="javascript:;">Web Design</a>
                    •<a class="marketing" href="javascript:;">Marketing Digital</a>
                    •<a class="infra" href="javascript:;">Infraestrutura</a>
                    •<a class="databases" href="javascript:;">Banco de Dados</a>
                </nav>
                <nav class="menu-social">
                    <a class="gsticon gsticon-facebook-square" href="javascript:;"></a>
                    <a class="gsticon gsticon-google-plus-square" href="javascript:;"></a>
                    <a class="gsticon gsticon-linkedin-square" href="javascript:;"></a>
                    <a class="gsticon gsticon-twitter-square" href="javascript:;"></a>
                    <a class="gsticon gsticon-youtube-square" href="javascript:;"></a>
                </nav>
            </div>
        </section>
        <main class="container">{% block content %}{% endblock %}</main>
        <footer class="footer">
            <div class="container">
                <ul class="list-unstyled box-list">
                    <li class="box-list-links">
                        <h3 class="h4 box-list-heading">Governança de TI</h3>
                        <ul class="list-links">
                            <li><a href="javascript:;">Simply</a></li>
                            <li><a href="javascript:;">Scrambled</a></li>
                            <li><a href="javascript:;">Remaining</a></li>
                            <li><a href="javascript:;">Rublishing</a></li>
                            <li><a href="javascript:;">Aldus</a></li>
                            <li><a href="javascript:;">Sometimes</a></li>
                            <li><a href="javascript:;">Uncover</a></li>
                        </ul>
                    </li>
                    <li class="box-list-links">
                        <h3 class="h4 box-list-heading">Desenvolvimento</h3>
                        <ul class="list-links">
                            <li><a href="javascript:;">Simply</a></li>
                            <li><a href="javascript:;">Scrambled</a></li>
                            <li><a href="javascript:;">Remaining</a></li>
                            <li><a href="javascript:;">Rublishing</a></li>
                            <li><a href="javascript:;">Aldus</a></li>
                            <li><a href="javascript:;">Sometimes</a></li>
                            <li><a href="javascript:;">Uncover</a></li>
                        </ul>
                    </li>
                    <li class="box-list-links">
                        <h3 class="h4 box-list-heading">Web Design</h3>
                        <ul class="list-links">
                            <li><a href="javascript:;">Simply</a></li>
                            <li><a href="javascript:;">Scrambled</a></li>
                            <li><a href="javascript:;">Remaining</a></li>
                            <li><a href="javascript:;">Rublishing</a></li>
                            <li><a href="javascript:;">Aldus</a></li>
                            <li><a href="javascript:;">Sometimes</a></li>
                            <li><a href="javascript:;">Uncover</a></li>
                        </ul>
                    </li>
                    <li class="box-list-links">
                        <h3 class="h4 box-list-heading">Marketing Digital</h3>
                        <ul class="list-links">
                            <li><a href="javascript:;">Simply</a></li>
                            <li><a href="javascript:;">Scrambled</a></li>
                            <li><a href="javascript:;">Remaining</a></li>
                            <li><a href="javascript:;">Rublishing</a></li>
                            <li><a href="javascript:;">Aldus</a></li>
                            <li><a href="javascript:;">Sometimes</a></li>
                            <li><a href="javascript:;">Uncover</a></li>
                        </ul>
                    </li>
                    <li class="box-list-links">
                        <h3 class="h4 box-list-heading">Infraestrutura</h3>
                        <ul class="list-links">
                            <li><a href="javascript:;">Simply</a></li>
                            <li><a href="javascript:;">Scrambled</a></li>
                            <li><a href="javascript:;">Remaining</a></li>
                            <li><a href="javascript:;">Rublishing</a></li>
                            <li><a href="javascript:;">Aldus</a></li>
                            <li><a href="javascript:;">Sometimes</a></li>
                            <li><a href="javascript:;">Uncover</a></li>
                        </ul>
                    </li>
                    <li class="box-list-links">
                        <h3 class="h4 box-list-heading">Banco de Dados</h3>
                        <ul class="list-links">
                            <li><a href="javascript:;">Simply</a></li>
                            <li><a href="javascript:;">Scrambled</a></li>
                            <li><a href="javascript:;">Remaining</a></li>
                            <li><a href="javascript:;">Rublishing</a></li>
                            <li><a href="javascript:;">Aldus</a></li>
                            <li><a href="javascript:;">Sometimes</a></li>
                            <li><a href="javascript:;">Uncover</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <nav class="footer-nav">
                <div class="container">
                    <div class="row">
                        <span class="copyright">Portal GSTI © Copyright 2015</span>
                        <ul class="links-help">
                            <li class="list-item"><a href="javascript:;">Sobre</a></li>
                            <li class="list-item"><a href="javascript:;">Regras do portal</a></li>
                            <li class="list-item"><a href="javascript:;">Contato</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>