{% load staticfiles %}{% load static_versioned %}{% load ads %}{% load abs_url %}{% load utils %}{% load core_tags %}{% load user_agents %}{% load var_tags %}{% load wizard_tags %}{% load thumbor_tags %}{% load avatar_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="verification" content="2428a48822cd1dcc12f04e822c01559b" />

    {% block seo-metas %}
        <title>{% block seo_title %}{% block title %}{% endblock %}{% block title-end %} - Portal GSTI{% endblock %}{% endblock %}</title>
        <meta name="description" content="{% block seo-description %}O seu portal definitivo de TI. Conteúdo, área para tirar dúvidas, informações sobre vagas de trabalho, concursos e certificações. Conheça nossas comunidades!{% endblock %}">
        <meta property="og:title" content="{% block seo-og-title %}{{ title }}{{ ends }}{% endblock %}">
        <meta property="og:description" content="{% block seo-og-description %}O seu portal definitivo de TI. Conteúdo, área para tirar dúvidas, informações sobre vagas de trabalho, concursos e certificações. Conheça nossas comunidades!{% endblock %}">
        <meta property="og:url" content="{% block seo-og-url %}{% absolute_url request.path %}{% endblock %}">
        <meta property="og:site_name" content="{% block seo-og-site_name %}Portal GSTI{% endblock %}">
        <meta property="og:image" content="{% block seo-og-image %}{% static "images/gsti-default-og-image.png" %}{% endblock %}" />
        <meta property="og:type" content="{% block seo-og-type %}website{% endblock %}">
        <meta property="fb:app_id" content="{% block seo-fb-id %}1716855088541343{% endblock %}">
        <meta name="msvalidate.01" content="A19932BD10DA20BDBC9EA23CDD0E4056" />

        <link rel="canonical" href="{% block seo-canonical %}{% absolute_url request.path %}{% endblock %}"/>
        {% block ld_json %}{% endblock ld_json %}
        {% block seo-metas-extra %}
        {% endblock %}

    {% endblock %}


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
    <link rel="stylesheet" href="{% static_versioned 'stylesheets/style.css' %}">
    {% block link_pagination %}{% endblock link_pagination %}
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'images/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'images/apple-touch-icon-60x60.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon-196x196.png' %}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon-128.png' %}" sizes="128x128" />
    <meta name="application-name" content="Portal GSTI"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{% static 'images/mstile-144x144.png' %}" />
    <meta name="msapplication-square70x70logo" content="{% static 'images/mstile-70x70.png' %}" />
    <meta name="msapplication-square150x150logo" content="{% static 'images/mstile-150x150.png' %}" />
    <meta name="msapplication-wide310x150logo" content="{% static 'images/mstile-310x150.png' %}" />
    <meta name="msapplication-square310x310logo" content="{% static 'images/mstile-310x310.png' %}" />

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://tigre.safari365.com.br/Content/js/tigre-agentemr.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
    <script src="{% static 'javascripts/firebase-init.js' %}"></script>
    <script src="{% static 'javascripts/firebase-notifier.js' %}"></script>


    {% block extra_meta %}
    {% endblock %}
{% ads_only_production "page_level" "all" %}
{% tag_manager_script %}
</head>
<body data-logged="{{ request.user.is_authenticated|yesno:"true,false" }}" >
<div class="slideout-menu" id="slideout-menu">
    {% include 'home/partials/slideout-menu.html' %}
</div>
<div class="slideout-panel {% block page_class %}{% endblock page_class %}" id="wrapper">
    <header class="header">
        <div class="container">
            <div class="menu-mobile hidden-lg">
                <div class="mobile-search" id="mobile-search" style="display: none;">
                    {% include 'home/partials/search-header.html' with placehold="Procurar" %}
                    <a href="javascript:;" class="btn-hide-item toggle-search">
                        <i class="gsticon gsticon-close"></i>
                    </a>
                </div>
                <div class="row">
                    <a class="btn-show-item toggle-slideout" data-item="#slideout-menu" href="javascript:;" {% if request.user.is_authenticated %}data-notification-group-badge{% endif %}>
                        {% if request.user.is_authenticated %}
                            <figure>
                                <img src="{% get_avatar request.user width=40 height=40 smart=False fit_in=False %}" alt="{{ request.user.get_full_name }}" class="img-circle">
                            </figure>
                        {% else %}
                            <i class="gsticon gsticon-sign-in"></i>
                        {% endif %}
                    </a>
                    {% block logo %}
                    <div class="gsti">
                        <a class="gsti-link" href="{% url 'index' %}" title="Portal GSTI">Portal GSTI</a>
                    </div>
                    {% endblock logo %}
                    <a class="btn-show-item toggle-search" data-item="#mobile-search" href="#">
                        <i class="gsticon gsticon-search"></i>
                    </a>
                </div>
            </div>
            <div class="row menu-desktop visible-lg-block">
              {% block logo_mobile %}
              <div class="gsti">
                  <a class="gsti-link" href="{% url 'index' %}" title="Portal GSTI">Portal GSTI</a>
              </div>
              {% endblock logo_mobile %}
                <div class="search-header-container{% if request.user.is_authenticated %}--logged{% endif %}">
                    {% include 'home/partials/search-header.html' %}
                </div>
                {% include 'home/partials/user-actions.html' %}
            </div>
        </div>
    </header>
    {% include "home/partials/menu-geral.html" with menu_context=category_slug|default:'' class_name=class_name %}
    {% block content %}{% endblock %}
    {% footer %}
</div>


{% block modals %}

    {% include 'home/partials/modals/modal-login.html' %}
    {% include 'home/partials/modals/modal-esqueci-senha.html' %}
    {% include 'home/partials/modals/modal-resend-email-confirmation.html' %}
    {% include 'home/partials/modals/modal-sugerir.html' %}
    {% include 'home/partials/modals/modal-denunciar.html' %}

{#    {% include 'home/partials/modals/modal-rules.html' %}#}
    {% portal_rules %}

    {% include 'home/partials/modals/modal-contato.html' %}
    {% include 'home/partials/modals/modal-message.html' %}
    {% include 'home/partials/modals/modal-alert-community-posts.html' %}
    {% include 'home/partials/modals/modal-alert-community-questions.html' %}
{% endblock %}

<script src="{% static_versioned 'javascripts/shared.js'%}"></script>
<script src="{% static_versioned 'javascripts/main.js'%}"></script>
 <script>
        $(function(){


            var tigre = jQuery().tigreAgenteMR({
            tigreAppID: '6011F0D30DF54607A7BB8EE047D1E741',
            fbAppId: '1486237578359462',
            useFB: true,
            useLoading: false,
            fbScope: 'email,public_profile',
            fbBtnLogin: 'btn-facebook',
            onErrorUserRegister: function (s, m) { }

            });


        });
    </script>

{% if request.user.is_anonymous %}
    <script src="https://www.google.com/recaptcha/api.js?hl=pt-BR" async defer></script>
{% endif %}

{% contact_suggest_community_type as is_contact_suggest_community_type %}

{% include 'inline_scripts/modal.html' with is_contact_suggest_community_type=is_contact_suggest_community_type %}

{% block javascripts %}
{% endblock %}
{% block editorfiles %}
{% endblock %}

{% tag_manager_iframe %}
</body>
</html>
