{% load staticfiles %}
{% load core_tags %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Portal GSTI - Home {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">

        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'images/apple-touch-icon-57x57.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/apple-touch-icon-144x144.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'images/apple-touch-icon-60x60.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}" />
        <link rel="icon" type="image/png" href="{% static 'images/favicon-196x196.png' %}" sizes="196x196" />
        <link rel="icon" type="image/png" href="{% static 'images/favicon-96x96.png' %}" sizes="96x96" />
        <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16" />
        <link rel="icon" type="image/png" href="{% static 'images/favicon-128.png' %}" sizes="128x128" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="{% static 'images/mstile-144x144.png' %}" />
        <meta name="msapplication-square70x70logo" content="{% static 'images/mstile-70x70.png' %}" />
        <meta name="msapplication-square150x150logo" content="{% static 'images/mstile-150x150.png' %}" />
        <meta name="msapplication-wide310x150logo" content="{% static 'images/mstile-310x150.png' %}" />
        <meta name="msapplication-square310x310logo" content="{% static 'images/mstile-310x310.png' %}" />

    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="row">
                    <h1 class="gsti">
                        <a href="{% url 'ninico:index' %}" class="gsti-link">Portal GSTI</a>
                    </h1>
                    <div class="form-search{% if request.user.is_authenticated %}--logged{% endif %}">
                        {% include 'home/partials/search.html' %}
                    </div>
                    {% include 'home/partials/user-actions.html' %}
                </div>
            </div>
        </header>
        <section class="header-navegation">
            <div class="container">
                {% include "home/partials/mega-dropdown.html" %}
                <ul class="menu-social">
                    <li><a class="gsticon gsticon-facebook-square" href="javascript:;"></a></li>
                    <li><a class="gsticon gsticon-google-plus-square" href="javascript:;"></a></li>
                    <li><a class="gsticon gsticon-linkedin-square" href="javascript:;"></a></li>
                    <li><a class="gsticon gsticon-twitter-square" href="javascript:;"></a></li>
                    <li><a class="gsticon gsticon-youtube-square" href="javascript:;"></a></li>
                </ul>
            </div>
        </section>
        {% block content %}{% endblock %}
        {% footer %}
        {% comment %}

        {% endcomment %}
        {% block modals %}

            {% include 'home/partials/modals/modal-login.html' %}
            {% include 'home/partials/modals/modal-sugerir.html' %}
            {% include 'home/partials/modals/modal-denunciar.html' %}

        {% endblock %}

        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="{% static 'javascripts/shared.js'%}"></script>
        <script src="{% static 'javascripts/main.js'%}"></script>

        <!-- CKEDITOR -->
        <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>

        <script type="text/javascript">
            var functionAjaxSuccessLogin = function(e, data) {
                window.location.href = data.url_next;
            };
            var functionAjaxErrorLogin = function(e, data) {
                console.log(data);
            };

            var functionAjaxSuccessSuggest = function(e, data) {
                var $self = $(this),
                    $modalSuggest = $("#modal-suggest");

                if (data.status == 200 && $modalSuggest.is(':visible')) {
                    var $taggerSuggest = $(e.currentTarget).find("#tagger-suggest-users")[0].selectize;
                    $taggerSuggest.clear();
                    $modalSuggest.modal('hide');
                }
            };

            var refreshAsyncLike = function() {
                var asyncLike = $("[data-async-like=true]");
                var asyncData = asyncLike.IdeiaAsyncLike();
            };


            var functionOpenSuggestModal = function(e) {
                e.preventDefault();
                var $self = $(this),
                    $modalSuggest = $("#modal-suggest"),
                    $formSuggest = $modalSuggest.find("form#form-suggest");

                $formSuggest.attr("action", $self.data('url'));
                $formSuggest.find("#form-suggest-object").val($self.data('object'));
                $formSuggest.find("#form-suggest-content").val($self.data('content'));
                $modalSuggest.modal("show");
            };

            $(function() {
                var $formLogin = $("#form-login");
                $formLogin.on("ajaxform.success", functionAjaxSuccessLogin);
                $formLogin.on("ajaxform.error", functionAjaxErrorLogin);

                var $formSuggest = $("#form-suggest");
                $formSuggest.on("ajaxform.success", functionAjaxSuccessSuggest);

                $("[data-suggest-modal]").on("click", functionOpenSuggestModal);
            });
        </script>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>