{% load social_tags %}
{% load thumbor_tags %}

{% if items %}
    {% for community in items %}
        <div class="box-perfil">
            <div class="perfil">
              <figure>
                <img src="{% thumbor_url community.content_object.get_picture.url width=90 height=90 smart=False fit_in=False %}" alt="{{ community.content_object.title }}" title="{{ community_obj.title }}">
              </figure>
              <div>
                  <a class="perfil-name" title="{{ community.content_object.title }}" href="{% url 'community:show' community.content_object.slug %}">{{ community.content_object.title }}</a>
                  <a class="perfil-counter" href="{% url 'community:followers' community_slug=community.content_object.slug %}">
                      <span class="counter-number">{% followers_count community.content_object as followers_count_value %}{{ followers_count_value }}</span> Seguidor{{ followers_count_value|pluralize:'es' }}
                  </a>
                  {% follow_action community.content_object url_next %}
              </div>
            </div>
        </div>
    {% endfor %}
    {% if items|length > 3%}
    <a data-jscroll-next href="{% url 'socialactions:get_followings' content_type_id=content_type.id object_filter_id=object.id %}?p={{ page }}&next={{ url_next|urlencode }}">next</a>
    {% endif %}
{% endif %}
