{% extends 'home/layout/base.html' %}

{% load staticfiles %}

{% block title %}Portal GSTI - Favoritos{% endblock %}

{% block content %}
{% load thumbor_tags %}
    <main class="container main">
        <div class="perfil-row">
            <!-- mudar para 2.5 -->
            <div class="col-lg-3">
                {% include 'home/partials/sidebar-perfil.html' with local_context="favourite" %}
            </div>
            <!-- mudar para 9.5 -->
            <div class="col-lg-9">
                <nav class="perfil-navegation">
                    {% if profile.user == request.user %}
                        <a href="{% url 'profile:feed' %}">Feed</a> •
                    {% endif %}
                    <a href="{% url 'profile:show' username=profile.user.username %}">Publicações</a> •
                    <a href="{% url 'profile:communities' username=profile.user.username %}">Comunidades</a> •
                    <a href="{% url 'profile:followers' username=profile.user.username %}">Relacionamentos</a> •
                    <a href="{% url 'profile:videos' profile.user.username %}">Vídeos</a>
                </nav>
                <div class="row">
                    <div class="col-lg-12">
                        <header class="area-title">
                            <h2>Favoritas</h2>
                        </header>
                        <div class="row">
                            <div class="col-lg-4">
                                <form id="form-unfavourite" action="{% url 'profile:unfavourite' %}" data-ajaxform="true" data-group-class=".alert-container" >
                                    {% csrf_token %}
                                    <label class="custom-check btn" id="select-all">
                                        <input type="checkbox" />
                                    </label>
                                    <button type="submit" class="btn btn-default remove-favourite"><i class="gsticon gsticon-star-o"></i> Desfavoritar</button>
                                    <div id="input-group"></div>
                                </form>
                            </div>
                            <div class="col-lg-8">
                                <nav class="form-search form-search-child">
                                    <form id="form-filter" action="{% url 'profile:favourite' %}" method="GET" role="search" data-ajaxform="true">
                                        <div class="form-search-input">
                                            <input type="text" id="filter-criteria" name="criteria" placeholder="{{ placehold|default:"Termo de pesquisa." }}" autocomplete="off"/>
                                        </div>
                                        <button type="submit" class="form-search-button">
                                            <i class="gsticon gsticon-search"></i>
                                        </button>
                                    </form>
                                </nav>
                            </div>
                        </div>
                        <section class="area-content ">
                            <div id="filter-container">
                                {% if items.object_list %}
                                    <div class="j-scroll j-scroll-container">
                                        {% include "socialactions/partials/list.html" %}
                                    </div>
                                {% else %}
                                    <span>Não existem itens a serem exibidos</span>
                                {% endif %}
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ block.super }}

    <script type="text/javascript">
        var jScrollElemment = null,
            timeoutReference= null;
        var functionAjaxFormSuccessFilter = function(e, data) {

            var $divContainer = $("#filter-container");
            var $divJScroll = $('<div />');
            $divJScroll.addClass("j-scroll j-scroll-container");

            $divJScroll.html(data.template);
            $divContainer.html($divJScroll);
            jScrollElemment = $divJScroll.jscroll({
                autoTrigger: true,
                loadingHtml: '<div class="load-async-preload"></div>',
                contentSelect: '.j-scroll-container',
                nextSelector: "a[data-jscroll-next]",
                refresh: true
            });
        };

        var functionAjaxFormSuccessFormUnfavourite = function(e, data) {
            $.each(data.removed_items, function(i, v){
                $("#"+v).remove();
            });
        };

        $(function(){
            var $inputGroup = $("#input-group");
            var $selectAll = $("#select-all");
            var functionChangeCheckbox = function(){
                var $this = $(this);
                $(".chk").prop("checked",$this.prop("checked"));
            };
            $selectAll.find("input").on("change", functionChangeCheckbox);
            $(document).on("change", ".chk, #select-all", function(){
                $inputGroup.empty();
                $(".chk:checked").each(function(){
                    $inputGroup.append('<input type="hidden" name="items_to_remove" value="'+$(this).val()+'"/>');
                });
            });
        });

        $(function () {
            $(document).on('input', "#filter-criteria", function (e) {
                var $this = $(e.currentTarget);
                if (e.type=='keyup' && e.keyCode!=8) return;
                if (timeoutReference) clearTimeout(timeoutReference);
                timeoutReference = setTimeout(function(){
                    $this.closest('form').submit();
                }, 500);
            });

            $(".j-scroll").jscroll({
                loadingHtml: '<div class="load-async-preload"></div>',
                contentSelect: ".j-scroll-container",
                nextSelector: "a[data-jscroll-next]"
            });

            $(document).on("ajaxform.success", "#form-filter", functionAjaxFormSuccessFilter);
            $(document).on("ajaxform.success", "#form-unfavourite", functionAjaxFormSuccessFormUnfavourite);
        });
    </script>
{% endblock %}