{% load social_tags %}

{% if followers %}
    {% for follower in followers %}
        <div class="box-perfil">
            <div class="perfil">
                <img class="img-responsive" src="http://placehold.it/82" alt="{{ follower.author.get_full_name }}">
                <a class="perfil-name" href="{% url 'profile:show' follower.author.username %}">{{ follower.author.get_full_name }}</a>
                <a class="perfil-counter" href="{% url 'profile:followers' username=follower.author.username %}"><span class="counter-number">{% followers_count follower.author %}</span> Seguidores</a>
                {% follow_action follower.author url_next %}
            </div>
        </div>
    {% endfor %}
    <a data-jscroll-next href="{% url 'socialactions:get_followers' content_type_id=content_type.id object_filter_id=object.id %}?p={{ page }}&next={{ url_next|urlencode }}">next</a>
{% endif %}