{% if request.user and request.user != object_to_link %}

{% url 'socialactions:act-xhr' object_to_link.id content 'follow' as act_url %}

    {% if not followed %}
    <a class="btn {{ btn_class }}"
    data-action="follow" data-action-type="button"
    data-action-text="{% if content == "community" %}Entrar{% else %}Seguir{% endif %}"
    data-action-text-alt="{% if content == "community" %}Participando{% else %}Seguindo{% endif %}"
    data-object="follow-{{ object_to_link.id }}"
    data-class-name="{% if btn_class == "btn-follow" %}btn-follow btn-follow-alt{% else %}perfil-button perfil-button-alt{% endif %}"
    data-hover="{% if content == "community" %}Sair{% else %}Não seguir{% endif %}"
    data-trigger="login" data-token="{{ csrf_token }}"
    href="{{ act_url }}?url_next={{ url_next|urlencode }}">
        <span>
        {% if content == "community" %}
            Entrar
        {% else %}
            Seguir
        {% endif %}
        </span>
    </a>
    {% else %}
    <a class="btn {{ btn_class }}-alt"
    data-action="follow" data-action-type="button"
    data-object="follow-{{ object_to_link.id }}"
    data-action-text="{% if content == "community" %}Entrar{% else %}Seguir{% endif %}"
    data-action-text-alt="{% if content == "community" %}Participando{% else %}Seguindo{% endif %}"
    data-class-name="{% if btn_class == "btn-follow" %}btn-follow btn-follow-alt{% else %}perfil-button perfil-button-alt{% endif %}"
    data-hover="{% if content == "community" %}Sair{% else %}Não seguir{% endif %}"
    data-trigger="login" data-token="{{ csrf_token }}"
    href="{{ act_url }}?url_next={{ url_next|urlencode }}">
        <span>
        {% if content == "community" %}
            Participando
        {% else %}
            Seguindo
        {% endif %}
        </span>
    </a>
    {% endif %}
{% endif %}
