{% load social_tags %}
{% load thumbor_tags %}

{% if items %}
    {% for following in items %}
        <div class="box-perfil">
            <div class="perfil">
                <a href="{% url 'profile:show' following.content_object.username %}">
                    <img class="img-responsive" src="{% thumbor_url following.content_object.profile.get_profile_picture.url width=82 height=82 smart=False fit_in=False %}" alt="{{ following.content_object.get_full_name }}">
                </a>
                <a class="perfil-name" href="{% url 'profile:show' following.content_object.username %}">{{ following.content_object.first_name }} <br> {{ following.content_object.last_name }}</a>
                <a class="perfil-counter" href="{% url 'profile:followers' username=following.content_object.username %}">
                    <span class="counter-number">{% followers_count following.content_object as followers_count_value %}{{ followers_count_value }}</span> Seguidor{{ followers_count_value|pluralize:'es' }}
                </a>
                {% follow_action following.content_object url_next %}
            </div>
        </div>
    {% endfor %}
    <a data-jscroll-next href="{% url 'socialactions:get_followings' content_type_id=content_type.id object_filter_id=object.id %}?p={{ page }}&next={{ url_next|urlencode }}">next</a>
{% endif %}