
{% if request.user and request.user != object_to_link %}

{#{% url 'socialactions:act-xhr' object_to_link.id content 'follow' as act_url %}#}

    {% if not followed %}
    <a class="btn {% if btn_class == "btn-follow" %}btn-follow{% else %}perfil-button{% endif %}"
        data-action="follow" data-action-type="button"
        data-object="follow-{{ content }}-{{ object_to_link.id }}"
        data-action-text="{% if content == "community" %}Entrar{% else %}Seguir{% endif %}"
        data-action-text-alt="{% if content == "community" %}Participando{% else %}Seguindo{% endif %}"
        data-class-name="{% if btn_class == "btn-follow" %}btn-follow-alt{% else %}perfil-button-alt{% endif %}"
        data-hover="{% if content == "community" %}Sair{% else %}Não seguir{% endif %}"
        data-follow-content-type="{{ content }}
        data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}"
        href="{{ act_url }}?url_next={{ url_next|urlencode }}">
        <span>
        {% if content == "community" %}
            Entrar
        {% else %}
            Seguir
        {% endif %}
        </span>
    </a>
    {% else %}
    <a class="btn {% if btn_class == "btn-follow" %}btn-follow btn-follow-alt{% else %}perfil-button perfil-button-alt{% endif %}"
        data-action="follow" data-action-type="button"
        data-object="follow-{{ content }}-{{ object_to_link.id }}"
        data-action-text="{% if content == "community" %}Entrar{% else %}Seguir{% endif %}"
        data-action-text-alt="{% if content == "community" %}Participando{% else %}Seguindo{% endif %}"
        data-class-name="{% if btn_class == "btn-follow" %}btn-follow-alt{% else %}perfil-button-alt{% endif %}"
        data-hover="{% if content == "community" %}Sair{% else %}Não seguir{% endif %}"
        data-follow-object="{{ object_to_link.id }}"
        data-follow-content_type="{{ content }}"
        data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}"
        href="{{ act_url }}?url_next={{ url_next|urlencode }}">
        <span>
        {% if content == "community" %}
            Participando
        {% else %}
            Seguindo
        {% endif %}
        </span>
    </a>
    {% endif %}

{% endif %}
