{% if request.user.is_authenticated %}
    <div class="async-like-group">
        <a class="{% if i_liked and i_liked.author == request.user %}liked{% endif %}" href="{% url 'socialactions:act' object_to_link content 'like' %}?url_next={{ url_next|urlencode }}" 
            data-async-like="true" 
            data-social-action="like"
            data-target-like=".count-like-post-{{ object_to_link }}-{{ content }}"
            data-target-unlike=".count-unlike-post-{{ object_to_link }}-{{ content }}"
            data-target-id="{{ object_to_link }}-{{ content }}"
            data-target-id-action="{{ object_to_link }}-{{ content }}-like"
            data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}"
            >
            <span class="count-like-post-{{ object_to_link }}-{{ content }}" style="display: block">{{ likes }}</span>
            <i class="gsticon gsticon-caret-up"></i>
        </a>
        <hr>
        <a class="{% if i_unliked and i_unliked.author == request.user %}unliked{% endif %}" href="{% url 'socialactions:act' object_to_link content 'unlike' %}?url_next={{ url_next|urlencode }}" 
            data-async-like="true"
            data-social-action="unlike"
            data-target-like=".count-like-post-{{ object_to_link }}-{{ content }}"
            data-target-unlike=".count-unlike-post-{{ object_to_link }}-{{ content }}"
            data-target-id="{{ object_to_link }}-{{ content }}"
            data-target-id-action="{{ object_to_link }}-{{ content }}-unlike"
            data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}"
            >
            <i class="gsticon gsticon-caret-down" ></i>
            <span class="count-unlike-post-{{ object_to_link }}-{{ content }}" style="display: block">{{ unlikes }}</span>
        </a>
    </div>
{% else %}
    <div class="async-like-group">
        <a href="javascript:void(0);" data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}">
            <span class="count-like-post-{{ object_to_link }}" style="display: block">{{ likes }}</span>
            <i class="gsticon gsticon-caret-up"></i>
        </a>
        <hr>
        <a href="javascript:void(0);" data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}">
            <i class="gsticon gsticon-caret-down" ></i>
            <span class="count-unlike-post-{{ object_to_link }}" style="display: block">{{ unlikes }}</span>
        </a>
    </div>
{% endif %}