{% extends 'home/layout/base.html' %}

{% load staticfiles %}

{% block title %}Portal GSTI - Sugeridos{% endblock %}

{% block content %}

    {% csrf_token %}
    <main class="container main">
        <div class="row">
            <!-- mudar para 2.5 -->
            <div class="col-lg-3">
                {% include 'home/partials/sidebar-perfil.html' with local_context="suggest" %}
            </div>
            <!-- mudar para 9.5 -->
            <div class="col-lg-9">
                {% include 'userprofile/partials/profile-navbar.html' with navbar_context='' %}
                <div class="row">
                    <div class="col-lg-12">
                        <header class="area-title">
                            <h2>Sugeridos</h2>
                        </header>
                        <div class="row">
                            <div class="col-lg-4">
                                <form id="form-remove-suggest" action="{% url 'profile:unsuggest' %}" method="post" data-ajaxform="true" data-group-class=".alert-container" >
                                    {% csrf_token %}
                                    <label class="custom-check btn" id="select-all">
                                        <input type="checkbox" />
                                    </label>
                                    <button type="submit" class="btn btn-default remove-suggest"><i class="gsticon gsticon-paper-plane"></i> Remover sugestão</button>
                                    <div id="input-group"></div>
                                </form>
                            </div>
                            <div class="col-lg-8">
                                <nav class="form-search form-search-child">
                                    <form id="form-filter" action="{% url 'profile:suggest' %}" method="GET" role="search" data-ajaxform="true" data-group-class=".alert-container" >
                                        <div class="form-search-input">
                                            <input type="text" id="filter-criteria" name="criteria" placeholder="{{ placehold|default:"Termo de pesquisa." }}" autocomplete="off"/>
                                        </div>
                                        {% comment %}
                                        <div class="dropdown-menu dropdown-search">
                                            <div class="float-notifcations">
                                                <div class="header-float-notifications">Pessoas</div>
                                                <ul class="content-float-notifications">
                                                    <li class="item-float-notification">
                                                        <a href="javascript:;"><img src="http://placehold.it/20" alt="Creator Post Avatar"></a>
                                                        <a href="javascript:;">Iury Silva</a>
                                                    </li>
                                                    <li class="item-float-notification">
                                                        <a href="javascript:;"><img src="http://placehold.it/20" alt="Creator Post Avatar"></a>
                                                        <a href="javascript:;">Iury Silva</a>
                                                    </li>
                                                    <li class="item-float-notification">
                                                        <a href="javascript:;"><img src="http://placehold.it/20" alt="Creator Post Avatar"></a>
                                                        <a href="javascript:;">Iury Silva</a>
                                                    </li>
                                                    <li class="item-float-notification-separator">
                                                    </li>
                                                </ul>
                                                <div class="header-float-notifications">Comunidades</div>
                                                <ul class="content-float-notifications">
                                                    <li class="item-float-notification">
                                                        <a href="javascript:;"><img src="http://placehold.it/20" alt="Creator Post Avatar"></a>
                                                        <a href="javascript:;">Iury Silva</a>
                                                    </li>
                                                    <li class="item-float-notification">
                                                        <a href="javascript:;"><img src="http://placehold.it/20" alt="Creator Post Avatar"></a>
                                                        <a href="javascript:;">Iury Silva</a>
                                                    </li>
                                                    <li class="item-float-notification">
                                                        <a href="javascript:;"><img src="http://placehold.it/20" alt="Creator Post Avatar"></a>
                                                        <a href="javascript:;">Iury Silva</a>
                                                    </li>
                                                    <li class="item-float-notification-separator">
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        {% endcomment %}
                                        <button type="submit" class="form-search-button">
                                            <i class="gsticon gsticon-search"></i>
                                        </button>
                                    </form>
                                </nav>
                            </div>
                        </div>
                        <section class="area-content ">
                            <div id="filter-container">
                                {% if items.object_list %}
                                    <div class="j-scroll j-scroll-container">
                                        {% include "socialactions/partials/list.html" %}
                                    </div>
                                {% else %}
                                    <span>Não existem itens a serem exibidos</span>
                                {% endif %}
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block javascripts %}
    {{ block.super }}

    <script type="text/javascript">
        var jScrollElemment = null,
            timeoutReference= null;
        var functionAjaxFormSuccessFilter = function(e, data) {

            var $divContainer = $("#filter-container");
            var $divJScroll = $('<div />');
            $divJScroll.addClass("j-scroll j-scroll-container");

            $divJScroll.html(data.template);
            $divContainer.html($divJScroll);
            jScrollElemment = $divJScroll.jscroll({
                autoTrigger: true,
                loadingHtml: '<div class="load-async-preload"></div>',
                contentSelect: '.j-scroll-container',
                nextSelector: "a[data-jscroll-next]",
                refresh: true
            });
        };

        var functionAjaxFormSuccessFormUnSuggest = function(e, data) {
            $.each(data.removed_items, function(i, v){
                $("#"+v).remove();
            });
        };

        $(function(){
            var $inputGroup = $("#input-group");
            var $selectAll = $("#select-all");
            var functionChangeCheckbox = function(){
                var $this = $(this);
                $(".chk").prop("checked",$this.prop("checked"));
            };
            $selectAll.find("input").on("change", functionChangeCheckbox);
            $(document).on("change", ".chk, #select-all", function(){
                $inputGroup.empty();
                $(".chk:checked").each(function(){
                    $inputGroup.append('<input type="hidden" name="items_to_remove" value="'+$(this).val()+'"/>');
                });
            });
        });

        $(function () {
            $(document).on('input', "#filter-criteria", function (e) {
                var $this = $(e.currentTarget);
                if (e.type=='keyup' && e.keyCode!=8) return;
                if (timeoutReference) clearTimeout(timeoutReference);
                timeoutReference = setTimeout(function(){
                    $this.closest('form').submit();
                }, 500);
            });

            $(".j-scroll").jscroll({
                loadingHtml: '<div class="load-async-preload"></div>',
                contentSelect: ".j-scroll-container",
                nextSelector: "a[data-jscroll-next]"
            });

            $(document).on("ajaxform.success", "#form-filter", functionAjaxFormSuccessFilter);
            $(document).on("ajaxform.success", "#form-remove-suggest", functionAjaxFormSuccessFormUnSuggest);
        });
    </script>
{% endblock %}