{% extends 'layout/base.html' %}
{% block content %}
<aside class="col-lg-3">
    <div class="widget widget-perfil">
        <div class="widget-body">
            <img src="" alt="">
            <div class="perfil-info">
                <h2 class="perfil-info-title">Iury Silva</h2>
                <p>180 Seguidores</p>
                <p>88 Artigos</p>
            </div>
            <a class="button-follow" href="javascript:;">Seguir</a>
            <ul>
                <li class="gsticon gsticon-briefcase"><a href="javascript:;">Analista de SEO</a> em <a href="javascript:;">Ideia SEO</a></li>
                <li class="gsticon gsticon-map-marker">Mora em Salvador - BA - Brasil</li>
                <li class="gsticon gsticon-birthday-cake">Idade 26</li>
            </ul>
        </div>
    </div>
    <div class="widget widget-perfil">
        <div class="widget-body">
            <ul>
                <li>
                    <a class="widget-link gsticon gsticon-question-circle" href="javascript:;">Perguntar</a>
                    <i class="gsticon gsticon-external-link"></i>
                </li><li>
                    <a class="widget-link gsticon gsticon-file-text" href="javascript:;">Criar artigo</a>
                    <i class="gsticon gsticon-external-link"></i>
                </li><li>
                    <a class="widget-link gsticon gsticon-pencil-square-o" href="javascript:;">Editar Perfil</a>
                    <i class="gsticon gsticon-external-link"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="widget widget-posts">
        <div class="widget-body">
            <ul>
                <li>
                    <a class="widget-link gsticon gsticon-star" href="javascript:;">Favoritos</a>
                </li>
                <li>
                    <a class="widget-link gsticon gsticon-eye" href="javascript:;">Ver depois</a>
                </li>
                <li>
                    <a class="widget-link gsticon gsticon-paper-plane" href="javascript:;">Sugestões</a>
                </li>
            </ul>
        </div>
    </div>
</aside>
<section class="col-lg-9">
    <nav>
        <a href="javascript:;">Feed</a>
        <a href="javascript:;">Perguntas</a>
        <a href="javascript:;">Membros</a>
        <a href="javascript:;">Sobre</a>
        <a href="javascript:;">Vídeos</a>
    </nav>
    <div class="row">
        <div class="col lg-9">
            <div class="header">
                <h2>Feed</h2>
                {% import 'parts/search.html' with placeholder="Procure um conteúdo de Python", action="/search/python" %}
            </div>
            <div class="feed-container">
                <div class="post">
                    <div class="post-header">
                        <div class="post-user"><img src="" alt=""><a href="">Iury Silva</a></div>
                        <div class="post-info">
                            <time datetime="17/06/2015">17/06/2015 às 01:34</time>
                            <div class="dropdown">
                                <i class="gsticon gsticon-gear"></i>
                            </div>
                            <div class="dropdown-list">
                                <ul>
                                    <li><a href="javascript;;">item</a></li>
                                    <li><a href="javascript;;">item</a></li>
                                    <li><a href="javascript;;">item</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="post-content">
                        <img src="" alt="">
                        <div class="post-text">
                            <h3>Microsoft lança software beta para migrar aplicativos iOS para Windows</h3>
                            <p>Aí, a gente pega essa nadeira, bonitinha, que estava ali no canto. Os caras gritam no dela e como ela não tem prepara levanta a bandeira</p>
                        </div>
                    </div>
                    <div class="post-footer">
                        <nav>
                            <a href="javascript:;">Java</a>
                            <a href="javascript:;">MySQL</a>
                            <a class="dropdown" href="javascript:;">Mais <i class="gsticon gsticon-angle-down"></i></a>
                            <div class="dropdown-list">
                                <ul>
                                    <li><a href="javascript:;">item</a></li>
                                    <li><a href="javascript:;">item</a></li>
                                    <li><a href="javascript:;">item</a></li>
                                </ul>
                            </div>
                        </nav>
                        <div class="post-stats">
                            <div class="post-stats-interation">
                                <a href="javascript:;">1026</a>
                                <a href="javascript:;">4</a>
                            </div>
                            <div class="post-stats-comments">32 Coentários</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="banner-squade"></div>
            <div class="widget widget-highlights">
                <div class="widget-header">
                    <h3>Destaques</h3>
                </div>
                <div class="widget-content widget-content--alt">
                    <div class="highlight-list">
                        <div class="highlight-item">
                            <img src="" alt="">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </div>
                        <div class="highlight-item">
                            <img src="" alt="">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </div>
                        <div class="highlight-item">
                            <img src="" alt="">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </div>
                        <div class="highlight-item">
                            <img src="" alt="">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget widget-questions">
                <div class="widget-header">
                    <h3>Destaques</h3>
                </div>
                <div class="widget-content widget-content--alt">
                    <div class="question-list">
                        <a class="question-item" href="javascript:;">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </a>
                        <a class="question-item" href="javascript:;">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </a>
                        <a class="question-item" href="javascript:;">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </a>
                        <a class="question-item" href="javascript:;">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}