{% load thumbor_tags %}
{% load avatar_tags %}

<li class="item-float-notification item-float-notification-link {% if not notification.read %}not-visualized{% endif %}"
    data-trigger="notification-as-read"
    data-csrf="{{ csrf_token }}"
    data-url-mark-as-read="{% url 'notifications:mark-as-read-and-visualized' %}"
    {% if notification.target_content_type|stringformat:"s" == "article" %}
        data-next-url="{% url 'article:view' notification.target.year notification.target.month notification.target.slug  %}#notification-general-{{ notification.id }}"
    {% elif notification.target_content_type|stringformat:"s" == "question"  %}
        data-next-url="{% url 'question:show' notification.target.slug notification.target.id %}#notification-general-{{ notification.id }}"
    {% endif %}
    data-notification="{{ notification.id }}">
    <a href="javascript:;" title="Notificação do Portal GSTI">
    <figure>
        <img src="{% get_avatar notification.author width=20 height=20 smart=False fit_in=False %}" width="20" height="20" alt="{{ notification.author.get_full_name }}">
        <span> {% if notification.target_content_type|stringformat:"s" == "article" %}
            {{ notification.author.get_full_name }} recomendou a leitura da publicação {{ notification.target.title }}
        {% elif notification.target_content_type|stringformat:"s" == "question"  %}
            {{ notification.author.get_full_name }} te recomendou a leitura da pergunta {{ notification.target.title }}
        {% endif %}</span>
      </figure>

    </a>
</li>