{% load thumbor_tags %}
{% load avatar_tags %}

<li class="item-float-notification item-float-notification-link {% if not notification.read %}not-visualized{% endif %}"
    data-trigger="notification-as-read"
    data-csrf="{{ csrf_token }}"
    data-url-mark-as-read="{% url 'notifications:mark-as-read-and-visualized' %}"
    data-next-url="{{ notification.target.get_absolute_url }}"
    data-notification="{{ notification.id }}">
    <a href="{{ notification.target.get_absolute_url }}" title="{{ notification.target.title }}">
      <figure>
        <img src="{% get_avatar notification.author width=20 height=20 smart=False fit_in=False %}" width="20" height="20" alt="{{ notification.author.get_full_name }}">
        <span>{{ notification.author.get_full_name }}</span> gostou {% if notification.target_content_type.model == 'profilestatus' %}da sua atualização de status{% else %}da sua publicação{% endif %} <span>{{ notification.target.title }}</span>
      </figure>
    </a>
{#    <!-- <a href="{% url 'profile:show' notification.author.get_username %}" title="{{ notification.author.get_full_name }}"></a> -->#}
{#    <!-- <a href="{% url 'profile:show' notification.author.get_username %}" title="{{ notification.author.get_full_name }}">{{ notification.author.get_full_name }}</a> comentou na sua <a href="{{ notification.target.get_absolute_url }}" title="{{ notification.target.title }}">publicação</a> -->#}
</li>
