{% load thumbor_tags %}
{% load avatar_tags %}

<li class="item-float-notification item-float-notification-link {% if not notification.read %}not-visualized{% endif %}"
    data-trigger="notification-as-read"
    data-csrf="{{ csrf_token }}"
    data-url-mark-as-read="{% url 'notifications:mark-as-read-and-visualized' %}"
    data-next-url="{% if  notification.author.is_active %}{% url 'profile:show' notification.author.username %}{% else %}javascript:;{% endif %}"
    data-notification="{{ notification.id }}">
    <a href="{% if  notification.author.is_active %}{% url 'profile:show' notification.author.username %}{% else %}javascript:;{% endif %}" title="{{ notification.author.get_full_name }}">
      <figure>
        <img class="img-circle" src="{% get_avatar notification.author width=20 height=20 smart=False fit_in=False %}" width="20" height="20" alt="{{ notification.author.get_full_name }}">
        <figcaption>
          <span>{{ notification.author.get_full_name }}</span> passou a te <span>seguir</span>
        </figcaption>
      </figure>
    </a>
</li>
