{% load thumbor_tags %}
{% load avatar_tags %}
{% load abs_url %}

{% if notification.target_content_type|stringformat:"s" == "article" %}
    {% url 'article:view' notification.target.year notification.target.month notification.target.slug as object_url %}
{% elif notification.target_content_type|stringformat:"s" == "question"  %}
    {% url 'question:show' notification.target.slug notification.target.id as object_url %}
{% endif %}


<li class="item-float-notification item-float-notification-link {% if not notification.read %}not-visualized{% endif %}"
    data-trigger="notification-as-read"
    data-csrf="{{ csrf_token }}"
    data-url-mark-as-read="{% url 'notifications:mark-as-read-and-visualized' %}"
    data-next-url="{% absolute_from_path object_url %}#notification-general-{{ notification.id }}"
    data-notification="{{ notification.id }}">
    <a href="{% absolute_from_path object_url %}" title="Notificação do Portal GSTI">
        <figure>
            <img  class="img-circle" src="{% get_avatar notification.author width=20 height=20 smart=False fit_in=False %}" width="20" height="20" alt="{{ notification.author.get_full_name }}">
            {% if notification.target_content_type|stringformat:"s" == "article" %}
                <span>{{ notification.author.get_full_name }}</span> recomendou a leitura de <span>{{ notification.target.title }}</span>
            {% elif notification.target_content_type|stringformat:"s" == "question"  %}
                <span>{{ notification.author.get_full_name }}</span> te recomendou a leitura de <span>{{ notification.target.title }}</span>
            {% endif %}
        </figure>

    </a>
</li>