<div class="course__author">
    <h4 class="course__author__title">Autor</h4>
    <figure class="course__author__img">
        <img class="img-responsive" src="http://placehold.it/100" alt="">

        <!-- <a href="#" class="btn-follow">Seguir</a> -->
    </figure>
    <div class="course__author__body">
        <h3 class="course__author__name">
            <a href="#">José Carlos</a>
        </h3>
        <!-- <div class="course__author__infos">
          <div class="course__author__followers">20 seguidores</div>
          <div class="course__author__occupations">Analista de Marketing, CEO, Analista de Métricas, Cientista da Computação</div>
        </div> -->
    </div>
    <div class="course__author__biography">
        <p class="course__menu__class__content" id="author-biography">
            Lorem ipsum dolor sit amet, expetendis honestatis eos honestatis eos, lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, expetendis honestatis eos honestatis eos, Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, expetendis honestat,honestat
        </p>
        <a data-toggle="showmore" href="#author-biography"><i class="gsticon gsticon-plus"></i> Detalhes</a>
    </div>
</div>
