<div class="list__avaliations">
    <h3>Avaliações</h3>
    <form class="clearfix">
        <div class="form-group">
            Avalie este curso
            <span class="thumb__course__avaliation">
              <span style="width: 60%"></span>
            </span>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="name"></textarea>
        </div>
        <button class="btn btn-primary pull-right">Enviar</button>
    </form>
    <div class="avaliation">
        <figure>
            <img class="img-responsive img-circle pull-left" src="http://placehold.it/38" alt="">
            <figcaption>
                <div class="avaliator__name">Lara Matos</div>
                <span class="thumb__course__avaliation">
                  <span style="width: 60%"></span>
                </span>
                <time class="pull-right" datetime="">2 semanas atrás</time>
            </figcaption>
        </figure>
        <div class="avaliation__comment">
          <p>Lorem ipsum dolor sit amet, expetendis honestatis eos id. Nam prima mnesarchum te, eiqui enim consulatu.</p>
        </div>
        <div class="avaliation__tools">
          <a href="#">Denunciar</a>
        </div>
    </div>
</div>
