<div class="avaliation">
    <figure class="avaliation__img">
        <img class="img-responsive img-circle pull-left" src="http://placehold.it/38" alt="">
        <figcaption class="avaliator">
            <time class="avaliation__time" datetime="1481225889175">2 semanas atrás</time>
            <div class="avaliator__name">Lara Matos</div>
            <span class="avaliation__form__rating" >
                <span data-toggle="rating" data-config='{ "rating": 4.2, "readOnly": true}'>
            </span>
        </figcaption>
    </figure>
    <div class="avaliation__comment">
        <p>Lorem ipsum dolor sit amet, expetendis honestatis eos id. Nam prima mnesarchum te, eiqui enim consulatu.</p>
    </div>
    <div class="avaliation__tools">
        <a href="#">Denunciar</a>
    </div>
</div>
