<div class="cd-dropdown-wrapper">
    <a class="cd-dropdown-trigger js-dropdown-trigger app-header-navigation-item-link" href="#menu-geral">
        <i class="gsticon gsticon-fw gsticon-th"></i>
        Categorias</a>
    <nav class="cd-dropdown">
        <a href="#menu-geral" class="cd-close toggle-slideout">Close</a>
        <ul class="cd-dropdown-content">
            <li class="has-children">
                <a href="{% url 'category:show' 'governanca-e-gestao' %}">Governança e Gestão</a>
                <ul class="cd-secondary-dropdown is-hidden">
                    <li class="go-back"><a href="#menu-geral">Categorias</a></li>
                    <li class="see-all"><a href="{% url 'category:show' 'governanca-e-gestao' %}">Ver Categoria</a></li>
                    <li class="has-children">
                        <a href="{% url 'category:show' 'governanca-e-gestao' %}">Comunidades</a>
                        <ul class="is-hidden">
                            <li class="go-back"><a href="#menu-geral">Voltar</a></li>
                            {% for community in categories.governanca_e_gestao %}
                                <li><a href="{% url "community:show" community.slug %}" title="{{ community.title }}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <a href="{% url 'category:show' 'desenvolvimento' %}">Desenvolvimento</a>
                <ul class="cd-secondary-dropdown is-hidden">
                    <li class="go-back"><a href="#menu-geral">Categorias</a></li>
                    <li class="see-all"><a href="{% url 'category:show' 'desenvolvimento' %}">Ver Categoria</a></li>
                    <li class="has-children">
                        <a href="{% url 'category:show' 'desenvolvimento' %}">Comunidades</a>
                        <ul class="is-hidden">
                            <li class="go-back"><a href="#menu-geral">Voltar</a></li>
                            {% for community in categories.desenvolvimento %}
                            <li><a href="{% url "community:show" community.slug %}" title="{{ community.title }}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <a href="{% url 'category:show' 'design' %}">Design</a>
                <ul class="cd-secondary-dropdown is-hidden">
                    <li class="go-back"><a href="#menu-geral">Categorias</a></li>
                    <li class="see-all"><a href="{% url 'category:show' 'design' %}">Ver Categoria</a></li>
                    <li class="has-children">
                        <a href="{% url 'category:show' 'design' %}">Comunidades</a>
                        <ul class="is-hidden">
                            <li class="go-back"><a href="#menu-geral">Voltar</a></li>
                            {% for community in categories.design %}
                            <li><a href="{% url "community:show" community.slug %}" title="{{ community.title }}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <a href="{% url 'category:show' 'marketing-digital' %}">Marketing Digital</a>
                <ul class="cd-secondary-dropdown is-hidden">
                    <li class="go-back"><a href="#menu-geral">Categorias</a></li>
                    <li class="see-all"><a href="{% url 'category:show' 'marketing-digital' %}">Ver Categoria</a></li>
                    <li class="has-children">
                        <a href="{% url 'category:show' 'marketing-digital' %}">Comunidades</a>
                        <ul class="is-hidden">
                            <li class="go-back"><a href="#menu-geral">Voltar</a></li>
                            {% for community in categories.marketing_digital %}
                            <li><a href="{% url "community:show" community.slug %}" title="{{ community.title }}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <a href="{% url 'category:show' 'banco-de-dados' %}">Banco de Dados</a>
                <ul class="cd-secondary-dropdown is-hidden">
                    <li class="go-back"><a href="#menu-geral">Categorias</a></li>
                    <li class="see-all"><a href="{% url 'category:show' 'banco-de-dados' %}">Ver Categoria</a></li>
                    <li class="has-children">
                        <a href="{% url 'category:show' 'banco-de-dados' %}">Comunidades</a>
                        <ul class="is-hidden">
                            <li class="go-back"><a href="#menu-geral">Voltar</a></li>
                            {% for community in categories.banco_de_dados %}
                            <li><a href="{% url "community:show" community.slug %}" title="{{ community.title }}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <a href="{% url 'category:show' 'infraestrutura' %}">Infraestrutura</a>
                <ul class="cd-secondary-dropdown is-hidden">
                    <li class="go-back"><a href="#menu-geral">Categorias</a></li>
                    <li class="see-all"><a href="{% url 'category:show' 'infraestrutura' %}">Ver Categoria</a></li>
                    <li class="has-children">
                        <a href="{% url 'category:show' 'infraestrutura' %}">Comunidades</a>
                        <ul class="is-hidden">
                            <li class="go-back"><a href="#menu-geral">Voltar</a></li>
                            {% for community in categories.infraestrutura %}
                            <li><a href="{% url "community:show" community.slug %}" title="{{ community.title }}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <a href="{% url 'category:show' 'mobile' %}">Mobile</a>
                <ul class="cd-secondary-dropdown is-hidden">
                    <li class="go-back"><a href="#menu-geral">Categorias</a></li>
                    <li class="see-all"><a href="{% url 'category:show' 'mobile' %}">Ver Categoria</a></li>
                    <li class="has-children">
                        <a href="{% url 'category:show' 'mobile' %}">Comunidades</a>
                        <ul class="is-hidden">
                            <li class="go-back"><a href="#menu-geral">Voltar</a></li>
                            {% for community in categories.mobile %}
                            <li><a href="{% url "community:show" community.slug %}" title="{{ community.title }}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <a href="{% url 'category:show' 'mais' %}">Mais</a>
                <ul class="cd-secondary-dropdown is-hidden">
                    <li class="go-back"><a href="#menu-geral">Categorias</a></li>
                    <li class="see-all"><a href="{% url 'category:show' 'mais' %}">Ver Categoria</a></li>
                    <li class="has-children">
                        <a href="{% url 'category:show' 'mais' %}">Comunidades</a>
                        <ul class="is-hidden">
                            <li class="go-back"><a href="#menu-geral">Voltar</a></li>
                            {% for community in categories.mais %}
                            <li><a href="{% url "community:show" community.slug %}" title="{{ community.title }}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>