<div class="cd-dropdown-wrapper">
    <a class="cd-dropdown-trigger js-dropdown-trigger app-header-navigation-item-link" href="#menu-geral">
        <i class="gsticon gsticon-fw gsticon-th"></i>
        Categorias</a>
    <nav class="cd-dropdown">
        <a href="#menu-geral" class="cd-close toggle-slideout">Close</a>
        <ul class="cd-dropdown-content">
            <li class="has-children">
                <a class="governance" href="{% url 'category:show' 'governanca-e-gestao' %}">
                    <i class="gsticon gsticon-fw gsticon-users" aria-hidden="true"></i>
                    Governança e Gestão</a>
                <ul class="cd-secondary-dropdown is-hidden">
                    <li class="go-back"><a href="#menu-geral">Categorias</a></li>
                    <li class="see-all"><a href="{% url 'category:show' 'governanca-e-gestao' %}">Ver Categoria</a></li>
                    <li class="has-children">
                        <a class="governance" href="{% url 'category:show' 'governanca-e-gestao' %}">Comunidades</a>
                        <ul class="is-hidden">
                            <li class="go-back"><a href="#menu-geral">Voltar</a></li>
                            {% for community in categories.governanca_e_gestao %}
                                <li><a href="{% url "community:show" community.slug %}" title="{{ community.title }}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <a class="development" href="{% url 'category:show' 'desenvolvimento' %}">
                    <i class="gsticon gsticon-fw gsticon-code" aria-hidden="true"></i>
                    Desenvolvimento</a>
                <ul class="cd-secondary-dropdown is-hidden">
                    <li class="go-back"><a href="#menu-geral">Categorias</a></li>
                    <li class="see-all"><a href="{% url 'category:show' 'desenvolvimento' %}">Ver Categoria</a></li>
                    <li class="has-children">
                        <a class="development" href="{% url 'category:show' 'desenvolvimento' %}">Comunidades</a>
                        <ul class="is-hidden">
                            <li class="go-back"><a href="#menu-geral">Voltar</a></li>
                            {% for community in categories.desenvolvimento %}
                            <li><a href="{% url "community:show" community.slug %}" title="{{ community.title }}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <a class="design" href="{% url 'category:show' 'design' %}">
                    <i class="gsticon gsticon-fw gsticon-eye" aria-hidden="true"></i>
                    Design</a>
                <ul class="cd-secondary-dropdown is-hidden">
                    <li class="go-back"><a href="#menu-geral">Categorias</a></li>
                    <li class="see-all"><a href="{% url 'category:show' 'design' %}">Ver Categoria</a></li>
                    <li class="has-children">
                        <a class="design" href="{% url 'category:show' 'design' %}">Comunidades</a>
                        <ul class="is-hidden">
                            <li class="go-back"><a href="#menu-geral">Voltar</a></li>
                            {% for community in categories.design %}
                            <li><a href="{% url "community:show" community.slug %}" title="{{ community.title }}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <a class="marketing" href="{% url 'category:show' 'marketing-digital' %}">
                    <i class="gsticon gsticon-fw gsticon-line-chart" aria-hidden="true"></i>
                    Marketing Digital</a>
                <ul class="cd-secondary-dropdown is-hidden">
                    <li class="go-back"><a href="#menu-geral">Categorias</a></li>
                    <li class="see-all"><a href="{% url 'category:show' 'marketing-digital' %}">Ver Categoria</a></li>
                    <li class="has-children">
                        <a class="marketing" href="{% url 'category:show' 'marketing-digital' %}">Comunidades</a>
                        <ul class="is-hidden">
                            <li class="go-back"><a href="#menu-geral">Voltar</a></li>
                            {% for community in categories.marketing_digital %}
                            <li><a href="{% url "community:show" community.slug %}" title="{{ community.title }}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <a class="databases" href="{% url 'category:show' 'banco-de-dados' %}">
                    <i class="gsticon gsticon-fw gsticon-database" aria-hidden="true"></i>
                    Banco de Dados</a>
                <ul class="cd-secondary-dropdown is-hidden">
                    <li class="go-back"><a href="#menu-geral">Categorias</a></li>
                    <li class="see-all"><a href="{% url 'category:show' 'banco-de-dados' %}">Ver Categoria</a></li>
                    <li class="has-children">
                        <a class="databases" href="{% url 'category:show' 'banco-de-dados' %}">Comunidades</a>
                        <ul class="is-hidden">
                            <li class="go-back"><a href="#menu-geral">Voltar</a></li>
                            {% for community in categories.banco_de_dados %}
                            <li><a href="{% url "community:show" community.slug %}" title="{{ community.title }}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <a class="infra" href="{% url 'category:show' 'infraestrutura' %}">
                    <i class="gsticon gsticon-fw gsticon-cog" aria-hidden="true"></i>
                    Infraestrutura</a>
                <ul class="cd-secondary-dropdown is-hidden">
                    <li class="go-back"><a href="#menu-geral">Categorias</a></li>
                    <li class="see-all"><a href="{% url 'category:show' 'infraestrutura' %}">Ver Categoria</a></li>
                    <li class="has-children">
                        <a class="infra" href="{% url 'category:show' 'infraestrutura' %}">Comunidades</a>
                        <ul class="is-hidden">
                            <li class="go-back"><a href="#menu-geral">Voltar</a></li>
                            {% for community in categories.infraestrutura %}
                            <li><a href="{% url "community:show" community.slug %}" title="{{ community.title }}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <a class="mobile" href="{% url 'category:show' 'mobile' %}">
                    <i class="gsticon gsticon-fw gsticon-tablet" aria-hidden="true"></i>
                    Mobile</a>
                <ul class="cd-secondary-dropdown is-hidden">
                    <li class="go-back"><a href="#menu-geral">Categorias</a></li>
                    <li class="see-all"><a href="{% url 'category:show' 'mobile' %}">Ver Categoria</a></li>
                    <li class="has-children">
                        <a class="mobile" href="{% url 'category:show' 'mobile' %}">Comunidades</a>
                        <ul class="is-hidden">
                            <li class="go-back"><a href="#menu-geral">Voltar</a></li>
                            {% for community in categories.mobile %}
                            <li><a href="{% url "community:show" community.slug %}" title="{{ community.title }}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <a class="more" href="{% url 'category:show' 'mais' %}">
                    <i class="gsticon gsticon-fw gsticon-plus" aria-hidden="true"></i>
                    Mais</a>
                <ul class="cd-secondary-dropdown is-hidden">
                    <li class="go-back"><a href="#menu-geral">Categorias</a></li>
                    <li class="see-all"><a href="{% url 'category:show' 'mais' %}">Ver Categoria</a></li>
                    <li class="has-children">
                        <a class="more" href="{% url 'category:show' 'mais' %}">Comunidades</a>
                        <ul class="is-hidden">
                            <li class="go-back"><a href="#menu-geral">Voltar</a></li>
                            {% for community in categories.mais %}
                            <li><a href="{% url "community:show" community.slug %}" title="{{ community.title }}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>