{% load thumbor_tags %}
{% load social_tags %}
{% load var_tags %}

{% set counter_content_type = "community" %}

<div class="widget  widget-feed widget-feed-category">
    <div class="widget-content">

        {% for community in communities %}
            <div class="perfil">
                <a href="{% url 'community:show' community.slug %}"><img src="{% thumbor_url community.get_picture.url width=82 height=82 smart=False fit_in=False %}" alt="{{ community.title }}"></a>
                <a href="{% url 'community:show' community.slug %}" class="perfil-name" title="{{ community.title }}">{{ community.title }}</a>
                <span class="perfil-counter"
                      data-counter="{{ community.followers }}"
                      data-refresh-counter="follow-{{ counter_content_type }}-{{ community.id }}">
                    <span class="counter-number">{{ community.followers }}</span> Seguidor{{ community.followers|pluralize:'es' }}
                </span>
                {% follow_action community request.path %}
            </div>
        {% endfor %}
        <a class="widget-footer" href="{% url 'search:search-content' "communities" %}?category={{ category.id }}">
            <i class="gsticon gsticon-plus"></i>
            Ver todos
        </a>

    </div>
</div>