{% load thumbor_tags %}
<div class="publication-carousel" data-async="./components/publication-carousel">
    {% for course in courses %}
        <div>
        <a href="{% url 'course:show' course.slug %}" class="publication-carousel-item">
            <span class="publication-carousel-image">
                <span>
                    <img width="100" height="94" src="{% thumbor_url course.image_or_default.url width=100 height=94 smart=False fit_in=False %}" width="100" height="94" alt="{{ course.title }}">
                </span>
            </span>
            <span class="publication-carousel-item-body">
                <h3 class="publication-carousel-title">{{ course.title }}</h3>
                <span data-toggle="rating" data-config='{"starWidth": "16px", "rating": {{ course.rating|floatformat:".2" }}, "readOnly": true}'></span>
            </span>
        </a>
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-sm-12 text-right">
        <a class="btn btn-link btn-show-more" href="{% url 'course:list' %}">ver mais</a>
    </div>
    <div class="col-sm-12">
        <div class="single-category">
            <span>Artigo</span>
        </div>
    </div>
</div>
