<footer class="footer">
            <div class="container">
                <ul class="list-unstyled box-list">
                    <li class="box-list-links">
                        <h3 class="h4 box-list-heading">Governança de TI</h3>
                        <ul class="list-links">
                            {% for community in footer.governanca_de_ti %}
                                <li><a href="{% url "community:show" community.slug %}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="box-list-links">
                        <h3 class="h4 box-list-heading">Desenvolvimento</h3>

                        <ul class="list-links">
                            {% for community in footer.desenvolvimento %}
                                <li><a href="{% url "community:show" community.slug %}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="box-list-links">
                        <h3 class="h4 box-list-heading">Web Design</h3>
                        <ul class="list-links">
                            {% for community in footer.web_design %}
                                <li><a href="{% url "community:show" community.slug %}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="box-list-links">
                        <h3 class="h4 box-list-heading">Marketing Digital</h3>
                        <ul class="list-links">
                            {% for community in footer.marketing_digital %}
                                <li><a href="{% url "community:show" community.slug %}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="box-list-links">
                        <h3 class="h4 box-list-heading">Infraestrutura</h3>
                        <ul class="list-links">
                            {% for community in footer.infraestrutura %}
                                <li><a href="{% url "community:show" community.slug %}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="box-list-links">
                        <h3 class="h4 box-list-heading">Banco de Dados</h3>
                        <ul class="list-links">
                            {% for community in footer.banco_de_dados %}
                                <li><a href="{% url "community:show" community.slug %}">{{ community.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
            <nav class="footer-nav">
                <div class="container">
                    <div class="row">
                        <span class="copyright">Portal GSTI © Copyright 2015</span>
                        <ul class="links-help">
                            <li class="list-item"><a href="javascript:;">Sobre</a></li>
                            <li class="list-item"><a href="javascript:;">Regras do portal</a></li>
                            <li class="list-item"><a href="javascript:;">Contato</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </footer>