{% load user_agents %}
{% load core_tags %}

<footer class="footer">
    <nav class="footer-nav">
        <div class="container">
            <div class="row">
                <span class="copyright">Portal GSTI © Copyright {% now "Y" %}</span>
                <ul class="menu-social menu-social__footer">
                    <li><a class="gsticon gsticon-facebook-square" href="https://www.facebook.com/PortalGSTIpage/" target="_blank"></a></li>
                    <li><a class="gsticon gsticon-google-plus-square" href="https://plus.google.com/b/109232763237126205281/+PortalgstiBr" target="_blank"></a></li>
                    <li><a class="gsticon gsticon-linkedin-square" href="https://www.linkedin.com/groups/4602615" target="_blank"></a></li>
                    <li><a class="gsticon gsticon-twitter-square" href="https://twitter.com/portal_gsti" target="_blank"></a></li>
                    <li><a class="gsticon gsticon-youtube-square" href="https://www.youtube.com/c/PortalgstiBr" target="_blank"></a></li>
                </ul>
                <ul class="links-help">
                    <li class="list-item"><a href="{% url 'core:about' %}">Sobre</a></li>
                    <li class="list-item"><a href="javascript:;" data-toggle="modal" data-target="#modal-rules">Regras do portal</a></li>
                    <li class="list-item"><a href="{% url 'contact:create' %}" data-contact data-async-module="click" data-async-target="#modal-content-form-contact" data-async-method="get">Contato</a></li>
                </ul>
            </div>
        </div>
    </nav>
</footer>
