{% load user_agents %} {% load core_tags %} {% load staticfiles %}

<footer class="app-footer">
    <div class="app-footer-social">
        <div class="app-footer-support">
            <p class="app-footer-support-label">APOIO:</p>
            <img class="app-footer-support-image" src="{% static 'images/logo-fapesb.png'%}" alt="Logotipo da Fundação de Amparo à Pesquisa do Estado da Bahia"
            />
            <img class="app-footer-support-image" src="{% static 'images/logo-finep.png'%}" alt="Logotipo da Financiadora de Estudos e Projetos"
            />
        </div>
        <nav class="app-footer-profiles">
            <a class="gsticon gsticon-facebook" href="https://www.facebook.com/PortalGSTIpage/" target="_blank"></a>
            <a class="gsticon gsticon-google-plus" href="https://plus.google.com/b/109232763237126205281/+PortalgstiBr" target="_blank"></a>
            <a class="gsticon gsticon-linkedin" href="https://www.linkedin.com/groups/4602615" target="_blank"></a>
            <a class="gsticon gsticon-twitter" href="https://twitter.com/portal_gsti" target="_blank"></a>
            <a class="gsticon gsticon-youtube" href="https://www.youtube.com/c/PortalgstiBr" target="_blank"></a>
        </nav>
    </div>
    <div class="app-footer-navigation">
        <div class="app-footer-container">
            <nav class="app-footer-links">
                <a class="app-footer-navigation-link app-footer-logo" href="/" title="Portal GSTI">Portal GSTI</a>
                <a class="app-footer-navigation-link" href="{% url 'core:about' %}">Sobre</a>
                <a class="app-footer-navigation-link" href="javascript:;" data-toggle="modal" data-target="#modal-rules">Regras do portal</a>
                <a class="app-footer-navigation-link" href="{% url 'contact:create' %}" data-contact data-async-module="click" data-async-target="#modal-content-form-contact"
                    data-async-method="get">Contato</a>
            </nav>
            <div class="app-footer-copyright">
                <p>Portal GSTI © Copyright {% now "Y" %}</p>
            </div>
        </div>
    </div>
</footer>