<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <span class="pull-right close" data-dismiss="modal" aria-label="Close"><span class="gsticon gsticon-close"></span></span>
            <h4 class="modal-title">{{ title }}</h4>
        </div>
        <div id="modal-content-contact-successfully" class="modal-body">
            <div class="modal-menssage">
                <i class="gsticon gsticon-check"></i>
                <h4 class="message-title">{{ message }}</h4>
            </div>
        </div>
    </div>
</div>