.page-category {
  padding-bottom: 50px;
  background-color: $background-color;
  &-banner {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  &-container {
    margin: 0 auto 25px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
  &-posts {
    display: flex;
  }
  &-subtitle,
  &-title {
    font: 700 20px/24px "Open Sans";
    letter-spacing: 0.5px;
    text-transform: uppercase;
    span {
      padding: 0 20px 9px 0;
      margin-bottom: -1px;
      display: inline-block;
      border-bottom: 3px solid;
    }
    .governance {
      color: $color-governance;
      border-color: $color-governance;
    }
    .development {
      color: $color-development;
      color: $color-development;
    }
    .design {
      color: $color-design;
      border-color: $color-design;
    }
    .marketing {
      color: $color-marketing;
      border-color: $color-marketing;
    }
    .infra {
      color: $color-infra;
      border-color: $color-infra;
    }
    .databases {
      color: $color-databases;
      border-color: $color-databases;
    }
    .mobile {
      color: $color-mobile;
      border-color: $color-mobile;
    }
    .more {
      color: $color-more;
      border-color: $color-more;
    }
  }
  &-subtitle {
    margin: 20px 0 15px;
    border-bottom: 1px solid #d7d7d7;
    font: 700 20px/18px "Open Sans";
  }
}

@include at-most($screen--phone) {
  .page-category {
    &-container {
      max-width: 95%;
      flex-direction: column;
      .app-card {
        margin-bottom: 20px;
      }
    }
    &-vermais {
      padding: 15px;
      display: block;
      border: 1px solid #e5e5e5;
      background-color: white;
      text-align: center;
    }
    &-latests {
      flex-direction: column;
      .app-card {
        margin-bottom: 20px;
      }
    }
  }
}

@include at-most($screen--tablet) {
  .page-category {
    &-aside {
      width: 100%;
      padding-left: 0;
      .aside-box {
        width: calc(50% - 20px);
        margin: 0 10px;
        float: left;
      }
    }
    &-latests {
      width: 100%;
    }
    &-content-after {
      flex-direction: column;
    }
  }
}

@include at-least($screen--tablet) {
  .page-category {
    &-container {
      max-width: $container--tablet;
      .app-card {
        padding-right: 13.6666667px;
        padding-left: 13.6666667px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
    &-vermais {
      position: absolute;
      top: 25px;
      right: 0;
      font-size: 12px;
    }
  }
}

@include at-least($screen--tablet + 1) {
  .page-category {
    &-latests {
      width: 75%;
      .app-card {
        margin-bottom: 30px;
      }
    }
    &-aside {
      width: 25%;
      padding-top: 50px;
      padding-left: calc(13.6666667px * 2);
    }
  }
}
@include at-least($screen--desktop) {
  .page-category {
    &-container {
      max-width: $container--desktop;
    }
  }
}

@include between(($screen--desktop + 1), $screen--wide) {
  .page-category {
    &-container {
      width: 100%;
      max-width: $container--wide;
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}

@include at-least($screen--wide) {
  .page-category {
    &-container {
      max-width: $container--wide;
    }
  }
}
