.page-home {
  padding-bottom: 50px;
  background-color: $background-color;
  &-banner {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  &-container {
    margin: 0 auto 25px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
  &-category-posts {
    display: flex;
  }
  &-category {
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
  }
  &-category-title {
    margin: 20px 0 15px;
    border-bottom: 1px solid #d7d7d7;
    font: 700 20px/18px "Open Sans";
    a,
    span {
      padding: 0 20px 9px 0;
      margin-bottom: -1px;
      display: inline-block;
      border-bottom: 3px solid;
    }
    .governance {
      color: $color-governance;
      border-color: $color-governance;
    }
    .development {
      color: $color-development;
      border-color: $color-development;
    }
    .design {
      color: $color-design;
      border-color: $color-design;
    }
    .marketing {
      color: $color-marketing;
      border-color: $color-marketing;
    }
    .infra {
      color: $color-infra;
      border-color: $color-infra;
    }
    .databases {
      color: $color-databases;
      border-color: $color-databases;
    }
    .mobile {
      color: $color-mobile;
      border-color: $color-mobile;
    }
    .more {
      color: $color-more;
      border-color: $color-more;
    }
  }

  &-news {
    flex-direction: column;
    &-content {
      display: flex;
    }
    &-title {
      position: relative;
      margin-bottom: 35px;
      color: $primary-color;
      font: 700 20px/18px "Open Sans";
      text-align: center;
      text-transform: uppercase;
      &::before,
      &::after {
        position: absolute;
        top: 10px;
        display: block;
        content: " ";
        width: 42%;
        height: 1px;
        background-color: $primary-color;
      }
      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
    }
  }
  &-vermais {
    &.governance {
      color: $color-governance;
    }
    &.development {
      color: $color-development;
    }
    &.design {
      color: $color-design;
    }
    &.marketing {
      color: $color-marketing;
    }
    &.infra {
      color: $color-infra;
    }
    &.databases {
      color: $color-databases;
    }
    &.mobile {
      color: $color-mobile;
    }
    &.more {
      color: $color-more;
    }
  }
}

@include at-most($screen--phone) {
  .page-home {
    &-container {
      max-width: 95%;
      flex-direction: column;
      .app-card {
        margin-bottom: 20px;
      }
    }
    &-vermais {
      padding: 15px;
      display: block;
      border: 1px solid #e5e5e5;
      background-color: white;
      text-align: center;
    }
    &-category-posts {
      flex-direction: column;
      .app-card {
        margin-bottom: 20px;
      }
    }
    &-communities {
      padding: 10px 15px;
    }
    &-news-content {
      flex-direction: column;
    }
    &-news-title::after,
    &-news-title::before {
      width: 30%;
    }
  }
}

@include at-most($screen--tablet) {
  .page-home {
    &-categories {
      width: 100%;
    }
    &-content-after {
      flex-direction: column;
    }
  }
}

@include between($screen--phone, ($screen--tablet + 1)) {
  .page-home {
    &-aside {
      .aside-box {
        width: calc(50% - 40px);
        margin: 0 10px;
        float: left;
      }
    }
  }
}
@include at-least($screen--tablet) {
  .page-home {
    &-container {
      max-width: $container--tablet;
      .app-card {
        padding-right: 13.6666667px;
        padding-left: 13.6666667px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
    &-vermais {
      position: absolute;
      top: 25px;
      right: 0;
      font-size: 12px;
    }
  }
}

@include at-least($screen--tablet + 1) {
  .page-home {
    &-categories {
      width: 75%;
    }
    &-aside {
      width: 25%;
      padding-top: 50px;
      padding-left: calc(13.6666667px * 2);
    }
  }
}
@include at-least($screen--desktop) {
  .page-home {
    &-container {
      max-width: $container--desktop;
    }
  }
}

@include between(($screen--desktop + 1), $screen--wide) {
  .page-home {
    &-container {
      width: 100%;
      max-width: $container--wide;
      padding-right: 30px;
      padding-left: 30px;
    }
    &-communities {
      max-width: calc(100% - 100px);
      padding-right: 50px;
      padding-left: 50px;
    }
  }
}

@include at-least($screen--wide) {
  .page-home {
    &-container {
      max-width: $container--wide;
    }
    &-communities {
      max-width: calc(100% - 100px);
      padding-right: 50px;
      padding-left: 50px;
    }
  }
}
