{%extends 'home/layout/base.html' %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}Portal GSTI - Criar Pergunta{% endblock %}

{% block content %}
{% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

{{ form.non_field_errors }}

<div class="modal fade" data-target="modal" id="modal-denunciar">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form id="confirmation-form" method="post" data-ajaxform="true" data-group-class=".alert-container" action="{% url 'complaint:report' %}" method="post">
                {% csrf_token %}

                <input type="hidden" name="content_type" value="{{ content_type }}" />
                <input type="hidden" name="object_id" value="{{ content_object.id }}" />

                <div class="modal-header">
                    <span class="pull-right close" data-dismiss="modal" aria-label="Close"><span class="gsticon gsticon-close"></span></span>
                    <h4 class="modal-title">Denunciar publicação</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-form clearfix">
                        {% for type in type_complaint %}
                            <label class="form-group custom-input">
                                <span class="custom-radio">
                                    <input type="radio" name="complaint_type" class="complaint_type" value="{{ type.id }}" />
                                </span>
                                {%  trans type.description %}
                            </label>
                        {% endfor %}
                        <div class="childs-radios" style="display:none" id="communities">
                                {% for community in communities %}
                                    <label class="form-group custom-input">
                                        <span class="custom-radio">
                                            <input type="checkbox" value="{{ community.id }}" class="community_complaint" />
                                        </span>
                                        {{ community.title }}
                                    </label>
                                {% endfor %}
                            <label class="form-group custom-input">
                                <span class="custom-radio">
                                    <input type="checkbox" value="1" class="community_complaint">
                                </span>
                                CSS
                            </label>
                            <label class="form-group custom-input">
                                <span class="custom-radio">
                                    <input type="checkbox" value="2" class="community_complaint">
                                </span>
                                HTML
                            </label>
                            <label class="form-group custom-input">
                                <span class="custom-radio">
                                    <input type="checkbox" value="3" class="community_complaint">
                                </span>
                                Javascript
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn-error btn-block" aria-label="Close">Denunciar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    $('input[type=radio][name=complaint_type]').change(function() {
        if($('input[type=radio][name=complaint_type]:checked').val() == 5) {
            $("#communities").slideDown();
        } else {
            $("#communities").slideUp();
            $(".community_complaint:checked").each(function() {
                $(".community_complaint").prop("checked", false);
            });
        }
    });

    $("#confirmation-form").on('submit', function(event){
        event.preventDefault();

        console.log("teste");
        var complaint_type = $('input[type=radio][name=complaint_type]:checked').val();
        var communities = [];
        if (complaint_type == 5) {
            $(".community_complaint:checked").each(function() {
                communities.push($(this).val());
            });
        }

        console.log(communities);
        // ajax de submissão
        // No success do Ajax chamar $('#modal-denunciar').modal('hide');
    });


</script>
{% endblock %}