<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <form id="form-report" method="post" action="{% url 'complaint:report' content_type.model content_object.id %}" data-community-complaint="{{ community_complaint }}" data-ajaxform="true" data-group-class=".form-group">

            {% csrf_token %}

            <input type="hidden" name="content_type" value="{{ content_type }}" />
            <input type="hidden" name="object_id" value="{{ content_object.id }}" />

            <div class="modal-header">
                <span class="pull-right close" data-dismiss="modal" aria-label="Close"><span class="gsticon gsticon-close"></span></span>
                <h4 class="modal-title">Denunciar publicação</h4>
            </div>
            <div class="modal-body">
                <div class="modal-form clearfix">

                    {% for type in type_complaint %}
                        {% if content_type.model == "comment" and type.id != community_complaint or content_type.model != "comment" %}
                        <div class="form-group">
                            <label class="custom-input">
                                <span class="custom-radio">
                                    <input type="radio" name="complaint_type" class="complaint_type" value="{{ type.id }}" />
                                </span>
                                {{ type.description }}
                            </label>
                        </div>
                        {% endif %}
                    {% endfor %}

                    {% if communities %}
                    <div class="childs-radios" style="display:none" id="communities">
                        {% for community in communities %}
                            <div class="form-group">
                                <label class="custom-input">
                                    <span class="custom-radio">
                                        <input type="checkbox" value="{{ community.id }}" name="community_complaint" class="community_complaint" />
                                    </span>
                                    {{ community.title }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                </div>
                <button type="submit" class="btn-error btn-block" aria-label="Close">Denunciar</button>
            </div>
        </form>
    </div>
</div>