{% load thumbor_tags %}
{% load avatar_tags %}

{% firstof notification.target.getabsoluteurl 'javascript:;' as notification_url %}

<div id="notification-general-{{ notification.id }}" class="post{% if not notification.read %} not-visualized{% endif %}"
     data-notification-item="{{ notification.id }}"
     data-trigger="notification-as-read"
     data-csrf="{{ csrf_token }}"
     data-url-mark-as-read="{% url 'notifications:mark-as-read-and-visualized' %}"
     data-next-url="{% url 'notifications:general' %}#notification-general-{{ notification.id }}"
     data-notification="{{ notification.id }}">
    <header class="post-header">
        <div class="post-info"><time style="display: block;" datetime="{{ notification.notification_date }}" itemprop="datePublished"
            data-toggle="tooltip" data-placement="auto top" data-original-title="{{ notification.notification_date|date:'d/m/Y à\s H:i' }}" class="time">
                <i class="gsticon gsticon-clock-o"></i>
            </time></div>
        <div class="message">
            Você recebeu uma <a href="{{ notification_url }}">mensagem</a> do <a href="{{ notification_url }}">Portal GSTI</a> com titulo de <a href="{{ notification_url }}">{{ notification.target.title }}</a>
        </div>
    </header>
</div>