{% load thumbor_tags %}
{% load avatar_tags %}

<div id="notification-general-{{ notification.id }}" class="post {% if not notification.read %}not-visualized{% endif %}"
     data-notification-item="{{ notification.id }}"
     data-trigger="notification-as-read"
     data-csrf="{{ csrf_token }}"
     data-url-mark-as-read="{% url 'notifications:mark-as-read-and-visualized' %}"
     data-next-url="{% url 'notifications:general' %}#notification-general-{{ notification.id }}"
     data-notification="{{ notification.id }}">
    <header class="post-header">
        <div class="post-info"><time style="display: block;" datetime="{{ notification.notification_date }}" itemprop="datePublished">{{ notification.notification_date|date:"d/m/Y à\s H:i" }}</time></div>
        <div class="post-creator">
            Você recebeu uma <a href="javascript:;">mensagem</a> do <a href="javascript:;">Portal GSTI</a> com titulo de <a href="javascript:;">{{ notification.target.title }}</a>
        </div>
    </header>
</div>