.profession {}
.profession__categories {
  color: #4d6479;
}
.profession__img {
  margin-left: 20px;
  margin-bottom: 20px;
  float: right;
}

.profession-name {
  margin-top: 0;
  color: #486075;
  font: 700 18px/22px "Open Sans";
}
.profession,
.profession p {
  color: #6f6f6f;
  font: 400 17px/30px "Open Sans";
  letter-spacing: -0.05em;
}

@media (max-width: $screen-sm-min) {
  .profession__img {
    display: none;
    clip: rect(0, 0, 0, 0);
  }
}
