.professional__jobs {}
.professional__jobs__list {}
.profession__job {
  @include clearfix();
  padding-bottom: 15px;
  margin-bottom: 15px;
  display: block;
  border-bottom: 1px solid #e1e1e1;
  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}
.profession__job__avatar {
  max-width: 87.5px;
  margin: 4px 10px 4px 0;
  float: left;
  border: 1px solid #e1e1e1;
}
.profession__job__avatar__img {
  border: 7px solid #fff;
}
