{% extends 'home/layout/base.html' %}


{% load avatar_tags %}
{% load thumbor_tags %}

{% block seo-og-title %}{% block seo_title %}{{ flatpage.title }}{{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}{{ flatpage.title }}{% endblock %}{% endblock %}

{% block content %}

    <main class="container main">
        <div class="col-lg-8">
            <header class="area-title">
                <h1>{{ flatpage.title }}</h1>
            </header>

            {{ flatpage.content }}

        </div>

        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-4by3 embed-responsive-4by3-mobile">
                <iframe class="embed-responsive-item" width="100%" height="300" src="https://www.youtube.com/embed/cn8TKpFagfw" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </main>

{% endblock %}
