{% load social_tags %}
{% load thumbor_tags %}
{% load taxonomy_tags %}
{% load avatar_tags %}

<div class="col-lg-12">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        {% if article and article.feed.first and article.feed.first.official %}
            <div class="label-official-content"
                 data-toggle="tooltip"
                 data-original-title="Conteúdo Oficial"></div>
        {% endif %}
        <header class="post-header">
            <div class="post-info">
                <time datetime="{{ article.publishin }}" itemprop="datePublished">{{ article.publishin|date:'d/m/Y' }} às {{ article.publishin|date:'G:i' }}</time>
                <a href="javascript:;" data-toggle="dropdown"><i class="gsticon gsticon-gear"></i></a>
                <div class="dropdown-menu">
                    <ul class="perfil-actions">
                        {% if article.author == request.user %}<li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" href="javascript:;"><i class="gsticon gsticon-edit"></i> Editar publicação</a></li>{% endif %}
                        <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" href="javascript:;" data-suggest-modal="true" data-content="article" data-object="{{ article.id }}" data-url="{% url 'socialactions:act-suggest' article.id 'article' %}"><i class="gsticon gsticon-paper-plane"></i> Sugerir</a></li>
                        <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" data-action="see-later" data-action-type="text" data-action-text="Ver depois" data-action-text-alt="Marcar como visto" data-object="see-later-{{ article.id }}" data-url-check="{% url 'socialactions:acted' article.id 'article' 'see-later' %}" href="{% url 'socialactions:act-xhr' article.id 'article' 'see-later' %}?url_next={{ request.path|urlencode }}"><i class="gsticon gsticon-eye"></i> <span>Ver depois</span></a></li>
                        <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" data-action="favourite" data-action-type="text" data-action-text="Favoritar" data-action-text-alt="Desfavoritar" data-object="favourite-{{ article.id }}" data-article="{{ article.id }}" data-url-check="{% url 'socialactions:acted' article.id 'article' 'favourite' %}" href="{% url 'socialactions:act-xhr' article.id 'article' 'favourite' %}?url_next={{ request.path|urlencode }}"><i class="gsticon gsticon-star"></i> <span>Favoritar</span> </a></li>
                        <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" href="{% url 'complaint:report' 'article' article.id %}" data-report="true" data-async-module="click" data-async-target="#modal-report" data-async-method="get"><i class="gsticon gsticon-exclamation-triangle"></i> Denunciar</a></li>
                    </ul>
                </div>
            </div>
            <a class="post-creator" href="{% url 'profile:show' username=article.author.username %}">
                <img src="{% get_avatar article.author width=20 height=20 smart=False fit_in=False %}" alt="foto de {{ article.author.get_full_name }}">
                {{article.author.get_full_name}}
            </a>
        </header>
        <a class="post-content" href="{% url 'article:view' article.slug article.id %}" itemprop="articleBody">
            <figure>
                {% if article.get_image %}
                    <img src="{% thumbor_url article.get_image.url width=170 height=128 smart=False fit_in=False %}" alt="{{ article.title }}">
                {% endif %}
            </figure>
            <div class="post-text">
                <h3 class="post-title" itemprop="headline">{{ article.title }}</h3>
                <p>
                    {% if article.get_image %}
                        {{ article.text|striptags|safe|escape|slice:":150"}}...
                    {% else %}
                        {{ article.text|striptags|safe|escape|slice:":250"}}{% if article.text|striptags|safe|escape|length > 250 %}...{% endif %}
                    {% endif %}
                </p>
            </div>
        </a>
        <footer class="post-footer">
            {% taxonomies article %}
            <div class="post-toolbar pull-right">
                <div class="post-count">{% like_box article request.path "inline" %}</div>
                <div class="post-count-comments">
                    <span id="load-count-comment-article"
                          data-load-async="true"
                          data-load-async-url="{% url 'comment:count' article.id "article" %}"
                          data-load-async-method="get"
                          data-load-async-response-type="json">
                        <strong class="load-async load-async-content">0</strong>
                        {% csrf_token %}
                    </span> Comentários
                </div>
            </div>
        </footer>
    </article>
</div>