{% if questions.object_list %}

    {% for question in questions %}
        {% include "search/partials/search-questions-segment.html" %}
    {% endfor %}

    {% if questions and questions.has_next %}
    <div class="col-lg-12">
        <a data-jscroll-next-questions href="{% url 'search:list' "questions" %}?q={{ query_search|urlencode|default:"" }}&page={{ page|default:2 }}" class="btn-default btn-block">Carregar mais resultados</a>
    </div>
    {% endif %}

{% else %}
        <p class="text-center">Nenhum resultado foi encontrado para a busca!</p>
{% endif %}