
{% if feed_questions %}

    {% for feed in feed_questions %}
        {% include "userprofile/partials/question-segment.html" with instance=feed.content_object %}
    {% endfor %}

    {% if feed_questions and feed_questions.has_next %}
    <div class="col-lg-12">
        <a data-jscroll-next-questions href="{% url 'search:list' "questions" %}?q={{ query_search|urlencode|default:"" }}&page={{ page|default:2 }}" class="btn-default btn-block">Carregar mais resultados</a>
    </div>
    {% endif %}

{% endif %}
