{% load thumbor_tags %}
{% load avatar_tags %}
{% load social_tags %}
{% load taxonomy_tags %}
{% load humanize %}

<div class="col-lg-12">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        {% if question and question.feed.first and question.feed.first.official %}
            <div class="label-official-content"
                 data-toggle="tooltip"
                 data-original-title="Conteúdo Oficial"></div>
        {% endif %}
        <header class="post-header">
            <div class="post-info">
                <time datetime="{{ question.question_date }}" itemprop="datePublished">
                    {{ question.question_date|naturaltime }}
                </time>
                <a href="javascript:;" data-toggle="dropdown"><i class="gsticon gsticon-gear"></i></a>
                <div class="dropdown-menu">
                    <ul class="perfil-actions">
                        {% if question.author == request.user %}<li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" href="{% url "question:edit" question.id %}"><i class="gsticon gsticon-edit"></i> Editar pergunta</a></li>{% endif %}
                        <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" href="javascript:;" data-suggest-modal="true" data-content="question" data-object="{{ question.id }}" data-url="{% url 'socialactions:act-suggest' question.id 'question' %}"><i class="gsticon gsticon-paper-plane"></i> Sugerir</a></li>
                        <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" data-action="see-later" data-action-type="text" data-action-text="Ver depois" data-action-text-alt="Marcar como visto" data-object="see-later-{{ question.id }}" data-url-check="{% url 'socialactions:acted' question.id 'question' 'see-later' %}" href="{% url 'socialactions:act-xhr' question.id 'question' 'see-later' %}?url_next={{ request.path|urlencode }}"><i class="gsticon gsticon-eye"></i> <span>Ver depois</span></a></li>
                        <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" data-action="favourite" data-action-type="text" data-action-text="Favoritar" data-action-text-alt="Desfavoritar" data-object="favourite-{{ question.id }}" data-question="{{ question.id }}" data-url-check="{% url 'socialactions:acted' question.id 'question' 'favourite' %}" href="{% url 'socialactions:act-xhr' question.id 'question' 'favourite' %}?url_next={{ request.path|urlencode }}"><i class="gsticon gsticon-star"></i> <span>Favoritar</span></a></li>
                        <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" href="{% url 'complaint:report' 'question' question.id %}" data-report="true" data-async-module="click" data-async-target="#modal-report" data-async-method="get"><i class="gsticon gsticon-exclamation-triangle"></i> Denunciar</a></li>
                    </ul>
                </div>
            </div>
            <a class="post-creator" href="{% url 'profile:show' username=question.author.username %}">
                <img src="{% get_avatar question.author width=20 height=20 smart=False fit_in=False %}" alt="foto de {{ question.author.get_full_name }}">
                {{ question.author.get_full_name }}
            </a> <span class="label label-question">Pergunta</span>
        </header>
        <a class="post-content" href="{% url 'question:show' question.slug question.id %}" itemprop="articleBody">
            <div class="post-text">
                <h3 class="post-title" itemprop="headline">{{ question.title }}</h3>
                <p>{{ question.description|safe|slice:":250"}}... </p>
            </div>
        </a>
        <footer class="post-footer">
            <nav class="post-communities">
                {% taxonomies question %}
            </nav>
            <div class="post-toolbar pull-right">
                <div class="post-count">{% like_box question request.path "inline" %}</div>
                <div class="post-count-comments"><strong>{{ question.counter_answer }}</strong> Resposta(s)</div>
            </div>
        </footer>
    </article>
</div>