{% if feed_articles %}

    {% for feed in feed_articles %}

        {% include "userprofile/partials/article-segment.html" with instance=feed.content_object %}
    {% endfor %}

    {% if feed_articles and feed_articles.has_next %}
        <a data-jscroll-next-articles href="{% url 'search:list' "articles" %}?q={{ query_search|default:""|default_if_none:""|urlencode }}&page={{ page|default:2 }}" class="btn-default btn-block">Carregar mais resultados</a>
    {% endif %}

{% else %}
        <p class="text-center">Nenhum resultado foi encontrado para a busca!</p>
{% endif %}
