<div class="col-lg-4">
    <div class="widget widget-box">
        <div class="widget-content">
            <ul class="perfil-repositories">
                <li {% if local_context == "account" %}class="active"{% endif %}>
                    <a href="{% url 'configuration:account' %}"><i class="gsticon gsticon-user"></i>
                        Conta
                    </a>
                </li>
                <li {% if local_context == "notification" %}class="active"{% endif %}>
                    <a href="{% url 'configuration:notification' %}"><i class="gsticon gsticon-bell"></i>
                        Notificações
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>