<div class="col-lg-4">
    <div class="widget widget-box squad-advertising">
        <div class="widget-content">
            <ul class="perfil-repositories">
                <li>
                    {% if local_context == "account" %}
                        <strong>
                    {% endif %}
                <a href="{% url 'configuration:account' %}"><i class="gsticon gsticon-user"></i>
                    Conta
                </a>
                    {% if local_context == "account" %}
                        </strong>
                    {% endif %}

                </li>
                <li>
                    {% if local_context == "notification" %}
                        <strong>
                    {% endif %}
                    <a href="{% url 'configuration:notification' %}"><i class="gsticon gsticon-bell"></i> Notificações</a>
                        {% if local_context == "account" %}
                        </strong>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    <div class="squad-advertising">
        <img class="img-responsive" src="http://placehold.it/270x225" alt="Propaganda aqui">
    </div>
</div>