<div class="col-lg-4">
    <div class="widget widget-box squad-advertising">
        <div class="widget-content">
            <ul class="perfil-repositories">
                <li><a href="{% url 'configuration:account' %}"><i class="gsticon gsticon-user"></i> Conta</a></li>
                <li><a href="{% url 'configuration:notification' %}"><i class="gsticon gsticon-bell"></i> Notificações</a></li>
            </ul>
        </div>
    </div>
    <div class="squad-advertising">
        <img class="img-responsive" src="http://placehold.it/270x225" alt="Propaganda aqui">
    </div>
</div>