{% extends 'article/article-base.html' %}

{% load avatar_tags %}
{% load thumbor_tags %}

{% block seo-og-title %}{% block seo_title %}Criar Publicação{{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}Área para criar uma publicação sobre algum tema relacionado a tecnologia. Aqui é o lugar para compartilhar seu conhecimento.{% endblock %}{% endblock %}

{% block seo-metas-extra %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}