{% extends 'article/article-base.html' %}

{% load avatar_tags %}
{% load thumbor_tags %}

{% block seo-og-title %}{% block seo_title %}Editar Conteúdo -> Publicações | {{ request.user.get_full_name }}{{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}Área para editar as publicações que foram feitas da sua conta no Portal GSTI.{% endblock %}{% endblock %}
{% block seo-og-image %}{% get_avatar request.user width=90 height=90 smart=False fit_in=False %}{% endblock %}

{% block seo-metas-extra %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}