{% extends "home/layout/base.html" %}

{% load taxonomy_tags %}
{% load core_tags %}
{% load profile_tags %}
{% load social_tags %}
{% load article_tags %}
{% load thumbor_tags %}
{% load user_agents %}
{% load staticfiles %}
{% load avatar_tags %}
{% load humanize %}
{% load url_utils %}
{% load abs_url %}
{% load comment_tags %}
{% load ads %}
{% load avatar_tags %}
{% load thumbor_tags %}
{% load utils %}
{% block seo-og-title %}{% block seo_title %}{{ article.title }}{{ block.super }}{% endblock %}{% endblock %}
{% block seo-og-description %}{% block seo-description %}{{ article.text|seo_description }}{% endblock %}{% endblock %}
{% block seo-og-image %}{% if article.image and article.image.url  %}{% thumbor_url article.image.url width=480 height=250 smart=False fit_in=False %}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block seo-og-type %}article{% endblock %}

{% block seo-og-url %}{{ request.path|root  }}{% url 'article:view' article.year article.month article.get_first_slug %}{% endblock %}

{% block seo-metas-extra %}

    {{ block.super }}

    {% if article.feed.first.seo_no_index == True or article.feed.first.seo_no_follow == True %}
        <meta name="robots" content="{% seo_feed_robots article.feed.first.seo_no_index article.feed.first.seo_no_follow %}">
    {% endif %}
    <link rel="amphtml" href="{% absolute_url 'amp:article-single' article.year article.month article.get_first_slug %}">

{% endblock %}

{% block editorfiles %}{% endblock %}
{% block ld_json %}
    {% url 'profile:show' article.author.username as author_url %}
    <script type="application/ld+json">
    {% comment %}TODO Refactor to a JSON generator{% endcomment %}
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "name": "{{ article.title }}",
            "author": {
            "@type": "Person",
                "image": "{% get_avatar article.author width=90 height=90 smart=False fit_in=False %}",
                "name": "{{ article.author.get_full_name }}",
                "sameAs": "{% absolute_url author_url %}"
            },
            "mainEntityOfPage": "{{ request.path|root  }}{% url 'article:view' article.year article.month article.get_first_slug %}",
            "publisher": {
            "@type": "Organization",
            "name": "Portal GSTI",
               "logo":{
                 "@type":"ImageObject",
                 "url":"{% static 'images/gsti.png' %}",
                 "height":40,
                 "width":126
              }
            },
           "headline":"{{ article.title }}",
           "datePublished":"{{ article.publishin }}",
           "dateModified":"{{ article.updatein }}",
           "commentCount": {{ article.comment_count|default_if_none:0 }},
           "interactionStatistic": [
                {
                    "@type": "InteractionCounter",
                    "interactionType": "http://schema.org/LikeAction",
                    "userInteractionCount": {{ article.like_count|default_if_none:0 }}
                },
                {
                    "@type": "InteractionCounter",
                    "interactionType": "http://schema.org/DislikeAction",
                    "userInteractionCount": {{ article.dislike_count|default_if_none:0 }}
                }
           ]
           {% if feed.communities %}
            ,"about":[
                {% for community in  feed.communities.all %}
                    "{{ community.title }}"{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]
           {% endif %}
           {% if article.image %}
               ,"image":{
                  "@type":"ImageObject",
                  "url":"{% thumbor_url article.image.url width=700 height=260 smart=False fit_in=False %}",
                  "width": 700,
                  "height": 260
               }

               {% else %}
               {% static 'images/gsti-default-og-image.png' as default_image %}
               ,"image":{
                  "@type":"ImageObject",
                  "url":"{% thumbor_url default_image width=700 height=260 smart=False fit_in=False %}",
                  "width": 700,
                  "height": 260
               }

               {% endif %}
        }
    </script>
{% endblock ld_json %}

{% block content %}

<main class="container single">
{#    {% include "article/partials/advertising.html" %}#}
    {% courses_by_taxonomies feed.taxonomies.all 4 %}

    <h1 class="single-title">{{ article.title }}</h1>
    {% include "article/partials/social-actions.html" %}
    <div class="row">
        <div class="single-main">
            <div class="single-header">
                <div class="single-main-about">
                    <a href="{% if  article.author.is_active %}{% url 'profile:show' article.author.username %}{% else %}javascript:;{% endif %}">
                        <span class="single-author-image">
                            <img width="40" height="40" src="{% get_avatar article.author width=40 height=40 smart=False fit_in=False %}" alt="foto de {{ instance.author.get_full_name }}">
                            {% if article.author.profile.contributor %}
                            <div class="is-official" data-toggle="tooltip" data-placement="bottom" title="Colaborador do Portal"></div>
                            {% endif%}
                        </span>
                    </a>
                    <div class="single-main-about-body">
                        <a class="single-author" href="{% if  article.author.is_active %}{% url 'profile:show' article.author.username %}{% else %}javascript:;{% endif %}">{{ article.author.get_full_name }}</a>
                        <span class="single-main-about-info">
                            <time class="single-time" datetime="{{ article.publishin|date:'d/m/Y G:i' }}" data-toggle="tooltip" data-placement="auto top" data-original-title="{{ article.publishin|date:'d/m/Y' }} às {{ article.publishin|date:'G:i' }}" itemprop="datePublished" ><i class="gsticon gsticon-clock-o"></i>{{ article.publishin|naturaltime }}</time>
                            {% if feed and feed.official %}
                                <span class="single-official">
                                <i class="gsti-rocket"></i> CONTEÚDO EM DESTAQUE
                            </span>
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class="single-main-reactions">
                    {% like_box article request.path 'inline' %}
                </div>
                {% if feed.communities.all %}
                    <nav class="single-communities">
                    <label for="drop-communities" class="toggle-menu">
                        Comunidades <span class="gsticon gsticon-angle-down"></span>
                    </label>
                    <input type="checkbox" name="toggle" id="drop-communities">
                    <ul class="drop-communities">
                        {% for community in feed.communities.all  %}
                            <li><a href="{% url 'community:show' community.slug %}">{{ community.title }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
                {% endif %}

            </div>
            <div class="single-main-content" data-target="post-content">
                {% thumbor_replace article.text %}
            </div>
            <div class="publication-main-footer">
                <div class="clearfix">
                    <a class="btn-denunciar pull-right" data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" href="{% url 'complaint:report' 'article' article.id %}" data-report="true" data-async-module="click" data-async-target="#modal-report" data-async-method="get"><i class="gsticon gsticon-flag"></i> Denunciar</a>

                </div>
               {% include 'userprofile/templatetags/profile-box.html' with profile=article.author.profile partial_template="userprofile/templatetags/profile-box-horizontal.html" %}

                <div id="load-related-posts" data-load-async="true" data-load-async-url="{% url 'core:related-posts' article.id "article" "article" 3 %}" data-load-async-url-next="{{ request.path }}" data-load-async-method="get" data-load-async-response-type="json" data-load-async-timeout="1">
{#                    {% include "article/partials/recomendations.html" %}#}
                    <div class="load-async load-async-content">
                    <div class="load-async-preload"></div>
                    </div>
                    {% csrf_token %}
                            <div class="advertising-horizontal hidden-xs">
                        {% ads_only_production "article_bottom" "all"  %}
                    </div>
                </div>

            </div>
        <header class="widget" id="comments">
            {% if has_old_comments %}
                <div class="order-by">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-filter-posts" data-toggle="dropdown" aria-haspopup="true"><span> {% if request.GET.old_comment_style %}Mais antigos{% else %}Mais recentes{% endif %} </span><i class="gsticon gsticon-caret-down"></i></button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-filter-posts">
                            <li {% if not request.GET.old_comment_style %}class="active"{% endif %}><a href="{% url 'article:view' article.year article.month article.slug %}#comments" data-target=".area-content">Mais recentes</a></li>
                            <li {% if request.GET.old_comment_style %}class="active"{% endif %}><a href="{% url 'article:view' article.year article.month article.slug %}?old_comment_style=true#comments" data-target=".area-content">Mais antigos</a></li>
                        </ul>
                    </div>
                </div>
            {% endif %}

            <h2 class="widget-title">
                <span>Comentários</span>
            </h2>
        </header>


        {% comment_box article %}
        </div>
        <div class="single-aside">
            {% include "article/partials/single-aside.html" %}

            {% ads_only_production "article_right" "pc" %}
        </div>

    </div>
</main>

{% endblock content %}

{% block modals %}
    {{ block.super }}

    {% include "home/partials/modals/modal-confirmation.html" %}

{% endblock %}

{% block javascripts %}
     <script src="{% static 'javascripts/vendor.js'%}" data-manual></script>
     <script src="{% static 'javascripts/publication.js'%}"></script>
{% endblock javascripts %}
