{%extends 'home/layout/base.html' %}

{% load taxonomy_tags %}
{% load core_tags %}
{% load profile_tags %}
{% load social_tags %}
{% load article_tags %}
{% load thumbor_tags %}
{% load user_agents %}
{% load staticfiles %}
{% load avatar_tags %}
{% load humanize %}

{% block title %}{{ article.title }} - Portal GSTI{% endblock %}

{% block content %}
<main class="container main">
    <div class="row">
        <ul class="box-share">
            <li class="comment-vote">
                {% like_box article request.path "share-box" %}
            </li>
            <li data-toggle="tooltip" data-placement="auto right" data-original-title="Favoritar"><a data-trigger="login" data-url-login="{% url 'account:is_logged' %}" data-token="{{ csrf_token }}" data-action="favourite" data-action-type="icon" data-object="favourite-{{ article.id }}" data-url-check="{% url 'socialactions:acted' article.id 'article' 'favourite' %}" href="{% url 'socialactions:act-xhr' article.id 'article' 'favourite' %}?url_next={{ request.path|urlencode }}"><i class="gsticon gsticon-star"></i></a></li>
            <li data-toggle="tooltip" data-placement="auto right" data-original-title="Ver depois"><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" data-action="see-later" data-action-type="icon" data-url-check="{% url 'socialactions:acted' article.id 'article' 'see-later' %}" data-object="see-later-{{ article.id }}" href="{% url 'socialactions:act-xhr' article.id 'article' 'see-later' %}?url_next={{ request.path|urlencode }}"><i class="gsticon gsticon-eye"></i></a></li>
            <li data-toggle="tooltip" data-placement="auto right" data-original-title="Sugerir leitura"><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" href="javascript:;" data-suggest-modal="true" data-content="article" data-object="{{ article.id }}" data-url="{% url 'socialactions:act-suggest' article.id 'article' %}"><i class="gsticon gsticon-paper-plane"></i></a></li>

        </ul>
        <div class="post-container">
            <article class="full-post">
                {% if feed and feed.official %}
                    <div class="label-official-content label-tall"
                         data-toggle="tooltip"
                         data-placement="auto top"
                         data-original-title="Conteúdo Oficial"></div>
                {% endif%}
                <header class="post-header">
                    <div class="post-info">

                        <time datetime="{{ article.publishin|date:'m-d-Y' }}" itemprop="datePublished"
                        data-toggle="tooltip" data-placement="auto top" data-original-title="{{ article.publishin|naturaltime }}">
                            <span class="hidden-xs visible-lg-inline">{{ article.publishin|naturaltime }}</span>
                            <i class="gsticon gsticon-clock-o hidden-lg"></i>
                        </time>
                        <a href="javascript:;" data-toggle="dropdown"><i class="gsticon gsticon-gear"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="perfil-actions">
                                {% if article.author == request.user %}
                                    <li><a href="{% url 'article:edit' article.id %}"><i class="gsticon gsticon-edit"></i> Editar publicação</a></li>
                                {% endif %}
                                <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" href="javascript:;" data-suggest-modal="true" data-content="article" data-object="{{ article.id }}" data-url="{% url 'socialactions:act-suggest' article.id 'article' %}"><i class="gsticon gsticon-paper-plane"></i> Sugerir leitura</a></li>
                                <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" data-action="see-later" data-action-type="text" data-action-text="Ver depois" data-action-text-alt="Marcar como visto" data-object="see-later-{{ article.id }}" data-url-check="{% url 'socialactions:acted' article.id 'article' 'see-later' %}" href="{% url 'socialactions:act-xhr' article.id 'article' 'see-later' %}?url_next={{ request.path|urlencode }}"><i class="gsticon gsticon-eye"></i> <span>Ver depois</span></a></li>
                                <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" data-action="favourite" data-action-type="text" data-action-text="Favoritar" data-action-text-alt="Desfavoritar" data-object="favourite-{{ article.id }}" data-article="{{ article.id }}" data-url-check="{% url 'socialactions:acted' article.id 'article' 'favourite' %}" href="{% url 'socialactions:act-xhr' article.id 'article' 'favourite' %}?url_next={{ request.path|urlencode }}"><i class="gsticon gsticon-star"></i> <span>Favoritar</span></a></li>
                                <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" href="{% url 'complaint:report' 'article' article.id %}" data-report="true" data-async-module="click" data-async-target="#modal-report" data-async-method="get"><i class="gsticon gsticon-exclamation-triangle"></i> Denunciar</a></li>
                                {% if request.user.profile.isContributor %}
                                {% if feed.official %}
                                    <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" href="{% url 'feed:set-content-official' 'article' article.id %}?next={{ request.path|urlencode }}"><i class="gsticon gsticon-bookmark"></i> Não oficial</a></li>
                                {% else %}
                                    <li><a data-url-login="{% url 'account:is_logged' %}" data-trigger="login" data-token="{{ csrf_token }}" href="{% url 'feed:set-content-official' 'article' article.id %}?next={{ request.path|urlencode }}"><i class="gsticon gsticon-bookmark"></i> Oficial</a></li>
                                {% endif %}
                            {% endif %}
                            </ul>
                        </div>
                    </div>
                    <a class="post-creator" href="{% url 'profile:show' article.author.username %}">
                        <img src="{% get_avatar article.author width=20 height=20 smart=False fit_in=False %}" alt="foto de {{ instance.author.get_full_name }}">
                        {{ article.author.get_full_name }}
                    </a>
                    <h1 class="full-post-title">{{ article.title }}</h1>
                </header>
                <aside class="post-footer">
                    {% taxonomies article %}
                    <div class="post-toolbar pull-right">
                        <div class="post-count">
                            {% like_box article request.path "inline" %}
                        </div>
                        <a href="#comments" class="post-count-comments">
                            <span id="load-count-comment-article"
                                  data-load-async="true"
                                  data-load-async-url="{% url 'comment:count' article.id "article" %}"
                                  data-load-async-method="get"
                                  data-load-async-response-type="json">
                                <strong class="load-async load-async-content">0</strong>
                                {% csrf_token %}
                            </span>
                            <span class="hidden-xs visible-lg-inline">Comentário(s)</span>
                            <span class="hidden-lg"><i class="gsticon gsticon-comment"></i></span>
                        </a>
                    </div>
                </aside>
                <div class="full-post-content">
                    {% comment %}
                    {% if article.image %}
                        <img class="full-post-image" src="{% thumbor_url article.image.url width=500 smart=True fit_in=True %}" />
                    {% endif %}
                    {% endcomment %}
                    {{ article.text|safe }}
                    <div class="post-advertising text-center">
                        <img class="img-responsive" src="http://placehold.it/728x90" alt="Propaganda">
                    </div>
                </div>
                <div class="full-post-share">
                    <h3>COMPARTILHE</h3>
                    <div class="addthis_sharing_toolbox"></div>
                </div>
            </article>
            <div>
                {% profile_box article.author "horizontal" %}
            </div>
            {% if request|is_mobile %}
            <!-- Publicações Relacionadas -->
            <div id="load-related-posts" data-load-async="true" data-load-async-url="{% url 'core:related-posts' article.id "article" "article" 4 %}" data-load-async-url-next="{{ request.path }}" data-load-async-method="post" data-load-async-response-type="json" data-load-async-timeout="1">
                <div class="load-async load-async-content">
                    <div class="load-async-preload"></div>
                </div>
                {% csrf_token %}
            </div>
            {% endif %}
            <header class="area-title">
                <h2>Comentários</h2>
            </header>
            <div class="container-comments" id="comments">
                {% include 'comment/create.html' with content_type='article' content_object_id=article.id %}
            </div>
            <div data-xhr-url="{% url "comment:list" %}?page=1&content_type=article&content_id={{ article.id }}" data-xhr id="container-comments" class="container-comments j-scroll"></div>
        </div>
        {% include "article/partials/article-sidebar-right.html" %}
    </div>
</main>
{% endblock %}


{% block modals %}
    {{ block.super }}

    {% include "home/partials/modals/modal-confirmation.html" %}

{% endblock %}


{% block javascripts %}
    {{ block.super }}
    <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55e70ed11db7fa4e" async></script>

    {% comment %}
    Script para highlight nos códigos.
    {% endcomment %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

<script>

{#    function updateEditors(){#}
{#        for ( instance in CKEDITOR.instances ){#}
{#            var ckeditorInstance = CKEDITOR.instances[instance];#}
{#            ckeditorInstance.updateElement();#}
{#        }#}
{#    }#}

    var functionOpenModalToDelete = function(e) {
        e.preventDefault();

        var $btn = $(e.currentTarget),
                $modal = $($btn.data("modal"));

        $modal.find("form").attr("action", $btn.data("url"));
        $modal.find("#item-id").val($btn.data("item"));
        $modal.find("#item-type").val($btn.data("type"));
        $modal.find("#title-item-to-remove").html($btn.data("title"));
        $modal.find(".loading-container").html("");
        $modal.find(".alert-container").html("");
        $modal.modal("show");
    };

    var functionAjaxSuccessDeleteItem = function(e, data) {
        var $this = $(this),
            $modal = $($this.closest(".modal.fade")),
            itemId = $modal.find("#item-id").val(),
            itemType = $modal.find("#item-type").val();

        $modal.modal("hide");
        $modal.find("form").attr("action", "");
        $modal.find("#item-id").val("");
        $modal.find("#item-type").val("");
        $modal.find("#title-item-to-remove").html("");
        $modal.find(".loading-container").html("");
        $modal.find(".alert-container").html("");

        $("#" + itemType + "-" + itemId).fadeOut("slow", function(){
            $(this).remove();
        });
    };

    var form_submit = function(event, data){
        var $form = $(this);

        var action = $form.data("toggle");
        var $div_to_update = $($form.data("update"));

        if (action=="append"){
            $div_to_update.append(data.template);
            $form[0].reset();
        }else if (action=="prepend"){
            $div_to_update.prepend(data.template);
            var $form_to_hide = $form.parent(".dropdown-content");
            if ($form_to_hide){
                $form_to_hide.removeClass("open");
            }
            $form[0].reset();
        }else if (action=="replace"){
            $div_to_update.html(data.template);
        }
        var $subforms = $div_to_update.find("form[data-ajaxform=\"true\"]");
        $subforms.IdeiaAjaxForm();
        $subforms.on("ajaxform.success", form_submit);

        var $data_list = $div_to_update.find("div[data-xhr]");
        $data_list.renderList();
        refreshAsyncLike();

    };

    $.fn.renderList = function(){

        return $.each(this, function(){

            var $self = $(this);
            var url = $self.data('xhr-url');

            var $childs;

            var request = $.ajax({
                url: url,
                success: function(data){

                    var $element = $(data);
                    $element.appendTo($self);

                    var regex = /^data-list-([0-9]+)$/;
                    if (regex.test($self.attr('id'))) {
                        var $parentSelf = $self.parent('.comments-children');
                        if ($self.children().length > 0)
                            $parentSelf.removeClass('no-children');
                        else
                            $parentSelf.addClass('no-children');
                    }

                    $childs = $element.find('div[data-xhr-url]');
                    $self.jscroll({
                        loadingHtml: '<div class="load-async-preload"></div>',
                        contentSelect: "#" + $self.attr("id"),
                        nextSelector: "a[data-jscroll-next]",
                        autoTrigger: false,
                        callback: function(data){
                            var $div_jscroll = $(".jscroll-added");
                            var $jscroll_subforms = $div_jscroll.find("form[data-ajaxform=\"true\"]");
                            $jscroll_subforms.IdeiaAjaxForm();
                            $jscroll_subforms.on("ajaxform.success", form_submit);
                            $jscroll_subforms.on("ajaxform.validation", function(event, addError){
{#                                updateEditors(); #}

                            });

                            $div_jscroll.removeClass("jscroll-added");
                        }
                    });
                    var $subforms = $element.find("form[data-ajaxform=\"true\"]");

                    $subforms.IdeiaAjaxForm();
                    $.each($subforms, function(i, form){
                        var $editor = $(form).find("[name='content']");

                        if ($editor.length){
                            CKEDITOR.replace($editor.get(0));
                        }
                    });


                    var async_like = $self.find('[data-async-like]');
                    async_like.IdeiaAsyncLike();
                    async_like.removeData("async-like");
                },
                complete: function(){
                    if($childs.length){
                        $childs.renderList();
                    }
                }
            });

            refreshAsyncLike();
        });
    };

    $(function(){
{#        updateEditors();#}
        var xhr_contents = $("div[data-xhr]");
        xhr_contents.renderList();
        var $comment_form = $("form[data-ajaxform=\"true\"]");
        $comment_form.on("ajaxform.success", form_submit);
        $comment_form.on("ajaxform.validation", function(event, addError) {
{#            updateEditors();#}

            $("form[data-ajaxform=\"true\"]").on("ajaxform.success", form_submit);


        });
        $("#confirmation-form").on("ajaxform.success", functionAjaxSuccessDeleteItem);
        $(document).on("click", "[data-delete-item=true]", functionOpenModalToDelete);
    });
</script>

{% endblock %}