<div class="hidden-lg advertising-vertical">
    <img src="http://placehold.it/300x250" alt="">
</div>
<div class="widget recomendations">
    <header class="widget-header">
        <h3 class="widget-title">
            <span>recomendamos para você</span>
        </h3>
    </header>
    <div class="row">
        <a href="#" class="col-sm-4 col-xs-12">
            <figure class="recomendation">
                <span>
                    <img class="img-responsive" src="http://placehold.it/400" alt="">
                </span>
                <figcaption>Características de uma boa estratégia</figcaption>
            </figure>
        </a>
        <a href="#" class="col-sm-4 col-xs-12">
            <figure class="recomendation">
                <span>
                    <img class="img-responsive" src="http://placehold.it/400" alt="">
                </span>
                <figcaption>Como criar carrossel com barra de progresso usando e jQuery</figcaption>
            </figure>
        </a>
        <a href="#" class="col-sm-4 col-xs-12 ">
            <figure class="recomendation">
                <span>
                    <img class="img-responsive" src="http://placehold.it/400" alt="">
                </span>
                <figcaption>Programando em Windowns Phone: 15 vídeo aulas</figcaption>
            </figure>
        </a>
    </div>
</div>
<div class="advertising-horizontal hidden-xs"></div>
