<div class="widget recomendations">
    <header class="widget-header">
        <h3 class="widget-title">
            <span>recomendamos para você</span>
        </h3>
    </header>
    <div class="row">
        <a href="#" class="col-sm-4 col-xs-12 recomendation">
            <figure>
                <img class="img-responsive" src="http://placehold.it/400" alt="">
            </figure>
            <figcaption>Características de uma boa estratégia</figcaption>
        </a>
        <a href="#" class="col-sm-4 col-xs-12 recomendation">
            <figure>
                <img class="img-responsive" src="http://placehold.it/400" alt="">
            </figure>
            <figcaption>Como criar carrossel com barra de progresso usando Bootstrap
                e jQuery</figcaption>
        </a>
        <a href="#" class="col-sm-4 col-xs-12 recomendation">
            <figure>
                <img class="img-responsive" src="http://placehold.it/400" alt="">
            </figure>
            <figcaption>Programando em Windowns Phone: 15 vídeo aulas</figcaption>
        </a>
    </div>
</div>
<div class="advertising-horizontal">

</div>
