<div class="publication-social-actions">
    <div class="publication-actions">
        <a href="#" class="action-button">
            <i class="gsticon gsticon-edit"></i>
            Editar
        </a>
        <a class="action-button" data-url-login="/conta/esta-logado/" data-trigger="login" data-token="bMoiRPvHfAC0orj0TvopIGDA2Ba2fEFGBqk2uAyKBid1qEmZ5zGbkS6oHVStmRn7" data-action="favourite" data-action-type="text" data-action-text="Favoritar" data-action-text-alt="Desfavoritar" data-object="favourite-3102" data-article="3102" data-url-check="/acoes-sociais/agiu/3102/article/favourite" href="/acoes-sociais/agir/xhr/3102/article/favourite?url_next=/2016/09/preco-da-melhor-versao-do-iphone-7-pode-chegar-ao-brasil-por-ate-r489900.html">
            <i class="gsticon gsticon-star"></i>
            <span>Desfavoritar</span>
        </a>
        <a class="action-button" data-url-login="/conta/esta-logado/" data-trigger="login" data-token="bMoiRPvHfAC0orj0TvopIGDA2Ba2fEFGBqk2uAyKBid1qEmZ5zGbkS6oHVStmRn7" data-action="see-later" data-action-type="text" data-action-text="Ver depois" data-action-text-alt="Marcar como visto" data-object="see-later-3102" data-url-check="/acoes-sociais/agiu/3102/article/see-later" href="/acoes-sociais/agir/xhr/3102/article/see-later?url_next=/2016/09/preco-da-melhor-versao-do-iphone-7-pode-chegar-ao-brasil-por-ate-r489900.html">
            <i class="gsticon gsticon-eye"></i>
            <span>Ver depois</span>
        </a>
        <a class="action-button" data-url-login="/conta/esta-logado/" data-trigger="login" data-token="lLSuCwc8xOQJLzakq8HzCa0Ioz303ksSLpOefhfbTwrKNMdjCcZlemtw3TLraxaj" href="javascript:;" data-suggest-modal="true" data-content="article" data-object="3102" data-url="/acoes-sociais/agir/sugerir/3102/article/">
            <i class="gsticon gsticon-paper-plane"></i> Sugerir leitura
        </a>
    </div>
    <div class="share-buttons">
        <a class="social-button facebook" href="http://www.facebook.com/sharer/sharer.php?u=[URL]&title=[TITLE]" target="_blank">Facebook</a>
        <a class="social-button twitter" href="http://twitter.com/intent/tweet?status=[TITLE]+[URL]" target="_blank">Twitter</a>
        <a class="social-button gplus" href="https://plus.google.com/share?url=[URL]" target="_blank">Google+</a>
        <a class="social-button linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=http://loremipsum.com&title=lorem ipsum&source=portalgsti" target="_blank">LinkedIn</a>
    </div>
</div>
