{% extends "mailmanager/layout/mail-base.html" %}
{% load abs_url %}

{% block title %}Password Recovery{% endblock %}
{% block email_title %}RECUPERAÇÃO DE SENHA{% endblock email_title %}
{% block content %}

{% url 'account:recovery_password' token as token_url %}
<p>Olá {{ user.first_name }},</p>

<p>Você requisitou um e-mail de recuperação de senha, clique no link abaixo para proceder!</p>
<p><a href="https://www.portalgsti.com.br{{ token_url}}">Recuperar senha</a></p>

<p>Por segurança disponibilizamos a URL completa para recuperação: [https://www.portalgsti.com.br{{ token_url}}]</p>

{% endblock %}