{% extends "mailmanager/layout/mail-base.html" %}
{% block title %}Welcome{% endblock %}
{% block email_title %}E-MAIL DE CONFIRMAÇÃO{% endblock email_title %}
{% load url_utils %}
{% block content %}
<h2>Olá {{ user.first_name }}, </h2>

{% url 'account:mail_validation' token as token_url %}

<p>Bem vindo ao PORTAL GSTI, estamos muito felizes que queira se juntar a nós. :)</p>

<p>Agora você poderá interagir na maior rede de profissionais de tecnologia.
Seu usuário é <strong>{{ user.username }}</strong> e para ativar sua conta basta clicar no link abaixo</p>

<p style="text-align: center;">
  <a style="width: 50%;display: inline-block;margin-top: 15px;margin-bottom: 15px;color: #fff; background-color: #2c7906; border-color: #296f06; padding: 20px 12px; text-decoration: none;font-size: 0.9em; font-weight: 600;" href="http://www.portalgsti.com.br{{ token_url }}"
  >
    ENTRAR
  </a>
</p>

<p>Por segurança disponibilizamos a URL completa para o cadastro:</p>

http://www.portalgsti.com.br{{ token_url }}
{% endblock %}
