{% extends "mailmanager/layout/mail-base.html" %}
{% block title %}Welcome{% endblock %}
{% block email_title %}EMAIL DE CONFIRMAÇÃO{% endblock email_title %}
{% block content %}
<h2>Olá {{ user.first_name }}, </h2>

{% url 'account:mail_validation' token as token_url %}

<p>Bem vindo ao PORTAL GSTI, estamos muito felizes que queira se juntar a nós. :)</p>

<p>Agora você poderá interagir na maior rede de profissionais de tecnologia.
Seu usuário é <strong>{{ user.username }}</strong> e para ativar sua conta basta clicar no link abaixo</p>


<a style="color: #fff; background-color: #2c7906; border-color: #296f06; padding: 12px; text-decoration: none;font-size: 0.9em; font-weight: 600;" href="{{ request.get_host }}/{{ token_url }}">ENTRAR</a>

<p>Por segurança disponibilizamos a URL completa para o cadastro:</p>
{{ request.get_host }}/{{ token_url }}
{% endblock %}