{%extends 'home/layout/base.html' %}

{% load list_filter %}

{% block title %}Portal GSTI - Perfil{% endblock %}

{% block content %}
    <main class="container main">
        <div class="row">
            <!-- mudar para 2.5 -->
            <div class="col-lg-3">
                {% include 'home/partials/sidebar-perfil.html' %}
            </div>
            <!-- mudar para 9.5 -->
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-8">
                        <header class="area-title">
                            <h2>Configurações</h2>
                        </header>
                        <section class="area-content">
                            <h4><i class="gsticon gsticon-bell"></i> Notificações</h4>
                            <form id="form-config-notifications" action="{% url 'configuration:notification' %}" method="post" data-ajaxform="true">
                                {% csrf_token %}

                                <div class="clearfix">{% for configuration in configurations %}

                                    <div class="form-group custom-input">
                                        <div class="custom-check">
                                            <input type="checkbox" id="{{ configuration.key }}" name="{{ configuration.key }}" value="true" {% if configs and configs|get_at_index:configuration.key == "True" %}checked="checked"{% endif %}>
                                        </div>
                                        <label class="custom-label" for="{{ configuration.key }}">{{ configuration.description }}</label>
                                    </div>

                                {% endfor %}</div>
                                <button type="submit" class="pull-right btn-default">Salvar</button>
                            </form>
                        </section>
                    </div>
                    {% include "configuration/partials/configuration-sidebar-right.html" with local_context="notification" %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block modals %}

    {{ block.super }}
    {% include "home/partials/modals/modal-message.html" %}

{% endblock %}


{% block javascripts %}
    {{ block.super }}

    <script>
        var functionSuccessChangeConfigs = function(e, data) {
            var $modalMessage = $("#modal-message");
            $modalMessage.html(data.template);
            $modalMessage.modal("show");
        };

        $(function(){
            $("#form-config-notifications").on("ajaxform.success", functionSuccessChangeConfigs)
        });
    </script>
{% endblock %}