{%extends 'home/layout/base.html' %}

{% load i18n %}

{% block title %}Portal GSTI - Configurações - Conta{% endblock %}

{% block content %}
    <main class="container main">
        <div class="perfil-row">
            <!-- mudar para 2.5 -->
            <div class="col-lg-3">
                {% include 'home/partials/sidebar-perfil.html' %}
            </div>
            <!-- mudar para 9.5 -->
            <div class="col-lg-9">
                {% include 'userprofile/partials/profile-navbar.html' %}
                <div class="row">
                    <div class="col-lg-8">
                        <header class="area-title">
                            <h2>Configurações</h2>
                        </header>
                        <section class="area-content">
                            <h4><i class="gsticon gsticon-user"></i> Conta</h4>
                            <p>Mudar senha</p>
                            <form id="form-change-password" action="{% url 'account:change_password' %}" method="post" data-ajaxform="true" data-group-class=".form-group">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="password" name="old_password" class="form-control"  placeholder="Senha atual" >
                                </div>
                                <div class="form-group">
                                    <input type="password" name="new_password" class="form-control" placeholder="Nova senha">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="new_password_confirmation" class="form-control" placeholder="Confirma senha">
                                </div>
                                <div class="form-group text-right">
                                    <a class="btn text-danger pull-left" onclick="window.location.href='{% url 'configuration:deactivate-account' %}';" href="javascript:void(0);" title="{% trans 'Desativar Conta' %}">{% trans 'Desativar Conta' %}</a>
                                    <button type="submit" class="btn-default pull-right">Salvar</button>
                                </div>
                            </form>
                        </section>
                    </div>
                    {% include "configuration/partials/configuration-sidebar-right.html" with local_context="account" %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block modals %}

    {{ block.super }}
    {% include "home/partials/modals/modal-message.html" %}

{% endblock %}


{% block javascripts %}
    {{ block.super }}

    <script>
        var functionSuccessChangePassword = function(e, data) {
            $("#form-change-password").find(".form-group > input").val("");

            var $modalMessage = $("#modal-message");
            $modalMessage.html(data.template);
            $modalMessage.modal("show");
        };

        $(function(){
            $("#form-change-password").on("ajaxform.success", functionSuccessChangePassword)
        });
    </script>
{% endblock %}